
{% extends "publisher/base.html" %}

{% load filters %}


{% block content %}
	<h3>		
		Link Exchange Program
	</h3>
  {% if not apps %}
	<p>
		The <b>Link Exchange</b> program allows you to cross-promote your app across the MoPub Network. Earn 100,000 points to be eligible for a campaign on the MoPub Link Exchange.  Points are gained by serving MoPub Exchange traffic, adding apps, or inviting friends.<br />
	</p> 
  {% endif %}
		
	<img id="chart_img" src="http://chart.apis.google.com/chart?cht=lc&chtt=Link+Exchange+Points&chs=580x200&chd=t:87660,88150,88340,89260,90110,91470,92000,93100,94470,96550,97713,98160,98231,99510&chds=0,100000&chxr=1,0,100000&chxt=x,y&chxl=0:|11/26|11/27|11/28|11/29|11/30|12/01|12/02|12/03|12/04|12/05|12/06|12/07|12/08|12/09&chco=006688&chm=o,006688,0,-1,6|B,EEEEFF,0,0,0" width=580 height=200 style="padding: 5px 0 10px 0;"/>
	<div style="width:200px;padding: 50px 0 10px 0; float:right;text-align:center;">
    <span style="font-size:80px;">57</span> est.<br/>
    <br/>
    Days until you are eligible for a campaign
  </div>
  <h3>Notifications</h3>
  To run a Link Exchange Campaign, your app will need to have MoPub integration and be live in the app store.<br/>
  <br/>
  <ul>
    <li>MoPub Integration pending for <a href="#">Barcode Ninja</a></li>
    <li>Boost campaign scheduled for <a href="#">HeadingOut</a> on December 26, 2010 &nbsp; <a href="{% url exchange_schedule %}">Change</a></li>
  </ul>
  <h3>Campaign Reports</h3>
	<table class="wide">
		<thead>
			<tr>
			<th width="150px">Date</th>
			<th>App</th>
			<th class="numeric">Impressions</th>
			<th class="numeric">Clicks</th>
			<th class="numeric">CTR</th>
			<th class="numeric">Installs</th>
			</tr>
		</thead>
			<tr>
				<td>December 1, 2010</td>
				<td>RadioNinja</td>
				<td class="numeric">1,500,000</td>
				<td class="numeric">20,000</td>
				<td class="numeric">1.3%</td>
				<td class="numeric"><strong>5,000</strong></td>
			</tr>
	</table>
	
{% endblock %}
