<tr class="details-row">
    <td class="dataTable-name">
        <img src="/images/<% if(!active) { %>in<% } %>active.gif" height=9 width=9 style="margin-right:5px;" />
        <a href="<%= url %>"><%= name %></a>
    </td>
    <td class="dataTable-data numeric">
        <div class="mopub-data"><%= stats.get_formatted_stat('cpm') %></div>
    </td>
    <td class="dataTable-data numeric">
        <div class="mopub-data"><%= stats.get_formatted_stat('request_count') %></div>
    </td>
    <td class="dataTable-data numeric">
        <div class="mopub-data"><%= stats.get_formatted_stat('impression_count') %></div>
    </td>
    <td class="dataTable-data numeric">
        <div class="mopub-data"><%= stats.get_formatted_stat('fill_rate') %></div>
    </td>
    <td class="dataTable-data numeric">
        <div class="mopub-data"><%= stats.get_formatted_stat('click_count') %></div>
    </td>
    <td class="dataTable-data numeric">
        <div class="mopub-data"><%= stats.get_formatted_stat('ctr') %></div>
    </td>
</tr>
