{% extends 'common/base.html' %}
{% load filters %}
{% block pageTitle %}
       <h1>Admin Budget View for AdGroup: {{campaign.name}}</h1>
{% endblock pageTitle %}
{% block dateButtons %}{% endblock dateButtons %}

{% block titleBarRight %}{% endblock titleBarRight %}

{% block content %}

{% if not campaign.budget_obj %}
  <h2> NOTE: This campaign does not have a budget set. It has an unlimited budget. </h2>
{% endif %}
<h3>

  <table style="border-spacing:20px 2px; border-collapse:separate">
    <tr>
      <td>Base Slice Budget:</td> <td>{{budget.slice_budget}}</td>
      <td><h5> <a href="{{budget_obj_url}}">View/Edit Budget </a> </h5></td>
    </tr>
    <tr>
      <td>Expected Spend: </td> <td>{{expected}}</td>
      <td>If this is an infinite daily campaign this means the amount of money that should've been spent <b>TODAY</b> up until now, otherwise it's the amount of money that should've been spent up until now <b>IN TOTAL</b></td>
    </tr>
    <tr>
      <td>Total Spend: </td> <td>{{total}}</td>
      <td>If this is an infinite daily campaign, this is the amount of money spent <b>TODAY</b>, otherwise it's the amount of money spent <b>IN TOTAL</b></td>
    </tr>
    <tr>
      <td>Timeslice Budget: </td> <td>{{remaining_ts_budget|currency}}</td>
      <td><h5> <a href="{{clear_memcache_ts_url}}">Clear from memcache and fall back to Budget backup</a> </h5></td>
    </tr>

    <tr>
      <td>Braking Percentage: </td> <td>{{braking_fraction|percentage}}</td>
      <td> (25% means that 25% of machines will actually try to execute the request)</td>
    </tr>


  </table>

</h3>

<br>
<div id="budget-view-graphs">
  <div style="display:inline-block">
    <h3 style="margin-left:50px">{{one_month_ago}} - {{today}}</h3>
    <table style="border-spacing:20px 2px; border-collapse:separate">
      <tr>
        <th> Date</th>
        <th> Start </th>
        <th> Spent </th>
      </tr>
      {% for log in daily_logs%}
      <tr class="alternating-color">
        <td> {{log.date}}</td>
        <td> {{log.initial_daily_budget}}</td>
        <td> {{log.spent_today}}</td>
      </tr>
      {% endfor %}
    </table>
  </div>


  <div style="display:inline-block; float:left">
    <h3 style="margin-left:50px">Today</h3>
    <table style="border-spacing:20px 2px; border-collapse:separate">
      <tr>
        <th> Timeslice</th>
        <th> Desired Spending</th>
        <th> Actual Spending </th>
        <th> Rem Budget </th>
        <th> Timeslice OSI</th>
      </tr>
      {% for log in ts_logs%}
      {% if log %}
      <tr class="alternating-color">
        <td> {{log.slice_num}}</td>
        <td> {{log.desired_spending}}</td>
        <td> {{log.actual_spending}}</td>
        <td> {{log.remaining_spending}}</td>
        <td> {{log.osi}}</td>
      </tr>
      {% endif %}
      {% endfor %}
    </table>
  </div>
</div>
{% endblock content %}
