{% extends "account/base.html" %}

{% block content %}

	<h3>Account Settings</h3>
	<form method="post" action="/account/">
		<table>
			<tr>
				<th>AdSense Publisher ID</th>
				<td><input type='text' name="adsense_pub_id" size="30" value="{{account.adsense_pub_id}}"/></td>
			</tr>
			<tr>
				<th>AdMob Publisher ID</th>
				<td><input type='text' name="admob_pub_id" size="30" value="{{account.admob_pub_id}}"/></td>
			</tr>
		</table>
		<p>
			<input type="submit" value="Save Changes"/>
		</p>
	</form>
{% endblock %}
