{% extends "account/base.html" %}
{% block pageTitle %}<h1>{% ifequal account.status 'step3' %}Step 3: Set up ad networks{% else %}Account{% endifequal %}</h1>{% endblock pageTitle %}
{% block titleBarRight %}{% ifequal account.status 'step3' %}            <div class="stepProgress"> 
              <span class="stepProgress-step">Step 1: Add app</span> 
              <span class="ui-icon ui-icon-arrow-1-e"></span> 
              <span class="stepProgress-step">Step 2: Integrate</span> 
              <span class="ui-icon ui-icon-arrow-1-e"></span> 
              <span class="stepProgress-step stepProgress-active">Step 3: Ad networks</span> 
              <span class="ui-icon ui-icon-arrow-1-e"></span> 
              <span class="stepProgress-step">Step 4: Ad campaigns</span> 
            </div>{% endifequal %}{% endblock titleBarRight %}

{% block content %}
          <section> 
            <div class="content-main">
{% ifequal status 'welcome' %}
              <div class="alertMessage">
                Now set up any ad networks that you would like to use to serve ads into your inventory.  You may need to set up an account with the network provider first, then enter in the settings below.
              </div>
{% endifequal %}
              <h2>Ad Network Settings</h2>
              <p>
                To enable an ad network, fill in the required fields for the network.
              </p>
              <form action="" method="POST" accept-charset="utf-8" id="accountForm"> 
                <fieldset class="adForm alt"> 
                  <div class="buttonBank buttonBank-right">
                    <a class="button button-small adForm-fields-toggleButton" href="#">Hide details</a>
                  </div>
                  <legend>AdMob {% if account.admob_pub_id %}<span class="success unbold">(Enabled)</span>{% else %}<span class="muted unbold">(Not configured)</span>{% endif %}</legend>
                  <dl class="formFields {% if account.admob_pub_id %}show{% endif %}"> 
                    <dt><label for="appForm-adUnitName">AdMob Publisher ID:</label></dt> 
                    <dd><input type="text" class="input-text" name="admob_pub_id" value="{{account.admob_pub_id|default_if_none:""}}"  placeholder="ex: a14cdb1922f35xx"/></dd> 
                    <div class="formFields-right"><a class="linkIcon breadcrumb-back" href="http://www.admob.com/" target="_blank">Go to AdMob<span class="ui-icon ui-icon-arrowthick-1-e"></span></a></div>
                  </dl>
                </fieldset> 
                <fieldset class="adForm"> 
                  <div class="buttonBank buttonBank-right">
                    <a class="button button-small adForm-fields-toggleButton" href="#">Hide details</a>
                  </div>
                  <legend>AdSense {% if account.adsense_pub_id %}<span class="success unbold">(Enabled)</span>{% else %}<span class="muted unbold">(Not configured)</span>{% endif %}</legend>
                  <dl class="formFields {% if account.adsense_pub_id %}show{% endif %}"> 
                    <dt><label for="appForm-adUnitName">AdSense Publisher ID:</label></dt> 
                    <dd><input type="text" class="input-text" name="adsense_pub_id" value="{{account.adsense_pub_id|default_if_none:""}}"  placeholder="ex: ca-mb-pub-5592664190023789"/></dd> 

                    <dt><label for="appForm-adUnitName">Company Name:</label></dt> 
                    <dd><input type="text" class="input-text" name="adsense_company_name" value="{{account.adsense_company_name|default_if_none:""}}" placeholder="Optional" /></dd> 
                    <div class="formFields-right"><a class="linkIcon breadcrumb-back" href="https://www.google.com/adsense/" target="_blank">Go to AdSense<span class="ui-icon ui-icon-arrowthick-1-e"></span></a></div>
                  </dl> 
                </fieldset> 
                <fieldset class="adForm alt"> 
                  <div class="buttonBank buttonBank-right">
                    <a class="button button-small adForm-fields-toggleButton" href="#">Hide details</a>
                  </div>
                  <legend>BrightRoll {% if account.brightroll_pub_id %}<span class="success unbold">(Enabled)</span>{% else %}<span class="muted unbold">(Not configured)</span>{% endif %}</legend> 
                  <dl class="formFields {% if account.brightroll_pub_id %}show{% endif %}"> 
                    <dt><label for="appForm-adUnitName">BrightRoll Publisher ID:</label></dt> 
                    <dd><input type="text" class="input-text" name="brightroll_pub_id" value="{{account.brightroll_pub_id|default_if_none:""}}" placeholder="ex: 3836789"/></dd> 
                    <div class="formFields-right"><a class="linkIcon breadcrumb-back" href="http://www.brightroll.com/" target="_blank">Go to BrightRoll<span class="ui-icon ui-icon-arrowthick-1-e"></span></a></div>
                  </dl> 
                </fieldset> 
                <fieldset class="adForm"> 
                  <div class="buttonBank buttonBank-right">
                    <a class="button button-small adForm-fields-toggleButton" href="#">Hide details</a>
                  </div>
                  <legend>Greystripe {% if account.greystripe_pub_id %}<span class="success unbold">(Enabled)</span>{% else %}<span class="muted unbold">(Not configured)</span>{% endif %}</legend> 
                  <dl class="formFields {% if account.greystripe_pub_id %}show{% endif %}"> 
                    <dt><label for="appForm-adUnitName">Greystripe Publisher ID:</label></dt> 
                    <dd><input type="text" class="input-text" name="greystripe_pub_id" value="{{account.greystripe_pub_id|default_if_none:""}}" placeholder="ex: 3705265e-1025-4873-9352-7b1e4986xxxx" /></dd> 
                    <div class="formFields-right"><a class="linkIcon breadcrumb-back" href="http://www.greystripe.com/" target="_blank">Go to Greystripe<span class="ui-icon ui-icon-arrowthick-1-e"></span></a></div>
                  </dl> 
                </fieldset> 
                <fieldset class="adForm alt"> 
                  <div class="buttonBank buttonBank-right">
                    <a class="button button-small adForm-fields-toggleButton" href="#">Hide details</a>
                  </div>
                  <legend>InMobi {% if account.inmobi_pub_id %}<span class="success unbold">(Enabled)</span>{% else %}<span class="muted unbold">(Not configured)</span>{% endif %}</legend> 
                  <dl class="formFields {% if account.inmobi_pub_id %}show{% endif %}"> 
                    <dt><label for="appForm-adUnitName">InMobi Publisher ID:</label></dt> 
                    <dd><input type="text" class="input-text" name="inmobi_pub_id" value="{{account.inmobi_pub_id|default_if_none:""}}" placeholder="ex: 4028cb962b75ff06012b792fc5fb6789" /></dd> 
                    <div class="formFields-right"><a class="linkIcon breadcrumb-back" href="http://www.inmobi.com/" target="_blank">Go to InMobi<span class="ui-icon ui-icon-arrowthick-1-e"></span></a></div>
                  </dl> 
                </fieldset> 
                <fieldset class="adForm"> 
                  <div class="buttonBank buttonBank-right">
                    <a class="button button-small adForm-fields-toggleButton" href="#">Hide details</a>
                  </div>
                  <legend>Jumptap {% if account.jumptap_pub_id %}<span class="success unbold">(Enabled)</span>{% else %}<span class="muted unbold">(Not configured)</span>{% endif %}</legend> 
                  <dl class="formFields {% if account.jumptap_pub_id %}show{% endif %}"> 
                    <dt><label for="appForm-adUnitName">Jumptap Publisher ID:</label></dt> 
                    <dd><input type="text" class="input-text" name="jumptap_pub_id" value="{{account.jumptap_pub_id|default_if_none:""}}"  placeholder="ex: pa_company_inc"/></dd> 
                    <div class="formFields-right"><a class="linkIcon breadcrumb-back" href="http://www.jumptap.com/" target="_blank">Go to Jumptap<span class="ui-icon ui-icon-arrowthick-1-e"></span></a></div>
                  </dl> 
                </fieldset> 
                <fieldset class="adForm alt"> 
                  <div class="buttonBank buttonBank-right">
                    <a class="button button-small adForm-fields-toggleButton" href="#">Hide details</a>
                  </div>
                  <legend>Millenial Media {% if account.millenial_pub_id %}<span class="success unbold">(Enabled)</span>{% else %}<span class="muted unbold">(Not configured)</span>{% endif %}</legend> 
                  <dl class="formFields {% if account.millenial_pub_id %}show{% endif %}"> 
                    <dt><label for="appForm-adUnitName">Millenial Publisher ID:</label></dt> 
                    <dd><input type="text" class="input-text" name="millenial_pub_id" value="{{account.millenial_pub_id|default_if_none:""}}"  placeholder="ex: 36789"/></dd> 
                    <div class="formFields-right"><a class="linkIcon breadcrumb-back" href="http://www.millennialmedia.com" target="_blank">Go to Millennial Media<span class="ui-icon ui-icon-arrowthick-1-e"></span></a></div>
                  </dl> 
                </fieldset> 
                <fieldset class="adForm"> 
                  <div class="buttonBank buttonBank-right">
                    <a class="button button-small adForm-fields-toggleButton" href="#">Hide details</a>
                  </div>
                  <legend>MobFox {% if account.mobfox_pub_id %}<span class="success unbold">(Enabled)</span>{% else %}<span class="muted unbold">(Not configured)</span>{% endif %}</legend> 
                  <dl class="formFields {% if account.mobfox_pub_id %}show{% endif %}"> 
                    <dt><label for="appForm-adUnitName">MobFox Publisher ID:</label></dt> 
                    <dd><input type="text" class="input-text" name="mobfox_pub_id" value="{{account.mobfox_pub_id|default_if_none:""}}"  placeholder="ex: 008048afe367bf4ce82ae95363c4xxxx"/></dd> 
                    <div class="formFields-right"><a class="linkIcon breadcrumb-back" href="http://www.mobfox.com/" target="_blank">Go to MobFox<span class="ui-icon ui-icon-arrowthick-1-e"></span></a></div>
                  </dl> 
                </fieldset> 
                
                <h2>Basic Account Settings</h2>
                <p>
                  
                </p>
                <fieldset id="appForm-details" class="alt">
                  <dl class="formFields">
{{account_form.as_template }}
                  </dl>
                </fieldset>  

                <div class="form-submit"> 
{% ifequal account.status 'step3' %}
                  <a class="button" id="accountForm-skip" href="{% url account_index %}?skip=true">Skip this step</a>
{% endifequal %}
                  <span class="buttonWrap"><a href="#" class="button" id="accountForm-submit">Submit</a></span> 
                </div> 
              </form> 
            </div> 
          </section>
{% endblock %}
