{% extends "account/base.html" %}
{% load filters %}
{% block pageTitle %}<h1>Account</h1>{% endblock pageTitle %}
{% block content %}


             <h2 style="margin:0 0 0 0;">Basic Account Settings <span style="font-weight:normal;">- <a href="{% url settings_change %}">Edit</a></span></h2>

              <fieldset id="appForm-details">

              <dl class="formFields flat">
                  <dt>
                      Name:
                  </dt>
                  <dd>
                      {{user.first_name}} {{user.last_name}}
                  </dd>
                  <dt>
                      Email:
                  </dt>
                  <dd>
                      {{user.email}}
                  </dd>
                  <dt>
                      Company:
                  </dt>
                  <dd>
                      {{user.company}}
                  </dd>
                  <dt>
                      Title:
                  </dt>
                  <dd>
                      {{user.title|default_if_none:"<em>Not specified</em>"}}
                  </dd>
                  <dt>
                      Phone Number:
                  </dt>
                  <dd>
                      {{user.phone|default_if_none:"<em>Not specified</em>"}}
                  </dd>
                  <dt>
                      Country:
                  </dt>
                  <dd>
                      {{user.country|default_if_none:"<em>Not specified</em>"|country_code_to_name}}
                  </dd>
                  <dt>
                      Address 1:
                  </dt>
                  <dd>
                      {{user.address1|default_if_none:"<em>Not specified</em>"}}
                  </dd>
                  <dt>
                      Address 2:
                  </dt>
                  <dd>
                      {{user.address2|default_if_none:"<em>Not specified</em>"}}
                  </dd>
                  <dt>
                      City:
                  </dt>
                  <dd>
                      {{user.city|default_if_none:"<em>Not specified</em>"}}
                  </dd>
                  <dt>
                      State/Province:
                  </dt>
                  <dd>
                      {{user.state|default_if_none:"<em>Not specified</em>"}}
                  </dd>
                  <dt>
                      Zip/Postal Code:
                  </dt>
                  <dd>
                      {{user.zipcode|default_if_none:"<em>Not specified</em>"}}
                  </dd>
                  <dt>
                      Traffic:
                  </dt>
                  <dd>
                      {% ifequal account.traffic None %}Haven't launched yet{% endifequal %}
                      {% ifequal account.traffic 0 %}Haven't launched yet{% endifequal %}
                      {% ifequal account.traffic 1 %}1-10MM{% endifequal %}
                      {% ifequal account.traffic 10 %}10-90MM{% endifequal %}
                      {% ifequal account.traffic 100 %}90-200MM{% endifequal %}
                      {% ifequal account.traffic 200 %}200MM+{% endifequal %}
                  </dd>
                  <dt>
                      Mailing List:
                  </dt>
                  <dd>
                      {% ifequal user.mailing_list 1 %}Yes{% endifequal %}
                      {% ifequal user.mailing_list 0 %}No{% endifequal %}
                  </dd>
              </dl>
              </fieldset>


              <h2 style="margin:0 0 0 0;">Payment Information <span style="font-weight:normal;">- <a href="{% url payment_info_change %}">Edit</a></span></h2>

              <fieldset id="appForm-details">

              <dl class="formFields flat">
                {% if account.paymentinfo %}
                  <a href="{% url payment_history %}"> Click here to view your payment history </a>.
                  <br /><br />
                <h3> Tax Information </h3>
                <dt> Business Name: </dt> <dd>{{account.paymentinfo.business_name}} </dd>
                <dt> Country: </dt> <dd>{{account.paymentinfo.country|country_code_to_name}} </dd>
                {% if account.paymentinfo.country == 'US' %}
                  <dt> US Tax ID: </dt> <dd>{{account.paymentinfo.us_tax_id}} </dd>
                {% else %}
                  <dt> Local Tax ID: </dt> <dd>{{account.paymentinfo.local_tax_id|default_if_none:"Not entered"}} </dd>
                {% endif %}
                <br /><br />
                <h3> Payment Details </h3>
                  {% if account.paymentinfo.uses_paypal %}
                    <dt> Paypal Account:</dt> <dd> {{account.paymentinfo.paypal_email}} </dd>
                  {% else %}
                    <dt> Beneficiary Name: </dt> <dd>{{account.paymentinfo.beneficiary_name}} </dd>
                    <dt> Bank Name: </dt> <dd>{{account.paymentinfo.bank_name}} </dd>
                    <dt> Bank Address: </dt> <dd>{{account.paymentinfo.bank_address}} </dd>
                    <dt> Account Number: </dt> <dd>{{account.paymentinfo.account_number}} </dd>
                    {% if account.paymentinfo.country == 'US' %}
                    <dt> ACH Number: </dt> <dd>{{account.paymentinfo.ach_routing_number}} </dd>
                    {% else %}
                    <dt> Bank SWIFT Code: </dt> <dd>{{account.paymentinfo.bank_swift_code}} </dd>
                    {% endif %}
                  {% endif %}

                {% else %}
                  <h3> You haven't supplied any payment information yet. </h3>
                {% endif %}
              </dl>
              </fieldset>
{% endblock content %}
