{% extends 'account/account.html' %}

{% block pageTitle %}<h1>{% ifequal account.status 'step3' %}Step 3: Set up ad networks{% else %}Account Info{% endifequal %}</h1>{% endblock pageTitle %}


{% block content %}
          <div class="content-main">
            <form action="" method="POST" accept-charset="utf-8" id="accountForm">
              <fieldset id="appForm-details"> 
                <legend>Get started with MoPub</legend> 
                <p>
                  Help us serve you better by filling out the following information.
                </p>
                <dl class="formFields"> 
{{account_form.as_template}}
                  <dt><input name="terms_conditions" placeholder="50" class="{% if form.terms_conditions.errors %}form-error{% endif %}" type="checkbox"/></dt>
                  <dd>
                     I agree to the <a href="http://www.mopub.com/terms/">Terms of Service</a> and the <a href="http://www.mopub.com/privacy/">Privacy Policy</a>
                    {% if account_form.term_conditions_error %}
                    <div class="form-error-text">{{account_form.term_conditions_error}}</div> 
                    {% endif %}
                  </dd>
                </dl>              
              </fieldset>
              <div class="form-submit">
                <a href="#" class="btn" id="accountForm-submit">Continue</a>
              </div>
            </form>
          </div>
          
          <!-- Google Code for Signup Conversion Page -->
          <script type="text/javascript">
          /* <![CDATA[ */
          var google_conversion_id = 1008928244;
          var google_conversion_language = "en";
          var google_conversion_format = "1";
          var google_conversion_color = "ffffff";
          var google_conversion_label = "p4MqCISEogIQ9IuM4QM";
          var google_conversion_value = 0;
          /* ]]> */
          </script>
          <script type="text/javascript" src="http://www.googleadservices.com/pagead/conversion.js">
          </script>
          <noscript>
          <div style="display:inline;">
          <img height="1" width="1" style="border-style:none;" alt="" src="http://www.googleadservices.com/pagead/conversion/1008928244/?label=p4MqCISEogIQ9IuM4QM&amp;guid=ON&amp;script=0"/>
          </div>
          </noscript>
          
{% endblock %}
