{% extends "account/base.html" %}
{% load filters %}
{% block pageTitle %}
  <h1> Payment Information </h1>
{% endblock pageTitle %}
{% block extraScripts %}
  {{block.super}}
  <script type="text/javascript">
    $(function() {

            $("#payment_preference_paypal").click(function(){
                    $("#wire_only").fadeOut(10);
                    $("#paypal_only").fadeIn();


            })

            $("#payment_preference_wire").click(function(){
                    $("#paypal_only").fadeOut(10);
                    $("#wire_only").fadeIn();

            })

            // form validation + submit
            $('#guy').click(function(){
                    var us_fields_filled = true;
                    if ($("#id_country").val() == 'US') {
                            $(["#id_us_tax_id",
                               "#id_local_tax_id",
                               "#id_ach_routing_number",
                               "#id_bank_swift_code"]).each(function(us_field){
                                       console.log(us_field);
                                       var field = $(us_field);
                                       if (field.val() == '') {
                                               us_fields_filled = false;
                                               field.style('background', 'red');
                                       }
                               });
                    }

                    // if (us_fields_filled) $("#paymentchange").submit();
            });
    });
  </script>
{% endblock %}
{% block content %}
  <form action="{% url payment_info_change %}" method="POST" id="paymentchange">
    {% csrf_token %}

    <fieldset id="appForm-details">
      {{form.as_template}}

    </fieldset>
    <div class="form-submit">
      <button id="guy" class="button"> Submit </button>
     </div>
  </form>
{% endblock content %}
