{% extends "account/base.html" %}
{% load filters %}
{% block pageTitle %}
  <h1> Payment History </h1>
{% endblock pageTitle %}
{% block content %}

{% if payment_history %}
<table class="dataTable campaignData-main" id="campaignDataTable-direct-">
  <thead>
    <th class="dataTable-date-short">Month</th>
    <th class="dataTable-data">Revenue</th>
    <th class="dataTable-data">Payment Status</th>
  </thead>
  <tbody>
    {% for payment in payment_history %}
      <tr class="alternating-color">
        <td>{{payment.month}}</td>
        <td>${{payment.amount}}</td>
        <td>{{payment.status}}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>

{% else %}
  <strong> There are no payments in your payment history. Please check back later. </strong>
{% endif %}

{% endblock content %}
