{% extends "account/base.html" %}
{% load filters %}
{% load elements %}
  
{% block pageTitle %}
  <h1> Payment Information </h1>
{% endblock pageTitle %}

{% block extraScripts %}
  {{ block.super }}

  {% include_script "controllers/account" %}
  <script type="text/javascript">
    $(function() {
        AccountController.initializePaymentDetails();
    });
  </script>
{% endblock %}

{% block content %}
  {% if success_banner %}
    <div class="alert-message block-message">
      Success!
    </div>
  {% endif %}
  
  <form action="{% url payment_info_change %}" method="POST" id="paymentchange" class="validate">
    {% csrf_token %}
    
    <section>
      <div class="content-main">
        {{form.bound_fields}}
        {{form.as_template}}
      </div>
    </section>
  </form>
{% endblock content %}
