{% extends "account/base.html" %}
{% load filters %}
{% block pageTitle %}
  <h1> Payment History </h1>
{% endblock pageTitle %}
{% block content %}

{% if monthly_records %}
<table class="dataTable campaignData-main" id="campaignDataTable-direct-">
  <thead>
    <th class="dataTable-date-short">Month</th>
    <th class="dataTable-data">Revenue</th>
    <th class="dataTable-data">Payment Status</th>
  </thead>
  <tbody>
    {% for record in monthly_records %}
      <tr class="alternating-color">
        <td>{{record.0}}</td>
        <td>${{record.1}}</td>
        <td>{{record.2}}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>

{% else %}
  <strong> There are no payments in your payment history. Please check back later. </strong>
{% endif %}

{% endblock content %}
