.DS_Store
*.pyc
*.tmproj
*.log
*.pp
*.swp
*.swo
*.deduped
server/test_data
server/test_data/basic_test.datastore
*.datastore
server/.coverage
server/nosetests.xml
server/reporting/aws_logging/*.pkl
server/reporting/aws_logging/*.stats
server/reporting/aws_logging/*.txt
server/common/wurfl/*.xml
server/scripts/*.pkl
counts.csv
*.sublime-project
*.sublime-workspace
server/public/css/.sass-cache/
.sass-cache
server/common/wurfl/*.xml
coverage.xml
*~
*#
*#*
