.DS_Store
*.pyc
*.tmproj
*.log
*.pp
*.swp
*.swo
*.deduped
server/test_data
server/test_data/basic_test.datastore
*.datastore
server/.coverage
server/nosetests.xml
server/reporting/aws_logging/*.pkl
server/reporting/aws_logging/*.stats
server/reporting/aws_logging/*.txt
server/common/wurfl/*.xml
counts.csv

server/common/wurfl/*.xml
*~
*#