img {
	vertical-align: middle;
	margin: 0;
	border: 0;
}

a.click_url:visited, a:active {
	color: #540000;
}

.click_url {
	font-size: 14px;
}

.suppress {
	color: #666;
}

.suppress a {
	color: #666;
	text-decoration: underline;
}

.bot .suppress, .message .suppress, .update .suppress, .topic .suppress, .content .suppress {
	font-size: 11px;
}

.header_line {
	padding-left: 10px;
	font-size: 10px;
}

.tiny {
	font-size: 10px;
}

DIV.toolbar {
	display: inline;
	margin-left: 50px;
	font-size: 12px;
	color: #aaa;
	font-weight: normal;
	white-space: nowrap;
}

.hashtag {
}

a.hashtag {
	color: #000044;
	text-decoration: none;
}

a.hashtag:hover {
	text-decoration: underline;
}

a.at_user {
	color: #aaa;
	text-decoration: none;
}

a.posted_to {
	font-weight: bold;
}

#messages {
	width: 600px;
	border-left: 3px solid #f5c940;
	margin-left: -10px;
	padding-left: 15px;
}

#tags li {
	list-style: none;
}

#tags li.active {
	font-weight: bold;
	margin-left: -5px;
	background-color: #f5c940;
	padding: 2px 35px 2px 5px;
	background-image: url(/images/endcap.png);
	background-position: 0 0;
	background-repeat: no-repeat;
}

#tags li.active a {
	color: #fff;
	text-decoration: none;
}

li.separator {
	font-size: 9px;
	border-bottom: 1px dotted #aaa;
	margin: 8px 5px 2px 0;
}

.special_notice {
	background-color: #eee;
	border: 1px solid #888;
	padding: 5px 10px;
	margin: 0 0 1em 0;
}

.special_notice h3 {
	border: none;
	margin-bottom: 10px;
}

.special_notice ol {
	margin: 0 0 0 25px;
	list-style: decimal;
}

.call_to_action {
	text-align: center;
	font-size: 150%;
	margin: 1em 0 1em 0;
}

.message, .update, .topic, .content {
	margin: 0 0 10px 0;
	font-size: 13px;
	line-height: 1.3em;
}

.message:hover {
	border-color:#f5c940 !important;
}

TABLE.individual_message {
	width: 100%;
	margin: 0 0 10px 0;
}

.individual_message TD {
	vertical-align: top;
	padding: 0;
}

.individual_message TD.message_image {
	padding: 3px 2px 0 0;
	width: 32px;
}

.individual_message TD.message_bug {
	padding: 0 2px 0 0;
	width: 32px;
}

.individual_message TD.message_body {
	padding: 3px 0 0 2px;
}

.individual_message TD.message_actions {
	padding: 0 0 0 5px;
	text-align: right;
	font-size: 10px;
	white-space: nowrap;
}

.quoted_message {
	border-left: solid 1px #ddd;
	background-color: #f9f9ff;
	padding: 2px 2px 2px 10px;
	margin: 0 0 0 37px;
}

.attached_content {
	padding: 10px 0 5px 0;
}

UL.subscribers LI, OL.subscribers LI {
	margin: 0 0 2px 0;
}

.debug {
	font-family: Courier;
	font-size: 8px;
	text-align: right;
	margin: 0;
}

.post {
	font-size: 13px;
}

cite {
	/*color: #008800;*/
	font-style: italic;
	font-size: 12px;
	text-align: center;
}

.page_nav {
	text-align: center;
}

.page_nav_prev, .page_nav_next {
	font-weight: bold;
	padding: 0 10px;
}

UL {
	padding: 0 0 0 0;
	margin: 0 0 1em 0;
	list-style: square;
}

OL LI, UL LI {
	margin: 0 0 0 20px;
}

LI {
	padding: 0;
	margin: 0;
}

UL.bullet_list {
	list-style: square; 
	padding-left: 20px;
}

UL.bullet_list LI {
	padding: .5em 0;
}

P {
	padding: 0;
	margin: 1em 0 1em 0;
}

tr {
	padding-bottom: 5px;
}

th {
	text-align: left;
	vertical-align: top;
	padding: 0 10px 0 0;
	font-weight: normal;
}

thead tr th {
	border-bottom: 1px solid #aaa;
	font-style: italic;
}

td {
	padding: 0 10px 0 0;
}

td.numeric, .numeric TD {
	text-align: right;
}

td.numeric_large {
	text-align: right;
	font-size: 16px;
}

table.wide {
	width: 100%;
  border-spacing: 0
}

table.rollups {
  font-size: 18px;
  width: 100%;
}

table td.rollup {
  width: 150px;
  text-align: center;
  border: solid 1px #aaa;
  padding: 15px 0;
  line-height: 1.4em;
}

hr {
	padding: 0;
	margin: 0;
}

form {
}

label {
	margin: 0;
	padding:  0;
}

input {
	font-size: 11px;
	padding: 2px;
	font-family:  arial, sans-serif;
}

select, option {
	padding: 0 5px;
}

textarea {
	font-size: 13px;
	padding: 2px;
	margin-bottom: 3px;
	font-family: arial, sans-serif;
}

.prompt_text {
	color: #aaa;
}

.divfiller, .clearall {
	clear: both;
	margin: 0;
	padding: 0;
}

.bot .embedded_asset, .message .embedded_asset {
	padding: 5px 0 5px 48px;
}

.quoted_message .embedded_asset {
	padding: 5px 0 5px 0;
}

.toolbox {
	float: right;
}

.toolbox a {
}

.creative {
	font-size: 13px;
	width: 250px;
	border: 1px solid #aaa;
	padding: 5px;
}

.creative .creative_url a {
	color: green;
	text-decoration: none;
}

.landing_page {
	font-size: 13px;
	width: 250px;
	border: 1px solid #aaa;
	padding: 50px 5px 5px 5px;
	width: 250px;
	height: 150px;
}

.landing_page h1, .landing_page p {
	text-align: center;
	
}

.alpha-shadow {
  float: left;
  background: url(/images/shadows/shadow.gif) no-repeat bottom right;
  margin: 0 5px 0 0 !important;
  margin: 0 5px 0 0;
}

.alpha-shadow div {
  background: url(/images/shadows/shadow2.png) no-repeat left top !important;
  background: url(/images/shadows/shadow2.gif) no-repeat left top;
  padding: 0px 5px 0px 0px;
}

.alpha-shadow img {
  background-color: #fff;
  border: solid 1px #a1a5a9;
}

.topic_bucket {
	min-height: 50px;
	width: 600px;
}

.topic_bucket LI {
	display: inline;
	padding: 5px; 
	white-space: nowrap;
	cursor: hand;
	background-color: #fcc; 
	border: 1px solid #aaa; 
	margin: 0 20px 10px 0;
}

/* Start custom button CSS here
---------------------------------------- */
.btn {
  display:inline-block;
  background:none;
  margin:0;
  padding:3px 0;
  border-width:0;
  overflow:visible;
  font:100%/1.2 Arial,Sans-serif;
  text-decoration:none;
  color:#333;
  }
* html button.btn {
  padding-bottom:1px;
  }
/* Immediately below is a temporary hack to serve the 
   following margin values only to Gecko browsers
   Gecko browsers add an extra 3px of left/right 
   padding to button elements which can't be overriden.
   Thus, we use -3px of left/right margin to overcome this. */
html:not([lang*=""]) button.btn {
  margin:0 -3px;
  }
.btn span {
  background:#ddd url(/images/bg-button.gif) repeat-x 0 0;
  margin:0;
  padding:3px 0;
  border-left:1px solid #bbb;
  border-right:1px solid #aaa;
  }
* html .btn span {
  padding-top:0;
  }
.btn span span {
  position:relative;
  padding:3px .4em;
  border-width:0;
  border-top:1px solid #bbb;
  border-bottom:1px solid #aaa;
  }

/* pill classes only needed if using pill style buttons ( LEFT | CENTER | RIGHT ) */
button.pill-l span {
  border-right-width:0;
  }
button.pill-l span span {
  border-right:1px solid #bbb;
  }
button.pill-c span {
  border-right-style:none;
  border-left-color:#fff;
  }
button.pill-c span span {
  border-right:1px solid #bbb;
  }
button.pill-r span {
  border-left-color:#fff;
  }

/* only needed if implementing separate hover/focus/active state for buttons */
.btn:hover span, .btn:hover span span, .btn:focus span, .btn:focus span span {
  cursor:pointer; /* important for any clickable/pressable element */
  border-color:#9cf !important;
  color:#000;
  }
.btn:active span {
  background-position:0 -400px;
  outline:none;
  }
.btn:focus, .btn:active {
  outline:none; /* doesn't seem to be respected for <button>, only <a> */
  }

/* use if one button should be the 'primary' button */
.primary {
  font-weight:bold;
  color:#000;
  }
