{% extends 'publisher/base.html' %}
{% load filters %}
{% load elements %}

{% block pageTitle %}
  <h1>
    <a href="{% url publisher_app_show app_key=adunit.app_key.key %}">
      AdUnits
    </a>
    / {{ adunit.name }}
  </h1>
{% endblock pageTitle %}


{% block dateButtons %}{% endblock dateButtons %}

{% block titleBarRight %}

  {% include "partials/datecontrols.html" %}
  
{% endblock titleBarRight %}
  
{% block content %}

  {% if not adunit.adgroups %}
    <div class="alert-message block-message">
      There are no ad sources targeting this ad unit.
      To show ads here, set up a new ad campaign or
      add this ad unit to an existing campaign on the
      <a href="{% url advertiser_order_index %}">Campaigns</a> page.
    </div>
  {% endif %}

  <section id="dashboard-adunitEditForm" class="hidden">
    <div>
      <a name="adunitForm" class="hidden">anchor</a>
      <form action="{% url publisher_adunit_update_ajax %}" method="POST" accept-charset="utf-8" id="adunitAddForm" class="adunitEditForm validate">
        <fieldset id="appForm-details" class="alt">
          <input type="hidden" name="adunit_key" value="{{adunit.key}}"/>
          <div id="adunitForm-fragment">
            {{adunit_form_fragment}}
          </div>
          <div class="form-submit">
            <span class="hidden" id="adunitForm-loading"><img src="/images/loading2.gif"/></span>
            <span class="buttonWrap"><a href="#" class="button" id="adunitEditForm-cancel">Cancel</a></span>
            <span class="buttonWrap"><a href="#" class="button" id="adunitEditForm-submit">Save</a></span>
          </div>
        </fieldset>
      </form>
    </div>
  </section>
  <section class="offset nomargin" id="dashboard-stats">
    <h3 class="stats-chart-title">Realtime Stats for {{start_date|format_date_compact}} to {{end_date|format_date_compact}}</h3>
    <div class="stats">

      {% comment %}
      {% stats_breakdown adunit.stats %}
      {% endcomment %}

       <div class="stats-breakdown">
        <table>
          <tbody>
            <tr class="active" id="stats-breakdown-requests">
              <td class="stats-breakdown-value today"><span class="inner">{{today.request_count|withsep}}</span></td>
              <td class="stats-breakdown-value yesterday"><span class="inner">{{yesterday.request_count|withsep}}</span></td>
              <td class="stats-breakdown-value all"><span class="inner">{{adunit.stats.request_count|withsep}}</span></td>
              <th class="stats-breakdown-name"><span class="inner">Requests</span></th>
            </tr>
            <tr id="stats-breakdown-impressions">
              <td class="stats-breakdown-value today"><span class="inner">{{today.impression_count|withsep}}</span></td>
              <td class="stats-breakdown-value yesterday"><span class="inner">{{yesterday.impression_count|withsep}}</span></td>
              <td class="stats-breakdown-value all"><span class="inner">{{adunit.stats.impression_count|withsep}}</span></td>
              <th class="stats-breakdown-name"><span class="inner">Impressions</span></th>
            </tr>
            <tr id="stats-breakdown-clicks">
              <td class="stats-breakdown-value today"><span class="inner"><span class="muted unbold">({{today.ctr|percentage}})</span> {{today.click_count|withsep}}</span></td>
              <td class="stats-breakdown-value yesterday"><span class="inner"><span class="muted unbold">({{yesterday.ctr|percentage}})</span> {{yesterday.click_count|withsep}}</span></td>
              <td class="stats-breakdown-value all"><span class="inner"><span class="muted unbold">({{adunit.stats.ctr|percentage}})</span> {{adunit.stats.click_count|withsep}}</span></td>
              <th class="stats-breakdown-name"><span class="inner">Clicks</span></th>
            </tr>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="stats-breakdown-buttons">
      <span class="buttonset button-small" id="stats-breakdown-dateOptions">
        <input type="radio" name="stats-breakdown-dateOptions-option" value="today" id="stats-breakdown-dateOptions-option-0" checked="checked"/>
        <label for="stats-breakdown-dateOptions-option-0">Today</label>
        <input type="radio" name="stats-breakdown-dateOptions-option" value="yesterday" id="stats-breakdown-dateOptions-option-1"/>
        <label for="stats-breakdown-dateOptions-option-1">Yesterday</label>
        <input type="radio" name="stats-breakdown-dateOptions-option" value="all" id="stats-breakdown-dateOptions-option-2"/>
        <label for="stats-breakdown-dateOptions-option-2">All</label>
      </span>
    </div>


      {% comment %}
        End of stats breakdown
      {% endcomment %}
      <div class="chart chart-loading stats-chart" id="dashboard-stats-chart">
        <div class="chart-loading-text">Loading ...</div>
        <div class="chart-error-text">Could not load chart</div>
        <script type="text/javascript">
          // chart data
          mopub.dashboardStatsChartData = {
              //pointStart: 1294963200000,
              pointStart: Date.UTC({{start_date.year}},{{start_date.month|add:"-1"}},{{start_date.day}}),
              pointInterval: 86400000,
              'requests': [
                  { '{{adunit.name|safe|addslashes}}': [{% for t in adunit.all_stats %}{{t.request_count}}{% if not forloop.last %},{% endif %} {% endfor %}] }
              ],
              'impressions': [
                  { '{{adunit.name|safe|addslashes}}': [{% for t in adunit.all_stats %}{{t.impression_count}}{% if not forloop.last %},{% endif %} {% endfor %}] }
              ],
              'clicks': [
                  { '{{adunit.name|safe|addslashes}}': [{% for t in adunit.all_stats %}{y: {{t.click_count}}, name: '{{t.ctr|percentage}}'}{% if not forloop.last %},{% endif %} {% endfor %}] }
              ]
          };
        </script>
      </div>
    </div>
    <div class="clear"></div>
  </section>

  <div class="clear"></div>

  
  <section id="dashboard-apps">
    <div class="right">
      <a class="btn" id="advertisers-testAdServer" href="#">
        Test Ad
      </a>
      <a class="btn" id="dashboard-apps-editAdUnitButton" href="#">
        Edit ad unit settings
      </a>      
    </div>

    <div id="adserverTest" style="display:none;">
      <iframe height="480" width="350" id="adserverTest-iFrame" scrolling="no">
      </iframe>
      <div id="adserverTest-iFrame-src" style="display:none;">{% url advertiser_adserver_test %}?id={{adunit.key}}</div>
    </div>

    <h2>Ad sources for {{adunit.name}}</h2>

    <div>
    {% if adunit.adgroups %}
      <div class="appData appData-alt">
        <div class="appData-details noneg">
          <div class="appData-details-inner show">
            <table class="dataTable appData-main">
              <thead>
                <tr>
                  <th class="dataTable-name special">Name</th>
                  <th class="dataTable-data numeric special">Priority</th>
                  <th class="dataTable-data numeric special">Revenue</th>
                  <th class="dataTable-data numeric special">CPM</th>
                  <th class="dataTable-data numeric special">Impressions</th>
                  <th class="dataTable-data numeric special">Clicks</th>
                  <th class="dataTable-data numeric special">CONV</th>
                </tr>
              </thead>
              <tbody>

                {% for adgroup in gtee %}
                  <tr>
                    <th>
                      {% status_icon adgroup %}
                      <a href="{% url advertiser_line_item_detail line_item_key=adgroup.key %}">
                        {{ adgroup.name }}
                      </a>
                      <br />
                      <span class="muted">
                        {% if adgroup.campaign.start_datetime and adgroup.campaign.end_datetime %}
                          {{adgroup.campaign.start_datetime|format_date}} -
                          {{adgroup.campaign.end_datetime|format_date}}.
                        {% endif %}

                        {% if adgroup.campaign.start_datetime and not adgroup.campaign.end_datetime %}

                          Starts {{adgroup.campaign.start_datetime|format_date}}.
                        {% endif %}

                        {% if not adgroup.campaign.start_datetime and adgroup.campaign.end_datetime %}
                          Ends {{adgroup.campaign.end_datetime|format_date}}.
                        {% endif %}

                        {% if not adgroup.campaign.start_datetime and not adgroup.campaign.end_datetime %}
                          All dates.
                        {% endif %}

                        {% ifequal adgroup.campaign.budget_type 'daily' %}
                          {% if adgroup.campaign.budget %}
                            {{ adgroup.campaign.budget|currency }} daily budget.
                          {% else %}
                            Unlimited budget.
                          {% endif %}
                        {% endifequal %}
                        {% ifequal adgroup.campaign.budget_type 'full_campaign' %}
                          {{adgroup.campaign.full_budget|currency}} campaign budget.
                        {% endifequal %}
                        {% if adgroup.percent_delivered %}
                          ({{adgroup.percent_delivered|floatformat:1}}%)
                        {%endif %}
                      </span>
                    </th>
                    <td class="dataTable-data numeric">
                    Guaranteed<br/><span class="muted">{{level.name}}</span></td>
                    <td class="dataTable-data numeric">{{adgroup.stats.revenue|currency}}</td>
                    <td class="dataTable-data numeric">{{adgroup.bid|currency}}</td>
                    <td class="dataTable-data numeric">{{adgroup.stats.impression_count|withsep}}</td>
                    <td class="dataTable-data numeric">
                      {{adgroup.stats.click_count|withsep}}<br/>
                      <span class="muted">{{adgroup.stats.ctr|percentage}}</span>
                    </td>
                    <td class="dataTable-data numeric">
                      {{adgroup.stats.conversion_count|withsep}}<br/>
                      <span class="muted">{{adgroup.stats.conv_rate|percentage}}</span>
                    </td>
                  </tr>
                {% endfor %}
                {% for adgroup in promo %}
                  <tr>
                    <th>
                      {% status_icon adgroup %}
                      <a href="{% url advertiser_line_item_detail line_item_key=adgroup.key %}">
                        {{ adgroup.name }}
                      </a>
                      <br/>
                      <span class="muted">
                          {% if adgroup.campaign.start_date and adgroup.campaign.end_date %}
                            {{adgroup.campaign.start_date|format_date_compact}}
                            -
                            {{adgroup.campaign.end_date|format_date_compact}}.
                          {% endif %}

                          {% if adgroup.campaign.start_date and not adgroup.campaign.end_date %}
                            Starts {{adgroup.campaign.start_date|format_date_compact}}.
                          {% endif %}

                          {% if not adgroup.campaign.start_date and adgroup.campaign.end_date %}
                            Ends {{adgroup.campaign.start_date|format_date_compact}}.
                          {% endif %}

                          {% if not adgroup.campaign.start_date and not adgroup.campaign.end_date %}
                            All dates.
                          {% endif %}

                          {% if adgroup.campaign.budget %}
                            {{adgroup.campaign.budget|currency}} daily budget.
                          {% else %}
                            Unlimited budget.
                          {% endif %}
                        </span>
                      </th>
                      <td class="dataTable-data numeric">Promotional<br/><span class="muted">Normal</span></td>
                      <td class="dataTable-data numeric">-</td>
                      <td class="dataTable-data numeric">{{adgroup.bid|currency}}</td>
                      <td class="dataTable-data numeric">{{adgroup.stats.impression_count|withsep}}</td>
                      <td class="dataTable-data numeric">
                          {{adgroup.stats.click_count|withsep}}<br/>
                          <span class="muted">{{adgroup.stats.ctr|percentage|withsep}}<span>
                      </td>
                      <td class="dataTable-data numeric">
                        {{adgroup.stats.conversion_count|withsep}}<br/>
                        <span class="muted">{{adgroup.stats.conv_rate|percentage}}</span>
                      </td>
                    </tr>
                  {% endfor %}
                  {% if marketplace %}
                    {% for adgroup in marketplace %}
                      {% if forloop.counter0 == 0 %}
                        <tr>
                          <th>
                            {% if marketplace_activated %}
                              <img src="/images/active.gif" height=9 width=9 />
                            {% else %}
                              <img src="/images/inactive.gif" height=9 width=9 />
                            {% endif %}
                            <a href="{% url marketplace_index %}">
                              MoPub Marketplace<br/>
                              &nbsp; {# This is here so that the row matches height of others #}
                            </a>
                          </th>
                          <td class="dataTable-data numeric">Marketplace</td>
                          <td class="dataTable-data numeric">{{adgroup.stats.revenue|currency}}</td>
                          <td class="dataTable-data numeric">{{adgroup.stats.cpm|currency}}</td>
                          <td class="dataTable-data numeric">{{adgroup.stats.impression_count|withsep}}</td>
                          <td class="dataTable-data numeric">-</td>
                          <td class="dataTable-data numeric">-</td>
                        </tr>
                      {% endif %}
                    {% endfor %}
                  {% endif %}
                  {% for adgroup in network %}
                    <tr>
                      <th>
                        {% status_icon adgroup %}
                        <a href="{% url advertiser_line_item_detail line_item_key=adgroup.key %}">
                          {{ adgroup.name }}
                        </a>
                        <br/>
                        <span class="muted">{{adgroup.network_type}}</span>
                      </th>

                      <td class="dataTable-data numeric">Network</td>
                      <td class="dataTable-data numeric">-</td>
                      <td class="dataTable-data numeric {% if adgroup.cpc %}dataTable-campaign-ecpm{% endif %}">
                        {{ adgroup.calculated_ecpm|currency }}
                      </td>
                      <td class="dataTable-data numeric">{{adgroup.stats.impression_count|withsep}}</td>
                      <td class="dataTable-data numeric">
                          {{adgroup.stats.click_count|withsep}}<br/>
                          <span class="muted">{{adgroup.stats.ctr|percentage}}</span>
                      </td>
                      <td class="dataTable-data numeric">-</td>
                    </tr>
                  {% endfor %}
                  {% for adgroup in backfill_promo %}
                    <tr>
                      <th>
                        {% status_icon adgroup %}
                        <a href="{% url advertiser_line_item_detail line_item_key=adgroup.key %}">
                          {{ adgroup.name }}
                        </a>
                        <br/>
                        <span class="muted">

                          {% if adgroup.campaign.start_date and adgroup.campaign.end_date %}
                            {{adgroup.campaign.start_date|format_date_compact}}-{{adgroup.campaign.end_date|format_date_compact}}.
                          {% endif %}

                          {% if adgroup.campaign.start_date and not adgroup.campaign.end_date %}
                            Starts {{adgroup.campaign.start_date|format_date_compact}}.
                          {% endif %}

                          {% if not adgroup.campaign.start_date and adgroup.campaign.end_date %}
                            Ends {{adgroup.campaign.start_date|format_date_compact}}.
                          {% endif %}

                          {% if not adgroup.campaign.start_date and not adgroup.campaign.end_date %}
                            All dates.
                          {% endif %}


                          {% if adgroup.campaign.budget %}
                            {{adgroup.campaign.budget|currency}} daily budget.
                          {% else %}
                            Unlimited budget.
                          {% endif %}
                        </span>
                      </th>
                      <td class="dataTable-data numeric">Promotional<br/><span class="muted">Backfill</span></td>
                      <td class="dataTable-data numeric">-</td>
                      <td class="dataTable-data numeric">{{adgroup.bid|currency}}</td>
                      <td class="dataTable-data numeric">{{adgroup.stats.impression_count|withsep}}</td>
                      <td class="dataTable-data numeric">
                          {{adgroup.stats.click_count|withsep}}<br/>
                          <span class="muted">{{adgroup.stats.ctr|percentage|withsep}}</span>
                      </td>
                      <td class="dataTable-data numeric">
                        {{adgroup.stats.conversion_count|withsep}}<br/>
                        <span class="muted">{{adgroup.stats.conv_rate|percentage}}</span>
                      </td>
                    </tr>
                  {% endfor %}

                  <tr>
                    <td class="big">Totals</td>
                    <td></td>
                    <td class="dataTable-name numeric"><b>{{adunit.stats.revenue|currency}}</b></td>
                    <td></td>
                    <td class="dataTable-name numeric"><b>{{adunit.stats.impression_count|withsep}}</b></td>
                    <td class="dataTable-data numeric">
                        <b>{{adunit.stats.click_count|withsep}}<br/>
                        {{adunit.stats.ctr|percentage}}</b>
                    </td>
                    <td class="dataTable-data numeric">
                        <b>{{adunit.stats.conversion_count|withsep}}<br/>
                        {{adunit.stats.conv_rate|percentage}}</b>
                    </td>
                  </tr>

                </tbody>
              </tbody>
            </table>
          </div>
        </div>
      </div>

    {% else %}
      <table class="dataTable appData-main">
        <tbody>
          <tr>
            <td class="campaignData-icon"></td>
            <th class="dataTable-name"><span class="muted">None</span></th>
          </tr>
        </tbody>
      </table>
    {% endif %}
  </div>
</section>

<section id="dashboard-apps">
  <h2 class="left">Daily Counts</h2>
  <div class="right">
    <a class="button" href="/inventory/export/csv/adunit/{{adunit.key}}?spec=days">Export CSV</a>
    <a class="button" href="/inventory/export/xls/adunit/{{adunit.key}}?spec=days">Export XLS</a>
  </div>
  <div class="appData-details noneg">
    <table class="dataTable appData-main">
      <thead>
        <tr>
          <th class="dataTable-name big">&nbsp;</th>
          <th class="dataTable-name big">&nbsp;</th>
          <th class="dataTable-data numeric special">Requests</th>
          <th class="dataTable-data numeric special">Impressions</th>
          <th class="dataTable-data numeric special">Fillrate</th>
          <th class="dataTable-data numeric special">Clicks</th>
          <th class="dataTable-data numeric special">CTR</th>
        </tr>
      </thead>
      <tbody id="appData-totals">
        <tr>
          <th class="dataTable-name big">Totals</th>
          <td class="dataTable-data numeric">&nbsp;</td>
          <td class="dataTable-data numeric"><b>{{adunit.stats.request_count|withsep}}</b></td>
          <td class="dataTable-data numeric"><b>{{adunit.stats.impression_count|withsep}}</b></td>
          <td class="dataTable-data numeric big"><b>{{adunit.stats.fill_rate|percentage}}</b></td>
          <td class="dataTable-data numeric big"><b>{{adunit.stats.click_count|withsep}}</b></td>
          <td class="dataTable-data numeric big"><b>{{adunit.stats.ctr|percentage}}</b></td>
        </tr>
      </tbody>
      <tbody id="appData-individual" class="hidden">
        {% for s in adunit.all_stats reversed %}
          <tr class="appData-details-inner hide">
            <th class="dataTable-name">{{s.date|format_date}}</th>
            <td class="dataTable-data numeric">&nbsp;</td>
            <td class="dataTable-data numeric">{{s.request_count|withsep}}</td>
            <td class="dataTable-data numeric">{{s.impression_count|withsep}}</td>
            <td class="dataTable-data numeric">{{s.fill_rate|percentage}}</td>
            <td class="dataTable-data numeric">{{s.click_count|withsep}}</td>
            <td class="dataTable-data numeric">{{s.ctr|percentage}}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    <a class="appData-details-toggleButton" href="#">Show details</a>
  </div>
</section>

<div class="clear"></div>

<div style="margin-top: 1em;">
  <div class="buttonBank buttonBank-right">
    <form method="post" id="dashboard-deleteForm" action="{% url publisher_delete_adunit adunit_key=adunit.key %}">
      <a href="#" id="dashboard-delete-link">Remove ad unit from dashboard</a>
    </form>
    <div id="dashboard-delete-modal" class="hidden">
      <h2>Remove confirmation</h2>
      <p>Are you sure you want to remove {{adunit.name}} from the app?</p>
    </div>
  </div>
</div>

{% endblock content %}

{% block extraScripts %}
  {% include_script "controllers/publisher" %}
  <script type="text/javascript">
    $(function() {
      DashboardController.initializeAdunitDetail({
        // not needed yet
      });
    });
  </script>
{% endblock extraScripts %}
