{% extends 'publisher/base.html' %}
{% load filters %}
{% load elements %}

{% block pageTitle %}
  <h1>
    <a href="{% url publisher_app_show app_key=adunit.app_key.key %}">
      AdUnits
    </a>
    / {{ adunit.name }}
  </h1>
{% endblock pageTitle %}


{% block dateButtons %}{% endblock dateButtons %}

{% block titleBarRight %}

  {% include "partials/datecontrols.html" %}
  
{% endblock titleBarRight %}
  
{% block content %}

  {% if not adunit.adgroups %}
    <div class="alert-message block-message">
      There are no ad sources targeting this ad unit.
      To show ads here, set up a new ad campaign or
      add this ad unit to an existing campaign on the
      <a href="{% url advertiser_order_index %}">Campaigns</a> page.
    </div>
  {% endif %}
  
  <div id="dashboard-adunitEditForm" class="hidden">
    <div>
      <a name="adunitForm" class="hidden">anchor</a>
      <form action="{% url publisher_adunit_update_ajax %}"
            method="POST"
            accept-charset="utf-8"
            id="adunitAddForm"
            class="adunitEditForm validate">
        
        <fieldset id="appForm-details" class="alt">
          <input type="hidden" name="adunit_key" value="{{adunit.key}}"/>
          <div id="adunitForm-fragment">
            {{adunit_form_fragment}}
          </div>
          <div class="form-submit">
            <span class="hidden" id="adunitForm-loading">
              <img src="/images/loading2.gif"/>
            </span>
            <a href="#" class="btn" id="adunitEditForm-cancel">
              Cancel
            </a>
            <a href="#" class="btn" id="adunitEditForm-submit">
              {% button_icon "ok" %}
              Save
            </a>            
          </div>
        </fieldset>
      </form>
    </div>
  </div>

  {% chart_placeholder start_date end_date %}

  <div id="dashboard-apps">
    <h2> Adunit Stats </h2>

    <div id="adserverTest" style="display:none;">
      <iframe height="480" width="350" id="adserverTest-iFrame" scrolling="no">
      </iframe>
    </div>

    <table class="inventory_table">
      <thead>
        <tr>
          <td class="name" style="width:350px;"></td>
          <td class="adid"></td>
          <td class="stat">Requests</td>
          <td class="stat">Impressions</td>
          <td class="stat">Fill Rate</td>
          <td class="stat">Clicks</td>
          <td class="stat">CTR</td>
          <td class="stat">Conv</td>
        </tr>
      </thead>
      <tbody class="app alt">
        {% adunit_row adunit False %}
      </tbody>
    </table>
    
  </div>

  <br />

  <div id="app-ad-sources">
    <h2>Ad sources for {{adunit.name}}</h2>
    <div class="right">
      <a class="btn" id="advertisers-testAdServer" href="#">
        {% button_icon "tasks" %}
        Test Ad
      </a>
      <a class="btn" id="dashboard-apps-editAdUnitButton" href="#">
        {% button_icon "pencil" %}
        Edit ad unit settings
      </a>      
    </div>

    <img src="/images/loading2.gif" style='margin-left:450px' />
  </div>

  <div id="daily-counts">
    <h2>Daily Counts</h2>
    <img src="/images/loading2.gif" style='margin-left:450px' />
  </div>
  
  <form method="post"
        id="dashboard-deleteForm"
        action="{% url publisher_delete_adunit adunit_key=adunit.key %}">
    <a href="#" id="dashboard-delete-link" class="right btn">
      {% button_icon "trash" %}
      Remove this Adunit
    </a>
  </form>
  
  <div id="dashboard-delete-modal" class="hidden">
    <h2>Remove confirmation</h2>
    <p>Are you sure you want to remove {{adunit.name}} from the app?</p>
  </div>
  
{% endblock content %}

{% block extraScripts %}
  {% include_template "chart" %}
  {% include_template "daily-counts" %}
  
  {% include_script "models/inventory" %}
  {% include_script "views/inventory" %}
  {% include_script "controllers/publisher" %}
  <script type="text/javascript">
    $(function() {
        DashboardController.initializeAdunitDetail({
            start_date: {{ start_date|js_date }},
            app_key: "{{app.key}}",
            adunit_key: "{{adunit.key}}"
        });
    });
  </script>
{% endblock extraScripts %}
