{% extends 'publisher/base.html' %}

{% load elements %}
{% load filters %}

{% block pageTitle %}
  <h1>
    <a href="{% url publisher_app_show app_key=adunit.app.key %}"> {{adunit.app.name}}</a> / {{ adunit.name }}
  </h1>
{% endblock pageTitle %}

{% block content %}

  {% if untargeted %}
    <div class="alert-message block-message">
      There are no ad sources targeting this ad unit.  To show ads here, set up
      a new line item, or add this ad unit to an existing line item on the
      <a href="{% url advertiser_order_index %}">Orders</a> page.
    </div>
  {% endif %}


  <div id="dashboard-adunitEditForm" class="hidden" style="margin-bottom: 10px;">
    <div>
      <a name="adunitForm" class="hidden">anchor</a>
      <form action="{% url publisher_adunit_update_ajax %}"
            method="POST"
            accept-charset="utf-8"
            id="adunitAddForm"
            class="adunitEditForm validate">

        <fieldset id="appForm-details" class="alt">
          <input type="hidden" name="adunit_key" value="{{adunit.key}}"/>
          <div id="adunitForm-fragment">
            {{adunit_form_fragment}}
          </div>
          <div class="form-submit">
            <span class="hidden" id="adunitForm-loading">
              <img src="/images/loading2.gif"/>
            </span>
            <a href="#" class="btn" id="adunitEditForm-cancel">
              Cancel
            </a>
            <a href="#" class="btn" id="adunitEditForm-submit">
              {% button_icon "ok" %}
              Save
            </a>
          </div>
        </fieldset>
      </form>
    </div>
  </div>

  {% chart_placeholder start_date end_date %}

  <div id="ad-sources">
    <div class="right">
      <a class="btn" id="advertisers-testAdServer" href="#">
        {% button_icon "tasks" %}
        Test Ad
      </a>
      <a class="btn" id="dashboard-apps-editAdUnitButton" href="#">
        {% button_icon "pencil" %}
        Edit ad unit settings
      </a>
    </div>

    <h2 class="left">Ad sources for {{ adunit.name }}</h2>

    {% comment %}
      Table containing each order/line item that targets the adunit
    {% endcomment %}
    <table class="advertiser_table">
      <thead>
        <tr style="width: 230px;">
          <th style="width: 10px;"></th>
          <th class="name" style="width: 230px;">Name</th>
          <th class="type" style="width: 90px;">Type</th>
          <th class="goal" style="width: 90px;">Goal</th>
          <th class="stat" style="width: 60px;">Rate</th>
          <th class="stat" style="width: 60px;">Start Date</th>
          <th class="stat" style="width: 60px;">End Date</th>
          <th class="stat" style="width: 60px;">Impressions</th>
          <th class="stat" style="width: 60px;">Clicks</th>
          <th class="stat" style="width: 60px;">CTR</th>
          <th class="stat" style="width: 60px;">Conversions</th>
          <th class="delivery" style="width: 70px;">Progress</th>
          <th class="stat popdown" style="width: 10px"></th>
        </tr>
      </thead>
      <tbody>
        {% for line_item in line_items %}
          {% line_item_row line_item False %}
        {% endfor %}

        {% marketplace_adgroup_row marketplace_adgroup %}

        {% for network_adgroup in network_adgroups %}
          {% network_adgroup_row network_adgroup %}
        {% endfor %}
      </tbody>
    </table>
  </div>

  <div class="right">

    <a href="#" id="dashboard-delete-link" class="btn btn-danger">
      {% button_icon "trash" %}
      Remove adunit from app
    </a>
    <form class="hidden" method="post" id="dashboard-deleteForm" action="{% url publisher_delete_adunit adunit_key=adunit.key %}"></form>
    <div id="dashboard-delete-modal" class="hidden">
      <h2>Remove confirmation</h2>
      <p>Are you sure you want to remove {{ adunit.name }} from your app?</p>
    </div>

    <div class="dropdown" id="adunit-export" style="display: inline;">
      <a class="btn dropdown-toggle" data-toggle="dropdown" href="#adunit-export">
        <i class="icon-download-alt"></i>
        Export
        <span class="caret"></span>
      </a>

      <ul class="dropdown-menu">
        <li> <a href="{% url publisher_adunit_exporter adunit_key=adunit.key %}?type=xls"
                data-toggle="running"> Excel XLS </a> </li>
        <li> <a href="{% url publisher_adunit_exporter adunit_key=adunit.key %}?type=xlsx"
                data-toggle="running"> Excel XLSX </a> </li>
        <li> <a href="{% url publisher_adunit_exporter adunit_key=adunit.key %}?type=ods"
                data-toggle="running"> OpenOffice Spreadsheet </a> </li>
        <li> <a href="{% url publisher_adunit_exporter adunit_key=adunit.key %}?type=csv"
                data-toggle="running"> CSV </a> </li>
        <li> <a href="{% url publisher_adunit_exporter adunit_key=adunit.key %}?type=tsv"
                data-toggle="running"> TSV </a> </li>
        <li> <a href="{% url publisher_adunit_exporter adunit_key=adunit.key %}?type=yaml"
                data-toggle="running"> YAML </a> </li>
        <li> <a href="{% url publisher_adunit_exporter adunit_key=adunit.key %}?type=json"
                data-toggle="running"> JSON </a> </li>
      </ul>
    </div>

  </div>

  <div class="modal hidden" id="adserverTest">

    <div class="modal-header">
	  <a href="#" type="btn" class="close" data-dismiss="modal">×</a>
	  <h3> Adserver Test</h3>
    </div>

    <div class="modal-body">
      <div id="adserverTest">
        <iframe height="480" width="350" id="adserverTest-iFrame" scrolling="no">
        </iframe>
        <div id="adserverTest-iFrame-src" style="display:none;">
          {% url advertiser_adserver_test %}?id={{adunit.key}}
        </div>
      </div>
    </div>

    <div class="modal-footer">
	  <a href="#" class="btn" data-dismiss="modal">Close</a>
    </div>

  </div>

{% endblock content %}

{% block extraScripts %}

  {% include_template "chart" %}
  {% include_template "popover" %}
  {% include_template "daily-counts" %}

  {% include_script "models/inventory" %}
  {% include_script "views/inventory" %}
  {% include_script "controllers/publisher" %}

  <script type="text/javascript">
    $(function () {
      DashboardController.initializeAdunitDetail({
        adunit_key: '{{ adunit.key }}',
        app_key: '{{ adunit.app.key }}',
        start_date:  {{ start_date|js_date }},
        date_range: {{ date_range }},
        line_item_keys: [{% for line_item in line_items %}'{{ line_item.key }}'{% if not forloop.last %}, {% endif %}{% endfor %}],
        marketplace_adgroup_key: '{{ marketplace_adgroup.key }}',
        network_adgroup_keys: [{% for network_adgroup in network_adgroups %}'{{ network_adgroup.key }}'{% if not forloop.last %}, {% endif %}{% endfor %}]
      });
    });
  </script>

{% endblock extraScripts %}
