{% extends 'publisher/base.html' %}
{% load filters %}
{% load elements %}

{% block pageTitle %}
  <h1>
    <a href="{% url app_index %}">Apps</a> / {{app.name}}
  </h1>
{% endblock pageTitle %}

{% block content %}
  <section id="dashboard-appEditForm" class="hidden">
    <div>
      <a name="appForm" class="hidden">anchor</a>
      <form action="{% url publisher_app_update_ajax app_key=app.key %}"
            enctype='multipart/form-data'
            method="POST"
            accept-charset="utf-8"
            id="appForm"
            class="appEditForm">
        <fieldset id="appForm-details" class="alt">
          <div id="appForm-fragment">
          {{ app_form_fragment }}
          </div>
          <div class="form-submit">
            <span class="hidden" id="appEditForm-loading">
            <img src="/images/loading2.gif"/></span>
            <span class="buttonWrap">
              <a href="#" class="button" id="appEditForm-cancel">Cancel</a>
            </span>
            <span class="buttonWrap">
              <a href="#" class="button" id="appEditForm-submit">Save</a>
            </span>
          </div>
        </fieldset>
      </form>
    </div>
  </section>

  {% chart_placeholder %}
  
  <section id="dashboard-apps">
    
    <div class="right">
      <a class="btn" id="dashboard-apps-editAppButton" href="#">
        <i class="icon-pencil"></i>
        Edit app settings
      </a>      
      <a class="btn" id="dashboard-apps-addAdUnitButton" href="#">
        <i class="icon-plus"></i>
        Add an Ad Unit
      </a>
    </div>

    <h2>Ad units for {{ app.name }}</h2>

    {% comment %}
      Form/buttons for adding a new adunit
    {% endcomment %}

    <section id="dashboard-adunitAddForm" class="hidden">
      <div>
        <a name="adunitForm" class="hidden">anchor</a>
        <form action="{% url publisher_adunit_update_ajax %}" method="POST" accept-charset="utf-8" id="adunitAddForm">
          <fieldset id="adunitForm-details" class="alt">
            <div id="adunitForm-fragment">
              {{ adunit_form_fragment }}
            </div>
            <div class="form-submit">
              <span class="hidden" id="adunitForm-loading">
                <img src="/images/loading2.gif"/>
              </span>
              <span class="buttonWrap">
                <a href="#" class="button" id="adunitAddForm-cancel"> Cancel </a>
              </span>
              <span class="buttonWrap">
                <a href="#" class="button" id="adunitAddForm-submit"> Save </a>
              </span>
            </div>
          </fieldset>
        </form>
      </div>
    </section>

    {% comment %}
      Table containing each adunit for the app
    {% endcomment %}

    {% inventory_table app %}

    <div class="divSpacer"></div>


    {% comment %}
      Tables containing targeting information for each campaign
      the app is in
    {% endcomment %}

    <h2>Ad sources for {{app.name}}</h2>
    <div>
      {% if app.campaigns %}

        <div class="appData appData-alt">
          <div class="appData-details noneg">
            <div class="appData-details-inner show">
              <table class="dataTable appData-main">
                <thead>
                  <tr>
                    <th class="dataTable-name special">Name</th>
                    <th class="dataTable-data numeric special">Priority</th>
                    <th class="dataTable-data numeric special">Revenue</th>
                    <th class="dataTable-data numeric special">CPM</th>
                    <th class="dataTable-data numeric special">Attempts</th>
                    <th class="dataTable-data numeric special">Impressions</th>
                    <th class="dataTable-data numeric special">Clicks</th>
                    <th class="dataTable-data numeric special">CONV</th>
                  </tr>
                </thead>
                <tbody>
                  {% for adgroup in gtee %}
                    <tr>
                      <th>
                        {% status_icon adgroup %}

                        <a href="{% url advertiser_line_item_detail line_item_key=adgroup.key%}">
                          {{ adgroup.name }}
                        </a>
                        <br />
                        <span class="muted">
                          {% if adgroup.start_datetime and adgroup.end_datetime %}
                            {{adgroup.start_datetime|format_date}} -
                            {{adgroup.end_datetime|format_date}}.
                          {% endif %}

                          {% if adgroup.start_datetime and not adgroup.end_datetime %}

                            Starts {{adgroup.start_datetime|format_date}}.
                          {% endif %}

                          {% if not adgroup.start_datetime and adgroup.end_datetime %}
                            Ends {{adgroup.end_datetime|format_date}}.
                          {% endif %}

                          {% if not adgroup.start_datetime and not adgroup.end_datetime %}
                            All dates.
                          {% endif %}

                          {% ifequal adgroup.budget_type 'daily' %}
                            {% if adgroup.budget %}
                              {{ adgroup.budget|currency }} daily budget.
                            {% else %}
                              Unlimited budget.
                            {% endif %}
                          {% endifequal %}
                          {% ifequal adgroup.budget_type 'full_campaign' %}
                            {{adgroup.full_budget|currency}} campaign budget.
                          {% endifequal %}
                          {% if adgroup.percent_delivered %}
                            ({{adgroup.percent_delivered|floatformat:1}}%)
                          {%endif %}
                        </span>
                        </th>
                        <td class="dataTable-data numeric">
                            Guaranteed<br/><span class="muted">{{level.name}}</span></td>
                        <td class="dataTable-data numeric">{{adgroup.stats.rev|currency}}</td>
                        <td class="dataTable-data numeric">{{adgroup.bid|currency}}</td>
                        <td class="dataTable-data numeric">{{adgroup.stats.imp|withsep}}</td>
                        <td class="dataTable-data numeric">
                            {{ adgroup.stats.clk|withsep}}<br/>
                            <span class="muted">{{campaign.stats.ctr|percentage}}</span>
                        </td>
                        <td class="dataTable-data numeric">
                          {{campaign.stats.conv|withsep}}<br/>
                          <span class="muted">{{campaign.stats.conv_rate|percentage}}</span>
                        </td>
                      </tr>
                    {% endfor %}
                  {% for adgroup in promo %}
                    <tr>
                      <th>
                        {% status_icon adgroup %}
                        <a href="{% url advertiser_line_item_detail line_item_key=adgroup.key %}">
                          {{adgroup.name}}
                        </a><br/>
                        <span class="muted">
                          {% if adgroup.start_date and adgroup.end_date %}
                            {{adgroup.start_date|format_date_compact}}
                            -
                            {{adgroup.end_date|format_date_compact}}.
                          {% endif %}

                          {% if adgroup.start_date and not adgroup.end_date %}
                            Starts {{adgroup.start_date|format_date_compact}}.
                          {% endif %}

                          {% if not adgroup.start_date and adgroup.end_date %}
                            Ends {{adgroup.start_date|format_date_compact}}.
                          {% endif %}

                          {% if not adgroup.start_date and not adgroup.end_date %}
                            All dates.
                          {% endif %}

                          {% if adgroup.budget %}
                            {{adgroup.budget|currency}} daily budget.
                          {% else %}
                            Unlimited budget.
                          {% endif %}
                        </span>
                      </th>
                      <td class="dataTable-data numeric">Promotional<br/><span class="muted">Normal</span></td>
                      <td class="dataTable-data numeric">-</td>
                      <td class="dataTable-data numeric">{{adgroup.bid|currency}}</td>
                      <td class="dataTable-data numeric">{{adgroup.stats.impression_count|withsep}}</td>
                      <td class="dataTable-data numeric">
                          {{adgroup.stats.clk|withsep}}<br/>
                          <span class="muted">{{adgroup.stats.ctr|percentage|withsep}}<span>
                      </td>
                      <td class="dataTable-data numeric">
                        {{adgroup.stats.conv|withsep}}<br/>
                        <span class="muted">{{adgroup.stats.conv_rate|percentage}}</span>
                      </td>
                    </tr>
                  {% endfor %}

                  {% if marketplace %}
                    {% for adgroup in marketplace %}
                      {% if forloop.counter0 == 0 %}
                        <tr>
                          <th>
                            {% if marketplace_activated and active_mpx_adunit_exists %}
                              <img src="/images/active.gif" height=9 width=9 />
                            {% else %}
                              <img src="/images/inactive.gif" height=9 width=9 />
                            {% endif %}
                            <a href="{% url marketplace_index %}">
                              MoPub Marketplace<br/>
                              &nbsp; {# This is here so that the row matches height of others #}
                            </a>
                          </th>
                          <td class="dataTable-data numeric">Marketplace</td>
                          <td class="dataTable-data numeric">{{adgroup.stats.rev|currency}}</td>
                          <td class="dataTable-data numeric">{{adgroup.stats.cpm|currency}}</td>
                          <td class="dataTable-data numeric">{{adgroup.stats.req|withsep}}</td>
                          <td class="dataTable-data numeric">{{adgroup.stats.imp|withsep}}</td>
                          <td class="dataTable-data numeric">-</td>
                          <td class="dataTable-data numeric">-</td>
                        </tr>
                      {% endif %}
                    {% endfor %}
                  {% endif %}

                  {% for adgroup in backfill_promo %}
                    <tr>
                      <th>
                        {% status_icon adgroup %}
                        <a href="{% url advertiser_line_item_detail line_item_key=adgroup.key %}">
                          {{adgroup.name}}
                        </a><br/>

                        <span class="muted">

                          {% if campaign.start_date and campaign.end_date %}
                            {{campaign.start_date|format_date_compact}}-{{campaign.end_date|format_date_compact}}.
                          {% endif %}

                          {% if campaign.start_date and not campaign.end_date %}
                            Starts {{campaign.start_date|format_date_compact}}.
                          {% endif %}

                          {% if not campaign.start_date and campaign.end_date %}
                            Ends {{campaign.start_date|format_date_compact}}.
                          {% endif %}

                          {% if not campaign.start_date and not campaign.end_date %}
                            All dates.
                          {% endif %}

                          {% if campaign.budget %}
                            {{campaign.budget|currency}} daily budget.
                          {% else %}
                            Unlimited budget.
                          {% endif %}
                        </span>
                      </th>
                      <td class="dataTable-data numeric">Promotional<br/><span class="muted">Backfill</span></td>
                      <td class="dataTable-data numeric">-</td>
                      <td class="dataTable-data numeric">
                          {% if campaign.adgroup %}
                          {{campaign.adgroup.bid|currency}}
                          {% else %}
                          -
                          {% endif %}
                      </td>
                      <td class="dataTable-data numeric">-</td>
                      <td class="dataTable-data numeric">{{campaign.stats.imp|withsep}}</td>
                      <td class="dataTable-data numeric">
                          {{campaign.stats.clk|withsep}}<br/>
                          <span class="muted">{{campaign.stats.ctr|percentage|withsep}}</span>
                      </td>
                      <td class="dataTable-data numeric">
                        {{campaign.stats.conv|withsep}}<br/>
                        <span class="muted">{{campaign.stats.conv_rate|percentage}}</span>
                      </td>
                    </tr>
                  {% endfor %}
                  
                  <tr>
                    <td class="big">Totals</td>
                    <td></td>
                    <td class="dataTable-name numeric"><b>{{app.stats.revenue|currency}}</b></td>
                    <td></td>
                    <td class="dataTable-name numeric"><b>{{app.stats.impression_count|withsep}}</b></td>
                    <td class="dataTable-data numeric">
                        <b>{{app.stats.click_count|withsep}}<br/>
                        {{app.stats.ctr|percentage}}</b>
                    </td>
                    <td class="dataTable-data numeric">
                        <b>{{app.stats.conversion_count|withsep}}<br/>
                        {{app.stats.conv_rate|percentage}}</b>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>

      {% else %}
        <div class="appData appData-alt">
          <div class="appData-details noneg">
            <div class="appData-details-inner show">
              <table class="dataTable appData-main">
                <thead>
                  <tr>
                    <th class="dataTable-name big">
                      <span class="muted">No ad sources targeting {{app.name}}</span>
                    </th>
                  </tr>
                </thead>
              </table>
            </div>
          </div>
        </div>
      {% endif %}
    </div>

    <div class="right">
      <div class="btn-group">
        <button class="btn" href="#">
          <i class="icon-download-alt"></i>
          Export Ad Sources
        </button>
        <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
          <li> <a href="#" data-toggle="running"> XLS </a> </li>
          <li> <a href="#" data-toggle="running"> CSV </a> </li>
        </ul>
        </div>
    </div>
  </section>
  

  {% comment %}
    Controls for exporting app information
  {% endcomment %}

  
  <section id="dashboard-apps">

    <h2>Daily Counts</h2>
    <div class="appData-details noneg">
      <table class="dataTable appData-main">
        <thead>
          <tr>
            <th class="dataTable-name big">&nbsp;</th>
            <th class="dataTable-data numeric special">Requests</th>
            <th class="dataTable-data numeric special">Impressions</th>
            <th class="dataTable-data numeric special">Fillrate</th>
            <th class="dataTable-data numeric special">Clicks</th>
            <th class="dataTable-data numeric special">CTR</th>
            <th class="dataTable-data numeric special">Conversions</th>
          </tr>
        </thead>
        <tbody id="appData-totals">
          <tr>
            <th class="dataTable-name big">Totals</th>
            <td class="dataTable-data numeric"><b>{{app.stats.request_count|withsep}}</b></td>
            <td class="dataTable-data numeric"><b>{{app.stats.impression_count|withsep}}</b></td>
            <td class="dataTable-data numeric"><b>{{app.stats.fill_rate|percentage}}</b></td>
            <td class="dataTable-data numeric"><b>{{app.stats.click_count|withsep}}</b></td>
            <td class="dataTable-data numeric"><b>{{app.stats.ctr|percentage}}</b></td>
            <td class="dataTable-data numeric"><b>{{app.stats.conversion_count|withsep}}</b></td>
          </tr>
        </tbody>
        <tbody id="appData-individual" class="hidden">
          {% for stat in app.all_stats reversed %}
            <tr class="appData-details-inner hide">
              <th class="dataTable-name">{{stat.date|format_date}}</th>
              <td class="dataTable-data numeric">{{stat.request_count|withsep}}</td>
              <td class="dataTable-data numeric">{{stat.impression_count|withsep}}</td>
              <td class="dataTable-data numeric">{{stat.fill_rate|percentage}}</td>
              <td class="dataTable-data numeric">{{stat.click_count|withsep}}</td>
              <td class="dataTable-data numeric">{{stat.ctr|percentage}}</td>
              <td class="dataTable-data numeric">{{stat.conversion_count|withsep}}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>

      <a class="btn appData-details-toggleButton" href="#">
        <i class="icon-eye-open"></i>
        Show details
      </a>

      <div class="right">
        <div class="btn-group">
          <button class="btn" href="#">
            <i class="icon-download-alt"></i>
            Export Daily Counts
          </button>
          <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li> <a href="#" data-toggle="running"> XLS </a> </li>
            <li> <a href="#" data-toggle="running"> CSV </a> </li>
          </ul>
        </div>
      </div>
      

    </div>
  </section>

  <div class="clear"></div>

  <div style="margin-top: 1em">
    <div class="buttonBank buttonBank-right">
      <form method="post" id="dashboard-deleteForm" action="{% url publisher_delete_app app_key=app.key %}">
        <a href="#" id="dashboard-delete-link">Remove app from dashboard</a>
      </form>

      <div id="dashboard-delete-modal" class="hidden">
        <h2>Remove confirmation</h2>
        <p>Are you sure you want to remove {{app.name}} from the dashboard?</p>
      </div>

    </div>
  </div>

{% endblock content %}


{% block extraScripts %}
  {% include_script "models/inventory" %}
  {% include_script "views/inventory" %}
  {% include_script "controllers/publisher" %}
  <script type="text/javascript">
    $(function() {
      DashboardController.initializeAppDetail({
          app_key: "{{ app.key }}"
      });
    });
  </script>
          <script type="text/javascript">
          // chart data
          mopub.dashboardStatsChartData = {
              //pointStart: 1294963200000,
              pointStart: Date.UTC({{start_date.year}},{{start_date.month|add:"-1"}},{{start_date.day}}),
              pointInterval: 86400000,
              'requests': [{% for au in app.graph_adunits %}
                           { '{{au.name|safe|addslashes}}': [{% for t in au.all_stats %}{{t.request_count}}{% if not forloop.last %},{% endif %} {% endfor %}] }{% if not forloop.last %},{% endif %}{% endfor %}
                          ],
              'impressions': [{% for au in app.graph_adunits %}
                              { '{{au.name|safe|addslashes}}': [{% for t in au.all_stats %}{{t.impression_count}}{% if not forloop.last %},{% endif %} {% endfor %}] }{% if not forloop.last %},{% endif %}{% endfor %}
                             ],
              'clicks': [{% for au in app.graph_adunits %}
                         { '{{au.name|safe|addslashes}}': [{% for t in au.all_stats %}{y: {{t.click_count}}, name: '{{t.ctr|percentage}}'}{% if not forloop.last %},{% endif %} {% endfor %}] }{% if not forloop.last %},{% endif %}{% endfor %}
                        ],
              'users': [{% for au in app.graph_adunits %}
                        { '{{au.name|safe|addslashes}}': [{% for t in au.all_stats %}{{t.user_count}}{% if not forloop.last %},{% endif %} {% endfor %}] }{% if not forloop.last %},{% endif %}{% endfor %}
                       ]
          };
        </script>
{% endblock extraScripts %}
