{% extends 'publisher/base.html' %}

{% load elements %}
{% load filters %}

{% block pageTitle %}
  <h1>
    <a href="{% url app_index %}">Apps</a> / {{ app.name }}
  </h1>
{% endblock pageTitle %}

{% block content %}


  {% chart_placeholder start_date end_date %}
  
  <div id="dashboard-appEditForm" class="hidden" style="margin-top: 10px;">
    <a name="appForm" class="hidden">anchor</a>
    <form action="{% url publisher_app_update_ajax app_key=app.key %}"
          enctype='multipart/form-data'
          method="POST"
          accept-charset="utf-8"
          id="appForm"
          class="appEditForm">
      <fieldset id="appForm-details" class="alt">
        <div id="appForm-fragment">
          {{ app_form_fragment }}
        </div>
        <div class="form-submit">
          <span class="hidden" id="appEditForm-loading">
            <img src="/images/icons-custom/spinner-12.gif"/>
          </span>

          <a href="#" class="btn" id="appEditForm-cancel">
            Cancel
          </a>
          <a href="#" class="btn" id="appEditForm-submit">
            {% button_icon "ok" %}
            Save
          </a>
        </div>
      </fieldset>
    </form>
  </div>
  
  <div id="ad-units">
    <div class="btn-well right">
      <a class="btn" id="dashboard-apps-editAppButton" href="#">
        <i class="icon-pencil"></i>
        Edit app settings
      </a>
      <a class="btn" id="dashboard-apps-addAdUnitButton" href="#">
        <i class="icon-plus"></i>
        Add an Ad Unit
      </a>
    </div>

    <h2>Ad units for {{ app.name }}</h2>

    {% comment %}
      Form/buttons for adding a new adunit
    {% endcomment %}
    <div id="dashboard-adunitAddForm" class="hidden">
      <form action="{% url publisher_adunit_update_ajax %}"
            method="POST"
            accept-charset="utf-8"
            id="adunitAddForm">
        <fieldset id="adunitForm-details" class="alt">
          <div id="adunitForm-fragment">
            {{ adunit_form_fragment }}
          </div>

          <div class="form-submit">
            <span class="hidden" id="adunitForm-loading">
              <img src="/images/icons-custom/spinner-12.gif"/>
            </span>
            <a href="#" class="btn" id="adunitAddForm-cancel">
              Cancel
            </a>
            <a href="#" class="btn" id="adunitAddForm-submit">
              {% button_icon "ok" %}
              Save
            </a>
          </div>
        </fieldset>
      </form>
    </div>

    {% comment %}
      Table containing each adunit for the app
    {% endcomment %}
    <div id="dashboard-apps">
      {% inventory_table app %}
    </div>
  </div>

  <div id="ad-sources">
    <h2>Ad sources for {{ app.name }}</h2>

    {% comment %}
      Table containing each campaign/adgroup that targets the app
    {% endcomment %}
    <table class="advertiser_table">
      <thead>
        <tr style="width: 230px;">
          <th style="width: 10px;"></th>
          <th class="name" style="width: 230px;">Name</th>
          <th class="type" style="width: 90px;">Type</th>
          <th class="goal" style="width: 90px;">Goal</th>
          <th class="stat" style="width: 60px;">Rate</th>
          <th class="stat" style="width: 60px;">Start Date</th>
          <th class="stat" style="width: 60px;">End Date</th>
          <th class="stat" style="width: 60px;">Impressions</th>
          <th class="stat" style="width: 60px;">Clicks</th>
          <th class="stat" style="width: 60px;">CTR</th>
          <th class="stat" style="width: 60px;">Conversions</th>
          <th class="delivery" style="width: 70px;">Progress</th>
          <th class="stat popdown" style="width: 10px"></th>
        </tr>
      </thead>
      <tbody>
        {% for line_item in line_items %}
          {% line_item_row line_item False %}
        {% endfor %}

        {% marketplace_campaign_row marketplace_campaign %}

        {% for network_campaign in network_campaigns %}
          {% network_campaign_row network_campaign %}
        {% endfor %}
      </tbody>
    </table>
  </div>

  <div class="right">

    <a href="#" id="dashboard-delete-link" class="btn btn-danger">
      {% button_icon "trash" %}
      Remove app from inventory
    </a>
    <form class="hidden" method="post" id="dashboard-deleteForm" action="{% url publisher_delete_app app_key=app.key %}"></form>
    <div id="dashboard-delete-modal" class="hidden">
      <h2>Remove confirmation</h2>
      <p>Are you sure you want to remove {{ app.name }} from the dashboard?</p>
    </div>

    <div class="dropdown" id="app-export" style="display: inline;">
      <a class="btn dropdown-toggle" data-toggle="dropdown" href="#export-menu">
        <i class="icon-download-alt"></i>
        Export
        <span class="caret"></span>
      </a>

      <ul class="dropdown-menu">
        <li> <a href="{% url publisher_app_exporter app_key=app.key %}?type=xls"
                data-toggle="running"> Excel XLS </a> </li>
        {% comment %}
        <li> <a href="{% url publisher_app_exporter app_key=app.key %}?type=xlsx"
                data-toggle="running"> Excel XLSX </a> </li>
                {% endcomment %}
        <li> <a href="{% url publisher_app_exporter app_key=app.key %}?type=ods"
                data-toggle="running"> OpenOffice Spreadsheet </a> </li>
        <li> <a href="{% url publisher_app_exporter app_key=app.key %}?type=csv"
                data-toggle="running"> CSV </a> </li>
        <li> <a href="{% url publisher_app_exporter app_key=app.key %}?type=tsv"
                data-toggle="running"> TSV </a> </li>
        <li> <a href="{% url publisher_app_exporter app_key=app.key %}?type=yaml"
                data-toggle="running"> YAML </a> </li>
        <li> <a href="{% url publisher_app_exporter app_key=app.key %}?type=json"
                data-toggle="running"> JSON </a> </li>
      </ul>
    </div>

  </div>

{% endblock content %}

{% block extraScripts %}

  {% include_template "chart" %}
  {% include_template "popover" %}
  {% include_template "daily-counts" %}

  {% include_script "models/inventory" %}
  {% include_script "views/inventory" %}
  {% include_script "controllers/publisher" %}

  <script type="text/javascript">
    $(function () {
      DashboardController.initializeAppDetail({
        app_key: '{{ app.key }}',
        start_date: {{ start_date|js_date }},
        date_range: {{ date_range }},
        line_item_keys: [{% for line_item in line_items %}'{{ line_item.key }}'{% if not forloop.last %}, {% endif %}{% endfor %}],
        marketplace_campaign_key: '{{ marketplace_campaign.key }}',
        network_campaign_keys: [{% for network_campaign in network_campaigns %}'{{ network_campaign.key }}'{% if not forloop.last %}, {% endif %}{% endfor %}]
      });
    });
  </script>

{% endblock extraScripts %}
