{% extends 'publisher/base.html' %}

{% load elements %}
{% load filters %}

{% block pageTitle %}
  <h1>Dashboard</h1>
{% endblock pageTitle %}

{% block content %}

  {% comment %}
  <div class="alert-message block-message">
    We just released a beta version of <a href="{% url dashboard %}">
    MoPub Explorer</a>, a new tool that you can use for in-depth
    analysis of everything that happens on the platform.
  </div>
  {% endcomment %}

  {% ifequal account.status "step4" %}
    <div class="alert-message block-message">
      Start serving ads in your app by visiting the tabs at the top of
      the page
      <br/><br/>
      <ul>
        <li><strong>Orders</strong> Traffic your direct sold
        advertisements and house orders</li>
        <li><strong>Marketplace</strong> Tap into MoPub’s Real-Time
        Bidding platform to access more demand sources and get paid
        directly from MoPub</li>
        <li><strong>Networks</strong> Turn on ad campaigns from the
        major mobile ad networks you work with like AdMob, iAd,
        Millennial Media and others</li>
      </ul>
    </div>
  {% endifequal %}

  {% chart_placeholder start_date end_date %}

  <section id="dashboard-apps">
    <div class="right">
      <select data-placeholder="Quick jump to an app"
              class="chzn-select"
              style=" width:300px;"
              id="app-quick-navigate">
        <option value=""></option>
        {% for app in apps %}
          {% if not app.deleted %}
            <option value="{% url publisher_app_show app_key=app.key %}">
              {{app.name}} ({{ app.type }})
            </option>
          {% endif %}
        {% endfor %}
      </select>
      <a class="btn" href='{% url publisher_create_app %}' style="margin-top: -3px">
        {% button_icon "plus" %}
        Add an app
      </a>
    </div>

    <h2>Apps and sites</h2>

    {% inventory_table apps %}

    <br />

    <div class="right">
      <div class="dropdown" id="inventory-export">
        <a class="btn dropdown-toggle" data-toggle="dropdown" href="#inventory-export">
          <i class="icon-download-alt"></i> Export
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
          <li> <a href="{% url publisher_inventory_exporter %}?type=xls"
                  data-toggle="running"> Excel XLS </a> </li>
          <li> <a href="{% url publisher_inventory_exporter %}?type=xlsx"
                  data-toggle="running"> Excel XLSX </a> </li>
          <li> <a href="{% url publisher_inventory_exporter %}?type=ods"
                  data-toggle="running"> OpenOffice Spreadsheet </a> </li>
          <li> <a href="{% url publisher_inventory_exporter %}?type=csv"
                  data-toggle="running"> CSV </a> </li>
          <li> <a href="{% url publisher_inventory_exporter %}?type=tsv"
                  data-toggle="running"> TSV </a> </li>
          <li> <a href="{% url publisher_inventory_exporter %}?type=yaml"
                  data-toggle="running"> YAML </a> </li>
          <li> <a href="{% url publisher_inventory_exporter %}?type=json"
                  data-toggle="running"> JSON </a> </li>
        </ul>
      </div>
    </div>


  </section>

{% endblock content %}

{% block extraScripts %}

  {% include_template "app" %}
  {% include_template "adunit" %}
  {% include_template "chart" %}

  {% include_script "models/inventory" %}
  {% include_script "views/inventory" %}
  {% include_script "controllers/publisher" %}
  <script type="text/javascript">
    $(function() {
        DashboardController.initializeIndex({
            start_date: {{ start_date|js_date}},
            end_date: {{ end_date|js_date}},
            app_keys: {{ app_keys|safe }},
        });
    });
</script>
{% endblock %}
