{% extends 'publisher/base.html' %}
{% load filters %}
{% load elements %}

{% block pageTitle %}
  <h1>Dashboard</h1>
{% endblock pageTitle %}


{% block content %}

  {% ifequal account.status "step4" %}
    <div class="alert-message block-message">
      Start serving ads in your app by visiting the tabs at the top of
      the page
      <br/><br/>
      <ul>
        <li><strong>Campaigns</strong> Traffic your direct sold
        advertisements and house campaigns</li>
        <li><strong>Marketplace</strong> Tap into MoPub’s Real-Time
        Bidding platform to access more demand sources and get paid
        directly from MoPub</li>
        <li><strong>Networks</strong> Turn on ad campaigns from the
        major mobile ad networks you work with like AdMob, iAd,
        Millennial Media and others</li>
      </ul>
    </div>
  {% endifequal %}

  <section class="offset nomargin" id="dashboard-stats">
    
    <h3 class="stats-chart-title">
      Realtime Stats for {{start_date|format_date_compact}} to
      {{end_date|format_date_compact}}
    </h3>
    
    <div class="stats">      
      {% stats_breakdown stats %}     
      <div class="chart stats-chart" id="dashboard-stats-chart"></div>      
    </div>
    
    <div class="clear"></div>
    
  </section>

  <section id="dashboard-apps">
    <div class="buttonBank buttonBank-right">
      <a class="btn" href='{% url publisher_create_app %}'>
        <i class="icon-plus"></i>
        Add an app
      </a>
    </div>
    <h2>Apps and sites</h2>

    {% inventory_table apps %}


    <br />
    
    <div class="right">
      <div class="btn-group">
        <a class="btn" href="#"> <i class="icon-download-alt"></i> Export</a>
        <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
          <li> <a href="#" data-toggle="running"> XLS </a> </li>
          <li> <a href="#" data-toggle="running"> CSV </a> </li>
        </ul>
      </div>
    </div>
    
  </section>

{% endblock content %}

{% block extraScripts %}
  <script type="text/html" id="app-template">
    {% include "common/partials/app.html" %}
  </script>
  <script type="text/html" id="adunit-template">
    {% include "common/partials/adunit.html" %}
  </script>
  {% include_script 'models/inventory' %}
  {% include_script 'views/inventory' %}
  <script>
    var mopub = mopub || {};
    $(function() {
        var graphStartDate = Date.UTC({{ start_date.year }},
              {{ start_date.month|add:"-1" }}, {# js months are zero-indexed #}
              {{ start_date.day }});
        var accountStats = {{ account_stats|safe }};

        var app_keys = {{ app_keys|safe }};

        DashboardController.initializeIndex({
            start_date: graphStartDate,
            account_stats: accountStats,
            app_keys: app_keys
        });
    });
</script>
{% include_script 'controllers/publisher' %}
{% endblock %}
