{% extends 'publisher/base.html' %}
{% load filters %}
{% load elements %}

{% block messageCenter %}{% endblock messageCenter %}

{% block titleBarRight %}
<span class="titlebar-link">
  <a class="linkIcon" id="geo-performance" href="{% url publisher_geo_performance %}">
    Performance by region
    <span class="ui-icon ui-icon-triangle-1-e"></span>
  </a>
</span>
{% endblock titleBarRight %}

{% block content %}

  <div id="ajaxFailure" style="display:none">
    <a href="#" id="ajaxDismiss"><img src="../images/icons/199_16x16.png"></img></a>
    There was a problem retrieving data for some of your apps / sites.
    <a href="#" id="ajaxRetry"><img src="../images/icons/92_16x16.png"></img> <strong>Retry</strong></a>
  </div>

  {% ifequal account.status "step4" %}
    <div class="alert-message block-message">
      Start serving ads in your app by visiting the tabs at the top of the page
      <br/><br/>
      <ul>
        <li><strong>Campaigns</strong>  Traffic your direct sold advertisements and house campaigns</li>
        <li><strong>Marketplace</strong>  Tap into MoPub’s Real-Time Bidding platform to access more demand sources and get paid directly from MoPub</li>
        <li><strong>Networks</strong>  Turn on ad campaigns from the major mobile ad networks you work with like AdMob, iAd, Millennial Media and others</li>
      </ul>
    </div>
  {% endifequal %}

  <section class="offset nomargin" id="dashboard-stats">

    <h3 class="stats-chart-title">
      Realtime Stats for {{start_date|format_date_compact}} to {{end_date|format_date_compact}}
    </h3>

    <div class="stats">

      {% stats_breakdown stats %}

      <div class="chart stats-chart" id="dashboard-stats-chart"></div>

    </div>
    <div class="clear"></div>
  </section>

  <div class="clear"></div>

  <section id="dashboard-apps">
    <div class="buttonBank buttonBank-right">
      <a class="button" id="dashboard-apps-addAppButton" href='{% url publisher_create_app %}'>Add an app</a>
    </div>
    <h2>Apps and sites</h2>

    {% inventory_table apps %}

  </section>
{% endblock content %}

{% block extraScripts %}
  <script type="text/html" id="app-template">
    {% include "partials/app.html" %}
  </script>
  <script type="text/html" id="adunit-template">
    {% include "partials/adunit.html" %}
  </script>
  <script type="text/javascript" src="/js/models.js?v=3"></script>
  <script type="text/javascript" src="/js/views.js?v=3"></script>
  <script>
    var mopub = mopub || {};
    $(function() {
        var graphStartDate = Date.UTC({{start_date.year}},
              {{start_date.month|add:"-1"}},
              {{start_date.day}});
        var accountStats = {{account_stats|safe}};

        var app_keys = {{app_keys|safe}};

        DashboardController.initializeIndex({
            start_date: graphStartDate,
            account_stats: accountStats,
            app_keys: app_keys
        })
    });
</script>
<script src="/js/controllers/publisher.js?v=34"></script>
{% endblock %}
