{% extends 'base.html' %} 
{% load filters %}
      {% block letterhead %}
<script type="text/javascript">
var chart_url_imp = "{{chart_urls.imp|safe}}"
var chart_url_clk = "{{chart_urls.clk|safe}}"
var chart_url_rev = "{{chart_urls.rev|safe}}"
var chart_url_users = "{{chart_urls.users|safe}}"
var pie_chart_url_imp = "{{pie_chart_url_imp|safe}}"
var pie_chart_url_clk = "{{pie_chart_url_clk|safe}}"
function highlight_elem(elem) {
  $$('td.rollup_selected')[0].removeClassName('rollup_selected');
  elem.addClassName('rollup_selected');
}

function show_graph_clk(elem) {
  $('chart_img').src = chart_url_clk;
  if ($('pie_chart_img')) $('pie_chart_img').src = pie_chart_url_clk;
  highlight_elem(elem);
}
function show_graph_imp(elem) {
  $('chart_img').src = chart_url_imp;
  if ($('pie_chart_img')) $('pie_chart_img').src = pie_chart_url_imp;
  highlight_elem(elem);
}
function show_graph_rev(elem) {
  $('chart_img').src = chart_url_rev;
  highlight_elem(elem);
}
function show_graph_users(elem){
	$('chart_img').src = chart_url_users;
	highlight_elem(elem);
}
function activate_button(elem) {
  $$('button.btn_active')[0].removeClassName('btn_active');
  elem.addClassName('btn_active');
}
function show_today(elem) {
  $$('div.data_today').each(Element.show);
  $$('div.data_yesterday').each(Element.hide);
  activate_button(elem);
}
function show_yesterday(elem) {
  $$('div.data_today').each(Element.hide);
  $$('div.data_yesterday').each(Element.show);
  activate_button(elem);
}
</script>
        <div id="header">
          <a href="/main"><img src="/images/logo_header.png" width=60 height=16/></a>
          <span style="color: #aaa; padding: 15px 0 0 10px;">
          </span>
        </div>

        <div id="menu">
          <ul>
            <li>
              <a href="/campaigns/">campaigns</a>
            </li>
            <li class="active">
              <a href="/inventory/">inventory</a>
            </li>
            <li>
              <a href="/account/">account</a>
            </li>
          </ul>
          <div id="date">
            {% block message %}{% endblock %}
          </div>
        </div>
		
		{% if user.is_admin %}
		<div style="float:right">
			<form id="admin_user_switch" action="{% url admin_switch_user %}" method="POST">
				{# user key: <input id="admin_user_switch_email" type="text" name="user_key"/> #}
				<select name="user_key" id="admin_user_switch_select" onchange='$("admin_user_switch").submit()'>
				{{ request|all_user_dropdown }}
				</select>
			</form>
		</div>
		<script type="text/javascript">
			function getCookie(c_name)
			{
			if (document.cookie.length>0)
			  {
			  c_start=document.cookie.indexOf(c_name + "=");
			  if (c_start!=-1)
			    {
			    c_start=c_start + c_name.length+1;
			    c_end=document.cookie.indexOf(";",c_start);
			    if (c_end==-1) c_end=document.cookie.length;
			    return unescape(document.cookie.substring(c_start,c_end));
			    }
			  }
			return "";
			}
			var user_key_name = getCookie('account_impersonation');
			var options = $$('select#admin_user_switch_select option');
			var len = options.length;
			for (var i = 0; i < len; i++) {
			    if (options[i].value == user_key_name)
					options[i].selected = true;
			}
		</script>
		{% endif %}
        <div class="post_menu"></div>
      {% endblock %}

