{% extends 'publisher/base.html' %}
{% load filters %}

{% block pageTitle %}
  <h1>
    {% ifnotequal account.status "new" %}
      Add an app
    {% else %}
      Step 1: Set up your first app
    {% endifnotequal %}
  </h1>
{% endblock pageTitle %}

{% block dateButtons %}{% endblock dateButtons %}


{% block titleBarRight %}
  {% ifequal account.status "new" %}
    <!-- MixPanel Tracking -->
    <script type="text/javascript">
      mpq.push(["track", "Sign up: Set up app"]);
    </script>
    <div class="stepProgress">
      <span class="stepProgress-step stepProgress-active">Step 1: Add app</span>
      <span class="ui-icon ui-icon-arrow-1-e"></span>
      <span class="stepProgress-step">Step 2: Integrate</span>
      <span class="ui-icon ui-icon-arrow-1-e"></span>
      <span class="stepProgress-step">Step 3: Add campaigns</span>
    </div>
  {% endifequal %}
{% endblock titleBarRight %}


{% block content %}
  <section>
    <div class="content-main">
      {% ifequal account.status "new" %}
        <div class="alert-message block-message">
          {% if account.reg_complete %}
            <strong>Thanks! Your account is all set up.</strong>
            <br />
          {% endif %}

          The next step is to tell us about your apps and set up your ad units.
          Enter the details of your first app below.
          You can add more apps and ad units later.
        </div>
      {% endifequal %}

      <form enctype='multipart/form-data'
            action=""
            method="POST"
            accept-charset="utf-8"
            id="appForm"
            class="validate">
        {% if app_key %}
          <input type="hidden" name="app_key" value="{{app_key}}"/>
        {% endif %}
        <fieldset id="appForm-details" class="alt">
          <legend>
            App Details
          </legend>
          {{ app_form.as_template }}
        </fieldset>

        <fieldset id="appForm-ad" class="adForm">
          <legend>Ad Unit</legend>
          <p>
            An ad unit is a single place in your app or mobile website
            where an ad of a specific size can appear. Your app can have
            any number of ad units. A first ad unit has been created
            for you below. Feel free to modify it or ignore it for now.
          </p>
          {{ adunit_form.as_template }}
        </fieldset>
        <div class="form-submit">
          <span id="appForm-loading" class="hidden">
            <img src="/images/loading2.gif"/>
          </span>
          <span class="buttonWrap">
            <a href="#" class="button" id="appForm-submit">Continue</a>
          </span>
        </div>
      </form>
    </div>
  </section>
{% endblock content %}

{% block extraScripts %}
  {% include_script "controllers/publisher" %}
  <script type="text/javascript">
    $(function() {
      DashboardController.initializeAppCreate({
        // not needed yet
      });
    });
  </script>
{% endblock extraScripts %}
