{% extends "publisher/base.html" %}

{% load filters %}

{% block content %}
	<h3>
		<a href="{% url publisher_index %}">Apps</a> &gt; 
		<a href="{% url publisher_app_show %}?id={{app.key}}">{{app.name}}</a>
	</h3>

	<form method="post" action="">
		<table>
			<tr>
				<th>Name</th><td><input type='text' name="name" size="30" value="{{app.name}}"/></td>
			</tr>
      <tr>
        <th>Platform</th>
          <td>
            <select name="app_type">
              <option value="iphone" {% ifequal app.app_type "iphone" %}selected{% endifequal %}>iPhone</option>
              <option value="android" {% ifequal app.app_type "android" %}selected{% endifequal %}>Android</option>
            <select>
          </td>
      </tr>
			<tr>
				<th>iTunes/Android Market URL</th><td><input type='text' name="url" size="50" placeholder="http://itunes.apple.com/xyz"/ value="{{app.url|default_if_none:""}}"></td>
			</tr>
			<tr>
				<th>Description</th><td><textarea name="description" cols="50" rows="3">{{app.description|default_if_none:""}}</textarea></td>
			</tr>
		
		</table>
		<p>
      <button type="submit" class="btn primary"><span><span>Save</span></span></button>&nbsp;&nbsp;&nbsp;
		</p>
	</form>
{% endblock %}
