
{% extends "publisher/base.html" %}

{% load filters %}
{% load cc_filter %}

{% block content %}
	<h3>		
		Apps
		<div class="toolbar">
      <button onClick="location.href='{% url publisher_app_create %}'" class="btn"><span><span>+ New App</span></span></button>
    <div class="graphselect">
      <button class="btn btn_active pill-l" onClick="show_today(this);"><span><span>Today</span></span></button>
      <button class="btn pill-r" onClick="show_yesterday(this);"><span><span>Yesterday</span></span></button>
    </div>
		</div>
	</h3>
  {% if not apps %}
	<p>
		<b>Apps</b> are your individual applications.  You can create <b>Ad Units</b> are used to organize your mobile inventory. Each ad unit should be a single ad slot in your app.<br/> 
	</p> 
  {% endif %}
		
  <table class="rollups">
    <tr>
      <td class="rollup rollup_selected" onClick="show_graph_imp(this);"><b>Impressions</b><br/><div class="data_today">{{today.impression_count|withsep}}</div><div class="data_yesterday" style="display:none;">{{yesterday.impression_count|withsep}}</div></td>
      <td class="rollup" onClick="show_graph_clk(this);"><b>Clicks</b><br/><div class="data_today">{{today.click_count|withsep}} ({{today.ctr|percentage}})</div><div class="data_yesterday" style="display:none;">{{yesterday.click_count|withsep}} ({{yesterday.ctr|percentage}})</div></td>      	
	    <td class="rollup" onClick="show_graph_rev(this);"><b>Revenue (est.)</b><br/><div class="data_today">{{today.revenue|currency}}</div><div class="data_yesterday" style="display:none;">{{yesterday.revenue|currency}}</div></td>
	    <td class="rollup" onClick="show_graph_users(this);"><b>Users</b><br/><div class="data_today">{{today.unique_user_count|withsep}}</div><div class="data_yesterday" style="display:none;">{{yesterday.unique_user_count|withsep}}</div></td>
	
    </tr>
  </table> 
  <div id="map_canvas" style="margin-top:10px"></div>
<script type='text/javascript' src='http://www.google.com/jsapi'></script>
<script type='text/javascript'>
  google.load('visualization', '1', {'packages': ['geomap']});
  google.setOnLoadCallback(initMap);

  var geomap;  
  var options;
  var data_imp;
  var data_clk;
  var data_rev;
  
  function drawMap(type) {
    switch (type) {
      case 'req':
        geomap.draw(data_req, options);
        break;
      case 'imp':
        geomap.draw(data_imp, options);
        break;
      case 'clk':
        geomap.draw(data_clk, options);
        break;
      case 'rev':
        geomap.draw(data_rev, options);
        break;
    }
  }
  function initMap() {
    data_req = new google.visualization.DataTable();
    data_req.addRows({{ geo_req|length }});
    data_req.addColumn('string', 'Country');
    data_req.addColumn('number', 'Requests');
    data_req.addColumn('string', 'Title');
    {% for key, value in geo_req.iteritems %}
    data_req.setValue({{ forloop.counter0 }}, 0, '{{ key }}');
    data_req.setValue({{ forloop.counter0 }}, 1, {{ value }});
    data_req.setValue({{ forloop.counter0 }}, 2, '{{ key|print_country }}');
    {% endfor %}
    
    data_imp = new google.visualization.DataTable();
    data_imp.addRows(6);
    data_imp.addColumn('string', 'Country');
    data_imp.addColumn('number', 'Impressions');
    data_imp.setValue(0, 0, 'Germany');
    data_imp.setValue(0, 1, 200);
    data_imp.setValue(1, 0, 'United States');
    data_imp.setValue(1, 1, 10);
    data_imp.setValue(2, 0, 'Brazil');
    data_imp.setValue(2, 1, 400);
    data_imp.setValue(3, 0, 'Canada');
    data_imp.setValue(3, 1, 500);
    data_imp.setValue(4, 0, 'France');
    data_imp.setValue(4, 1, 600);
    data_imp.setValue(5, 0, 'RU');
    data_imp.setValue(5, 1, 700);

    options = {'width':'800px','colors':[0xFFD78F, 0xFFC352, 0xFFAF02, 0xFF9A01]};
    geomap = new google.visualization.GeoMap($('map_canvas'));
    drawMap('req');
  }
</script>
<table class="wide">
	<thead>
		<tr>
		<th>Country</th>
		<th class="numeric">Requests</th>
		</tr>
	</thead>
	{% for key, value in geo_req.iteritems %}
		<tr>
			<td>{{key|print_country}}</td>
			<td class="numeric">{{value|withsep}}</td>
		</tr>
	{% endfor %}
</table>

	
{% endblock %}
