{% extends 'publisher/base.html' %}
{% load filters %}
{% block navLinks %}
            <li class="active"><a href="{% url publisher_index %}">Dashboard</a></li>
            <li><a href="{% url advertiser_campaign %}">Campaigns</a></li>{% endblock navLinks %}
{% block messageCenter %}{% endblock messageCenter %}

{% block content %}{% ifequal account.status "step3" %}
          <div class="alertMessage">
            The next step is to set up your ad networks.  Visit your <a href="{% url account_index %}">Account</a> page to enable your ad networks.
          </div>
{% endifequal %}
          <section class="offset nomargin" id="dashboard-stats">
            <div class="stats">
              <div class="stats-breakdown">
                <table>
                  <tbody>
                    <tr class="active" id="stats-breakdown-requests">
                      <td class="stats-breakdown-value today"><span class="inner">{{today.request_count|withsep}}</span></td>
                      <td class="stats-breakdown-value yesterday"><span class="inner">{{yesterday.request_count|withsep}}</span></td>
                      <td class="stats-breakdown-value all"><span class="inner">{{totals.request_count|withsep}}</span></td>
                      <th class="stats-breakdown-name"><span class="inner">Requests</span></th>
                    </tr>
                    <tr id="stats-breakdown-impressions">
                      <td class="stats-breakdown-value today"><span class="inner">{{today.impression_count|withsep}}</span></td>
                      <td class="stats-breakdown-value yesterday"><span class="inner">{{yesterday.impression_count|withsep}}</span></td>
                      <td class="stats-breakdown-value all"><span class="inner">{{totals.impression_count|withsep}}</span></td>
                      <th class="stats-breakdown-name"><span class="inner">Impressions</span></th>
                    </tr>
                    <tr id="stats-breakdown-clicks">
                      <td class="stats-breakdown-value today"><span class="inner">{{today.click_count|withsep}}</span></td>
                      <td class="stats-breakdown-value yesterday"><span class="inner">{{yesterday.click_count|withsep}}</span></td>
                      <td class="stats-breakdown-value all"><span class="inner">{{totals.click_count|withsep}}</span></td>
                      <th class="stats-breakdown-name"><span class="inner">Clicks</span></th>
                    </tr>
                    <tr id="stats-breakdown-users">
                      <td class="stats-breakdown-value today"><span class="inner">{{today.unique_user_count|withsep}}</span></td>
                      <td class="stats-breakdown-value yesterday"><span class="inner">{{yesterday.unique_user_count|withsep}}</span></td>
                      <td class="stats-breakdown-value all"><span class="inner">{{totals.unique_user_count|withsep}}</span></td>
                      <th class="stats-breakdown-name"><span class="inner">Users</span></th>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="stats-breakdown-buttons">
                <span class="buttonset button-small" id="stats-breakdown-dateOptions">
                  <input type="radio" name="stats-breakdown-dateOptions-option" value="today" id="stats-breakdown-dateOptions-option-0" checked="checked"/>
                  <label for="stats-breakdown-dateOptions-option-0">Today</label>
                  <input type="radio" name="stats-breakdown-dateOptions-option" value="yesterday" id="stats-breakdown-dateOptions-option-1"/>
                  <label for="stats-breakdown-dateOptions-option-1">Yesterday</label>
                  <input type="radio" name="stats-breakdown-dateOptions-option" value="all" id="stats-breakdown-dateOptions-option-2"/>
                  <label for="stats-breakdown-dateOptions-option-2">All</label>
                </span>
              </div>
              <div class="chart chart-loading stats-chart" id="dashboard-stats-chart">
                <div class="chart-loading-text">Loading ...</div>
                <div class="chart-error-text">Could not load chart</div>
                <script type="text/javascript">
                  // chart data
                  mopub.dashboardStatsChartData = {
                    //pointStart: 1294963200000,
                    pointStart: Date.UTC({{start_date.year}},{{start_date.month|add:"-1"}},{{start_date.day}}),
                    pointInterval: 86400000,
                    'requests': [{% for a in graph_apps %}
                      { '{{a.name|safe|addslashes}}': [{% for t in a.all_stats %}{{t.request_count}}{% if not forloop.last %},{% endif %} {% endfor %}] }{% if not forloop.last %},{% endif %}{% endfor %}
                    ],
                    'impressions': [{% for a in graph_apps %}
                      { '{{a.name|safe|addslashes}}': [{% for t in a.all_stats %}{{t.impression_count}}{% if not forloop.last %},{% endif %} {% endfor %}] }{% if not forloop.last %},{% endif %}{% endfor %}
                    ],
                    'clicks': [{% for a in graph_apps %}
                      { '{{a.name|safe|addslashes}}': [{% for t in a.all_stats %}{{t.click_count}}{% if not forloop.last %},{% endif %} {% endfor %}] }{% if not forloop.last %},{% endif %}{% endfor %}
                    ],
                    'users': [{% for a in graph_apps %}
                      { '{{a.name|safe|addslashes}}': [{% for t in a.all_stats %}{{t.unique_user_count}}{% if not forloop.last %},{% endif %} {% endfor %}] }{% if not forloop.last %},{% endif %}{% endfor %}
                    ]
                  };
                </script>
              </div>
            </div>
            <div class="clear"></div>
          </section>

          <div class="clear"></div>

          <section id="dashboard-apps">
            <div class="buttonBank buttonBank-right">
              <a class="button" id="dashboard-apps-toggleAllButton" href="#">Show/hide all details</a>
              <a class="button" id="dashboard-apps-addAppButton" href="{% url publisher_app_create %}">Add an app</a>
            </div>
            <h2>Your Apps</h2>
            
            <div class="appData-columnHeaders">
              <table class="dataTable" id="dashboard-apps-columnHeaders">
                <thead>
                  <tr>
                    <th class="appData-icon"></th>
                    <th class="dataTable-name">&nbsp;</th>
                    <th class="dataTable-data numeric">Requests</th>
                    <th class="dataTable-data numeric">Impressions</th>
                    <th class="dataTable-data numeric">Clicks</th>
                    <th class="dataTable-data numeric">CTR</th>
                  </tr>
                </thead>
              </table>
            </div>
            {% for a in apps %}
            <div class="{% cycle 'appData' 'appData appData-alt' %}" id="dashboard-app-{{forloop.counter0}}">
              <table class="dataTable appData-main" id="dashboard-app-{{forloop.counter0}}-main">
                <tbody>
                  <tr>
                    <td class="appData-icon"><a href="{% url publisher_app_show app_key=a.key %}"><img src="{% if a.icon_url %}{{a.icon_url}}{% else %}/placeholders/image.gif{% endif %}" alt="Icon" width="45" height="45" /></a></td>
                    <th class="dataTable-name"><span class="inner"><a href="{% url publisher_app_show app_key=a.key %}">{{a.name}}</a> <span class="muted unbold">({% ifequal a.app_type "iphone" %}iOS{% endifequal %}{% ifequal a.app_type "android" %}Android{% endifequal %})</span></span></th>
                    <td class="dataTable-data numeric">{{a.stats.request_count|withsep}}</td>
                    <td class="dataTable-data numeric">{{a.stats.impression_count|withsep}}</td>
                    <td class="dataTable-data numeric">{{a.stats.click_count|withsep}}</td>
                    <td class="dataTable-data numeric">{{a.stats.ctr|percentage}}</td>
                  </tr>
                </tbody>
              </table>
              <div class="appData-details" id="dashboard-app-{{forloop.counter0}}-details">
                <div class="appData-details-inner show">
                  <table class="dataTable">
                    <tbody>
                      {% for au in a.adunits %}
                      <tr>
                        <th class="dataTable-name"><span class="inner"><a href="{% url publisher_adunit_show adunit_key=au.key %}">{{au.name}}</a></span></th>
                        <td class="dataTable-data numeric">{{au.stats.request_count|withsep}}</td>
                        <td class="dataTable-data numeric">{{au.stats.impression_count|withsep}}</td>
                        <td class="dataTable-data numeric">{{au.stats.click_count|withsep}}</td>
                        <td class="dataTable-data numeric">{{au.stats.ctr|percentage}}</td>
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                </div>
                <a class="button button-small appData-details-toggleButton" href="#">Hide details</a>
              </div>
            </div>
          {% endfor %}</section>{% endblock content %}
