
{% extends "publisher/base.html" %}

{% load filters %}


{% block content %}
	<h3>		
		Placements
		<div class="toolbar">
			<a href="{% url publisher_create %}">Add a placement</a>
		</div>
	</h3>
	<p>
		<b>Placements</b> are used to organize your mobile inventory. Each placement should be a single ad slot in your app.<br/>  You can create
		<b>campaigns</b> targeted to your placements on a keyword basis.
	</p> 
		
	<img src="{{chart_url}}" width=580 height=200 style="padding: 5px 0 10px 0;"/>
	<img src="{{bar_chart_url}}" width=200 height=200 style="padding: 5px 0 10px 0; float:right;"/>

	<table class="wide">
		<thead>
			<tr>
			<th>Name</th>
			<th width="75px">Format</th>
			<th width="75px">Impressions</th>
			<th width="75px">Clicks</th>
			<th width="75px">CTR</th>
			</tr>
		</thead>
		{% for s in sites %}
			<tr>
				<td><a href="{% url publisher_show %}?id={{s.key}}">{{s.name}}</a></td>
				<td class="numeric">{{s.format}}</td>
				<td class="numeric">{{s.stats.impression_count}}</td>
				<td class="numeric">{{s.stats.click_count}}</td>
				<td class="numeric">{{s.stats.ctr|percentage}}</td>
			</tr>
		{% endfor %}
	</table>
	
{% endblock %}
