{% extends "publisher/base.html" %}

{% block content %}
	<h3><a href="{% url publisher_index %}">Placements</a> &gt; Create a Placement</h3>
	<p>
		Placements are places in your mobile application that can show ads. Set up a new placement below:
	</p>
	
	<form method="post" action=".">
		<table>
			<tr>
				<th>Name</th><td><input type='text' name="name" size="30" placeholder="My App - Home Screen"/></td>
			</tr>
			<tr>
				<th>iTunes/Android Market URL</th><td><input type='text' name="url" size="50" placeholder="http://itunes.apple.com/xyz"/></td>
			</tr>
			<tr>
				<th>Description</th><td><textarea name="description" cols="50" rows="3" placeholder="Top of main page, 320x50"></textarea></td>
			</tr>
		
			<tr><td colspan="2"><h4>Ad Properties</h4></td></tr>
			<tr>
				<th>Preferred Ad Type</th><td><select name="ad_type">
						<option value="image" selected>Text and image</option>
						<option value="text">Text only</option>
					</td>
			</tr>
			<tr>
				<th>Default keywords</th><td><textarea name="keywords" cols=50 rows=5 placeholder="One per line, e.g. coffee">{{site.keywords}}</textarea></td>
			</tr>
			
			<tr><td colspan="2"><h4>Backfill Strategy</h4></td></tr>			
			<tr>
				<th>Backfill Behavior</th><td><select name="backfill">
						<option value="adsense" selected>Google AdSense</option>
						<option value="iAd"  {% ifequal site.backfill "iAd" %}selected{% endifequal %}>Apple iAd</option>
						<option value="clear"  {% ifequal site.backfill "clear" %}selected{% endifequal %}>Show background color</option>
						<option value="fail">Return an error</option>
					</td>
			</tr>
			<tr>
				<th>Threshold CPM</th><td><input type="text" name="backfill_threshold_cpm" size=5/> USD</td>
			</tr>
		</table>
		
		<p>
			<input type="submit" value="Create Placement &raquo;"/>
		</p>
	</form>
{% endblock %}
