{% extends "publisher/base.html" %}
{% block content %}
<script type="text/javascript">
function getArtwork() {
  var form = $('app_form');
  var name = form['name'];
  var script = document.createElement("script");
  script.src = 'http://ax.itunes.apple.com/WebObjects/MZStoreServices.woa/wa/wsSearch?'       
                 + 'entity=software&limit=10&callback=loadedArtwork&term='+$F(name);
  var head = document.getElementsByTagName("head")[0];
  (head || document.body).appendChild( script );
  $('results').innerHTML = "";
  $('loading_img').show();
}
var artwork_json;
function loadedArtwork(json) {
  $('loading_img').hide();
  artwork_json = json;
  var resultCount = json['resultCount'];
  for (var i=0;i<resultCount;i++) {
    var app = json['results'][i];
    
    var app_div = document.createElement("div");
    app_div.setAttribute('style','margin:10px;');
    $('results').appendChild(app_div);
    
    var img_div = document.createElement("div");
    img_div.setAttribute('style',"float:left;position:relative;");
    app_div.appendChild(img_div);
    
    var img = document.createElement("img");
    img.src = app['artworkUrl60'];
    img.setAttribute('width','40px');
    img.setAttribute('height','40px');
    img_div.appendChild(img);
    
    var span = document.createElement("span");
    span.setAttribute('style','background:url(/images/mask40.png);display:block;position:absolute;'       
                      +'left:-1px;top:0px;z-index:1;height:42px;width:41px;')
    img_div.appendChild(span);
    
    var text_div = document.createElement("div");
    text_div.setAttribute('style','margin-left:50px;margin-top:10px');
    text_div.innerHTML = '<span style="font-size:larger"><a href="#" onclick="selectArtwork('+i+');return false";>'+app['trackName']+"</a></span><br />"+app['artistName'];
    app_div.appendChild(text_div);
    
    var clear_div = document.createElement("div");
    clear_div.setAttribute('style','clear:both;');
    app_div.appendChild(clear_div);
  }
}
function selectArtwork(index) {
  $('results').innerHTML = "";
  $('icon_holder').innerHTML = "";
  var app = artwork_json['results'][index];

  var form = $('app_form');
  form['name'].setValue(app['trackName']);
  form['description'].setValue(app['description']);
  form['url'].setValue(app['trackViewUrl']);
  form['img_url'].setValue(app['artworkUrl60']);
  
  var img = document.createElement("img");
  img.src = app['artworkUrl60'];
  img.setAttribute('width','40px');
  img.setAttribute('height','40px');
  $('icon_holder').appendChild(img);
  
  var span = document.createElement("span");
  span.setAttribute('style','background:url(/images/mask40.png);display:block;position:absolute;'       
                    +'left:-1px;top:0px;z-index:1;height:42px;width:41px;')
  $('icon_holder').appendChild(span);
}
function showImageUpload() {
  $('change_icon_link').hide();
  $('upload_icon').show();
  var form = $('app_form');
  form['img_url'].setValue('');
}
</script>

	<h3><a href="{% url publisher_index %}">Apps</a> &gt; Add an App</h3>
	<p>
		Apps are your individual applications.  Each app contains one or more ad units
	</p>
  {% if f.errors %}
  <p style="color:#ff0000">Form error :(</p>
  {% endif %}
	
<script type="text/javascript">
function TogglePlatform() {
  $('iphone_text').toggle();
  $('iphone_search').toggle();
  $('android_text').toggle();
}
</script>
	<form id='app_form' method="post" action="" enctype="multipart/form-data">
		<table>
      <tr>
        <th style="width:120px;">Platform</th>
          <td>
            <select name="app_type" onChange="TogglePlatform();">
            <option value="iphone">iPhone</option>
            <option value="android">Android</option></select>
          </td>
      </tr>
      <tr>
				<th>Name</th><td><input type='text' name="name" size="30" placeholder="My App"/></td>
			</tr>
			<tr>
			  <td></td>
				<td>
          <button id='iphone_search' onClick="getArtwork();" type="button" class="btn"><span><span>Search Marketplace</span></span></button>
          &nbsp;&nbsp;&nbsp;<img id="loading_img" style="display:none;" src="/images/loading.gif"/>
          <div id="results"></div>
        </td>
			</tr>
      <tr></tr>
      <tr>
        <td></td>
<!--
379681467
http://ax.itunes.apple.com/WebObjects/MZStoreServices.woa/wa/wsLookup?id=379681467
-->
      </tr>

			<tr><td colspan="2"><h4>Details</h4></td></tr>
			<tr>
				<th><div id="iphone_text">iTunes URL</div><div id="android_text" style="display:none;">Package Name</div></th>
        <td><input id='url' type='text' name="url" size="50" placeholder="http://itunes.apple.com/xyz or com.example.myapp"/></td>
			</tr>
			<tr>
			  <th>Icon</th><td><div id="icon_holder" style="position:relative;">
			    <img height="40px" width="40px" src="/images/noicon.png"/>
    		  <span style="background:url(/images/mask40.png);display:block;position:absolute; left:-1px;top:0px;z-index:1;height:42px;width:41px;')"</span>
			  </div>
			  <a id="change_icon_link" href="#" onclick="showImageUpload();return false;">Change icon</a>
			  <input id="upload_icon" type="file" name="img_file" style="display:none;">
			  <input type="hidden" name="img_url" value="">
		    </td>
			</tr>
			<tr>
				<th>Description (optional)</th><td><textarea name="description" cols="50" rows="3" placeholder=""></textarea></td>
			</tr>
<!--
			<tr>
				<th>Icon</th>
        <td id="img_container" style="display:none;"><img src="#"/>&nbsp; &nbsp;<a href="#" onClick="$('img_chooser').show();$('img_container').hide();return false;">Change icon</a></td>
        <td id="img_chooser"><input type="file" name="icon"/></td>
			</tr>
-->
		
		</table>
		
		<p>
      <button type="submit" class="btn primary"><span><span>Add App</span></span></button>&nbsp;&nbsp;&nbsp;
		</p>
	</form>
{% endblock %}
