{% extends 'publisher/base.html' %}{% load filters %}
{% block pageTitle %}
          <div class="breadcrumb">
            <a class="linkIcon breadcrumb-back" href="{% url publisher_index %}"><span class="ui-icon ui-icon-arrowthick-1-w"></span> Back to Dashboard</a>
            <h1>{{app.name}}</h1>
          </div>
{% endblock pageTitle %}
{% block messageCenter %}{% endblock messageCenter %}
{% block titleBarRight %}
<span class="titlebar-right">
  <a class="button" id="dashboard-apps-editAppButton" href="#">Edit app settings</a>
</span>
{% endblock titleBarRight %}

{% block content %}
          <section id="dashboard-appEditForm" class="hidden">
            <div>
              <a name="appForm" class="hidden">anchor</a>
              <form action="{% url publisher_app_update_ajax app_key=app.key %}" enctype='multipart/form-data' method="POST" accept-charset="utf-8" id="appForm" class="appEditForm">
                <fieldset id="appForm-details" class="alt">
                  <div id="appForm-fragment">
{{app_form_fragment}}
                  </div>
                  <div class="form-submit"> 
                    <span class="hidden" id="appEditForm-loading"><img src="/images/loading2.gif"/></span>
                    <span class="buttonWrap"><a href="#" class="button" id="appEditForm-submit">Save</a></span> 
                    <span class="buttonWrap"><a href="#" class="button" id="appEditForm-cancel">Cancel</a></span> 
                  </div> 
                </fieldset>
              </form>
            </div>
          </section>
          
          <section class="offset nomargin" id="dashboard-stats">
            <div class="stats">
              <div class="stats-breakdown">
                <table>
                  <tbody>
                    <tr class="active" id="stats-breakdown-requests">
                      <td class="stats-breakdown-value today"><span class="inner">{{today.request_count|withsep}}</span></td>
                      <td class="stats-breakdown-value yesterday"><span class="inner">{{yesterday.request_count|withsep}}</span></td>
                      <td class="stats-breakdown-value all"><span class="inner">{{app.stats.request_count|withsep}}</span></td>
                      <th class="stats-breakdown-name"><span class="inner">Requests</span></th>
                    </tr>
                    <tr id="stats-breakdown-impressions">
                      <td class="stats-breakdown-value today"><span class="inner">{{today.impression_count|withsep}}</span></td>
                      <td class="stats-breakdown-value yesterday"><span class="inner">{{yesterday.impression_count|withsep}}</span></td>
                      <td class="stats-breakdown-value all"><span class="inner">{{app.stats.impression_count|withsep}}</span></td>
                      <th class="stats-breakdown-name"><span class="inner">Impressions</span></th>
                    </tr>
                    <tr id="stats-breakdown-clicks">
                      <td class="stats-breakdown-value today"><span class="inner">{{today.click_count|withsep}}</span></td>
                      <td class="stats-breakdown-value yesterday"><span class="inner">{{yesterday.click_count|withsep}}</span></td>
                      <td class="stats-breakdown-value all"><span class="inner">{{app.stats.click_count|withsep}}</span></td>
                      <th class="stats-breakdown-name"><span class="inner">Clicks</span></th>
                    </tr>
                    <tr id="stats-breakdown-users">
                      <td class="stats-breakdown-value today"><span class="inner">{{today.user_count|withsep}}</span></td>
                      <td class="stats-breakdown-value yesterday"><span class="inner">{{yesterday.user_count|withsep}}</span></td>
                      <td class="stats-breakdown-value all"><span class="inner">{{app.stats.user_count|withsep}}</span></td>
                      <th class="stats-breakdown-name"><span class="inner">Users</span></th>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="stats-breakdown-buttons">
                <span class="buttonset button-small" id="stats-breakdown-dateOptions">
                  <input type="radio" name="stats-breakdown-dateOptions-option" value="today" id="stats-breakdown-dateOptions-option-0" checked="checked"/>
                  <label for="stats-breakdown-dateOptions-option-0">Today</label>
                  <input type="radio" name="stats-breakdown-dateOptions-option" value="yesterday" id="stats-breakdown-dateOptions-option-1"/>
                  <label for="stats-breakdown-dateOptions-option-1">Yesterday</label>
                  <input type="radio" name="stats-breakdown-dateOptions-option" value="all" id="stats-breakdown-dateOptions-option-2"/>
                  <label for="stats-breakdown-dateOptions-option-2">All</label>
                </span>
              </div>
              <div class="chart chart-loading stats-chart" id="dashboard-stats-chart">
                <div class="chart-loading-text">Loading ...</div>
                <div class="chart-error-text">Could not load chart</div>
                <script type="text/javascript">
                  // chart data
                  mopub.dashboardStatsChartData = {
                    //pointStart: 1294963200000,
                    pointStart: Date.UTC({{start_date.year}},{{start_date.month|add:"-1"}},{{start_date.day}}),
                    pointInterval: 86400000,
                    'requests': [{% for au in app.graph_adunits %}
                      { '{{au.name|safe|addslashes}}': [{% for t in au.all_stats %}{{t.request_count}}{% if not forloop.last %},{% endif %} {% endfor %}] }{% if not forloop.last %},{% endif %}{% endfor %}
                    ],
                    'impressions': [{% for au in app.graph_adunits %}
                      { '{{au.name|safe|addslashes}}': [{% for t in au.all_stats %}{{t.impression_count}}{% if not forloop.last %},{% endif %} {% endfor %}] }{% if not forloop.last %},{% endif %}{% endfor %}
                    ],
                    'clicks': [{% for au in app.graph_adunits %}
                      { '{{au.name|safe|addslashes}}': [{% for t in au.all_stats %}{{t.click_count}}{% if not forloop.last %},{% endif %} {% endfor %}] }{% if not forloop.last %},{% endif %}{% endfor %}
                    ],
                    'users': [{% for au in app.graph_adunits %}
                      { '{{au.name|safe|addslashes}}': [{% for t in au.all_stats %}{{t.user_count}}{% if not forloop.last %},{% endif %} {% endfor %}] }{% if not forloop.last %},{% endif %}{% endfor %}
                    ]
                  };
                </script>
              </div>
            </div>
            <div class="clear"></div>
          </section>
          
          <div class="clear"></div>
          
          <section id="dashboard-apps">
            <div class="buttonBank buttonBank-right">
              <a class="button" id="dashboard-apps-addAdUnitButton" href="#">Add an ad unit</a>
            </div>
            <h2>Ad Units</h2>
            
            <section id="dashboard-adunitAddForm" class="hidden">
              <div>
                <a name="adunitForm" class="hidden">anchor</a>
                <form action="{% url publisher_adunit_update_ajax %}" method="POST" accept-charset="utf-8" id="adunitAddForm">
                  <fieldset id="appForm-details" class="alt">
                    <div id="adunitForm-fragment">
                      {{adunit_form_fragment}}
                    </div>
                    <div class="form-submit"> 
                      <span class="hidden" id="adunitForm-loading"><img src="/images/loading2.gif"/></span>
                      <span class="buttonWrap"><a href="#" class="button" id="adunitAddForm-submit">Save</a></span> 
                      <span class="buttonWrap"><a href="#" class="button" id="adunitAddForm-cancel">Cancel</a></span> 
                    </div> 
                  </fieldset>
                </form>
              </div>
            </section>
            
            <div class="appData-columnHeaders">
              <table class="dataTable" id="dashboard-apps-columnHeaders">
                <thead>
                  <tr>
                    <th class="appData-icon"></th>
                    <th class="dataTable-name">&nbsp;</th>
                    <th class="dataTable-data numeric">Requests</th>
                    <th class="dataTable-data numeric">Impressions</th>
                    <th class="dataTable-data numeric">Clicks</th>
                    <th class="dataTable-data numeric">CTR</th>
                  </tr>
                </thead>
              </table>
            </div>
            <div class="appData" id="dashboard-app-0">
              <table class="dataTable appData-main" id="dashboard-app-0-main">
                <tbody>
                  <tr>
                    <td class="appData-icon"><a href="#"><img src="{% if app.icon_url %}{{app.icon_url}}{% else %}/placeholders/image.gif{% endif %}" alt="Icon" width="45" height="45" /></a></td>
                    <th class="dataTable-name">Totals</th>
                    <td class="dataTable-data numeric">{{app.stats.request_count|withsep}}</td>
                    <td class="dataTable-data numeric">{{app.stats.impression_count|withsep}}</td>
                    <td class="dataTable-data numeric">{{app.stats.click_count|withsep}}</td>
                    <td class="dataTable-data numeric">{{app.stats.ctr|percentage}}</td>
                  </tr>
                </tbody>
              </table>
              <div class="appData-details" id="dashboard-app-0-details">
                <div class="appData-details-inner show">
                  <table class="dataTable">
                    <tbody>
                      {% for au in app.adunits %}
                      <tr>
                        <th class="dataTable-name"><span class="inner"><a href="{% url publisher_adunit_show adunit_key=au.key %}">{{au.name}}</a></span></th>
                        <td class="dataTable-data numeric">{{au.stats.request_count|withsep}}</td>
                        <td class="dataTable-data numeric">{{au.stats.impression_count|withsep}}</td>
                        <td class="dataTable-data numeric">{{au.stats.click_count|withsep}}</td>
                        <td class="dataTable-data numeric">{{au.stats.ctr|percentage}}</td>
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </section>
{% endblock content %}
