{% extends "publisher/base.html" %}

{% load filters %}

{% block content %}
	<h3>
		<a href="{% url publisher_index %}">Apps</a> &gt; 
    <a href="{% url publisher_app_show %}?id={{site.app_key.key}}">{{site.app_key.name}}</a> &gt; {{site.name}}
		<div class="toolbar">			
			<a href="{% url publisher_generate %}?id={{site.key}}">Get Code Snippet</a>
			|
			<a href="{% url publisher_update %}?id={{site.key}}">Edit {{site.name}}</a>
		</div>
	</h3>
  <table class="rollups">
    <tr>
      <td class="rollup rollup_selected" onClick="show_graph_imp(this);"><b>Impressions</b><br/>{{impression_count|withsep}}</td>
      <td class="rollup" onClick="show_graph_clk(this);"><b>Clicks</b><br/>{{click_count|withsep}} ({{ctr|percentage}})</td>      <td class="rollup" onClick="show_graph_rev(this);"><b>Revenue (est.)</b><br/>{{today.revenue|currency}}</td>
    </tr>
  </table> 

	<img id="chart_img" src="{{chart_url_imp}}" width=800 height=200 style="padding: 5px 0 10px 0;"/>
<!--	
  <h3> 
    Campaigns
  </h3> 

  <table class="wide"> 
      <thead> 
        <th>Name</th> 
        <th class="numeric">Impr.</th> 
        <th class="numeric">Clicks</th> 
        <th class="numeric">Cost</th> 
      </thead> 
		{% for c in campaigns %}
      <tr> 
        <td><a href="#">{{c.name}}</a></td> 
        <td class="numeric">0</td> 
        <td class="numeric">0 (0.0%)</td> 
        <td class="numeric">$0.00</td> 
      </tr> 
		{% endfor %}
  </table> 
  <p></p>
-->

  <h3> 
    Daily Counts
  </h3> 
	<table width="100%" class="wide">
		<thead>
			<tr>
			<th>Date</th>
			<th class="numeric">Impressions</th>
			<th class="numeric">Clicks</th>
			<th class="numeric">CTR</th>
			</tr>
		</thead>
		{% for s in stats %}
		<tr>
			<td>{{s.date|format_date}}</td>
			<td class="numeric">{{s.impression_count}}</td>
			<td class="numeric">{{s.click_count}}</td>
			<td class="numeric">{{s.ctr|percentage}}</td>
		</tr>
		{% endfor %}
		<tr>
			<td><strong>Total</strong></td>
			<td class="numeric">{{impression_count}}</td>
			<td class="numeric">{{click_count}}</td>
			<td class="numeric">{{ctr|percentage}}</td>
		</tr>
		
	</table>
	
{% endblock %}
