{% extends "publisher/base.html" %}

{% load filters %}

{% block title %}{{app.name}}{% endblock %}
{% block content %}
	<h3>
		<a href="{% url publisher_index %}">Apps</a> &gt; {{app.name}}
		<div class="toolbar">
			<a href="{% url publisher_app_update %}?id={{app.key}}">
				Edit App
			</a>
		</div>
	</h3>
  <table class="rollups">
    <tr>
      <td class="rollup rollup_selected" onClick="show_graph_imp(this);"><b>Impressions</b><br/>{{today.impression_count|withsep}}</td>
      <td class="rollup" onClick="show_graph_clk(this);"><b>Clicks</b><br/>{{today.click_count|withsep}} ({{today.ctr|percentage}})</td>      <td class="rollup" onClick="show_graph_rev(this);"><b>Revenue (est.)</b><br/>{{today.revenue|currency}}</td>
<td class="rollup" onClick="show_graph_users(this);"><b>Users</b><br/>{{today.unique_user_count}}</td>
    </tr>
  </table>
	<img id="chart_img" src="{{chart_urls.imp}}" width=580 height=200 style="padding: 5px 0 10px 0;"/>
	{% if pie_chart_url_imp %}
	<img id="pie_chart_img" src="{{pie_chart_url_imp}}" width=200 height=200 style="padding: 5px 0 10px 0; float:right;"/>
	{% endif %}

  <h3>Settings</h3> 
	<table>
		<tr><th>Name</th><td>{{app.name}}</td></tr>
		<tr><th>Platform</th><td>{{app.app_type}}</td></tr>
		<tr><th>URL</th><td>{{app.url}}</td></tr>
	</table>
	
	<h3>
		Ad Units
		<div class="toolbar">
      <button onClick="javascript:Toggle.display('add_adunit_box');return false;" class="btn"><span><span>+ New Ad Unit</span></span></button>
		</div>
	</h3>
	<form method="post" action="{% url publisher_create %}" id="add_adunit_box" style="display:none;" class="special_notice">
		<input type="hidden" name="id" value="{{app.key}}"/>
		<table>
			<tr>
				<th>Name</th><td><input type='text' name="name" size="30" placeholder="My Ad Unit"/></td>
			</tr>
			<tr><th>Description</th>
				<td><textarea rows="4" cols="40" name="description" placeholder="Top of main page, 320x50"></textarea></td></tr>
			<tr><td colspan="2"><h4>Ad Properties</h4></td></tr>
				<th>Preferred Ad Type</th><td><select name='ad_type'><option value="image">Text and image</option><option value="text">Text only</option></select></td>
			<tr><th>Default keywords</th>
				<td><textarea rows="4" cols="40" name="keywords" placeholder="One per line, e.g. coffee"></textarea></td></tr>
			

			<tr><td></td><td><input type='submit' value="Add Ad Unit &raquo;"/></td></tr>
		</table>
	</form>
	
	<table class="wide">
		<form method="post" action="{% url publisher_delete %}">
			{% if app.sites %}
				<thead>
					<th></th>
					<th>Name</th>
					<th class="numeric">Max Bid</th>
					<th class="numeric">Impr.</th>
					<th class="numeric">Clicks</th>
					<th class="numeric">Cost</th>
				</thead>
			  {% for s in app.sites %}
				<tr>
					<td><input type="checkbox" name="id" value="{{s.key}}"/></td>
					<td><a href="{% url publisher_show %}?id={{ s.key }} %}">{{s.name}}</a><br><span style="color:#888888"> &nbsp; ID: {{s.key}}</span></td>
					<td class="numeric">{{s.bid|currency}}</td>
					<td class="numeric">{{s.stats.impression_count}}</td>
					<td class="numeric">{{s.stats.click_count}} ({{s.stats.ctr|percentage}})</td>
					<td class="numeric">{{s.stats.revenue|currency}}</td>
				</tr>
			  {% endfor %}
				<tr>
					<td colspan=8>
						<p></p><input type='submit' name='delete' value='Hide Ad Units'/>
					</td>
				</tr>
			{% else %}
				<tr><td colspan=10>An <b>Ad Unit</b> is a single place in your app that contains an ad.  This might be a banner that shows on a search results page or an interstitial that shows after a task is complete.  Create an ad unit then target a set of campaigns to compete for placement in the ad unit.</td></tr>
			{% endif %}
		</form>
	</table>
	
	
{% endblock %}
