<tr class="<%= type %> <% if(selected) { %> selected <% } %> <% if(hidden) { %> hidden <% } %>" id="<%= id %>">
    <td class="name"><span><%= name %><span></td>
    <% _.each(columns, function (column) { %>
        <td class="<%= column %> stat
                   <% if(!_.include(default_columns, column) && column !== order) { %> hidden <% } %>">
            <span><%= stats[column] %></span>
        </td>
        <% if(typeof(deltas) !== 'undefined' && column === order) { %>
            <td class="<%= column %> delta
                       <%= deltas[column].class %>">
                <span><%= deltas[column].value %></span>
            </td>
        <% } %>
    <% }); %>
</tr>
