<tr class="<%= type %>" id="<%= id %>">
    <td></td>
    <td class="checkbox"><input <% if(checked) { %> checked="checked" <% } %> type="checkbox" /></td>
    <td class="name"><%= name %></td>
    <% _.each(columns, function(stat) { %>
        <td class="<%= stat %>" <% if(typeof(stats_delta) === 'undefined') { %> colspan="2" <% } %>><%= stats[stat] %></td>
        <% if(typeof(stats_delta) !== 'undefined') { %>
            <td class="<%= stat %>_delta <%= stats_delta_class[stat] %>"><%= stats_delta[stat] %></td>
        <% } %>
    <% }); %>
</tr>
