{% extends "html_data.html" %}

{% block head %}
{{ block.super }}
<script type="text/javascript">
  window.innerWidth = 320;
  window.innerHeight = 50;
</script>
{% endblock head %}

{% block body %}
<script type="text/javascript">
var admob_vars = {
 pubid: '{{site_id}}', // publisher id
 bgcolor: '{{bgcolor|default:"000000"}}', // background color (hex)
 text: '{{textcolor|default:"FFFFFF"}}', // font-color (hex)
 ama: false, // set to true and retain comma for the AdMob Adaptive Ad Unit, a special ad type designed for PC sites accessed from the iPhone.  More info: http://developer.admob.com/wiki/IPhone#Web_Integration
 test: {{test_mode|default:'false'}}, // test mode, set to false to receive live ads
 manual_mode: true // set to manual mode
};
</script>
<script type="text/javascript" src="http://mmv.admob.com/static/iphone/iadmob.js"></script>  

<!-- DIV For admob ad -->
<div id="admob_ad">
</div>

<!-- Script to determine if admob loaded -->
<script>
    var ad = _admob.fetchAd(document.getElementById('admob_ad'));                                                                         
    var POLLING_FREQ = 500;
    var MAX_POLL = 5000;
    var polling_timeout = 0;                                                                                                              
    var polling_func = function() {                                                                                                       
     if(ad.adEl.height == 48) {                                                                                                           
       // we have an ad                                                                                                                   
       console.log('received ad');

       mopubFinishLoad(); // notify client
       trackImpressionHelper(); // fire pixels
     } 
     else if(polling_timeout < MAX_POLL) {                                                                                                         
       console.log('repoll');                                                                                                             
       polling_timeout += POLLING_FREQ;                                                                                                           
       window.setTimeout(polling_func, POLLING_FREQ);                                                                                             
     }                                                                                                                                    
     else {                                                                                                                               
       console.log('no ad'); 
       ad.adEl.style.display = 'none';                                                                                                    
       window.location = "mopub://failLoad";
     }                                                                                                                                    
    };                                                                                                                                    
    window.setTimeout(polling_func, POLLING_FREQ);
</script>
{% endblock body %}
