{% extends 'common/base.html' %}

{% block head %}
  {{ block.super }}
  {% if version >= 2 %}
  <script type="text/javascript">
    function mopubFinishLoad(){
      {% if version >= 6 and os == 'android' and is_fullscreen %}
        {% comment %}
          Android SDKs with v < 6 have problems with displaying interstitials on Ice Cream Sandwich
          devices due to setting window.location during the onload event. In v == 6, we introduced a
          JS-Java bridge object (mopubUriInterface) which bypasses setting window.location. Calling
          fireFinishLoad() on the bridge object triggers the same client behavior as navigating to
          "mopub://finishLoad". The return value of fireFinishLoad() is always true.
        {% endcomment %}
        if (typeof mopubUriInterface !== 'undefined' && mopubUriInterface.fireFinishLoad()) return;
      {% endif %}window.location = 'mopub://finishLoad'
    }
  </script>
  {% endif %}

{% include "track_impression_helper.html" %}

  <script type="text/javascript">
    function webviewDidClose(){
      if(typeof webviewDidCloseHelper == 'function') {
         webviewDidCloseHelper();
      }
    }
    function webviewDidAppear(){
        // inserts impression tracking
        // when the interstitial is presented on screen
        {% if is_fullscreen and not os == 'android' %}{# Our Android SDKs with v <= 4 expect that the impression pixel will be dropped immediately when the page loads. If the pixel is instead dropped upon webviewDidAppear, these SDKs will fail to track any impressions! #}
        if(typeof trackImpressionHelper == 'function') {
          trackImpressionHelper();
        }
        {% endif %}
        // calls a user defined function if it exists
        // useful for starting animations, videos, etc
        // this would exist as part of the html for the
        // "html" creative
        if(typeof webviewDidAppearHelper == 'function') {
          webviewDidAppearHelper();
        }
    }
    window.addEventListener("load", function() {
      var links = document.getElementsByTagName('a');
      for(var i=0; i < links.length; i++) {
        links[i].setAttribute('target','_top');
      }
    }, false);
  </script>
{% endblock head %}

{% block body %}
  <div class="{% if use_center_style %}center{% endif %}">
  {{html_data|safe}}
  </div>
  <script type="text/javascript">
    // just call mopubFinishLoad upon window's load
    if (typeof htmlWillCallFinishLoad == "undefined" || !htmlWillCallFinishLoad) {
      if(typeof mopubFinishLoad == 'function') {
        window.onload = mopubFinishLoad;
      }
    }

    {% if not is_fullscreen or os == 'android' or os == 'mweb' %}{# Our Android SDKs with v <= 4 expect that the impression pixel will be dropped immediately when the page loads. If the pixel is instead dropped upon webviewDidAppear, these SDKs will fail to track any impressions! #}
      if(typeof trackImpressionHelper == 'function') {
        trackImpressionHelper();
      }
    {% endif %}

  </script>
{% endblock %}
