{% extends "html_data.html" %}

  {% block body %}
    <style>
    body {
      top-margin:0;
      margin:0;
      width:320px;
      padding:0;
      font-size:12px;
      font-family:Arial,sans-serif;
      background-color:#{{creative.color}};
    }
    </style>
    
    <a href="{{creative.url}}">
      <div{% if creative.gradient %}
            id='highlight' style="position:relative;height:50px;background:-webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,0.35)), to(rgba(255,255,255,0.06))); -webkit-background-origin: padding-box; -webkit-background-clip: content-box;"
           {% endif %}>
        <div style="margin:5px;width:40px;height:40px;float:left"><img id="thumb" src="{{image_url}}" style="-webkit-border-radius:6px;-moz-border-radius:6px" width=40 height=40/></div>
        <div style="float:left;width:230">
          <div style="color:{{creative.font_color}};font-weight:bold;margin:0px 0 0 5px;padding-top:8;">{{creative.line1|default_if_none:""}}</div>
          <div style="color:{{creative.font_color}};margin-top:6px;margin:5px 0 0 5px;">{{creative.line2|default_if_none:""}}</div>
        </div>
  {% if creative.action_icon != 'none' %}
        <div style="padding-top:5px;position:absolute;top:0;right:0;">
          <img src="/images/{{creative.action_icon}}.png" width=40 height=40/>
        </div>
  {% endif %}
      </div>
    </a>
  {{block.super}}
  {% endblock body %}