<script type="text/javascript">
  function trackImpressionHelper(){
    var urls = new Array();
    var i = 0;
    {% if use_impression_pixel %}
      urls[i++]="{{impression_url|safe}}";
    {% endif %}
  
    {% if creative.tracking_url %}
    urls[i++]="{{creative.tracking_url|safe}}&rand={{random_val}}"
    {% endif %}
    
    var hiddenSpan = document.createElement('span')
    hiddenSpan.style.display = 'none';

    var i=0;
    for (var i=0;i<urls.length;i++)
    {
      var img = document.createElement('img')
      img.src = urls[i];
      hiddenSpan.appendChild(img);
    }    

    var body = document.getElementsByTagName('body')[0] ;
    body.appendChild(hiddenSpan);
  }
</script>
