<table class="dataTable campaignData-main">
    <thead>
        <tr>
            <th class="campaignData-icon"></th>
            <th class="dataTable-name"><%= title %></th>
            <% if(type == 'gtee') { %>
                <th class="dataTable-data numeric">Revenue</th>
            <% } %>
            <% if(type == 'gtee' || type == 'promo' || type == 'backfill_promo') { %>
                <th class="dataTable-data status numeric">Status</th>
            <% } %>
            <th class="dataTable-data numeric"><a id="campaign-ecpm-helpLink" class="whatsthis" href="#"><div class="whatsthis-icon"></div></a> eCPM</th>
            <% if(type == 'network') { %>
                <th class="dataTable-data numeric">Attempts</th>
            <% } %>
            <% if(type == 'gtee') { %>
                <th class="dataTable-data numeric">Goal</th>
            <% } %>
            <th class="dataTable-data numeric">Impressions</th>
            <% if(type == 'network') { %>
                <th class="dataTable-data numeric">Fill Rate</th>
            <% } %>
            <th class="dataTable-data numeric">Clicks</th>
            <% if(type == 'network') { %>
                <th class="dataTable-data numeric">CTR</th>
            <% }  %>
            <% if(type == 'gtee' || type == 'promo' || type == 'backfill_promo') { %>
                <th class="dataTable-data numeric">Conv</th>
            <% } %>
        </tr>
    </thead>
    <tbody>
        <% adgroups.each(function(adgroup) { %>
            <tr class="campaignData">
                <td class="campaignData-icon">
                    <input type="checkbox" name="id" value="<%= adgroup.id %>"/>
                    <% if(adgroup.get('status') == "Completed") %>
                        <img src="/images/completed.png" height="9" width="9" />
                    <% else if(adgroup.get('active')) %>
                        <img src="/images/active.gif" height="9" width="9" />
                    <% else %>
                        <img src="/images/paused.gif" height="9" width="9" />
                    <% %>
                </td>
                <td class="dataTable-name">
                    <a href="<%= adgroup.get('details_url') %>"><%= adgroup.get('name') %></a><br />
                    <span class="muted"><%
                        if(type == 'network')
                            print(adgroup.get('network_type'));
                        else if(type == 'gtee' || type == 'promo' || type == 'backfill_promo') {
                            var start_date = adgroup.get('start_date');
                            var end_date = adgroup.get('end_date');
                            if(start_date != null) {
                                if(end_date != null)
                                    print(start_date + ' - ' + end_date + '.');
                                else
                                    print('Starts ' + start_date + '.');
                            }
                            else {
                                if(end_date != null)
                                    print('Ends ' + end_date + '.');
                                else
                                    print('All dates.');
                            }
                            if(type == 'gtee') {
                                var budget_type = adgroup.get('budget_type');
                                var budget = adgroup.get('budget');
                                if(budget_type == 'daily') {
                                    if(budget)
                                        print(' $' + mopub.Utils.formatNumberWithCommas(budget.toFixed(2)) + ' daily budget.');
                                    else
                                        print(' Unlimited budget.');
                                }
                                else if(budget_type == 'full_campaign') {
                                    print(' ' + mopub.Utils.formatNumberWithCommas(budget) + ' campaign budget.');
                                }
                            }
                        }
                    %></span>
                </td>
                <% if(type == 'gtee') { %>
                    <td class="dataTable-data numeric"><%= adgroup.get_formatted_stat('rev') %></td>
                <% } %>
                <% if(type == 'gtee' || type == 'promo' || type == 'backfill_promo') { %>
                    <td class="dataTable-data numeric">
                        <%= adgroup.get_formatted_stat('status') %><%
                            if(adgroup.get('status') == "Running") {
                                if (adgroup.get('pace_type')) {}
                                    if(adgroup.get('pace_type') == "delivery") { %>
                                        <div class="delivery">
                                            <a href="#" id="campaign-delivery-helpLink" class="whatsthis">
                                                <div class="whatsthis-icon"></div>
                                            </a>
                                            Delivery: <%= adgroup.get_formatted_stat('pace') %>
                                        </div>
                                    <% }
                                    else if(adgroup.get('pace_type')) { %>
                                        <div class="<%= adgroup.get('pace_type') %>">
                                            <a href="#" id="campaign-pacing-helpLink" class="whatsthis">
                                                <div class="whatsthis-icon"></div>
                                            </a>
                                            Pace: <%= adgroup.get_formatted_stat('pace') %>
                                        </div>
                                    <% }
                            }
                        %>
                    </td>
                <% } %>
                <td class="dataTable-data numeric<% if(adgroup.get('bid_strategy') == 'cpc') %> dataTable-campaign-ecpm<% %>">
                    <%= adgroup.get_formatted_stat('cpm') %>
                </td>
                <% if(type == 'network') { %>
                    <td class="dataTable-data numeric"><%= adgroup.get_formatted_stat('req') %></td>
                <% } %>
                <% if(type == 'gtee') { %>
                    <td class="dataTable-data numeric dataTable-goals"><%
                        if(adgroup.get('goal')) {
                            if(adgroup.get('bid_strategy') == 'cpm') { %>
                                <%= adgroup.get_formatted_stat('goal') %>
                                <div class="muted">Impressions</div>
                            <% }
                            else if(adgroup.get('bid_strategy') == 'cpc') { %>
                                $<%= adgroup.get_formatted_stat('goal') %>
                                <div class="muted">USD</div>
                            <% }
                        }
                    %></td>
                <% } %>
                <td class="dataTable-data numeric"><%= adgroup.get_formatted_stat('imp') %></td>
                <% if(type == 'network') { %>
                    <td class="dataTable-data numeric"><%= adgroup.get_formatted_stat('fill_rate') %></td>
                <% } %>
                <td class="dataTable-data numeric">
                    <%= adgroup.get_formatted_stat('clk') %>
                    <% if(type == 'gtee' || type == 'promo' || type == 'backfill_promo') %>
                        <div class="muted"><%= adgroup.get_formatted_stat('ctr') %></div>
                </td>
                <% if(type == 'network') { %>
                    <td class="dataTable-data numeric"><%= adgroup.get_formatted_stat('ctr') %></td>
                <% }  %>
                <% if(type == 'gtee' || type == 'promo' || type == 'backfill_promo') { %>
                    <td class="dataTable-data numeric">
                        <%= adgroup.get_formatted_stat('conv') %>
                        <div class="muted"><%= adgroup.get_formatted_stat('conv_rate') %></div>
                    </td>
                <% } %>
            </tr>
        <% }); %>
    </tbody>
</table>
