<td class="campaignData-icon">
    <input type="checkbox" name="id" value="<%= id %>"/>
    <% if(deleted) %>
        <img src="/images/deleted.gif" height=9 width=9 />
    <% else { %>
        <% if(active) %>
            <img src="/images/active.gif" height=9 width=9 />
        <% else %>
            <img src="/images/paused.gif" height=9 width=9 />
        <% %>
    <% } %>
</td>\
<td class="dataTable-name">
    <a href="<%= details_url %>"><%= name %></a><br/>
    <span class="muted"><%= network_type %></span>
</td>
<td {# style="text-align:right;" #} class="dataTable-data numeric dataTable-ecpm ecpm">
    <% if(typeof cpm === "undefined") print("--"); else print(cpm); %>
</td>
<td {# style="text-align:right;" #} class="dataTable-data numeric network-req req">
    <% if(typeof request_count === "undefined") print("--"); else print(request_count); %>
</td>
<td {# style="text-align:right;" #} class="dataTable-data numeric network-imp imp">
    <% if(typeof impression_count === "undefined") print("--"); else print(impression_count); %>
</td>
<td {# style="text-align:right;" #} class="dataTable-data numeric network-fill fill">
    <% if(typeof fill_rate === "undefined") print("--"); else print(fill_rate); %>
</td>
<td {# style="text-align:right;" #} class="dataTable-data numeric network-clk clk">
    <% if(typeof click_count === "undefined") print("--"); else print(click_count); %>
</td>
<td {# style="text-align:right;" #} class="dataTable-data numeric network-ctr ctr">
    <% if(typeof ctr === "undefined") print("--"); else print(ctr); %>
</td>