<tr class="adunit-row for-app-<%= app_id %>" id="adunit-<%= id %>">
  <td class="name" >
    <%= name  %>
  </td>
  <td class="revenue" style="text-align: right;">
    <%= revenue  %>
  </td>
  <td class="ecpm" style="text-align: right;">
    <%= ecpm %>
  </td>
  <td class="impressions" style="text-align: right;">
    <%= impressions %>
  </td>
  <td class="clicks" style="text-align: right;">
    <%= clicks %>
  </td>
  <td class="ctr" style="text-align: right;">
    <%= ctr %>
  </td>
  <td class="price_floor">
    <input id="<%= id %>" class="price_floor_change" type="text" value="<%= price_floor %>"/>
    <a href="#" class="save btn"> Save </a>
  </td>
</tr>
