<tr class="app-row" id="app-<%= id %>">
  <td class="name clearfix">
    <img src="/placeholders/image.gif" alt="Icon" width="45" height="45" class="app-icon"/>
    <div class="app-detail">
      <a href="<%= url %>"><%= name  %></a>
      <span class="app_type"> <%= app_type %> </span>
    </div>
  </td>
  <td class="revenue">
    <%= revenue  %>
  </td>
  <td class="ecpm">
    <%= ecpm %>
  </td>
  <td class="attempts">
    <%= attempts %>
  </td>
  <td class="impressions">
    <%= impressions %>
  </td>
  <td class="fill_rate">
    <%= fill_rate %>
  </td>
  <td class="clicks">
    <%= clicks %>
  </td>
  <td class="ctr">
    <%= ctr %>
  </td>
  <td class="price_floor">
    <%= price_floor %>
  </td>
</tr>
