{% load filters %}

<div class="stats-breakdown">
  <table>
    <tbody>
      {% if stats.revenue %}
        <tr class="active" id="stats-breakdown-revenue">
          <td class="stats-breakdown-value today">
            <span class="inner">{{stats.revenue.today|currency}}</span>
          </td>
          <td class="stats-breakdown-value yesterday">
            <span class="inner">{{stats.revenue.yesterday|currency}}</span>
          </td>
          <td class="stats-breakdown-value all">
          <span class="inner">{{stats.revenue.total|currency}}</span>
          </td>
          <th class="stats-breakdown-name">
            <span class="inner">Revenue</span>
          </th>
        </tr>
      {% endif %}

      {% if stats.requests %}
        <tr class="active" id="stats-breakdown-requests">
          <td class="stats-breakdown-value today">
            <span class="inner">{{stats.requests.today|withsep}}</span>
          </td>
          <td class="stats-breakdown-value yesterday">
            <span class="inner">{{stats.requests.yesterday|withsep}}</span>
          </td>
          <td class="stats-breakdown-value all">
          <span class="inner">{{stats.requests.total|withsep}}</span>
          </td>
          <th class="stats-breakdown-name">
            <span class="inner">Requests</span>
          </th>
        </tr>
      {% endif %}

      {% if stats.impressions %}
        <tr id="stats-breakdown-impressions">
          <td class="stats-breakdown-value today">
            <span class="inner">{{stats.impressions.today|withsep}}</span>
          </td>
          <td class="stats-breakdown-value yesterday">
            <span class="inner">{{stats.impressions.yesterday|withsep}}</span>
          </td>
          <td class="stats-breakdown-value all">
          <span class="inner">{{stats.impressions.total|withsep}}</span>
          </td>
          <th class="stats-breakdown-name">
            <span class="inner">Impressions</span>
          </th>
        </tr>
      {% endif %}

      {% if stats.clicks %}
        <tr id="stats-breakdown-clicks">
          <td class="stats-breakdown-value today">
            <span class="inner">
              {% if stats.ctr.today >= 0 %}
                <span class="muted unbold">({{stats.ctr.today|percentage}})</span>
              {% endif %}
              {{stats.clicks.today|withsep}}
            </span>
          </td>
          <td class="stats-breakdown-value yesterday">
            <span class="inner">
              {% if stats.ctr.yesterday  >= 0 %}
                <span class="muted unbold">({{stats.ctr.yesterday|percentage}})</span>
              {% endif %}
              {{stats.clicks.yesterday|withsep}}
            </span>
          </td>
          <td class="stats-breakdown-value all">
          <span class="inner">
            {% if stats.ctr.total >= 0 %}
              <span class="muted unbold">({{stats.ctr.total|percentage}})</span>
            {% endif %}
            {{stats.clicks.total|withsep}}
          </span>
          </td>
          <th class="stats-breakdown-name">
            <span class="inner">Clicks</span>
          </th>
        </tr>
      {% endif %}

      {% if stats.ecpm %}
        <tr id="stats-breakdown-ecpm">
          <td class="stats-breakdown-value today">
            <span class="inner">{{stats.ecpm.today|currency}}</span>
          </td>
          <td class="stats-breakdown-value yesterday">
            <span class="inner">{{stats.ecpm.yesterday|currency}}</span>
          </td>
          <td class="stats-breakdown-value all">
          <span class="inner">{{stats.ecpm.total|currency}}</span>
          </td>
          <th class="stats-breakdown-name">
            <span class="inner">eCPM</span>
          </th>
        </tr>
      {% endif %}

        {% comment %}
      {% if stats.ctr %}
        <tr id="stats-breakdown-ctr">
          <td class="stats-breakdown-value today">
            <span class="inner">{{stats.ctr.today|percentage}}</span>
          </td>
          <td class="stats-breakdown-value yesterday">
            <span class="inner">{{stats.ctr.yesterday|percentage}}</span>
          </td>
          <td class="stats-breakdown-value all">
          <span class="inner">{{stats.ctr.total|percentage}}</span>
          </td>
          <th class="stats-breakdown-name">
            <span class="inner">CTR</span>
          </th>
        </tr>
      {% endif %}
      {% endcomment %}

      {% if stats.users %}
        <tr id="stats-breakdown-users">
          <td class="stats-breakdown-value today">
            <span class="inner">{{stats.users.today|withsep}}</span>
          </td>
          <td class="stats-breakdown-value yesterday">
            <span class="inner">{{stats.users.yesterday|withsep}}</span>
          </td>
          <td class="stats-breakdown-value all">
          <span class="inner">{{stats.users.total|withsep}}</span>
          </td>
          <th class="stats-breakdown-name">
            <span class="inner">Users</span>
          </th>
        </tr>
      {% endif %}

    </tbody>
  </table>
</div>

<div class="stats-breakdown-buttons">
  <span class="buttonset button-small" id="stats-breakdown-dateOptions">
    <input type="radio" name="stats-breakdown-dateOptions-option" value="today" id="stats-breakdown-dateOptions-option-0" checked="checked"/>
    <label for="stats-breakdown-dateOptions-option-0">
      Today
    </label>
    <input type="radio" name="stats-breakdown-dateOptions-option" value="yesterday" id="stats-breakdown-dateOptions-option-1"/>
    <label for="stats-breakdown-dateOptions-option-1">
      Yesterday
    </label>
    <input type="radio" name="stats-breakdown-dateOptions-option" value="all" id="stats-breakdown-dateOptions-option-2"/>
    <label for="stats-breakdown-dateOptions-option-2">
      All
    </label>
  </span>
</div>
