{% extends 'base2.html' %}
{% load filters %}

{% block messageCenter %}{% endblock messageCenter %}

{% block content %}
          <div class="separated">
            <section class="offset nomargin" id="dashboard-stats">
              <div class="stats">
                <table class="stats-breakdown">
                  <tbody>
                    <tr class="active" id="stats-breakdown-revenue">
                      <td class="stats-breakdown-value"><span class="inner">$123</span></td>
                      <th class="stats-breakdown-name"><span class="inner">Revenue (est.)</span></th>
                    </tr>
                    <tr id="stats-breakdown-requests">
                      <td class="stats-breakdown-value"><span class="inner">4,567</span></td>
                      <th class="stats-breakdown-name"><span class="inner">Requests</span></th>
                    </tr>
                    <tr id="stats-breakdown-impressions">
                      <td class="stats-breakdown-value"><span class="inner">3,108</span></td>
                      <th class="stats-breakdown-name"><span class="inner">Impressions</span></th>
                    </tr>
                    <tr id="stats-breakdown-clicks">
                      <td class="stats-breakdown-value"><span class="inner">298</span></td>
                      <th class="stats-breakdown-name"><span class="inner">Clicks (0.1%)</span></th>
                    </tr>
                    <tr id="stats-breakdown-users">
                      <td class="stats-breakdown-value"><span class="inner">482</span></td>
                      <th class="stats-breakdown-name"><span class="inner">Users</span></th>
                    </tr>
                  </tbody>
                </table>
                <div class="chart chart-loading stats-chart" id="dashboard-stats-chart">
                  <div class="chart-loading-text">Loading ...</div>
                  <div class="chart-error-text">Could not load chart</div>
                  <script type="text/javascript">
                    // chart data
                    mopub.dashboardStatsChartData = {
                      pointStart: 1294963200000,
                      pointInterval: 86400000,
                      'revenue': [
                        { 'SimpleAds': [10, 11, 20, 29, 32, 44, 49, 59, 72, 86, 105, 120, 139, 147] },
                        { 'SimpleAds Android': [1, 6, 7, 10, 11, 13, 17, 22, 23, 28, 31, 33, 35, 38] },
                        { 'Paranoid Android': [2, 3, 6, 10, 12, 17, 21, 22, 24, 25, 27, 32, 37, 41] },
                        { 'Others': [0, 0, 0, 3, 4, 4, 4, 5, 5, 7, 9, 10, 10, 12] }
                      ],
                      'requests': [
                        { 'SimpleAds': [10, 20, 32, 49, 65, 72, 91, 105, 122, 133, 143, 155, 161, 178] },
                        { 'SimpleAds Android': [1, 6, 10, 12, 17, 18, 21, 24, 25, 27, 31, 36, 38, 41] },
                        { 'Paranoid Android': [2, 5, 7, 8, 11, 15, 18, 23, 28, 31, 33, 37, 42, 44] },
                        { 'Others': [0, 1, 3, 3, 6, 6, 7, 9, 10, 10, 12, 15, 17, 17] }
                      ],
                      'impressions': [
                        { 'SimpleAds': [10, 16, 32, 48, 60, 64, 84, 103, 113, 129, 144, 145, 164, 171] },
                        { 'SimpleAds Android': [1, 4, 8, 11, 14, 17, 19, 23, 28, 29, 31, 33, 36, 41] },
                        { 'Paranoid Android': [2, 4, 9, 13, 14, 19, 22, 25, 30, 34, 39, 41, 46, 50] },
                        { 'Others': [0, 1, 2, 2, 3, 5, 5, 6, 8, 9, 11, 11, 13, 13] }
                      ],
                      'clicks': [
                        { 'SimpleAds': [10, 15, 33, 47, 59, 77, 92, 106, 108, 121, 128, 142, 146, 150] },
                        { 'SimpleAds Android': [1, 5, 9, 11, 12, 16, 20, 24, 27, 29, 30, 34, 35, 37] },
                        { 'Paranoid Android': [2, 3, 4, 7, 11, 13, 18, 21, 24, 25, 27, 30, 35, 40] },
                        { 'Others': [0, 1, 4, 4, 4, 6, 7, 9, 9, 11, 12, 12, 12, 13] }
                      ],
                      'users': [
                        { 'SimpleAds': [10, 27, 40, 56, 72, 73, 75, 85, 102, 116, 122, 135, 137, 139] },
                        { 'SimpleAds Android': [1, 2, 4, 5, 9, 13, 15, 17, 21, 24, 27, 30, 32, 33] },
                        { 'Paranoid Android': [2, 5, 6, 7, 11, 14, 16, 17, 21, 23, 24, 27, 29, 32] },
                        { 'Others': [0, 3, 4, 5, 7, 10, 13, 16, 17, 18, 19, 21, 22, 24] }
                      ]
                    };
                  </script>
                </div>
              </div>
              <div class="clear"></div>
            </section>
          </div>

          <section id="dashboard-apps">
            <div class="buttonBank buttonBank-right">
              <a class="button" id="dashboard-apps-toggleAllButton" href="#">Show/hide all details</a>
              <a class="button" id="dashboard-apps-addAppButton" href="create.html">Add an app</a>
            </div>
            <h2>Your Apps</h2>
            
            <div class="appData-columnHeaders">
              <table class="dataTable" id="dashboard-apps-columnHeaders">
                <thead>
                  <tr>
                    <th class="appData-icon"></th>
                    <th class="dataTable-name"></th>
                    <th class="dataTable-data">Requests</th>
                    <th class="dataTable-data">Impressions</th>
                    <th class="dataTable-data">Clicks</th>
                    <th class="dataTable-data">CTR</th>
                  </tr>
                </thead>
              </table>
            </div>
            
            {% for a in apps %}
            <div class="appData" id="dashboard-app-0">
              <table class="dataTable appData-main" id="dashboard-app-0-main">
                <tbody>
                  <tr>
                    <td class="appData-icon"><a href="app.html"><img src="{% if a.icon_url %}{{a.icon_url}}{% else %}/placeholders/image.gif{% endif %}" alt="Icon" width="45" height="45" /></a></td>
                    <th class="dataTable-name"><a href="app.html">{{a.name}}</a> <span class="muted unbold">(iOS)</span></th>
                    <td class="dataTable-data">{{a.stats.request_count}}</td>
                    <td class="dataTable-data">{{a.stats.impression_count}}</td>
                    <td class="dataTable-data">{{a.stats.click_count}}</td>
                    <td class="dataTable-data">{{a.stats.ctr|percentage}}</td>
                  </tr>
                </tbody>
              </table>
              <div class="appData-details" id="dashboard-app-0-details">
                <div class="appData-details-inner show">
                  <table class="dataTable">
                    <tbody>
                      {% for au in a.adunits %}
                      <tr>
                        <th class="dataTable-name"><a href="ad.html">{{au.name}}</a></th>
                        <td class="dataTable-data">{{au.stats.request_count}}</td>
                        <td class="dataTable-data">{{au.stats.impression_count}}</td>
                        <td class="dataTable-data">{{au.stats.click_count}}</td>
                        <td class="dataTable-data">{{au.stats.ctr|percentage}}</td>
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                </div>
                <a class="button smallButton appData-details-toggleButton" href="#">Hide details</a>
              </div>
            </div>
          {% endfor %}
            
          </section>
{% endblock content %}
