{% extends 'publisher/base.html' %}{% load filters %}
{% block pageTitle %}
          <div class="breadcrumb">
            <a class="linkIcon breadcrumb-back" href="{% url publisher_index %}"><span class="ui-icon ui-icon-arrowthick-1-w"></span> Back to Dashboard</a>
            <h1>{{app.name}}</h1>
          </div>{% endblock pageTitle %}
{% block messageCenter %}{% endblock messageCenter %}
{% block titleBarRight %}
            <span class="titlebar-right">
              <a class="button" id="dashboard-apps-editAppButton" href="#">Edit app settings</a>
            </span>
{% endblock titleBarRight %}

{% block content %}
          <section id="dashboard-appEditForm" class="hidden">
            <div>
              <form action="{% url publisher_app_update app_key=app.key %}" method="POST" accept-charset="utf-8" id="appForm">
                <fieldset id="appForm-details" class="alt">
                  <dl class="formFields"> 
                    <dt>Platform:</dt> 
                    <dd> 
                      <span class="radios"> 
                        <input type="radio" class="input-radio" name="app_type" value="iphone" id="appForm-platform-iphone" checked="checked" /> <label for="appForm-platform-iphone">iOS</label> 
                        <input type="radio" class="input-radio" name="app_type" value="android" id="appForm-platform-android" /> <label for="appForm-platform-android">Android</label> 
                      </span> 
                    </dd>
                    <dt><label for="appForm-name">App name:</label></dt> 
                    <dd class="appForm-platformDependent iphone"> 
                      <input type="text" class="input-text" name="name" value="{{app.name}}" id="appForm-name" />
                      <div class="formFields-field-help iphone" id="appForm-search"> 
                        <a href="#" class="button" id="appForm-search-button">Search App Store</a> 
                        <div id="dashboard-searchAppStore-custom-modal" class="hidden"> 
                          <h3>Search Results</h3> 
                          <div class="loading" id="searchAppStore-loading"> 
                            <img src="/images/icons-custom/spinner-16.gif" alt="Loading" /> Please wait ...
                          </div> 
                          <div id="searchAppStore-results"></div> 
                        </div> 
                      </div> 
                    </dd> 
                    <dt class="appForm-platformDependent iphone"> 
                      <label class="iphone" for="appForm-url">iTunes URL:</label> 
                      <label class="android" for="appForm-package">Package name:</label> 
                    </dt> 
                    <dd class="appForm-platformDependent iphone"> 
                      <input type="url" class="input-text iphone" name="url" value="{{f.app.url}}" id="appForm-url" placeholder="http://itunes.apple.com/yourapp" /> 
                      <input type="text" class="input-text android" name="package" value="{{app.package}}" id="appForm-package" placeholder="com.company.appname" /> 
                    </dd>
                    <dt><label for="appForm-icon">Icon:</label></dt> 
                    <dd> 
                       <div id="appForm-icon" class="appData-icon">
                         <img src="/images/misc/appicon-missing.png" alt="No icon" />
                       </div>
                       <div id="appForm-changeIcon">
                         <span class="sep">&middot;</span>
                         <a id="appForm-changeIcon-link" href="#">Upload an app icon ...</a>
                        <input id="appForm-icon-upload" type="file" name="img_file" class="hidden" />
                        <input type="hidden" name="img_url" value="" />
                      </div>
                    </dd>
                  </dl>
                  <div class="clear" />
                  <div class="form-submit"> 
                    <span class="buttonWrap"><a href="#" class="button" id="appEditForm-submit">Save</a></span> 
                    <span class="buttonWrap"><a href="#" class="button" id="appEditForm-cancel">Cancel</a></span> 
                  </div> 
                </fieldset>
              </form>
            </div>
          </section>
          
          <section class="offset nomargin" id="dashboard-stats">
            <div class="stats">
              <table class="stats-breakdown">
                <tbody>
                  <tr class="active" id="stats-breakdown-requests">
                    <td class="stats-breakdown-value"><span class="inner">{{app.stats.request_count|withsep}}</span></td>
                    <th class="stats-breakdown-name"><span class="inner">Requests</span></th>
                  </tr>
                  <tr id="stats-breakdown-impressions">
                    <td class="stats-breakdown-value"><span class="inner">{{app.stats.impression_count|withsep}}</span></td>
                    <th class="stats-breakdown-name"><span class="inner">Impressions</span></th>
                  </tr>
                  <tr id="stats-breakdown-clicks">
                    <td class="stats-breakdown-value"><span class="inner">{{app.stats.click_count|withsep}}</span></td>
                    <th class="stats-breakdown-name"><span class="inner">Clicks</span></th>
                  </tr>
                  <tr id="stats-breakdown-users">
                    <td class="stats-breakdown-value"><span class="inner">{{app.stats.unique_user_count|withsep}}</span></td>
                    <th class="stats-breakdown-name"><span class="inner">Users</span></th>
                  </tr>
                </tbody>
              </table>
              <div class="chart chart-loading stats-chart" id="dashboard-stats-chart">
                <div class="chart-loading-text">Loading ...</div>
                <div class="chart-error-text">Could not load chart</div>
                <script type="text/javascript">
                  // chart data
                  mopub.dashboardStatsChartData = {
                    //pointStart: 1294963200000,
                    pointStart: Date.UTC({{start_date.year}},{{start_date.month|add:"-1"}},{{start_date.day}}),
                    pointInterval: 86400000,
                    'requests': [{% for au in app.graph_adunits %}
                      { '{{au.name}}': [{% for t in au.all_stats %}{{t.request_count}}{% if not forloop.last %},{% endif %} {% endfor %}] }{% if not forloop.last %},{% endif %}{% endfor %}
                    ],
                    'impressions': [{% for au in app.graph_adunits %}
                      { '{{au.name}}': [{% for t in au.all_stats %}{{t.impression_count}}{% if not forloop.last %},{% endif %} {% endfor %}] }{% if not forloop.last %},{% endif %}{% endfor %}
                    ],
                    'clicks': [{% for au in app.graph_adunits %}
                      { '{{au.name}}': [{% for t in au.all_stats %}{{t.click_count}}{% if not forloop.last %},{% endif %} {% endfor %}] }{% if not forloop.last %},{% endif %}{% endfor %}
                    ],
                    'users': [{% for au in app.graph_adunits %}
                      { '{{au.name}}': [{% for t in au.all_stats %}{{t.unique_user_count}}{% if not forloop.last %},{% endif %} {% endfor %}] }{% if not forloop.last %},{% endif %}{% endfor %}
                    ]
                  };
                </script>
              </div>
            </div>
            <div class="clear"></div>
          </section>
          
          <div class="clear"></div>
          
          <section id="dashboard-apps">
            <div class="buttonBank buttonBank-right">
              <a class="button" id="dashboard-apps-addAdUnitButton" href="#">Add an ad unit</a>
            </div>
            <h2>Ad Units</h2>
            
            <section id="dashboard-adunitAddForm" class="hidden">
              <div>
                <form action="{% url publisher_adunit_create %}" method="POST" accept-charset="utf-8" id="adunitAddForm">
                  <input type="hidden" name="id" value="{{app.key}}"/>
                  <fieldset id="appForm-details" class="alt">
                    <dl class="formFields"> 
                      <dt><label for="appForm-adUnitName">Ad unit name:</label></dt> 
                      <dd><input type="text" class="input-text" name="name" value="Banner ad" id="appForm-adUnitName" /></dd> 
                      
                      <dt><label for="appForm-adUnitDescription">Description:</label></dt> 
                      <dd> 
                        <textarea name="adunit_description" id="description" rows="3" cols="40">General purpose banner ad</textarea> 
                      </dd> 

                      <dt>Format:</dt> 
                      <dd> 
                        <div class="adForm-formats clearfix"> 
                          <div class="adForm-format"> 
                            <div class="adForm-format-name"> 
                              <input type="radio" class="input-radio" name="appForm-adUnitFormat" value="banner" id="appForm-adUnitFormat-banner" checked="checked" /> 
                              <label for="appForm-adUnitFormat-banner">Banner</label> 
                              <div class="adForm-format-details">320 &times; 50</div> 
                            </div> 
                            <img class="adForm-format-image" src="/images/setup/ad-format-banner.png" alt="Banner ad" /> 
                          </div> 
                          <div class="adForm-format"> 
                            <div class="adForm-format-name"> 
                              <input type="radio" class="input-radio" name="appForm-adUnitFormat" value="medium" id="appForm-adUnitFormat-medium" /> 
                              <label for="appForm-adUnitFormat-medium">Medium</label> 
                              <div class="adForm-format-details">300 &times; 250</div> 
                            </div> 
                            <img class="adForm-format-image" src="/images/setup/ad-format-medium.png" alt="Medium ad" /> 
                          </div> 
                          <div class="adForm-format"> 
                            <div class="adForm-format-name"> 
                              <input type="radio" class="input-radio" name="appForm-adUnitFormat" value="full" id="appForm-adUnitFormat-full" /> 
                              <label for="appForm-adUnitFormat-full">Fullscreen</label> 
                              <div class="adForm-format-details">320 &times; 480</div> 
                            </div> 
                            <img class="adForm-format-image" src="/images/setup/ad-format-full.png" alt="Fullscreen ad" /> 
                          </div> 
                          <div class="adForm-format adForm-format-custom"> 
                            <div class="adForm-format-name"> 
                              <input type="radio" class="input-radio" name="appForm-adUnitFormat" value="custom" id="appForm-adUnitFormat-custom" /> 
                              <label for="appForm-adUnitFormat-custom">Custom</label> 
                              <div class="adForm-format-details"> 
                                <input type="text" class="input-text input-text-small" name="appForm-adUnitFormatCustomWidth" value="" id="appForm-adUnitFormatCustomWidth" placeholder="width" /> 
                                &times;
                                <input type="text" class="input-text input-text-small" name="appForm-adUnitFormatCustomHeight" value="" id="appForm-adUnitFormatCustomHeight" placeholder="height" /> 
                              </div> 
                            </div> 
                          </div> 
                        </div> 
                      </dd>
                      <dt><label for="appForm-adUnitKeywords">Default keywords:</label></dt> 
                      <dd> 
                        <textarea name="keywords" id="appForm-adUnitKeywords" rows="3" cols="40" placeholder="e.g. coffee, espresso, cafe, iced tea"></textarea> 
                      </dd> 
                      
                    </dl>
                    <div class="clear" />
                    <div class="form-submit"> 
                      <span class="buttonWrap"><a href="#" class="button" id="adunitAddForm-submit">Save</a></span> 
                      <span class="buttonWrap"><a href="#" class="button" id="adunitAddForm-cancel">Cancel</a></span> 
                    </div> 
                  </fieldset>
                </form>
              </div>
            </section>
            
            <div class="appData-columnHeaders">
              <table class="dataTable" id="dashboard-apps-columnHeaders">
                <thead>
                  <tr>
                    <th class="appData-icon"></th>
                    <th class="dataTable-name">&nbsp;</th>
                    <th class="dataTable-data">Requests</th>
                    <th class="dataTable-data">Impressions</th>
                    <th class="dataTable-data">Clicks</th>
                    <th class="dataTable-data">CTR</th>
                  </tr>
                </thead>
              </table>
            </div>
            <div class="appData" id="dashboard-app-0">
              <table class="dataTable appData-main" id="dashboard-app-0-main">
                <tbody>
                  <tr>
                    <td class="appData-icon"><a href="#"><img src="{% if app.icon_url %}{{app.icon_url}}{% else %}/placeholders/image.gif{% endif %}" alt="Icon" width="45" height="45" /></a></td>
                    <th class="dataTable-name">Totals</th>
                    <td class="dataTable-data">{{app.stats.request_count}}</td>
                    <td class="dataTable-data">{{app.stats.impression_count}}</td>
                    <td class="dataTable-data">{{app.stats.click_count}}</td>
                    <td class="dataTable-data">{{app.stats.ctr|percentage}}</td>
                  </tr>
                </tbody>
              </table>
              <div class="appData-details" id="dashboard-app-0-details">
                <div class="appData-details-inner show">
                  <table class="dataTable">
                    <tbody>
                      {% for au in app.adunits %}
                      <tr>
                        <th class="dataTable-name"><span class="inner"><a href="{% url publisher_adunit_show adunit_key=au.key %}">{{au.name}}</a></span></th>
                        <td class="dataTable-data">{{au.stats.request_count}}</td>
                        <td class="dataTable-data">{{au.stats.impression_count}}</td>
                        <td class="dataTable-data">{{au.stats.click_count}}</td>
                        <td class="dataTable-data">{{au.stats.ctr|percentage}}</td>
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </section>
{% endblock content %}
