<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
	"http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
	<head>
		<link rel="stylesheet" type="text/css" href="/stylesheets/default.css"></link>
		<title>MoPub - Mobile Ad Serving and Optimization</title>
		
		<meta name="description" content="{% block description %}{% endblock %}" />

		<!--
		<link rel="image_src" href="/images/favicon.png" />
		<link rel="icon" type="image/png" href="/images/favicon.png"></link>		
		<link rel="shortcut icon" type="image/png" href="/images/favicon.png"></link-->
		
		<script type="text/javascript" src="/js/prototype.js"></script>
	</head>

	<body>		
		<div id="outer">

			<div style="text-align: center;">
				<img src="/images/logo_simple.png" style="margin-top: 100px;"/>
			</div>
			<p style="margin: 0 auto; margin-top: 50px; padding-bottom:400px; text-align:center;">
				&copy; 2010 MoPub, Inc. -
				<a href="mailto:info@mopub.com">info@mopub.com</a>
			</p>

		</div>
		
		<script type="text/javascript">
		var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
		document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
		</script>
		<script type="text/javascript">
		var pageTracker = _gat._getTracker("UA-248712-6");
		pageTracker._initData();
		pageTracker._trackPageview();
		</script>
	</body>
</html>
