{% extends "registration/base.html" %}

{% block pageTitle %}<h1>Account - Password Reset Done</h1>{% endblock %}

{% block content %}
<div class="content-main">
      <fieldset id="appForm-details"> 
        <legend>Your password has been reset.</legend> 
        <p>
          You have successfully changed your password and are now logged in. 
        </p>
      </fieldset>
      <div class="form-submit">
        <a href="{% url settings_change%}" class="btn continue">
          Continue
        </a>
      </div>
</div>
{% endblock content %}
