{% extends "registration/base.html" %}

{% block pageTitle %}<h1>Account - Password Reset Done</h1>{% endblock %}

{% block content %}
<div class="content-main">
      <fieldset id="appForm-details"> 
        <legend>Your password has been reset.</legend> 
        <p>
          You have successfully changed your password and are now logged in. 
        </p>
      </fieldset>
      <div class="form-submit">
        <span class="buttonWrap"><a href="{% url publisher_index%}" class="button continue">Continue</a></span>
      </div>
</div>
{% endblock content %}
