{% extends "registration/base.html" %}

{% block pageTitle %}<h1>Create a MoPub Account</h1>{% endblock %}

{% block content %}
<div class="content-main">
    <div class="alert-message block-message">
      MoPub is moving all users with Google accounts to MoPub accounts.  Migrate to a MoPub account now by entering a password below, and directly log in using these credentials in the future.  For any questions, contact support@mopub.com
    </div>
    <form action="." method="POST" accept-charset="utf-8" id="accountForm">
        {% csrf_token %}
        <fieldset id="appForm-details">
            {% if not unlink %}
            <legend>Create a new password</legend>
            <p>
                Please enter and confirm the new password for you account.
            </p>
            {% else %}
            <legend>Migrate to a MoPub account</legend>
            <p>
                To continue setting up a MoPub account, please enter and confirm a new password.
            </p>
            {% endif %}
            <dl class="formFields">
            {% for field in form %}
                {% for error in field.errors %}
                <span class="error">{{ error }}</span>
                {% endfor %}
            {% endfor %}
            {% block passwordForm %}
                <dt>New Password: </dt>
                <dd>
                    {{form.new_password1}}
                </dd>
                <dt>New Password confirm: </dt>
                <dd>
                    {{form.new_password2}}
                </dd>
            {% endblock %}
            </dl>
        </fieldset>
        <div class="clear"></div>
        <div class="form-submit">
          <a href="#" class="btn" id="accountForm-submit">
            {% if not unlink %}
              Reset Now
            {% else %}
              Migrate Now
            {% endif %}
          </a>
        </div>
    </form>
</div>
{% endblock content %}
