{% extends "registration/base.html" %}

{% block pageTitle %}<h1>Account - Confirm password reset</h1>{% endblock %}

{% block content %}
<div class="content-main">
    <form action="." method="POST" accept-charset="utf-8" id="accountForm">
        {% csrf_token %}
        <fieldset id="appForm-details"> 
            {% if not unlink %}
            <legend>Create a new password</legend> 
            <p>
                Please enter and confirm the new password for you account.
            </p>
            {% else %}
            <legend>Migrate off Google Accounts</legend> 
            <p>
                If you'd like to migrate off your google account, simply set up your password.
            </p>
            {% endif %}
            <dl class="formFields"> 
            {% for field in form %}
                {% for error in field.errors %}
                <span class="error">{{ error }}</span>
                {% endfor %}
            {% endfor %}            
                <dt>New Password: </dt>
                <dd>
                    {{form.new_password1}}
                </dd>
                <dt>New Password confirm: </dt>
                <dd>
                    {{form.new_password2}}
                </dd>
            </dl>          
        </fieldset>    
        <div class="clear"></div>    
        <div class="form-submit">
            <span class="buttonWrap">
                <a href="#" class="button" id="accountForm-submit">
                {% if not unlink %}    
                Reset Now
                {% else %}
                Migrate Now
                {% endif %}
                </a>
            </span>
        </div>
    </form>
</div>
{% endblock content %}
