{% extends "registration/base.html" %}

{% block pageTitle %}<h1>Account - Confirm password reset</h1>{% endblock %}

{% block content %}
<div class="content-main">
    <form action="." method="POST" accept-charset="utf-8" id="accountForm">
        {% csrf_token %}
        <fieldset id="appForm-details"> 
            <legend>Create a new password</legend> 
            <p>
                Please enter your old password then enter and confirm the new password for you account.
            </p>
            <dl class="formFields"> 
            {% for field in form %}
                {% for error in field.errors %}
                <div><span class="error">{{ error }}</span></div>
                {% endfor %}
            {% endfor %}            
            {% block passwordForm %}
                <dt>Old Password: </dt>
                <dd>
                    {{form.old_password}}
                </dd>
                <dt>New Password: </dt>
                <dd>
                    {{form.new_password1}}
                </dd>
                <dt>New Password confirm: </dt>
                <dd>
                    {{form.new_password2}}
                </dd>
            {% endblock %}    
            </dl>          
        </fieldset>    
        <div class="clear"></div>    
        <div class="form-submit">
          <a href="#" class="btn" id="accountForm-submit">
            {% if not unlink %}    
              Reset Now
            {% else %}
              Migrate Now
            {% endif %}
          </a>
        </div>
    </form>
</div>
{% endblock content %}
