{% extends "registration/base.html" %}
{% block pageTitle %}<h1>Account - Reset password</h1>{% endblock %}

{% block content %}
  <div class="content-main">
    <form action="." method="POST" accept-charset="utf-8" id="accountForm">
      {% csrf_token %}
      <fieldset>
        <legend>Forgot your password?</legend>
        <p>No problem, just enter the email address that you used signed to sign up.</p>
        <dl class="formFields"> 
          {% if form.errors %}
            <div>
              <span class="{% if form.email.errors %}error{% endif %}">{% for error in form.email.errors %}{{ error }}{% endfor %}</span>
            </div>    
          {% endif %}
          {% if form.mperrors %}
            <div>
              <span class="{% if form.mperrors %}error{% endif %}">{% for error in form.mperrors %}{{ error|safe }}{% endfor %}</span>
            </div>    
          {% endif %}
          
          <dt>Email: </dt>
          <dd>
            {{form.email}}
          </dd>
        </dl>    
      </fieldset>      
      <div class="clear"></div>    
      <div class="form-submit">
        <a href="#" class="btn" id="accountForm-submit">
          Reset
        </a>
      </div>
    </form>
</div>
{% endblock content %}
