{% extends "registration/base.html" %}

{% block pageTitle %}<h1>Account - Registration Complete</h1>{% endblock %}

{% block content %}
<div class="content-main">
      <fieldset id="appForm-details"> 
        <legend>Thanks! Your registration is complete.</legend> 
        <p>
          You may now continue to set up your application.
        </p>
      </fieldset>
      <div class="form-submit">
        <span class="buttonWrap"><a href="#" class="button continue">Continue</a></span>
      </div>
</div>
{% endblock content %}
