
{% load filters %}
<script type='text/javascript'>
    //
    // All this JS is here because it needs render-time info (see immediately below) to properly pre-populate/format the token inputs
    // Can we move this to a hidden div or use ajax or some such? 
    //
    var geo_s = 'http://ws.geonames.org/searchJSON?';
    $(document).ready( function () {
            var priors = {% if form.geo.value %}{{form.geo.value|safe}}{% else %}[]{% endif %};
            var city_priors = {% if form.cities.value %}{{form.cities.value|safe}}{% else %}[]{% endif %};
            var pre = {type: 'country', data: []};
            var city_pre = {type: 'city', data: []};
            //Not being used right now
            //var state_pre = {type: 'state', data: []};
            for (var count = 0; count < countries.length; count++) {
                var dat = countries[count];
                if ($.inArray(dat.code, priors) != -1) {
                    pre.data.push(dat);
                }
                if (pre.length == priors.length)
                    break;
            }
            //city is ll:ste:name:ccode;
            for (var i in city_priors) {
                if (city_priors.hasOwnProperty(i)) {
                    var datas = city_priors[i].split(':');
                    var ll = datas[0].split(',');
                    var ste = datas[1];
                    var name = datas[2];
                    var ccode = datas[3];
                    city_pre.data.push(
                            { lat: ll[0],
                              lng: ll[1],
                              countryCode: ccode,
                              adminCode1: ste,
                              name: name
                              });
                }
            }
           $('#city_ta').tokenInput(geo_s,
                    { country: 'US',
                      doImmediate: false,
                      hintText: 'Type in a city name',
                      queryParam: 'name_startsWith',
                      featureClass: 'P',
                      prePopulate: city_pre,
                      contentType: 'json',
                      type: 'city',
                      minChars: 3,
                      method: 'get'
              }); 
            //Verify that all cities in city_pre are in the SINGLE country that is pre

            //Need to create data object that is array of dictionary [ {name, id} ] 
                
            $('#geo_pred_ta').tokenInput( null, 
                            { data: countries,
                              hintText: 'Type in a country name',
                              formatResult: function( row ) {
                                    return row.name;
                                    },
                              formatMatch: function( row, i, max ){
                                    return [row.name, row.code];
                                    },
                              prePopulate: pre 
                });
                     /* Not doing states atm
            $('#state_ta').tokenInput(geo_s, { country: 'US',
                                              doImmediate: false,
                                              queryParam: 'name_startsWith',
                                              featureCode: 'ADM1',
                                              contentType: 'json',
                                              prePopulate: state_pre,
                                              type: 'state',
                                              minChars: 5,
                                              method: 'get'
                                              });
                                              */
            
    });
</script>
                    <dl class="formFields"> 
                      <dt>Ad Units:</dt>
                      <dd>
                        {% for adunit in all_adunits %}
                        {% ifchanged adunit.app.name %}
                        {% if not forloop.first %}
                          </ul>
                        </div>
                        <div style="clear:both;"></div>
                        {% endif %}
                        <div class="appData-icon"><img src="{% url publisher_app_icon app_key=adunit.app_key.key %}" width="45" height="45"/></div>
                        <div class="adgroupForm-Network" style="float:left;">
                          <div class="appData-name">{{adunit.app.name}}</div>
                          <div class="campaignDependent network hidden">
                            <div class="networkDependent admob admob_native hidden">
                              <div class="adgroupForm-editNetwork {% if adunit.app.network_config.admob_pub_id %}hidden{% endif %}">AdMob Pub ID: <input type="text" name="{{adunit.app.key}}-__-admob_pub_id" class="input-text input-text-half-width adgroupForm-editNetwork" placeholder="ex: a14cdb1922f35xx" value="{{adunit.app.network_config.admob_pub_id|default_if_none:""}}"/></div>
                              {% if adunit.app.network_config.admob_pub_id %}<div class="adgroupForm-showNetwork"><span class="muted">AdMob Pub ID: {{adunit.app.network_config.admob_pub_id|default_if_none:""}}</span> <a href="#" class="adgroupForm-editNetwork-link">Change</a></div>{% endif %}
                            </div>
                            <div class="networkDependent adsense hidden">
                              <div class="adgroupForm-editNetwork {% if adunit.app.network_config.adsense_pub_id %}hidden{% endif %}">AdSense ID: <input type="text" name="{{adunit.app.key}}-__-adsense_pub_id" class="input-text input-text-half-width adgroupForm-editNetwork" placeholder="ex: ca-mb-pub-5592664190023789" value="{{adunit.app.network_config.adsense_pub_id|default_if_none:""}}"/></div>
                              {% if adunit.app.network_config.adsense_pub_id %}<div class="adgroupForm-showNetwork"><span class="muted">AdSense ID: {{adunit.app.network_config.adsense_pub_id|default_if_none:""}}</span> <a href="#" class="adgroupForm-editNetwork-link">Change</a></div>{% endif %}
                            </div>
                            <div class="networkDependent brightroll hidden">
                              <div class="adgroupForm-editNetwork {% if adunit.app.network_config.brightroll_pub_id %}hidden{% endif %}">BrightRoll ID: <input type="text" name="{{adunit.app.key}}-__-brightroll_pub_id" class="input-text input-text-half-width adgroupForm-editNetwork" placeholder="ex: 3836789" value="{{adunit.app.network_config.brightroll_pub_id|default_if_none:""}}"/></div>
                              {% if adunit.app.network_config.brightroll_pub_id %}<div class="adgroupForm-showNetwork"><span class="muted">BrightRoll ID: {{adunit.app.network_config.brightroll_pub_id|default_if_none:""}}</span> <a href="#" class="adgroupForm-editNetwork-link">Change</a></div>{% endif %}
                            </div>
                            <div class="networkDependent chartboost hidden">
                              <div class="adgroupForm-editNetwork {% if adunit.app.network_config.chartboost_pub_id %}hidden{% endif %}">ChartBoost ID: <input type="text" name="{{adunit.app.key}}-__-chartboost_pub_id" class="input-text input-text-half-width adgroupForm-editNetwork" placeholder="ex: 4cf55942bb93162f4500006g" value="{{adunit.app.network_config.chartboost_pub_id|default_if_none:""}}"/></div>
                              {% if adunit.app.network_config.chartboost_pub_id %}<div class="adgroupForm-showNetwork"><span class="muted">ChartBoost ID: {{adunit.app.network_config.chartboost_pub_id|default_if_none:""}}</span> <a href="#" class="adgroupForm-editNetwork-link">Change</a></div>{% endif %}
                            </div>
                            <div class="networkDependent ejam hidden">
                              <div class="adgroupForm-editNetwork {% if adunit.app.network_config.ejam_pub_id %}hidden{% endif %}">eJam Zone ID: <input type="text" name="{{adunit.app.key}}-__-ejam_pub_id" class="input-text input-text-half-width adgroupForm-editNetwork" placeholder="ex: 23710" value="{{adunit.app.network_config.ejam_pub_id|default_if_none:""}}"/></div>
                              {% if adunit.app.network_config.ejam_pub_id %}<div class="adgroupForm-showNetwork"><span class="muted">eJam Zone ID: {{adunit.app.network_config.ejam_pub_id|default_if_none:""}}</span> <a href="#" class="adgroupForm-editNetwork-link">Change</a></div>{% endif %}
                            </div>
                            <div class="networkDependent greystripe hidden">
                              <div class="adgroupForm-editNetwork {% if adunit.app.network_config.greystripe_pub_id %}hidden{% endif %}">GreyStripe ID: <input type="text" name="{{adunit.app.key}}-__-greystripe_pub_id" class="input-text input-text-half-width adgroupForm-editNetwork" placeholder="ex: 3705265e-1025-4873-9352-7b1e4986xxxx" value="{{adunit.app.network_config.greystripe_pub_id|default_if_none:""}}"/></div>
                              {% if adunit.app.network_config.greystripe_pub_id %}<div class="adgroupForm-showNetwork"><span class="muted">GreyStripe ID: {{adunit.app.network_config.greystripe_pub_id|default_if_none:""}}</span> <a href="#" class="adgroupForm-editNetwork-link">Change</a></div>{% endif %}
                            </div>
                            <div class="networkDependent inmobi hidden">
                              <div class="adgroupForm-editNetwork {% if adunit.app.network_config.inmobi_pub_id %}hidden{% endif %}">InMobi ID: <input type="text" name="{{adunit.app.key}}-__-inmobi_pub_id" class="input-text input-text-half-width adgroupForm-editNetwork" placeholder="ex: 4028cb962b75ff06012b792fc5fb6789" value="{{adunit.app.network_config.inmobi_pub_id|default_if_none:""}}"/></div>
                              {% if adunit.app.network_config.inmobi_pub_id %}<div class="adgroupForm-showNetwork"><span class="muted">InMobi ID: {{adunit.app.network_config.inmobi_pub_id|default_if_none:""}}</span> <a href="#" class="adgroupForm-editNetwork-link">Change</a></div>{% endif %}
                            </div>
                            <div class="networkDependent jumptap hidden">
                              <div class="adgroupForm-editNetwork {% if adunit.app.network_config.jumptap_pub_id %}hidden{% endif %}">JumpTap ID: <input type="text" name="{{adunit.app.key}}-__-jumptap_pub_id" class="input-text input-text-half-width adgroupForm-editNetwork" placeholder="ex: pa_company_inc_app" value="{{adunit.app.network_config.jumptap_pub_id|default_if_none:""}}"/></div>
                              {% if adunit.app.network_config.jumptap_pub_id %}<div class="adgroupForm-showNetwork"><span class="muted">JumpTap ID: {{adunit.app.network_config.jumptap_pub_id|default_if_none:""}}</span> <a href="#" class="adgroupForm-editNetwork-link">Change</a></div>{% endif %}
                            </div>
                            <div class="networkDependent millennial millennial_native hidden">
                              <div class="adgroupForm-editNetwork {% if adunit.app.network_config.millennial_pub_id %}hidden{% endif %}">Millennial ID: <input type="text" name="{{adunit.app.key}}-__-millennial_pub_id" class="input-text input-text-half-width adgroupForm-editNetwork" placeholder="ex: 36789" value="{{adunit.app.network_config.millennial_pub_id|default_if_none:""}}"/></div>
                              {% if adunit.app.network_config.millennial_pub_id %}<div class="adgroupForm-showNetwork"><span class="muted">Millennial ID: {{adunit.app.network_config.millennial_pub_id|default_if_none:""}}</span> <a href="#" class="adgroupForm-editNetwork-link">Change</a></div>{% endif %}
                            </div>
                            <div class="networkDependent mobfox hidden">
                              <div class="adgroupForm-editNetwork {% if adunit.app.network_config.mobfox_pub_id %}hidden{% endif %}">MobFox ID: <input type="text" name="{{adunit.app.key}}-__-mobfox_pub_id" class="input-text input-text-half-width adgroupForm-editNetwork" placeholder="ex: 008048afe367bf4ce82ae95363c4xxxx" value="{{adunit.app.network_config.mobfox_pub_id|default_if_none:""}}"/></div>
                              {% if adunit.app.network_config.mobfox_pub_id %}<div class="adgroupForm-showNetwork"><span class="muted">MobFox ID: {{adunit.app.network_config.mobfox_pub_id|default_if_none:""}}</span> <a href="#" class="adgroupForm-editNetwork-link">Change</a></div>{% endif %}
                            </div>
                          </div>
                          <ul style="overflow:auto; max-height:200px; list-style: none;padding:5px 10px" class="{% if form.site_keys.errors %}form-error{% endif %}">
                        {% endifchanged %}
                          <li><input type="checkbox" name="site_keys" value="{{adunit.key}}" id="site_keys-{{adunit.key}}"{% if adunit.checked %} checked="checked"{% endif %}/> <label for="site_keys-{{adunit.key}}">{{adunit.name}}</label></li>
                        {% if forloop.last %}
                          </ul>
                        </div>
                        <div style="clear:both;"></div>
                        {% endif %}
                        {% endfor %}
                        {% for error in form.site_keys.errors %}
                        <div class="form-error-text">{{error}}</div>
                        {% endfor %}
                      </dd>
                      <div class="adgroupForm-advanced hidden">
                        <dt>Allocation:</dt>
                        <dd>
                          <input type="text" class="input-text input-text-number {% if form.allocation_percentage.errors %}form-error{% endif %}" name="{{form.allocation_percentage.name}}" value="{{form.allocation_percentage.value}}"/> % of all 
                          <select name="{{form.allocation_type.name}}">
                            <option value="users" {% if not form.allocation_type.value %}selected="selected"{% endif %}{% ifequal form.allocation_type.value 'users' %}checked="checked"{% endifequal %}>Users</option>
                            <option value="requests" {% ifequal form.allocation_type.value 'requests' %}selected="selected"{% endifequal %}>Requests</option>
                          </select>
                          {% for error in form.percent_users.errors %}
                          <div class="form-error-text">{{error}}</div> 
                          {% endfor %}
                        </dd>
                        
                        <dt>Frequency Caps:</dt>
                        <dd>
                          <input name="{{form.daily_frequency_cap.name}}" class="input-text input-text-number {% if form.daily_frequency_cap.errors %}form-error{% endif %}" type="text" value="{{form.daily_frequency_cap.value}}"/> daily impressions per user
                          {% for error in form.daily_frequency_cap.errors %}
                          <div class="form-error-text">{{error}}</div>
                          {% endfor %}
                        </dd>
                        <dt></dt>
                        <dd>
                          <input name="{{form.hourly_frequency_cap.name}}" class="input-text input-text-number {% if form.hourly_frequency_cap.errors %}form-error{% endif %}" type="text" value="{{form.hourly_frequency_cap.value}}"/> hourly impressions per user
                          {% for error in form.hourly_frequency_cap.errors %}
                          <div class="form-error-text">{{error}}</div> 
                          {% endfor %}
                        </dd>
                        <dt>Keywords:</dt>
                        <dd>
                          {{ form.keywords.as_widget }}
                          <a href="#" id="campaignForm-keyword-helpLink">What's this?</a>
                          <div id='campaignForm-keyword-helpContent' class='hidden'>
                            <h3>Keywords</h3>
                            <p>
                              Keywords may be used to target select requests and user data. Enter one group of keywords per line. Within each line the keywords are ANDed by using the seperator "AND". All lines are otherwised ORed together.
                              <br/><br/>
                              e.g. In order to target 24-year-old males or any 25-year-old you can use  special keywords
                              <br/><br/>
                              m_age:24 AND m_gender:M <br/>
                              m_age:25
                            </p>
                          </div>
                        </dd>
                        <dt>Device Targeting:</dt>
                        
                        <dd>
                          {{ form.device_targeting|raw }}
                          <div id="target-by-device">
                            <div id="target-ios" style="display:inline-block; width:400px">
                              <span style="display:inline-block; width:150px">
                              {{ form.target_iphone|raw }}iPhone {{ form.target_ipod|raw }}iPod {{ form.target_ipad|raw }}iPad
                              </span>
                                    <span style="display:inline-block; width:30px">Min:</span>{{ form.ios_version_min|raw }}

                                    <span style="display:inline-block; width:30px">Max: </span>{{ form.ios_version_max|raw }}
                            </div>
                          
                            <div id="target-android" style="display:inline-block; width:400px">
                               <span style="display:inline-block; width:150px; padding-top:2px">
                               {{ form.target_android|raw }} Android
                               </span>
                                     <span style="display:inline-block; width:30px">Min:</span>{{ form.android_version_min|raw }}
                                     <span style="display:inline-block; width:30px">Max: </span>{{ form.android_version_max|raw }}
                             </div>
                             <div id="target-other" style="display:inline-block; width:400px">
                                <span style="display:inline-block; width:150px; padding-top:2px">
                                {{ form.target_other|raw }} Other
                                </span> <span class="muted"> (All versions)</span>
                              </div>
                            </div>
                          
                        </dd>
                        
                        <dt>Country Targeting:</dt>
                        <dd>
                          <div id='geo_pred_ta' name='geo_predicates'></div>
                          <!--
                          <textarea id='geo_pred_ta' name="geo_predicates" class="{% if form.geo_predicates.errors %}form-error{% endif %}">{% if form.geo_predicates.value %}{{form.geo_predicates.value}}{% else %}country_name=*{% endif %}</textarea> -->
                          {% for error in form.geo_predicates.errors %}
                          <div class="form-error-text">{{error}}</div>
                          {% endfor %}
                        </dd>
                        <div class="countryNumDependent 0 1" style='display:none;'>
                          <dt>Region Targeting:</dt>
                            <dd>
                              <span class="radios">
                                <input type='radio' class='input-radio' name='location-targeting' value='all' id='advertiser-LocationSpec-all' {% if not form.cities.value %}checked{% endif %}/>
                                    <label for='advertiser-LocationSpec-all'>Everywhere</label>
                                    {# <input type='radio' class='input-radio' name='location-targeting' value='state' id='advertiser-LocationSpec-state'></input> #}
                                    {# <label for='advertiser-LocationSpec-state'>State/Province</label> #}
                                    <input type='radio' class='input-radio' name='location-targeting' value='city' id='advertiser-LocationSpec-city'{% if form.cities.value %}checked{% endif %}></input>
                                    <label for='advertiser-LocationSpec-city'>City</label>
                                </span>
                            </dd>
                        </div>
                        <div class="locationDependent state" style='display:none;'>
                            <dt>State/Province:</dt>
                            <dd><div id='state_ta'></div></dd>
                        </div>
                        <div class="locationDependent city" style='display:none;'>
                            {# nest so we can do the dependent stuff and only show if both without any more fancy logic #}
                            <div class="countryNumDependent 1" style='display:none;'>
                                <dt>City Targeting:</dt>
                                <dd><div id='city_ta'></div></dd>
                            </div>
                            <div class="countryNumDependent 0" style='display:none;'>
                                <dt>City Targeting:</dt>
                                <dd><div id='city_fake'>Please input a country</div></dd>
                            </div>
                        </div>

                        {# <dt>Device Predicates:</dt> #}
                        {# <dd> #}
                        {#   <textarea name="device_predicates" class="{% if form.device_predicates.errors %}form-error{% endif %}">{% if form.geo_predicates.value %}{{form.device_predicates.value}}{% else %}platform_name=*{% endif %}</textarea> #}
                        {#   <div>platform_name=(*,android,iphone)</div> #}
                        {#   {% for error in form.device_predicates.errors %} #}
                        {#   <div class="form-error-text">{{error}}</div> #}
                        {#   {% endfor %} #}
                        {# </dd> #}
                      </div>
                      <dt><a class="button button-small adgroupForm-advanced-toggleButton" id="adgroupForm-advanced-toggleButton" href="#">Show Advanced Targeting</a></dt> 
                      <dd></dd> 
                    </dl>