{% load filters %}
{% load forms %}

  <dt>Format:</dt>
  <dd>
    <select name="{{form.format.name}}" class="format-options">
      <option value="320x50" {% ifequal form.format|field_value "320x50"%}selected="selected"{% endifequal %}>320 x 50 (Banner)</option>
      <option value="300x250" {% ifequal form.format|field_value "300x250"%}selected="selected"{% endifequal %}>300 x 250 (MRect)</option>
      <option value="full" {% ifequal form.format|field_value "full"%}selected="selected"{% endifequal %}>Phone Full Screen </option>
      <option value="728x90" {% ifequal form.format|field_value "728x90"%}selected="selected"{% endifequal %}> 728 x 90 (Tablet Leaderboard)</option>
      <option value="160x600" {% ifequal form.format|field_value "160x600"%}selected="selected"{% endifequal %}>160 x 600 (Tablet Skyscraper)</option>
      <option value="full_tablet" {% ifequal form.format|field_value "full_tablet"%}selected="selected"{% endifequal %}>Tablet Full Screen</option>
      <option value="custom" {% ifequal form.format|field_value "custom"%}selected="selected"{% endifequal %}>Custom</option>
    </select>
  </dd>

  <div class = "customc_only">
    <dt>
      Custom Size:
    </dt>
    <dd>
      <input type='text' class = 'input-text-number' name="{{form.custom_width.name}}" value="{{form.custom_width|field_value}}" /> <span style="color: #aaa">px</span>
      &times;
      <input type='text' class = 'input-text-number' name="{{form.custom_height.name}}" value="{{form.custom_height|field_value}}" /> <span style="color: #aaa">px</span>
    </dd>
  </div>
  <dt class="full_only">
    Landscape:
  </dt>
  <dd class="full_only">
    {{form.landscape|raw}}
  </dd>
  <dt>Creative Type:</dt>
  <dd>
    <span class="radios">
      <input type="radio" class="input-radio" name="{{form.ad_type.name}}" value="image" id="creativeType-image" {% if form.ad_type|field_value == "image" or not form.ad_type|field_value %}checked="checked"{% endif %}/> <label for="creativeType-image">Image</label>
      <input type="radio" class="input-radio" name="{{form.ad_type.name}}" value="text_icon" id="creativeType-text_icon" {% ifequal form.ad_type|field_value "text_icon" %}checked="checked"{% endifequal %}/> <label for="creativeType-text_icon">Text and Tile</label>
      <input type="radio" class="input-radio" name="{{form.ad_type.name}}" value="html" id="creativeType-html" {% ifequal form.ad_type|field_value "html" %}checked="checked"{% endifequal %}/> <label for="creativeType-html">HTML</label>
    </span>
  </dd>
  <dt>Creative Name:</dt>
  <dd>
    {{ form.name }}
    {% for error in form.name.errors %}
      <div class="form-error-text">{{error}}</div>
    {% endfor %}
  </dd>
  <div class="adTypeDependent text_icon image">
    <dt>Click URL:</dt>
    <dd>
      <input type='text' name="{{form.url.name}}" class="input-text {% if form.url.errors %}form-error{% endif %}" value="{{form.url|display_value}}"/>
      <a href="#" class="creativeAddForm-url-helpLink">What's this?</a>
      <div id="creativeAddForm-url-helpContent" class="hidden">
        <h3>Click URL</h3>
        <p>This is the link that will open when a user clicks on this ad.  Some examples are:
        <h4>Web Page</h4>
        <p>http://www.example.com/</p>
        <h4>iTunes App Store</h4>
        <p>http://itunes.apple.com/us/app/headingout/id399903812?mt=8</p>
        <h4>Android Market</h4>
        <p>market://details?id=com.pauloslf.cloudprint</p>
        <h3>Conversion Tracking</h3>
        <p>If you enter an iTunes or Android store URL, MoPub will automatically track conversions for the app when it is opened.</p>
      </div>
      {% for error in form.url.errors %}
        <div class="form-error-text">{{error}}</div>
      {% endfor %}
    </dd>
  </div>
  <dt class="admin_only">Intercept URL:</dt>
  <dd class="admin_only">
    {{ form.launchpage|raw}}
    <a href="#" class="whatsthis" id="creativeLaunchPage-url-helpLink">What's this?</a>
    <div id="creativeLaunchPage-url-helpContent" class="hidden">
      <h3>Intercept URL (admin only)</h3>
      <p>Use if the ad network is using window.location or window.open to open links. Don't forget the HTTP!</p>
    </div>
  </dd>

  <dt>Conversion Tracking ID:</dt>
  <dd>
    {{ form.conv_appid|raw}}
    <a href="#" class="whatsthis" id="creativeConvAppid-url-helpLink">What's this?</a>
    <div id="creativeConvAppid-url-helpContent" class="hidden">
      <h3>Application ID for Conversion Tracking</h3>

      <p>If you enter an iTunes or Android store URL, MoPub will automatically track conversions for the app when it is opened.</p>
      <h4>iTunes App Store ID</h4>
      <p>e.g. 399903812 (for <a href="http://itunes.apple.com/us/app/headingout/id399903812?mt=8">Heading Out</a>)</p>
      <h4>Android Market package name</h4>
      <p>e.g. com.pauloslf.cloudprint (for <a href="https://market.android.com/details?id=com.pauloslf.cloudprint&amp;feature=search_result">Cloud Print</a>)</<p></p>>
    </div>
  </dd>
  <dt>Impression Tracking URL</dt>
  <dd>
    {{ form.tracking_url }}
  </dd>

