{% load filters %}
  <dl class="formFields">
    <dt>Campaign Type:</dt>
    <dd>
      {% comment %}
        Select field for the campaign type.
        Auto selects the right field if this is an edit form.
        If not, selects Guaranteed by default (highest on the waterfall).
        If this is being used to edit, and the marketplace option was already selected,
        disable the other options.
      {% endcomment %}
      <select id="campaign_type_select" name="{{form.campaign_type.name}}">
        <option value="gtee" {% if form.campaign_type.value == "marketplace" or form.campaign_type.value == "network"%} disabled="disabled" {% endif %}{% if not form.campaign_type.value or form.campaign_type.value == "gtee"%}selected{% endif %}> Guaranteed </option>
        <option value="promo"  {% if form.campaign_type.value == "marketplace" or form.campaign_type.value == "network"%} disabled="disabled" {% endif %}{% ifequal form.campaign_type.value "promo" %}selected{% endifequal %} > Promotional </option>
        <option value="network" {% if form.campaign_type.value == "gtee" or form.campaign_type.value == "promo" or form.campaign_type.value == "marketplace" %} disabled="disabled" {% endif %} {% ifequal form.campaign_type.value "network" %}selected{% endifequal %}> Network</option>
      </select>
      <a href="#" id="campaignForm-type-helpLink">What's this?</a>

      <div id="campaignForm-type-helpContent" class="hidden">
        <h3>Campaign Type</h3>
        <h4>Guaranteed</h4>
        <p>A <strong>Guaranteed</strong> ad campaign is typically a direct sold campaign with a set CPM for a certain number of impressions and a start and end date.</p>
        <h4>Promotional</h4>
        <p>A <strong>Promotional</strong> campaign is for house ads like advertising another of your applications, ads for the paid version of your app or other functions like a "rate this app" campaign.</p>
        <h4>Network</h4>
        <p>A <strong>Network</strong> campaign is used for showing ads from an ad network like AdMob or iAd.</p>
      </div>
    </dd>

    <div class="campaignDependent gtee">
      <dt>Priority:</dt>
      <dd>
        <select name='gtee_level'>
          <option value='high' {% ifequal form.gtee_level.value 'high' %}selected{% endifequal %}>High</option>
          <option value='normal' {% ifequal form.gtee_level.value 'normal' %}selected{% endifequal %}{% if not form.gtee_level.value %}selected{% endif %}>Normal</option>
          <option value='low' {% ifequal form.gtee_level.value 'low' %}selected{% endifequal %}>Low</option>
        </select>
        <a href="#" id="campaignForm-priority-helpLink">What's this?</a>

        <div id='campaignForm-priority-helpContent' class='hidden'>
          <h3>Priority</h3>
          <p>Within a given priority campaigns are run in order of CPM.  By assigning a campaign priority you set it to run before those at a lower priority level.</p>
        </div>
      </dd>
    </div>

    <div class="campaignDependent promo">
      <dt>Priority:</dt>
      <dd>
        {{ form.promo_level.as_widget }}
        <a href="#" id="campaignForm-promo-priority-helpLink">What's this?</a>
        <div id='campaignForm-promo-priority-helpContent' class='hidden'>
          <h3>Priority</h3>
          <p>For a promotional campaign, you may pick whether it is prioritized above (<strong>Normal</strong>) or below ad networks (<strong>Backfill</strong>).</p>
        </div>
      </dd>
    </div>

    <dt>Name:</dt>
    <dd>
      {{ form.name|attrs:'{"placeholder":"Campaign Name"}'|raw  }} <span id='fullCampaignError-name' style="display:none; color:#cc2929;">Required</span>
    </dd>
    {{ form.description|attrs:'{"placeholder":"Campaign for My New App"}' }}
    <div class="campaignDependent gtee promo backfill_promo">
      <dt>Start Time:</dt>
      <dd>
      <input id='start-date' type='text' class="input-text input-text-number" name="start_date" size="15" value="{{form.start_datetime.value|date:"m/d/Y"}}" placeholder="MM/DD/YYYY"/>

         <input id='start-time' type='text' class='input-text input-text-number input-text-time' name='start_time' size=10 value="{{form.start_datetime.value|format_time}}" placeholder='HH:MM' /> PST
        <div class='helper-text' id='fullCampaignError-date' style="display:none; color:#cc2929;">Required when delivery type set to 'total impressions' or 'total USD'</div>
      </dd>
      <dt>Stop Time:</dt>
      <dd>
        <input id='stop-date' type='text' class="input-text input-text-number" name="end_date" size="15" value="{{form.end_datetime.value|date:"m/d/Y"}}"  placeholder="MM/DD/YYYY"/>
        <input id='stop-time' type='text' class='input-text input-text-number input-text-time' name='end_time' size=10 value="{{form.end_datetime.value|format_time}}" placeholder='HH:MM' /> PST
        <div class='helper-text' id='fullCampaignError-date' style="display:none; color:#cc2929;">Required when delivery type set to 'total impressions' or 'total USD'</div>
      </dd>

      {# Belong to AdGroup #}
      <dt>Rate:</dt>
      <dd>
        <select name="bid_strategy" id="adgroupForm-bid_strategy-select">
          <option value="cpm" id="bid_strategy-cpm" {% ifequal form.bid_strategy.value "cpm"%}selected="selected"{% endifequal %}>CPM</option>
          <option value="cpc" {% ifequal form.bid_strategy.value "cpc"%}selected="selected"{% endifequal %}>CPC</option>
        </select>
        @ <input type="text" class="input-text input-text-number {% if form.bid.errors %}form-error{% endif %}" name="bid" value="{{form.bid.value}}" id="bid-max"/> USD
        <div class='helper-text' id='fullCampaignError-bid' style="display:none; color:#cc2929;">Required when delivery type set to 'total impressions' or 'total USD'</div>

        {% for error in form.bid.errors %}
          <div class="form-error-text">{{error}}</div>
        {% endfor %}
        <span class='campaignDependent promo'>
          <a class='whatsthis' id='promo-cpm-helpLink' href='#'>What's this?</a>
          <div id='promo-cpm-helpContent' class='hidden'>
            <h3>Promotional CPM</h3>
            <p>MoPub uses CPM to prioritize which promotional campaign will be displayed.  To raise the priority of a campaign, increase the CPM.</p>
          </div>
        </span>
      </dd>
    </div>

    <div class="campaignDependent marketplace">
      <dt>Price Floor:</dt>
      <dd>
        <input class="input-text input-text-number" name="{{form.price_floor.name}}" value="{{form.price_floor.value}}"/>
        <a class='whatsthis' id='marketplace-pricefloor-helpLink' href='#'>What's this?</a>
        <div id='marketplace-pricefloor-helpContent' class='hidden'>
          <h3>Price Floors</h3>
          In Marketplace campaigns, each ad impression is bid upon by multiple ad networks.
          The price floor is the minimum amount you'll price for a bid.
          Bids will not be considered if they are lower than your price floor.
        </div>
      </dd>
    </div>

    <div class="campaignDependent gtee">
      <dt>Delivery Amount:</dt>
      <dd>
        <span class='budgetDependent full_campaign'>
          <span class='campaignAdgroupForm-budget' id="campaignAdgroupForm-budget-fullimpressions"><input type='text' name="full_impressions" value="" class="input-text input-text-number"/></span>
          <span class='campaignAdgroupForm-budget' id="campaignAdgroupForm-budget-fullbid"><input type='text' name="{{form.full_budget.name}}" value="{{form.full_budget.value}}" class="input-text input-text-number {% if form.budget.errors %}form-error{% endif %}"/></span>
        </span>
        <span class='budgetDependent daily'>
          <span class='campaignAdgroupForm-budget' id="campaignAdgroupForm-budget-impressions"><input type='text' name="impressions" value="" class="input-text input-text-number"/></span>
          <span class='campaignAdgroupForm-budget' id="campaignAdgroupForm-budget-bid"><input type='text' name="{{form.budget.name}}" value="{{form.budget.value}}" class="input-text input-text-number {% if form.budget.errors %}form-error{% endif %}"/></span>
        </span>
        <select name="budget_type" id="adgroupForm-budget_type-select">
          <option value="daily" {% ifequal form.budget_type.value "daily"%}selected="selected"{% endifequal %}></option>
          <option value="full_campaign" {% ifequal form.budget_type.value "full_campaign"%}selected="selected"{% endifequal %}></option>
        </select>
        <span class='budgetDependent full_campaign'>
          <div class="campaignAdgroupForm-budget success helper-text" id="campaignAdgroupForm-budget-display_full"></div>
        </span>
        <span class='budgetDependent daily'>
          <div class="campaignAdgroupForm-budget success helper-text" id="campaignAdgroupForm-budget-display"></div>
        </span>
        <div class='helper-text' id='fullCampaignError-budget' style="display:none; color:#cc2929;">Required when delivery type set to 'total impressions' or 'total USD'</div>
        {% for error in form.budget.errors %}
          <div class="form-error-text">{{error}}</div>
        {% endfor %}
      </dd>
      {{ form.budget_strategy|label:"Delivery Speed"}}
    </div>

    <div class="campaignDependent network">
      {# End Belong to AdGroup #}
      <dt>Network Type:</dt>
      <dd>
        <select id="network_select" name="network_type">
          {% for network in networks %}
            <option class="network_option" value="{{network.0}}" {% if network.2 %}selected="selected"{%endif%}>{{network.1}}</option>
          {% endfor %}
        </select>
        <span id="network_select_sdk_msg" class="hidden error">(requires network SDK)</span>
      </dd>

      <div class='networkDependent custom'>
        <dt>Custom HTML:</dt>
        <dd>
          <textarea rows=3 name='custom_html' placeholder='HTML Custom Content'>{{form.custom_html.value}}</textarea>
          <a href="#" id="campaignForm-customHtml-helpLink">What's this?</a>
        </dd>
        <div id='campaignForm-customHtml-helpContent' class='hidden'>
          <h3>Custom Network</h3>
          MoPub supports custom ad networks if the network provides an HTML snippet for displaying ads.  Select Custom Network then paste the HTML snippet in the box below.
          <br/>
          <br/>
          <h4>Example:</h4>
          A sample HTML snippet from Glam Media is:
          <br/>
          <br/>
          <code>
            &lt;script type="text/javascript"><br/>
              window.glam_affiliate_id = 1234567890;<br/>
              if ( !window.glam_ord ){window.glam_ord = Math.random()*1E16;}<br/>
              if ( !window.glam_tile ){window.glam_tile = 0;}<br/>
              var adCallUrl = 'http://www35.glam.com/gad/glamadapt_mobile.act?;banner=yes;sz=320x50;tt=m' +';afid=' + window.glam_affiliate_id +';ord=' + window.glam_ord +';tile=' + (++window.glam_tile) +';_glto=' + (new Date()).getTimezoneOffset() +';_g_cv=3;';<br/>
              document.write('<scr' + 'ipt type="text/javascript" src="' + adCallUrl + '"><' + '/sc' + 'ript>');<br/>
            &lt;/script><br/>
          </code>
        </div>
      </div>

      <div class='networkDependent custom_native'>
        <dt>Custom method:</dt>
        <dd>
          <input type="text" class="input-text" name="custom_method" placeholder='loadNativeSDK:' value='{{form.custom_method.value}}' />
        </dd>
      </div>

      <dt>Network Rate:</dt>
      <dd>
        <select name="bid_strategy" id="adgroupForm-bid_strategy-select-network">
          <option value="cpc" {% ifequal form.bid_strategy.value "cpc"%}selected="selected"{% endifequal %}>CPC</option>
          <option value="cpm" {% ifequal form.bid_strategy.value "cpm"%}selected="selected"{% endifequal %}>eCPM</option>
        </select>
        @
        <input type="text" class="input-text input-text-number {% if form.bid.errors %}form-error{% endif %}" name="bid" value="{{form.bid.value}}" id="bid-network"/> USD
        {% for error in form.bid.errors %}
          <div class="form-error-text">{{error}}</div>
        {% endfor %}

        <a href="#" id="campaignForm-bid-helpLink">What's this?</a>
        <div id="campaignForm-bid-helpContent" class="hidden">
          <h3>Network Rate</h3>
          <h4>Cost Per Click</h4>
          <p>
            MoPub uses the CPC from the ad networks along with realtime CTR statistics from your app to calculate eCPM. Because ad network CTR is highly variable, this allows us to constantly display the most profitable ads.
          </p>
          <p>
            You can find your CPC on the ad network's site.
          </p>
          <h4>Estimated Cost Per Mille</h4>
          Using a static CPM disables automatic eCPM calculation. This is useful for users who have a preexisting contract with a specific ad network.  </p>
        </div>
      </dd>
    </div>
  </dl>

