<a name="adgroupEditForm" class="hidden">anchor</a>

<fieldset id="campaignForm-details">
    <h2>Campaign Details</h2>
    <p>Campaigns allow you to manage ads that will run on your mobile ad units.</p>
    {% with campaign_form as form %}
    {% include 'forms/campaign_form.html' %}
    {% end with %}
</fieldset>

<fieldset id="campaignForm-targeting">
    <h2>Targeting</h2>
    <p>Choose which ad units this campaign will target.</p>
    {% with adgroup_form as form %}
    {% include 'forms/adgroup_form.html' %}
    {% end with %}
</fieldset>

{% include "mpx_tos.html" %}
