<dl class="formFields">
    <div>
        {% with base_creative_form as form %}
            {% include 'advertiser/forms/base_creative_form.html' %}
        {% endwith %}
    </div>
    <div class="adTypeDependent text_icon">
        {% with text_tile_creative_form as form %}
            {% include 'advertiser/forms/text_tile_creative_form.html' %}
        {% endwith %}
    </div>
    <div class="adTypeDependent image">
        {% with image_creative_form as form %}
            {% include 'advertiser/forms/image_creative_form.html' %}
        {% endwith %}
    </div>
    <div class="adTypeDependent html">
        {% with html_creative_form as form %}
            {% include 'advertiser/forms/html_creative_form.html' %}
        {% endwith %}
    </div>
</dl>
