{% load forms %}

<a href="" title=""></a>
<dt>Line 1</dt>
<dd>
  <input id='line1' type='text' name="{{form.line1.name}}" class="input-text {% if form.line1.errors %}form-error{% endif %}" value="{{form.line1|field_value}}"/>
  {% for error in form.line1.errors %}
    <div class="form-error-text">{{error}}</div>
  {% endfor %}
</dd>
<dt>Line 2</dt>
<dd>
  <input id='line2' type='text' name="{{form.line2.name}}" class="input-text {% if form.line2.errors %}form-error{% endif %}" value="{{form.line2|field_value}}"/>
  {% for error in form.line2.errors %}
    <div class="form-error-text">{{error}}</div>
  {% endfor %}
</dd>
<dt>Image File</dt>
<dd>
  <span style="font-size:smaller;margin-left:5px;">(40 x 40)</span>
  <div id='image_input_div'>
    <input id='image_input' type='file' name="{{form.image_file.name}}" size="40"/>
  </div>
  <div id='image_input_change' style='display:none;'>
    <a href="#" onclick="changeIcon();return false;">Change</a>
  </div>
  <input type="hidden" id="app_img" name="app_img"/>
  {% if form.image_url|field_value %}
    <div>
      <img height=40 width=40 src="{{form.image_url|field_value}}"/>
    </div>
  {% endif %}
</dd>

<div class="creativeForm-advanced-options hidden">
  <dt>Action Icon</dt>
  <dd>
    <input type="radio" name="action_icon" value="download_arrow4" {% if form.action_icon|field_value == 'download_arrow4' %}checked{% endif %} /><img src="/images/download_arrow4.png" width="40" height="40"/>
    <input type="radio" name="action_icon" value="access_arrow" {% if form.action_icon|field_value == 'access_arrow' %}checked{% endif %} /><img src="/images/access_arrow.png" width="40" height="40"/>
    <input type="radio" name="action_icon" value="none" {% if form.action_icon|field_value == 'none' %}checked{% endif %} /> None
    <input type="radio" name="action_icon" value="custom" disabled/> Custom
  </dd>
  <dt>Background Color</dt>
  <dd>
    <input type='text' id='color' name="{{form.color.name}}" value="{% if form.color|field_value %}{{form.color|field_value}}{% else %}000000{% endif %}" class="input-text" maxlength=6 {% if form.color.errors %}form-error{% endif %}"/>
    {% for error in form.color.errors %}
      <div class="form-error-text">{{error}}</div>
    {% endfor %}
  </dd>
  <dt>Font Color</dt>
  <dd>
    <input type='text' id='font_color' name="{{form.font_color.name}}" value="{% if form.font_color|field_value %}{{form.font_color|field_value}}{% else %}FFFFFF{% endif %}" class="input-text" maxlength=6 {% if form.font_color.errors %}form-error{% endif %}"/>
    {% for error in form.font_color.errors %}
      <div class="form-error-text">{{error}}</div>
    {% endfor %}
  </dd>
  <dt>
    <label>Gradient</label>
  </dt>
  <dd>
    <input type='checkbox' id='gradient' name="gradient" {% if form.gradient|field_value %}checked{% endif %} />
  </dd>
</div>

<dt>
  <a class="button button-small creativeFormAdvancedToggleButton" id="creativeFormAdvancedToggleButton" href="#">More Options</a>
</dt>
<dd></dd>


