{% load forms %}

<style type="text/css">
#highlight.gradient {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,0.35)),
    to(rgba(255,255,255,0.06))); -webkit-background-origin: padding-box; -webkit-background-clip: content-box;
  background: -moz-linear-gradient(rgba(255, 255, 255, 0.35) 0%, rgba(255, 255, 255, 0.06) 95%);
}
</style>
<script type="text/javascript">
function updateLine1() {$('line1sample').innerHTML = $('line1').value;}
function updateLine2() {$('line2sample').innerHTML = $('line2').value;}
function updateColor() {color=$('color').value;if (color.match(/^[0-9a-f]{6}$/i)) $('preview').style.backgroundColor='#'+color;}
function updateFontColor() {color=$('font_color').value;if (color.match(/^[0-9a-f]{6}$/i)){$('line1sample').style.color='#'+color; $('line2sample').style.color='#'+color;}}
function updateGradient() {$('highlight').toggleClassName('gradient');}
function changeIcon() {$('app_img').value='';$('image_input').show();$('image_input_change').hide();
}
function setAction(icon) {if (icon=="none"){$('action_icon').hide();return;}$('action_icon').show();$('action_icon').src = '/images/'+icon+'.png';}
function setApp(name,url,key) {
  $('image_input_div').innerHTML = $('image_input_div').innerHTML;
  $('line1').value = name;
  $('line1sample').innerHTML = name;
  $('line2sample').innerHTML = '';
  $('url').value = url;
  $('thumb').src = (key) ? '/inventory/app/icon/'+key : '/images/noicon.png';
  $('image_input').hide();
  $('image_input_change').show();
  $('app_img').value = key;
}
</script>

<dt><label for="headline">Headline:</label></dt>
<dd><input type='text' name="{{form.headline.name}}" class="input-text" value="{{form.headline|field_value}}"/></dd>
<dt><label for="line1">Line 1:</label></dt>
<dd><input type='text' name="{{form.line1.name}}" class="input-text" value="{{form.line1|field_value}}"/></dd>
<dt><label for="line2">Line 2:</label></dt>
<dd><input type='text' name="{{form.line2.name}}" class="input-text" value="{{form.line2|field_value}}"/></dd>
