/*
 * ## Colors
 */
/* tinges -- off white colors */
/*
 * ## Utility functions
 */
/*
 * Visibility controls
 */
.left {
  float: left; }

.right {
  float: right; }

.ir {
  display: block;
  text-indent: -999em;
  overflow: hidden;
  background-repeat: no-repeat;
  text-align: left;
  direction: ltr; }

.hidden {
  display: none; }

.visuallyhidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px); }

.invisible {
  visibility: hidden; }

/*
 * Push floating elements into their containing box
 */
.clearfix {
  zoom: 1; }
  .clearfix:before, .clearfix:after {
    content: "\0020";
    display: block;
    height: 0;
    visibility: hidden; }
  .clearfix:after {
    clear: both; }

/*
 * Alternating colors, often used for tables
 */
.alternating-color:nth-child(odd) {
  background: #f7f7f7; }

.alternating-color:nth-child(even) {
  background: #ffffff; }

/*
 * Corner rounding
 */
