div#controls {
    margin-bottom: 20px;
    position: relative;
    div#datepicker-custom-range {
        position: absolute;
        top: 18px;
        left: 0;
        float: none;
    }
}

div#charts, div#filters {
    float: left;
}

#charts {
    border: 2px solid #bbb;
    width: 650px;

    .chart_container {
        border-bottom: 1px solid #ddd;
        padding: 5px;
        width: 640px;
        height: 150px;

        .summed_stats {
            float: left;
            padding: 10px;
            width: 70px;
            height: 120px;
            div.title {
                font-size: 14px;
                color: #666;
            }
            div.value {
                font-size: 20px;
                font-weight: bold;
            }
            div.delta {
                font-size: 14px;
            }
            div.delta.positive {
                color: green;
            }
            div.delta.negative {
                color: red;
            }
        }

        .chart {
            float: left;
            width: 550px;
            height: 150px;
        }

        &:last-child {
            border-bottom: 0;
        }
    }

}

div#filters {
    margin-left: 10px;
    table#advertiser, table#publisher {
        border: 2px solid #bbb;
        font-size: 12px;
        float: left;
        thead {
            th {
                color: #555;
                font-weight: 300;
                padding: 5px 5px 5px 2px;
                text-transform: uppercase;
                vertical-align: bottom;
                &.title {
                    font-size: 14px;
                    font-weight: 600;
                    text-transform: none;
                }
                &.sortable {
                    cursor: pointer;
                    &.sorted {
                        background-color: #ccc;
                    }
                }
            }
        }
        tbody {
            tr {
                &.selected {
                    background-color: #eef;
                }
                &.source {
                    border-top: 2px solid #ccc;
                    font-weight: bold;
                }
                &.campaign, &.app {
                    border-top: 1px solid #ddd;
                }
                &.adgroup, &.adunit {
                    border-top: 1px solid #eee;
                }
                td {
                    padding: 2px;
                    &.expand_control {
                        padding: 1px 2px;
                        button {
                            padding: 0 0 1px 1px;
                            &.expand i.icon-minus {
                                display: none;
                            }
                            &.collapse i.icon-plus {
                                display: none;
                            }
                        }
                    }
                    &.positive {
                        color: green;
                    }
                    &.negative {
                        color: red;
                    }
                }
            }
        }
        &#advertiser {
            margin-bottom: 20px;
        }
    }
}
