div#controls {
    margin-bottom: 10px;
    position: relative;
    div#date_modal {
        position: absolute;
        top: 25px;
        left: 0;
        @include well;
        padding: 10px;
        z-index: 2;
        border: 1px solid darken($light_gray, 5%);
        background: $white;
        @include box-shadow;
    }
    > span {
        font-size: 16px;
        font-weight: bold;
        margin: 0 5px;
        vertical-align: 5px;
    }
    #export {
        margin-left: 20px;
        vertical-align: top;
    }
}

div#charts, div#advertiser_filters, div#publisher_filters {
    float: left;
}

div#charts {
    border: 2px solid #bbb;
    width: 500px;

    .chart_container {
        border-bottom: 1px solid #ddd;
        padding: 5px;
        width: 490px;
        height: 125px;

        .summed_stats {
            float: left;
            padding: 10px;
            width: 70px;
            height: 110px;
            div.title {
                font-size: 14px;
                color: #666;
            }
            div.value {
                font-size: 18px;
                font-weight: bold;
            }
            div.delta {
                font-size: 14px;
            }
            div.delta.positive {
                color: green;
            }
            div.delta.negative {
                color: red;
            }
        }

        .chart {
            float: left;
            width: 400px;
            height: 125px;
        }

        &:last-child {
            border-bottom: 0;
        }
    }

}

div#advertiser_filters, div#publisher_filters {
    margin-left: 10px;
    width: 300px;

    button.show span.hide, button.hide span.show {
        display: none;
    }

    table#advertiser, table#publisher {
        font-size: 12px;
        margin: 5px 0;

        thead {
            th {
                padding: 2px;
                &.title {
                    width: 120px;
                }
                &.stat {
                    width: 45px;
                    &.ordered {
                        width: 85px;
                    }
                }
                &.orderable {
                    cursor: pointer;
                    &:hover {
                        background-color: #ccf;
                    }
                    .icon-chevron-down {
                        display: none;
                    }
                    &.ordered .icon-chevron-down {
                        display: inline-block;
                    }
                }
            }
        }

        tbody {
            tr {
                cursor: pointer;
                &:hover {
                    background-color: #ccf;
                }
                &.selected {
                    background-color: rgba(200,225,251,1);
                }
                &.source, &.app {
                    border-top: 2px solid #bbb;
                    font-weight: bold;
                }
                &.campaign, &.adunit {
                    border-top: 1px solid #ddd;
                }
                td {
                    padding: 2px;
                    &.name {
                        span {
                            width: 120px;
                            display: inline-block;
                            overflow: hidden;
                            white-space: nowrap;
                            text-overflow: ellipsis
                        }
                    }
                    &.stat {
                        text-align: right;
                        width: 45px;
                        &.ordered[colspan="2"] {
                            width: 85px;
                        }
                    }
                    &.delta {
                        text-align: right;
                        width: 36px;
                        &.positive {
                            color: green;
                        }
                        &.negative {
                            color: red;
                        }
                    }
                }
            }
        }
    }
}
