@import "common.scss";
@import "sprites.scss";

@mixin well {
    background-color: #f5f5f5;
    margin-bottom: 20px;
    padding: 19px;
    min-height: 20px;
    border: 1px solid #eee;
    border: 1px solid rgba(0,0,0,.05);
    @include border-radius(4px);
    @include box-shadow(inset 0 1px 1px rgba(0,0,0,.05));
    blockquote {
        border-color: #ddd;
        border-color: rgba(0,0,0,.15);
    }
}

// Z-index master list
// Used for a birds eye view of components dependent on the z-axis
// Try to avoid customizing these :)
$zindexDropdown:        1000;
$zindexPopover:         1010;
$zindexTooltip:         1020;
$zindexFixedNavbar:     1030;
$zindexModalBackdrop:   1040;
$zindexModal:           1050;

/*
 * Tabs
 */

.tabs, .pills {
    padding: 0px 10px;
    margin: 0 -10px 10px -10px;
    border-bottom: 1px solid $light_gray;
    font-size: 15px;
    > ul {
        list-style-type: none;
    }
    > li {
        @include top-border-radius(3px);
        @include vertical-gradient(#ffffff, #e6e6e6);
        @include transition(0.1s linear all);
        text-shadow: 0px 1px 1px $off_white;
        border: 1px solid #9CA5AB;
        border-bottom: 1px solid $light_gray;
        display: inline-block;
        padding: 10px 15px;
        margin-bottom: -1px;

        &:hover {
            background-position: 0 -15px;
            color: $link_color_hover;
            text-decoration: none;
            a {
                text-decoration: none;
            }
        }

        &:active {
            @include box-shadow(inset 0 2px 4px rgba(0, 0, 0, 0.25));
        }

        &:focus {
            outline: 1px dotted #666;
        }

        &.active {
            border: 1px solid $light_gray;
            border-bottom: 1px solid $white;
            background: white;

            a, a:hover {
                text-decoration: none;
                color: $gray;
                background: white;
                text-shadow: 0px 1px 1px $light_gray;
            }
        }
    }
}


@mixin hideable_section {
    display: none;
    &.active {
        display: block;
    }
}
.tab-section {
    @include hideable_section;
}
.pill-section {
    @include hideable_section;
}

/*
 * Alerts
 */

.close {
    @include opacity(20);
    float: right;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: $black;
    font-size: 20px;
    font-weight: bold;
    text-shadow: 0 1px 0 rgba(255,255,255,1);
//    line-height: 13.5px;

    &:hover {
        @include opacity(40);
        color: $black;
        text-decoration: none;
    }
}

// Base alert styles
.alert-message {
      @include border-radius(4px);
      @include box-shadow(inset 0 1px 0 rgba(255,255,255,.25));
      @include box-shadow(0px 1px 10px $light_gray);
      @include gradientBar(#fceec1, #eedc94); // warning by default

      position: relative;
      padding: 7px 15px;
      margin-bottom: 10px;
      color: $dark_gray;
      text-shadow: 0 1px 0 rgba(255,255,255,.5);
      border-width: 1px;
      border-style: solid;

      font-size: 15px;

      // Adjust close icon
      .close {
          *margin-top: 3px; /* IE7 spacing */
      }

      // Remove extra margin from content

      p {
          margin-bottom: 0;
          font-size: 14px;
      }

      div {
          margin-top: 5px;
          margin-bottom: 2px;
          line-height: 28px;
      }

      &.error, &.success, &.info {
          color: $off_white;
          text-shadow: 0 1px 0 rgba(255,255,255,.5);
      }
      &.error {
          @include gradientBar(#E15F58, #BA3E33);
          border-color: #f56a66;
      }
      &.success {
          @include gradientBar(#93D47D, #73C54F);
          border-color: #5A9A40;
      }
      &.info {
          @include gradientBar(#78B7FB, #68ACF6);
          border-color: #76A7DA;
      }

      &.block-message {
          @include box-shadow(none);
          background-image: none;
          background-color: #FFFDF2;
          padding: 14px;
          border-color: #E6D2B8;
          ul, p {
              margin-right: 30px;
          }
          ul {
              margin-bottom: 0;
          }
          li {
              color: $dark_gray;
          }
          .alert-actions {
              margin-top: 5px;
          }
          &.error, &.success, &.info {
              color: $dark_gray;
              text-shadow: 0 1px 0 rgba(255,255,255,.5);
          }
          &.error {
              background-color: lighten(#f56a66, 25%);
              border-color: lighten(#f56a66, 20%);
          }
          &.success {
              background-color: lighten(#62c462, 30%);
              border-color: lighten(#62c462, 25%);
          }
          &.info {
              background-color: lighten(#6bd0ee, 25%);
              border-color: lighten(#6bd0ee, 20%);
          }
      }
}


/*
 * Buttons
 */

$baseFontSize: 13px;
$baseLineHeight: 16px;
$grayDark: #333;
$primaryButtonBackground: #08c;
// Mixin for generating button backgrounds
// ---------------------------------------
@mixin buttonBackground($startColor, $endColor) {
  // gradientBar will set the background to a pleasing blend of these, to support IE<=9
  @include gradientBar($startColor, $endColor);
  @include reset-filter();

  // in these cases the gradient wont cover the background, so we override
  &:hover, &:active, &.active, &.disabled, &[disabled] {
    background-color: $endColor;
  }

  // IE 7 + 8 cant handle box-shadow to show active, so we darken a bit ourselves
  &:active, &.active {
    background-color: darken($endColor, 10%) \9;
  }
}

@mixin reset-filter() {
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}

// Webkit-style focus
// ------------------
@mixin tab-focus() {
  // Default
  outline: thin dotted #333;
  // Webkit
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

.btn {
  display: inline-block;
  padding: 4px 10px 4px;
  margin-bottom: 0; // For input.btn
  font-size: $baseFontSize;
  line-height: $baseLineHeight;
  color: $grayDark;
  text-align: center;
  vertical-align: middle;
  @include buttonBackground($white, darken($white, 10%));
  text-shadow: none;
  border: 1px solid #ccc;
  border-bottom-color: #bbb;
  @include border-radius(4px);
  $shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
  @include box-shadow($shadow);
  cursor: pointer;

  &:visited {
      color: $grayDark;
  }
  // Give IE7 some love
  @include reset-filter();
}

// Hover state
.btn:hover {
  color: $grayDark;
  text-decoration: none;
  background-color: darken($white, 10%);
  background-position: 0 -15px;

  // transition is only when going to hover, otherwise the background
  // behind the gradient (there for IE<=9 fallback) gets mismatched
  @include transition(background-position .1s linear);
}

// Focus state for keyboard and accessibility
.btn:focus {
  @include tab-focus();
}

// Active state
.btn.active, .btn:active {
  background-image: none;
  $shadow: inset 0 2px 4px rgba(0,0,0,.15), 0 1px 2px rgba(0,0,0,.05);
  @include box-shadow($shadow);
  background-color: darken($white, 10%);
  background-color: darken($white, 15%) \9;
  outline: 0;
}

// Disabled state
.btn.disabled, .btn[disabled] {
  cursor: default;
  background-image: none;
  background-color: darken($white, 10%);
  @include opacity(0.65);
  @include box-shadow(none);
}


// Button Sizes
// --------------------------------------------------

// Large
.btn-large {
  padding: 9px 14px;
  font-size: $baseFontSize + 2px;
  line-height: normal;
  @include border-radius(5px);
}
.btn-large [class^="icon-"] {
  margin-top: 1px;
}

// Small
.btn-small {
  padding: 5px 9px;
  font-size: $baseFontSize - 2px;
  line-height: $baseLineHeight - 2px;
}
.btn-small [class^="icon-"] {
  margin-top: -1px;
}


// Mini
.btn-mini {
  padding: 2px 6px;
  font-size: $baseFontSize - 2px;
  line-height: $baseLineHeight - 4px;
}


.btn-primary, .btn-primary:hover, .btn-warning, .btn-warning:hover, .btn-danger, .btn-danger:hover, .btn-success, .btn-success:hover, .btn-info, .btn-info:hover, .btn-inverse, .btn-inverse:hover {
//  text-shadow: 0 -1px 0 rgba(0,0,0,.25);
  color: $white;
  &:visited {
      color: $white;
  }
}
// Provide *some* extra contrast for those who can get it
.btn-primary.active, .btn-warning.active, .btn-danger.active, .btn-success.active, .btn-info.active, .btn-inverse.active {
    color: rgba(255,255,255,.75);
    &:visited {
        color: rgba(255,255,255,.75);
    }
}

// Set the backgrounds
// -------------------------
.btn-primary {
  @include buttonBackground($primaryButtonBackground, adjust-hue($primaryButtonBackground, 20));
}
// Warning appears are orange
.btn-warning {
  @include buttonBackground(lighten($orange, 15%), $orange);
}
// Danger and error appear as red
.btn-danger {
  @include buttonBackground(#ee5f5b, #bd362f);
}
// Success appears as green
.btn-success {
  @include buttonBackground(#62c462, #51a351);
}
// Info appears as a neutral blue
.btn-info {
  @include buttonBackground(#5bc0de, #2f96b4);
}
.btn-inverse {
  @include buttonBackground(#454545, #262626);
}


// Cross-browser Jank
// --------------------------------------------------

button.btn, input[type="submit"].btn {

  // Firefox 3.6 only I believe
  &::-moz-focus-inner {
    padding: 0;
    border: 0;
  }

  // IE7 has some default padding on button controls
  *padding-top: 2px;
  *padding-bottom: 2px;
  &.large {
    *padding-top: 7px;
    *padding-bottom: 7px;
  }
  &.small {
    *padding-top: 3px;
    *padding-bottom: 3px;
  }
}

.button-group {
    @include well;
    display: inline-block;
    list-style: none;
    padding: 15px;
    margin: 0;

    /* IE hacks */
    zoom: 1;
    *display: inline;
}


// Make the div behave like a button
.btn-group {
    display: inline-block;
  position: relative;
  @include clearfix(); // clears the floated buttons
}

// Space out series of button groups
.btn-group + .btn-group {
    margin-left: 5px;
}

// Optional: Group multiple button groups together for a toolbar
.btn-toolbar {
    margin-top: $baseLineHeight / 2;
    margin-bottom: $baseLineHeight / 2;
    .btn-group {
        display: inline-block;
    }
}

// Float them, remove border radius, then re-add to first and last elements
.btn-group .btn {
  position: relative;
  float: left;
  margin-left: -1px;
  @include border-radius(0);
}
// Set corners individual because sometimes a single button can be in a .btn-group and we need :first-child and :last-child to both match
.btn-group .btn:first-child {
  margin-left: 0;
     -webkit-border-top-left-radius: 4px;
         -moz-border-radius-topleft: 4px;
             border-top-left-radius: 4px;
  -webkit-border-bottom-left-radius: 4px;
      -moz-border-radius-bottomleft: 4px;
          border-bottom-left-radius: 4px;
}

.btn-group .btn:last-child, .btn-group .dropdown-toggle {
     -webkit-border-top-right-radius: 4px;
         -moz-border-radius-topright: 4px;
             border-top-right-radius: 4px;
  -webkit-border-bottom-right-radius: 4px;
      -moz-border-radius-bottomright: 4px;
          border-bottom-right-radius: 4px;
}
// Reset corners for large buttons
.btn-group .btn.large:first-child {
  margin-left: 0;
     -webkit-border-top-left-radius: 6px;
         -moz-border-radius-topleft: 6px;
             border-top-left-radius: 6px;
  -webkit-border-bottom-left-radius: 6px;
      -moz-border-radius-bottomleft: 6px;
          border-bottom-left-radius: 6px;
}

.btn-group .btn.large:last-child, .btn-group .large.dropdown-toggle {
     -webkit-border-top-right-radius: 6px;
         -moz-border-radius-topright: 6px;
             border-top-right-radius: 6px;
  -webkit-border-bottom-right-radius: 6px;
      -moz-border-radius-bottomright: 6px;
          border-bottom-right-radius: 6px;
}

// On hover/focus/active, bring the proper btn to front
.btn-group .btn:hover, .btn-group .btn:focus, .btn-group .btn:active, .btn-group .btn.active {
  z-index: 2;
}

// On active and open, dont show outline
.btn-group .dropdown-toggle:active, .btn-group.open .dropdown-toggle {
  outline: 0;
}



// Split button dropdowns
// ----------------------

// Give the line between buttons some depth
.btn-group .dropdown-toggle {
  padding-left: 8px;
  padding-right: 8px;
  $shadow: inset 1px 0 0 rgba(255,255,255,.125), inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
  @include box-shadow($shadow);
  *padding-top: 5px;
  *padding-bottom: 5px;
}

.btn-group.open {

  // Reposition menu on open and round all corners
  .dropdown-menu {
    display: block;
    margin-top: 1px;
    @include border-radius(5px);
  }

  .dropdown-toggle {
    background-image: none;
    $shadow: inset 0 1px 6px rgba(0,0,0,.15), 0 1px 2px rgba(0,0,0,.05);
    @include box-shadow($shadow);
  }
}

// Reposition the caret
.btn .caret {
    margin-top: 7px;
    margin-left: 0;
}


// Account for other colors
.btn-primary, .btn-danger, .btn-info, .btn-success, .btn-inverse {
    .caret {
        border-top-color: $white;
    }
}

// Small button dropdowns
.btn-small .caret {
    margin-top: 4px;
}


// DROPDOWN MENUS
// --------------

// Use the .menu class on any <li> element within the topbar or ul.tabs and youll get some superfancy dropdowns
.dropdown {
  position: relative;
}
.dropdown-toggle {
  // The caret makes the toggle a bit too tall in IE7
  *margin-bottom: -3px;
}
.dropdown-toggle:active, .open .dropdown-toggle {
  outline: 0;
}
// Dropdown arrow/caret
.caret {
    display: inline-block;
    width: 0;
    height: 0;
    text-indent: -99999px;
    // IE7 wont do the border trick if theres a text indent, but it doesnt
    // do the content that text-indent is hiding, either, so were ok.
    *text-indent: 0;
    vertical-align: top;
    border-left:  4px solid transparent;
    border-right: 4px solid transparent;
    border-top:   4px solid $black;
//    @include opacity(0.3);
    content: "\2193";
}
.dropdown .caret {
  margin-top: 8px;
  margin-left: 2px;
}

// The dropdown menu (ul)
.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: $zindexDropdown;
  float: left;
  display: none; // none by default, but block on "open" of the menu
  min-width: 160px;
  _width: 160px;
  padding: 4px 0;
  margin: 0; // override default ul
  list-style: none;
  background-color: $white;
  border-color: #ccc;
  border-color: rgba(0,0,0,.2);
  border-style: solid;
  border-width: 1px;
  @include border-radius(0 0 5px 5px);
  @include box-shadow(0 5px 10px rgba(0,0,0,.2));
  -webkit-background-clip: padding-box;
     -moz-background-clip: padding;
          background-clip: padding-box;
  *border-right-width: 2px;
  *border-bottom-width: 2px;

  // Allow for dropdowns to go bottom up (aka, dropup-menu)
  &.bottom-up {
    top: auto;
    bottom: 100%;
    margin-bottom: 2px;
  }

  // Dividers (basically an hr) within the dropdown
  .divider {
    height: 1px;
    margin: 5px 1px;
    overflow: hidden;
    background-color: #e5e5e5;
    border-bottom: 1px solid $white;

    // IE7 needs a set width since we gave a height. Restricting just
    // to IE7 to keep the 1px left/right space in other browsers.
    // It is unclear where IE is getting the extra space that we need
    // to negative-margin away, but so it goes.
    *width: 100%;
    *margin: -5px 0 5px;
  }

  // Links within the dropdown menu
  a {
    display: block;
    padding: 3px 15px;
    clear: both;
    font-weight: normal;
    line-height: $baseLineHeight;
    color: $gray;
    white-space: nowrap;
  }
}

// Hover state
.dropdown-menu li > a:hover, .dropdown-menu .active > a, .dropdown-menu .active > a:hover {
  color: $white;
  text-decoration: none;
  background-color: $link_color;
}

// Open state for the dropdown
.dropdown.open {
  // IE7s z-index only goes to the nearest positioned ancestor, which would
  // make the menu appear below buttons that appeared later on the page
  *z-index: $zindexDropdown;

  .dropdown-toggle {
    color: $white;
    background: #ccc;
    background: rgba(0,0,0,.3);
  }
  .dropdown-menu {
    display: block;
  }
}

// Typeahead
.typeahead {
  margin-top: 2px; // give it some space to breathe
  @include border-radius(4px);
}


/*
 * Tooltips
 */

.tooltip {
    @include opacity(80);
    display: block;
    position: absolute;
    visibility: visible;
    padding: 5px;
    font-size: 11px;
    z-index: 1000;
    &.above .tooltip-arrow {
        bottom: 0;
        left: 50%;
        margin-left: -5px;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-top: 5px solid black;
    }
    &.left .tooltip-arrow {
        top: 50%;
        right: 0;
        margin-top: -5px;
        border-top: 5px solid transparent;
        border-bottom: 5px solid transparent;
        border-left: 5px solid black;
    }
    &.below .tooltip-arrow {
        top: 0;
        left: 50%;
        margin-left: -5px;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-bottom: 5px solid black;
    }
    &.right .tooltip-arrow {
        top: 50%;
        left: 0;
        margin-top: -5px;
        border-top: 5px solid transparent;
        border-bottom: 5px solid transparent;
        border-right: 5px solid black;
    }
    .tooltip .tooltip-inner {
        padding: 3px 8px;
        background-color: #000;
        color: white;
        text-align: center;
        max-width: 200px;
        text-decoration: none;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
    }
    .tooltip-arrow {
        position: absolute;
        width: 0;
        height: 0;
    }
}

/*
 * Popovers
 */

/*
 * Dialogs
 */

/*
 * Other UI Elements
 */

.well {
    @include well;
}


.rollup {
    @include border-radius(5px);
//    @include box-shadow(1px 1px 2px #888);
    background: #EBF2F7;
    color: #444;
    margin-bottom: 20px;
    padding: 5px;
    border: none;
}



.lightswitch {
    @include border-radius(4px);
    @include box-shadow(inset 0 1px 1px rgba(0,0,0,.05));
    @include no-highlight;
    background-color: #f5f5f5;
    border: 1px solid $gray;
    padding: 0;
    width: 100px;
    height: 32px;
    background: #eee url(../images/greenonoff.png) no-repeat;
    &:hover {
        cursor: pointer;
    }
    .switch {
        margin: -1px 0px; //hack to hide background image
        width: 53px;
        height: 32px;
        border: 1px solid #bbb;
        @include border-radius(4px);
        @include box-shadow(0 1px 3px rgba(0,0,0,.05));
        @include transition(margin-left .25s ease-in-out);
        @include vertical-gradient(#eee, #ddd);
        background-image: url(../images/m.png);
        &.off {
            margin-left: -2px;
            @include left-border-radius(0px);
        }
        &.on {
            margin-left: 48px;
            @include right-border-radius(0px);
        }
    }
}

.search {
    @include border-radius;
    border: 1px solid #ddd;
    width: 250px;
    font-size: 16px;

}


/*
 * Pure CSS Arrows
 */

@mixin arrow-up($size:8px, $color:#ddd) {
        width: 0;
        height: 0;
        border-left: $size solid transparent;
        border-right: $size solid transparent;
        border-bottom: $size solid $color;
}

@mixin arrow-down($size:8px, $color:#ddd) {
        width: 0;
        height: 0;
        border-left: $size solid transparent;
        border-right: $size solid transparent;
        border-top: $size solid $color;
}

@mixin arrow-right($size:8px, $color:#ddd) {
        width: 0;
        height: 0;
        border-top: $size solid transparent;
        border-bottom: $size solid transparent;
        border-left: $size solid $color;
}

@mixin arrow-left($size:8px, $color:#ddd) {
        width: 0;
        height: 0;
        border-top: $size solid transparent;
        border-bottom: $size solid transparent;
        border-right:$size solid $color;
}

.arrow-up {
    @include arrow-up;
}

.arrow-down {
    @include arrow-down;
}

.arrow-right {
    @include arrow-right;
}

.arrow-left {
    @include arrow-left;
}


// PROGRESS BARS
// -------------


// ANIMATIONS
// ----------

// Webkit
@-webkit-keyframes progress-bar-stripes {
  from  { background-position: 0 0; }
  to    { background-position: 40px 0; }
}

// Firefox
@-moz-keyframes progress-bar-stripes {
  from  { background-position: 0 0; }
  to    { background-position: 40px 0; }
}

// Spec
@keyframes progress-bar-stripes {
  from  { background-position: 0 0; }
  to    { background-position: 40px 0; }
}



// THE BARS
// --------

// Outer container
.progress {
  overflow: hidden;
  height: 18px;
  margin-bottom: 18px;
  @include vertical-gradient(#f5f5f5, #f9f9f9);
  @include box-shadow(inset 0 1px 2px rgba(0,0,0,.1));
  @include border-radius(4px);
}

// Bar of progress
.progress .bar {
  width: 0%;
  height: 18px;
  color: $white;
  font-size: 12px;
  text-align: center;
  text-shadow: 0 -1px 0 rgba(0,0,0,.25);
  @include vertical-gradient(#149bdf, #0480be);
  @include box-shadow(inset 0 -1px 0 rgba(0,0,0,.15));
  @include box-sizing(border-box);
  @include transition(width .6s ease);
}

// Striped bars
.progress-striped .bar {
  @include gradient-striped(#62c462);
  @include background-size(40px 40px);
}

// Call animation for the active one
.progress.active .bar {
  -webkit-animation: progress-bar-stripes 2s linear infinite;
     -moz-animation: progress-bar-stripes 2s linear infinite;
          animation: progress-bar-stripes 2s linear infinite;
}



// COLORS
// ------

// Danger (red)
.progress-danger .bar {
  @include gradient-vertical(#ee5f5b, #c43c35);
}
.progress-danger.progress-striped .bar {
  @include gradient-striped(#ee5f5b);
}

// Success (green)
.progress-success .bar {
  @include gradient-vertical(#62c462, #57a957);
}
.progress-success.progress-striped .bar {
  @include gradient-striped(#62c462);
}

// Info (teal)
.progress-info .bar {
  @include gradient-vertical(#5bc0de, #339bb9);
}
.progress-info.progress-striped .bar {
  @include gradient-striped(#5bc0de);
}



/*
 * Inline Labels
 */

.highlight {
    padding: 1px 3px 2px;
    font-weight: bold;
    color: $white;
    text-transform: uppercase;
    white-space: nowrap;
    background-color: $light_gray;
    @include border-radius(3px);
    &.important { background-color: #c43c35; }
    &.warning   { background-color: $red; }
    &.success   { background-color: $green; }
    &.notice    { background-color: $light_blue; }
}


// POPOVERS
// --------

.popover {
    position: absolute;
    top: 0;
    left: 0;
    z-index: $zindexPopover;
    display: none;
    padding: 5px;
    &.top    { margin-top:  -5px; }
    &.right  { margin-left:  5px; }
    &.bottom { margin-top:   5px; }
    &.left   { margin-left: -5px; }
    &.top .arrow    { @include popoverArrowTop(); }
    &.right .arrow  { @include popoverArrowRight(); }
    &.bottom .arrow { @include popoverArrowBottom(); }
    &.left .arrow   { @include popoverArrowLeft();  }
    .arrow {
        position: absolute;
        width: 0;
        height: 0;
    }
}
.popover-inner {
    padding: 3px;
    width: 280px;
    overflow: hidden;
    background: $black; // has to be full background declaration for IE fallback
    background: rgba(0,0,0,.8);
    @include border-radius(6px);
    @include box-shadow(0 3px 7px rgba(0,0,0,0.3));
}
.popover-title {
    padding: 9px 15px;
    line-height: 1;
    background-color: #f5f5f5;
    border-bottom:1px solid #eee;
    @include border-radius(3px 3px 0 0);
}
.popover-content {
    padding: 14px;
    background-color: $white;
    @include border-radius(0 0 3px 3px);
    @include background-clip(padding-box);
    p, ul, ol {
        margin-bottom: 0;
    }
}


/*
 * New style rollups
 */
.new-rollup {
    margin: 0 auto;
    @include clearfix();

    .rollup-box {
        
        margin: 5px;
        padding: 10px;
        width: 204px;
        display: inline-block;
        overflow: hidden;
        background: #EBF2F7;
        @include border-radius(6px);
        @include box-shadow(0 3px 1px rgba(0,0,0,0.1));
        
        @include transition(background .3s linear);

        &.active {
            background: darken(#EBF2F7, 15%);
        }

        &:hover {
            cursor: pointer;
            background: lighten($link_color_hover, 20%);
            &.active {
                background: darken(#EBF2F7, 15%);
            }
        }
        
        .rollup-title {
            margin: 0 auto 5px auto;
            text-align: center;
            padding: 9px 15px;
            line-height: 1;
            background-color: $white;
            border-bottom:1px solid #eee;
            
            @include border-radius(3px 3px 0 0);
        }

        .rollup-stat {
            padding: 14px;
            background-color: $white;
            @include border-radius(0 0 3px 3px);
            @include background-clip(padding-box);
            p, ul, ol {
                margin-bottom: 0;
            }

            p {
                margin-bottom: 0;
                text-align: center;
            }
        }
    }
}