/*
 * ## Colors
 */
/* tinges -- off white colors */
/*
 * ## Utility functions
 */
/*
 * Visibility controls
 */
.left {
  float: left; }

.right {
  float: right; }

.ir {
  display: block;
  text-indent: -999em;
  overflow: hidden;
  background-repeat: no-repeat;
  text-align: left;
  direction: ltr; }

.hidden {
  display: none; }

.visuallyhidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px); }

.invisible {
  visibility: hidden; }

/*
 * Push floating elements into their containing box
 */
.clearfix {
  zoom: 1; }
  .clearfix:before, .clearfix:after {
    content: "\0020";
    display: block;
    height: 0;
    visibility: hidden; }
  .clearfix:after {
    clear: both; }

.no-highlight {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none; }

/*
 * Alternating colors, often used for tables
 */
.alternating-color:nth-child(odd) {
  background: #f7f7f7; }

.alternating-color:nth-child(even) {
  background: #ffffff; }

/*
 * Corner rounding
 */
/*
 * Tabs
 */
.tabs {
  padding: 0px 10px;
  margin: 0 -10px 10px -10px;
  border-bottom: 1px solid #dddddd;
  font-size: 15px; }
  .tabs > ul {
    list-style-type: none; }
  .tabs > li {
    -webkit-border-radius: 3px 3px 0 0;
    -moz-border-radius: 3px 3px 0 0;
    border-radius: 3px 3px 0 0;
    background-color: #e6e6e6;
    background-repeat: repeat-x;
    background-image: -khtml-gradient(linear, left top, left bottom, from(white), to(#e6e6e6));
    background-image: -moz-linear-gradient(top, white, #e6e6e6);
    background-image: -ms-linear-gradient(top, white, #e6e6e6);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, white), color-stop(100%, #e6e6e6));
    background-image: -webkit-linear-gradient(top, white, #e6e6e6);
    background-image: -o-linear-gradient(top, white, #e6e6e6);
    background-image: linear-gradient(top, white, #e6e6e6);
    -webkit-transition: 0.1s linear all;
    -moz-transition: 0.1s linear all;
    transition: 0.1s linear all;
    text-shadow: 0px 1px 1px #f7f7f7;
    border: 1px solid #9CA5AB;
    border-bottom: 1px solid #dddddd;
    display: inline-block;
    padding: 10px 15px;
    margin-bottom: -1px; }
    .tabs > li:hover {
      background-position: 0 -15px;
      color: #e57300;
      text-decoration: none; }
      .tabs > li:hover a {
        text-decoration: none; }
    .tabs > li:active {
      -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.25);
      -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.25);
      box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.25); }
    .tabs > li:focus {
      outline: 1px dotted #666; }
    .tabs > li.active {
      border: 1px solid #dddddd;
      border-bottom: 1px solid white;
      background: white; }
      .tabs > li.active a, .tabs > li.active a:hover {
        text-decoration: none;
        color: #999999;
        background: white;
        text-shadow: 0px 1px 1px #dddddd; }

.tab-section {
  display: none; }
  .tab-section.active {
    display: block; }

/*
 * Alerts
 */
.close {
  filter: alpha(opacity=20);
  -khtml-opacity: 0.2;
  -moz-opacity: 0.2;
  opacity: 0.2;
  float: right;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: black;
  font-size: 20px;
  font-weight: bold;
  text-shadow: 0 1px 0 white;
  line-height: 13.5px; }
  .close:hover {
    filter: alpha(opacity=40);
    -khtml-opacity: 0.4;
    -moz-opacity: 0.4;
    opacity: 0.4;
    color: black;
    text-decoration: none; }

.alert-message {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25);
  -webkit-box-shadow: 0px 1px 10px #dddddd;
  -moz-box-shadow: 0px 1px 10px #dddddd;
  box-shadow: 0px 1px 10px #dddddd;
  background-color: #eedc94;
  background-repeat: repeat-x;
  background-image: -khtml-gradient(linear, left top, left bottom, from(#fceec1), to(#eedc94));
  background-image: -moz-linear-gradient(top, #fceec1, #eedc94);
  background-image: -ms-linear-gradient(top, #fceec1, #eedc94);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fceec1), color-stop(100%, #eedc94));
  background-image: -webkit-linear-gradient(top, #fceec1, #eedc94);
  background-image: -o-linear-gradient(top, #fceec1, #eedc94);
  background-image: linear-gradient(top, #fceec1, #eedc94);
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  border-color: #eedc94 #eedc94 #e4c652;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) fadein(rgba(0, 0, 0, 0.1), 15%);
  position: relative;
  padding: 7px 15px;
  margin-bottom: 10px;
  color: #444444;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  border-width: 1px;
  border-style: solid;
  font-size: 16px; }
  .alert-message .close {
    *margin-top: 3px;
    /* IE7 spacing */ }
  .alert-message p {
    margin-bottom: 0;
    font-size: 14px; }
  .alert-message div {
    margin-top: 5px;
    margin-bottom: 2px;
    line-height: 28px; }
  .alert-message.error, .alert-message.success, .alert-message.info {
    color: #f7f7f7;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5); }
  .alert-message.error {
    background-color: #ba3e33;
    background-repeat: repeat-x;
    background-image: -khtml-gradient(linear, left top, left bottom, from(#e15f58), to(#ba3e33));
    background-image: -moz-linear-gradient(top, #e15f58, #ba3e33);
    background-image: -ms-linear-gradient(top, #e15f58, #ba3e33);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e15f58), color-stop(100%, #ba3e33));
    background-image: -webkit-linear-gradient(top, #e15f58, #ba3e33);
    background-image: -o-linear-gradient(top, #e15f58, #ba3e33);
    background-image: linear-gradient(top, #e15f58, #ba3e33);
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    border-color: #ba3e33 #ba3e33 #7e2a23;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) fadein(rgba(0, 0, 0, 0.1), 15%);
    border-color: #f56a66; }
  .alert-message.success {
    background-color: #73c54f;
    background-repeat: repeat-x;
    background-image: -khtml-gradient(linear, left top, left bottom, from(#93d47d), to(#73c54f));
    background-image: -moz-linear-gradient(top, #93d47d, #73c54f);
    background-image: -ms-linear-gradient(top, #93d47d, #73c54f);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #93d47d), color-stop(100%, #73c54f));
    background-image: -webkit-linear-gradient(top, #93d47d, #73c54f);
    background-image: -o-linear-gradient(top, #93d47d, #73c54f);
    background-image: linear-gradient(top, #93d47d, #73c54f);
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    border-color: #73c54f #73c54f #509631;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) fadein(rgba(0, 0, 0, 0.1), 15%);
    border-color: #5A9A40; }
  .alert-message.info {
    background-color: #68acf6;
    background-repeat: repeat-x;
    background-image: -khtml-gradient(linear, left top, left bottom, from(#78b7fb), to(#68acf6));
    background-image: -moz-linear-gradient(top, #78b7fb, #68acf6);
    background-image: -ms-linear-gradient(top, #78b7fb, #68acf6);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #78b7fb), color-stop(100%, #68acf6));
    background-image: -webkit-linear-gradient(top, #78b7fb, #68acf6);
    background-image: -o-linear-gradient(top, #78b7fb, #68acf6);
    background-image: linear-gradient(top, #78b7fb, #68acf6);
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    border-color: #68acf6 #68acf6 #2084f2;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) fadein(rgba(0, 0, 0, 0.1), 15%);
    border-color: #76A7DA; }
  .alert-message.block-message {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    background-image: none;
    background-color: #fdf5d9;
    padding: 14px;
    border-color: #fceec1; }
    .alert-message.block-message ul, .alert-message.block-message p {
      margin-right: 30px; }
    .alert-message.block-message ul {
      margin-bottom: 0; }
    .alert-message.block-message li {
      color: #444444; }
    .alert-message.block-message .alert-actions {
      margin-top: 5px; }
    .alert-message.block-message.error, .alert-message.block-message.success, .alert-message.block-message.info {
      color: #444444;
      text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5); }
    .alert-message.block-message.error {
      background-color: #fddfde;
      border-color: #fbc7c6; }
    .alert-message.block-message.success {
      background-color: #d1eed1;
      border-color: #bfe7bf; }
    .alert-message.block-message.info {
      background-color: #ddf4fb;
      border-color: #c6edf9; }

/*
 * Buttons
 */
.btn {
  background-color: #e6e6e6;
  background-repeat: repeat-x;
  background-image: -khtml-gradient(linear, left top, left bottom, from(white), to(#e6e6e6));
  background-image: -moz-linear-gradient(top, white, #e6e6e6);
  background-image: -ms-linear-gradient(top, white, #e6e6e6);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, white), color-stop(100%, #e6e6e6));
  background-image: -webkit-linear-gradient(top, white, #e6e6e6);
  background-image: -o-linear-gradient(top, white, #e6e6e6);
  background-image: linear-gradient(top, white, #e6e6e6);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.05);
  -webkit-transition: 0.1s linear all;
  -moz-transition: 0.1s linear all;
  transition: 0.1s linear all;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  cursor: pointer;
  display: inline-block;
  padding: 5px 14px 6px;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  color: #0093DE;
  font-size: 13px;
  line-height: normal;
  border: 1px solid #ccc;
  border-bottom-color: #bbb; }
  .btn:hover {
    background-position: 0 -15px;
    color: #e57300;
    text-decoration: none; }
  .btn:focus {
    outline: 1px dotted #666; }
  .btn.primary {
    background-color: #26aee9;
    background-repeat: repeat-x;
    background-image: -khtml-gradient(linear, left top, left bottom, from(#52d9ff), to(#26aee9));
    background-image: -moz-linear-gradient(top, #52d9ff, #26aee9);
    background-image: -ms-linear-gradient(top, #52d9ff, #26aee9);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #52d9ff), color-stop(100%, #26aee9));
    background-image: -webkit-linear-gradient(top, #52d9ff, #26aee9);
    background-image: -o-linear-gradient(top, #52d9ff, #26aee9);
    background-image: linear-gradient(top, #52d9ff, #26aee9);
    color: white;
    background-color: #26AEE9;
    border-color: #26AEE9 #26AEE9 #3E819C;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25); }
  .btn:active {
    -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.25);
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.25); }
  .btn.big {
    font-size: 20px; }
  .btn.disabled {
    cursor: default;
    background-image: none;
    color: #999999;
    filter: alpha(opacity=65);
    -khtml-opacity: 0.65;
    -moz-opacity: 0.65;
    opacity: 0.65;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none; }
    .btn.disabled:hover {
      color: #999999; }
  .btn[disabled] {
    cursor: default;
    background-image: none;
    filter: alpha(opacity=65);
    -khtml-opacity: 0.65;
    -moz-opacity: 0.65;
    opacity: 0.65;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none; }
  .btn.large {
    line-height: normal;
    padding: 9px 14px 9px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px; }
  .btn.small {
    padding: 7px 9px 7px; }
  .btn.icon:before {
    content: "";
    position: relative;
    top: 2px;
    float: left;
    width: 12px;
    height: 12px;
    margin: 0 0.75em 0 -0.25em;
    background: url(../images/ui-icons-progress.png) no-repeat; }
  .btn.icon.add:before {
    background-position: -2px -194px; }
  .btn.icon.test:before {
    background-position: -179px -116px;
    top: 4px; }
  .btn.icon.start:before {
    top: 4px;
    background-position: -19px -117px; }
  .btn.icon.pause:before {
    background-position: -20px -165px;
    top: 5px; }
  .btn.icon.play:before {
    background-position: -5px -165px;
    top: 5px; }
  .btn.icon.stop:before {
    background-position: -102px -166px;
    top: 5px; }

.button-group {
  background-color: #f5f5f5;
  margin-bottom: 20px;
  padding: 19px;
  min-height: 20px;
  border: 1px solid #eee;
  border: 1px solid rgba(0, 0, 0, 0.05);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  display: inline-block;
  list-style: none;
  padding: 15px;
  margin: 0;
  /* IE hacks */
  zoom: 1;
  *display: inline; }
  .button-group blockquote {
    border-color: #ddd;
    border-color: rgba(0, 0, 0, 0.15); }

/*
 * Tooltips
 */
.tooltip {
  filter: alpha(opacity=80);
  -khtml-opacity: 0.8;
  -moz-opacity: 0.8;
  opacity: 0.8;
  display: block;
  position: absolute;
  visibility: visible;
  padding: 5px;
  font-size: 11px;
  z-index: 1000; }
  .tooltip.above .tooltip-arrow {
    bottom: 0;
    left: 50%;
    margin-left: -5px;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid black; }
  .tooltip.left .tooltip-arrow {
    top: 50%;
    right: 0;
    margin-top: -5px;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid black; }
  .tooltip.below .tooltip-arrow {
    top: 0;
    left: 50%;
    margin-left: -5px;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid black; }
  .tooltip.right .tooltip-arrow {
    top: 50%;
    left: 0;
    margin-top: -5px;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-right: 5px solid black; }
  .tooltip .tooltip .tooltip-inner {
    padding: 3px 8px;
    background-color: #000;
    color: white;
    text-align: center;
    max-width: 200px;
    text-decoration: none;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px; }
  .tooltip .tooltip-arrow {
    position: absolute;
    width: 0;
    height: 0; }

/*
 * Popovers
 */
/*
 * Dialogs
 */
/*
 * Other UI Elements
 */
.well {
  background-color: #f5f5f5;
  margin-bottom: 20px;
  padding: 19px;
  min-height: 20px;
  border: 1px solid #eee;
  border: 1px solid rgba(0, 0, 0, 0.05);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05); }
  .well blockquote {
    border-color: #ddd;
    border-color: rgba(0, 0, 0, 0.15); }

.rollup {
  zoom: 1;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background-color: #eeeeee;
  background-repeat: repeat-x;
  background-image: -khtml-gradient(linear, left top, left bottom, from(white), to(#eeeeee));
  background-image: -moz-linear-gradient(top, white, #eeeeee);
  background-image: -ms-linear-gradient(top, white, #eeeeee);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, white), color-stop(100%, #eeeeee));
  background-image: -webkit-linear-gradient(top, white, #eeeeee);
  background-image: -o-linear-gradient(top, white, #eeeeee);
  background-image: linear-gradient(top, white, #eeeeee);
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  border-color: #eeeeee #eeeeee #c8c8c8;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) fadein(rgba(0, 0, 0, 0.1), 15%);
  width: 940px;
  border: 1px solid #E8E8E8;
  border-bottom: 1px solid #DDD;
  text-shadow: 0 1px 1px white;
  margin-bottom: 15px; }
  .rollup:before, .rollup:after {
    content: "\0020";
    display: block;
    height: 0;
    visibility: hidden; }
  .rollup:after {
    clear: both; }
  .rollup h2, .rollup h4 {
    width: 230px;
    margin: 0 auto;
    padding: 0;
    text-align: center; }
  .rollup h2 {
    font-size: 24px;
    font-weight: 400; }
  .rollup h4 {
    font-weight: 200;
    color: #999999; }
  .rollup .data-figure {
    float: left;
    margin: 0 5px 5px 0;
    padding: 0 5px; }
    .rollup .data-figure .figure {
      font-size: 48px;
      text-align: center; }
    .rollup .data-figure .label {
      font-size: 24px;
      text-align: center;
      font-weight: 200; }
  .rollup.fig2 .data-figure {
    width: 450px; }
  .rollup.fig3 .data-figure {
    width: 293.333px; }
  .rollup.fig4 .data-figure {
    width: 215px; }

.lightswitch {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  background-color: #f5f5f5;
  border: 1px solid #999999;
  padding: 0;
  width: 100px;
  height: 32px;
  background: #eeeeee url(../images/onoff.png) no-repeat; }
  .lightswitch:hover {
    cursor: pointer; }
  .lightswitch .switch {
    margin: -1px 0px;
    width: 53px;
    height: 32px;
    border: 1px solid #bbb;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
    -webkit-transition: margin-left 0.25s ease-in-out;
    -moz-transition: margin-left 0.25s ease-in-out;
    transition: margin-left 0.25s ease-in-out;
    background-color: #dddddd;
    background-repeat: repeat-x;
    background-image: -khtml-gradient(linear, left top, left bottom, from(#eeeeee), to(#dddddd));
    background-image: -moz-linear-gradient(top, #eeeeee, #dddddd);
    background-image: -ms-linear-gradient(top, #eeeeee, #dddddd);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #eeeeee), color-stop(100%, #dddddd));
    background-image: -webkit-linear-gradient(top, #eeeeee, #dddddd);
    background-image: -o-linear-gradient(top, #eeeeee, #dddddd);
    background-image: linear-gradient(top, #eeeeee, #dddddd);
    background-image: url(../images/m.png); }
    .lightswitch .switch.off {
      margin-left: -2px;
      border-top-left-radius: 5px;
      -moz-border-radius-topleft: 5px;
      -webkit-border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
      -moz-border-radius-bottomleft: 5px;
      -webkit-border-bottom-left-radius: 5px; }
    .lightswitch .switch.on {
      margin-left: 48px;
      border-top-right-radius: 5px;
      -moz-border-radius-topright: 5px;
      -webkit-border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
      -moz-border-radius-bottomright: 5px;
      -webkit-border-bottom-right-radius: 5px; }
