{% extends "admin/base.html" %}
{% load filters %}
{% block pageTitle %}<h1>MoPub Metrics Dashboard</h1>{% endblock pageTitle %}

{% block content %}	
    <section>
        <img src="{{chart_url}}" width=600 height=240 style="padding: 5px 0 10px 0; float: right;"/>
    	<table style="font-size: 36px; line-height: 1.3em;" width="300px">
    		<tr><td class="numeric">{{request_count|withsep}}</td><td style="padding-left:5px;"> requests</td></tr>
    		<tr><td class="numeric">{{growth|percentage}}</td><td style="padding-left:5px;"> w/w</td></tr>
    		<tr><td class="numeric">{{click_count|withsep}}</td><td style="padding-left:5px;"> clicks</td></tr>
    		<tr><td class="numeric">{{unique_placements|length|withsep}}</td><td style="padding-left:5px;"> adunits</td></tr>
    		<tr><td class="numeric">{{unique_accounts|length|withsep}}</td><td style="padding-left:5px;"> pubs</td></tr>
    	</table>
    </section>
	
	<section>
    	<h3>Ad Units</h3>
    	<table width="100%">
    		<thead>
    			<th>Name</th>
    			<th>Account</th>
    			<th width="75px">Requests</th>
    			<th width="75px">Clicks</th>
    			<th width="75px">CTR</th>
    		</thead>
    		{% for p in placements %}
    		<tr>
    			<td>{{p.site.name}}</td>
    			<td><a href="mailto:{{p.site.account.user.email}}">{{p.site.account.user.email}}</a></td>
    			<td class="numeric">{{p.request_count|withsep}}</td>
    			<td class="numeric">{{p.click_count|withsep}}</td>
    			<td class="numeric">{{p.ctr|percentage}}</td>
    		</tr>
    		{% endfor %}
    	</table>
    </section>
	
	<section>
        <h3>Traffic Breakdown</h3>
        <table width="100%">
        	<thead>
        		<tr>
        		<th>Date</th>
        		<th width="75px">Requests</th>
        		<th width="75px">Clicks</th>
        		<th width="75px">CTR</th>
        		</tr>
        	</thead>
        	{% for s in stats %}
        	<tr>
        		<td>{{s.date}}</td>
        		<td class="numeric">{{s.request_count|withsep}}</td>
        		<td class="numeric">{{s.click_count|withsep}}</td>
        		<td class="numeric">{{s.ctr|percentage}}</td>
        	</tr>
        	{% endfor %}
	
        </table>
	</section>
	
{% endblock %}
