<html> 
<head>
	<title>{{title}} - {{addr}}</title>
	<style type="text/css">
	.creative {
		font-size: 12px;
		font-family: Arial, sans-serif;
		width: {{w}}px;
		height: {{h}}px;
	}

	.creative .creative_url a {
		color: green;
		text-decoration: none;
	}
	
	</style>
</head> 
<body style="margin: 0;width:{{w}}px;height:{{h}}px;padding:0;"> 
	{% ifequal c.ad_type "text" %}
		<div class="creative" onclick="window.location='{{url}}';">
			<div style="padding: 5px 10px;">
			<a href="{{url}}" class="creative_headline">{{c.headline}}</a><br/>
			{{c.line1}} 
			{{c.line2}}<br/>
			<span class="creative_url"><a href="{{url}}">{{c.display_url}}</a></span>
			</div>
		</div>
	{% endifequal %}
	{% ifequal c.ad_type "image" %}
		<a href="{{url}}">
			<img src="/campaigns/creative/image/{{c.key}}" width={{w}} height={{h}}/>
		</a>
	{% endifequal %}
</body> 
</html> 
