                 {% load filters %}

					{{ form.company|attrs:'{"placeholder":"My Company Name"}' }}
					{{ form.phone|attrs:'{"label":"Phone #:","placeholder":"+1 (555) 555-5555"}' }}
                  <dt><label for="traffic">Est. Traffic:</label></dt>
                  <dd>
                    <input id="traffic" name="{{form.traffic.name}}" placeholder="50" class="input-text input-text-number {% if form.traffic.errors %}form-error{% endif %}" value="{{form.traffic.value}}"/> (MM impressions/month)
                    {% for error in form.traffic.errors %}
                    <div class="form-error-text">{{error}}</div> 
                    {% endfor %}
                  </dd>
                  <dt><input id="mailing_list" name="{{form.mailing_list.name}}" placeholder="50" class="{% if form.mailing_list.errors %}form-error{% endif %}" {% if form.mailing_list.value %}checked="checked"{% endif %} type="checkbox"/></dt>
                  <dd>
                     I would like to receive occasional product update emails from MoPub.
                    {% for error in form.mailing_list.errors %}
                    <div class="form-error-text">{{error}}</div> 
                    {% endfor %}
                  </dd>