{% load filters %}

 <dl class="formFields">

   {{form.payment_preference}}

   <div id="paypal_only">
     {{form.paypal_email}}
   </div>

   <div id="wire_only">

     {{form.country}}
     <div class="us_only">
       {{form.us_tax_id|attrs:'{"placeholder":"United States accounts only"}'}}
       {{form.local_tax_id|attrs:'{"placeholder":"United States accounts only"}'}}
     </div>

     {{form.beneficiary_name}}
     {{form.bank_name}}
     {{form.bank_address}}
     {{form.account_number}}
     <div class="us_only">
       {{form.ach_routing_number|attrs:'{"placeholder":"United States accounts only"}'}}
       {{form.bank_swift_code|attrs:'{"placeholder":"United States accounts only"}'}}
     </div>

   </div>
 </dl>

