{% load filters %}{% load googletags %}<!doctype html>  

<!--[if lt IE 7 ]> <html lang="en" class="no-js ie6"> <![endif]-->
<!--[if IE 7 ]>    <html lang="en" class="no-js ie7"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en" class="no-js ie8"> <![endif]-->
<!--[if IE 9 ]>    <html lang="en" class="no-js ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en" class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">

  <title>MoPub - {% block pageTitleTag %}Ad Serving for Mobile Applications{% endblock %}</title>
  <meta name="description" content="">
  <meta name="author" content="">
  {% block extraMeta %}{% endblock %}
  <!-- TypeKit -->
  <script type="text/javascript" src="http://use.typekit.com/qhz7iwb.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>

  <link rel="shortcut icon" href="/favicon.ico">
  <link rel="apple-touch-icon" href="/apple-touch-icon.png">

  <!-- CSS -->
  <link rel="stylesheet" href="/js/mylibs/jquery-ui-1.8.7.custom/css/mopub/jquery-ui-1.8.7.custom.css" />  
  <link rel="stylesheet" href="/css/style.css?v=33">
  {% block extraCSS %}{% endblock %}
 
  <!-- modernizr -->
  <script src="/js/mylibs/modernizr-1.6.min.js"></script>
   
  <!-- Google load for jquery and jqueryui -->
  <script src="https://www.google.com/jsapi?key=ABQIAAAAbRw2cYJlVhkm8Sy9e32IvhSp_nRSlbw3drc-oo9CvDm6lSB7YhTn-1GvX4YW6_H-c4ZV_1LYTj_jrw" type="text/javascript"></script>
  <script type="text/javascript">
      //<![CDATA[
      google.load("jquery", "1.4.4");
      google.load("jqueryui", "1.8.7");
  </script>
        
  <!--jQuery and jQuery UI Plugins. These are aggregated from all the *.min.js files in /public/js/mylibs/*-->
  <script src="/js/mylibs/jquery.mopub.js"></script> 

   <!--jQuery UI SelectMenu Plugins TODO: Where should this go? -->
  <script src="/js/mylibs/jquery-ui-1.8.7.custom/development-bundle/ui/jquery.ui.selectmenu.js"></script> 

  <script src="/js/mylibs/jquery.treeview/jquery.treeview.js"></script> 
  <link rel="stylesheet" href="/js/mylibs/jquery.treeview/jquery.treeview.css" />
  <script src="/js/mylibs/jquery.cookie.js"></script> 

  <!-- Highcharts -->
  <script src="/js/mylibs/highcharts/highcharts.js"></script>
  
  <!-- MoPub -->
  <script src="/js/mopub.js?v=21"></script>
  {% block extraScripts %}<script src="/js/mopub-dashboard.js?v=22"></script>{% endblock extraScripts %}
  
  <!-- KISSmetrics -->
  <script type="text/javascript">
    var _kmq = _kmq || [];
    function _kms(u){
      setTimeout(function(){
        var s = document.createElement('script'); var f = document.getElementsByTagName('script')[0]; s.type = 'text/javascript'; s.async = true;
        s.src = u; f.parentNode.insertBefore(s, f);
      }, 1);
    }
    _kms('//i.kissmetrics.com/i.js');_kms('//doug1izaerwt3.cloudfront.net/bac035c888be28f161fd88b0e4d2325d67acb2a9.1.js');
  </script>

  <!--[if lt IE 7 ]>
    <script src="/js/mylibs/dd_belatedpng.js"></script>
    <script> DD_belatedPNG.fix('img, .png_bg'); </script>
  <![endif]-->
  
  <script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-20014961-2']);
  _gaq.push(['_trackPageview']);
  _gaq.push(['_trackPageLoadTime']);

  (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
  </script>
</head>

{% block body_content %}
<body id="mopub-dashboard">
  <div id="container">
    <a class="visuallyhidden" href="#main">Skip navigation</a>
    <div id="jsnotice">
      JavaScript is currently disabled. This site requires JavaScript to function correctly.
      Please <a href="http://enable-javascript.com/"> enable JavaScript in your browser</a>!
    </div>
    
    <header>
      <div class="pageWidth">
        <div id="logo"><a class="ir" href="/">MoPub</a></div>
        
        <nav id="nav1">
          <ul>
            {% block navLinks %}
            <li><a href="{% url publisher_index %}">Dashboard</a></li>
            <li><a href="{% url advertiser_campaign %}">Campaigns</a></li>
            <li><a href="{% url reports_index %}">Reports</a></li>
            {% endblock navLinks %}
          </ul>
        </nav>
        
        <nav id="nav2">
          <ul>
            <li><a href="{% url account_index %}">Your account</a></li>
            <li><a href="http://help.mopub.com/" target="_blank">Help</a></li>
            {% if user.is_authenticated %}  
            <li><a href="{% url django.contrib.auth.views.logout %}">Log out</a></li>
            {% endif %}
            <!-- <li><a href="{% google_login_url %}">Google Log In</a></li>
            <li><a href="{% url django.contrib.auth.views.login %}">Hybrid Log In</a></li> -->
          </ul>
        </nav>
      </div>
    </header>
    
    <div id="main">
      <div id="titlebar">
        <div class="pageWidth">
          {% block pageTitle %}<h1>Dashboard</h1>{% endblock pageTitle %}
{% block dateButtons %}
          <div id="titlebar-center">
            <span class="buttonset" id="dashboard-dateOptions">
              <input type="radio" name="dashboard-dateOptions-option" value="7" id="dashboard-dateOptions-option-7" {% ifequal date_range 7 %}checked="checked" {% endifequal %}/>
              <label for="dashboard-dateOptions-option-7">7 days</label>
              <input type="radio" name="dashboard-dateOptions-option" value="14" id="dashboard-dateOptions-option-14" {% ifequal date_range 14 %}checked="checked" {% endifequal %}{% if not date_range %}checked="checked" {% endif %}/>
              <label for="dashboard-dateOptions-option-14">14 days</label>
              <input type="radio" name="dashboard-dateOptions-option" value="30" id="dashboard-dateOptions-option-30" {% ifequal date_range 30 %}checked="checked" {% endifequal %}/>
              <label for="dashboard-dateOptions-option-30">30 days</label>
              <input type="radio" name="dashboard-dateOptions-option" value="custom" id="dashboard-dateOptions-option-custom" />
              <label for="dashboard-dateOptions-option-custom">Custom ...</label>
            </span>
            <div id="dashboard-dateOptions-custom-modal">
              <div id="dashboard-dateOptions-custom-from"><h4>Start date:</h4></div>
              <div id="dashboard-dateOptions-custom-to"><h4>End date:</h4></div>
            </div>
          </div>
{% endblock dateButtons %}
          <div id="titlebar-right">
{% block titleBarRight %}
<!-- Disable for now
            <span class="titlebar-link">
              <a class="linkIcon" href="{% url publisher_index_geo %}">Ad performance by region <span class="ui-icon ui-icon-triangle-1-e"></span></a>
            </span>
-->
{% endblock titleBarRight %}
          </div>
        </div>
      </div>
      <div id="content">
        <div class="pageWidth">
{% block messageCenter %}
          <section class="separated" id="messageCenter">
            <table id="messageCenter-messages">
              <tbody>
                <tr class="messageCenter-message messageCenter-error" id="messageCenter-message-0">
                  <td class="messageCenter-message-date">Jan 12, 2011</td>
                  <td class="messageCenter-message-text">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    <div class="messageCenter-message-moreInfo">
                      <h3>Lorem ipsum!</h3>
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    </div>
                  </td>
                  <td class="messageCenter-message-links">
                    <a class="messageCenter-message-moreInfoLink" href="#">More info</a>
                    <span class="sep">&middot;</span>
                    <a class="messageCenter-message-hide mutedLink" href="#">Hide this</a>
                  </td>
                </tr>
                <tr class="messageCenter-message messageCenter-warning" id="messageCenter-message-1">
                  <td class="messageCenter-message-date">Jan 11, 2011</td>
                  <td class="messageCenter-message-text">
                    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                  </td>
                  <td class="messageCenter-message-links">
                    <a class="messageCenter-message-hide mutedLink" href="#">Hide this</a>
                  </td>
                </tr>
                <tr class="messageCenter-message messageCenter-info" id="messageCenter-message-2">
                  <td class="messageCenter-message-date">Jan 10, 2011</td>
                  <td class="messageCenter-message-text">
                    Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia.
                    <div class="messageCenter-message-moreInfo">
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    </div>
                  </td>
                  <td class="messageCenter-message-links">
                    <a class="messageCenter-message-moreInfoLink" href="#">More info</a>
                    <span class="sep">&middot;</span>
                    <a class="messageCenter-message-hide mutedLink" href="#">Hide this</a>
                  </td>
                </tr>
              </tbody>
            </table>
          </section>{% endblock messageCenter %}{% block content %}{% endblock content %}
        </div>
      </div>
    </div>
    <div class="clear"></div>
    
    <footer>
      <div id="footer-inner">
        <div class="pageWidth">
          <div id="footer-links"> 
            <ul id="menu-footer">
              <li class="menu-item menu-item-type-post_type menu-item-58">&copy; 2011 MoPub Inc.</li> 
              <li id="menu-item-58" class="menu-item menu-item-type-post_type menu-item-58"><a href="http://www.mopub.com/privacy/">Privacy</a></li> 
              <li id="menu-item-57" class="menu-item menu-item-type-post_type menu-item-57"><a href="http://www.mopub.com/mopub-ads-privacy-policy/">Privacy &#8211; Ad Serving</a></li> 
              <li id="menu-item-59" class="menu-item menu-item-type-post_type menu-item-59"><a href="http://www.mopub.com/terms/">Terms of Service</a></li> 
              <li id="menu-item-279" class="menu-item menu-item-type-custom menu-item-279"><a href="http://www.mopub.com/resources">Resources</a></li> 
            </ul>           
            <ul id="menu-social">
              <li class="menu-item menu-item-type-post_type menu-item-58">&nbsp;</li>
              <li id="menu-item-60" class="menu-item menu-item-type-custom menu-item-60"><a href="http://www.twitter.com/mopub">@mopub</a></li> 
              <li id="menu-item-268" class="menu-item menu-item-type-post_type menu-item-268"><a href="http://www.mopub.com/about/">About</a></li> 
              <li id="menu-item-61" class="menu-item menu-item-type-post_type menu-item-61"><a href="http://www.mopub.com/contact/">Contact Us</a></li> 
              <li id="menu-item-270" class="menu-item menu-item-type-post_type menu-item-270"><a href="http://www.mopub.com/jobs/">Jobs</a></li> 
            </ul>         
          </div>
          <div id="footer-account">
            {% if user.is_authenticated %}  
            Logged in as <a href="{% url account_index %}">{{user.email}}</a>
            {% endif %}
{% block adminSelect %}
{% if user.is_admin %}
                  <div style="float:right;padding-left:10px">
                    <form id="admin_user_switch" action="{% url admin_switch_user %}" method="POST">
                      Sudo: <input id="user_switcher" type="text" name="user_email" placeholder="user@email.com"/>
                    </form>
                  </div>
                  <script type="text/javascript">
                  function getCookie(c_name) {
                    if (document.cookie.length>0) {
                      c_start=document.cookie.indexOf(c_name + "=");
                      if (c_start!=-1) {
                        c_start=c_start + c_name.length+1;
                        c_end=document.cookie.indexOf(";",c_start);
                        if (c_end==-1) c_end=document.cookie.length;
                        return unescape(document.cookie.substring(c_start,c_end));
                      }
                    }
                    return "";
                  }
                  var user_email = getCookie('account_email').slice(1,-1);
                  var $text_input = $('#user_switcher');
                  $text_input.val(user_email)
                  </script>
{% endif %}
{% endblock adminSelect %}
            {% if user.is_authenticated %}  
            <span class="sep">&middot;</span>
            <a href="{% url django.contrib.auth.views.logout %}">Log out</a>
            {% endif %}
          </div>
        </div>
      </div>
    </footer>
  </div> <!-- end of #container -->
</body>
{% endblock body_content %}
</html>
