{% extends "../base.html" %}
{% block title %}{{campaign.name}}{% endblock %}
{% block content %}
	<h3>
		<a href="/campaigns">Campaigns</a> &gt; 
		<a href="/campaigns/show/{{campaign.key}}">{{campaign.name}}</a> &gt;
		{{adgroup.name}}
		<div class="toolbar">
			<a href="/campaigns/adgroup/edit?id={{adgroup.key}}">
				Edit {{adgroup.name}}
			</a>
		</div>
	</h3>
	<table>
		<tr><th>Status</th>
			<td class="numeric"><b>
				{% if adgroup.deleted %}
					Deleted
				{% endif %}
				{% if adgroup.active and not adgroup.deleted %}
					Active
				{% endif %}
				{% if not adgroup.active and not adgroup.deleted %}
					Paused
				{% endif %}
			</b></td>
			<td>
				<form method="post" action="/campaigns/bid/pause?id={{adgroup.key}}" style="display: inline;"><input type="submit" value="Pause"></form>
				<form method="post" action="/campaigns/bid/remove?id={{adgroup.key}}" style="display: inline;"><input type="submit" value="Delete"></form>
			</tr>
		<tr><th>Max Bid</th><td class="numeric">{{adgroup.bid|currency}}</td></tr>
	</table>
	
	<h3>
		Keywords and Placements
	</h3>
	<table class="wide">
		{% if adgroup.keywords %}
			<thead>
				<th>Keyword</th>
				<th width="75px">Impr.</th>
				<th width="75px">Clicks</th>
				<th width="75px">Cost</th>
			</thead>
		{% endif %}
		{% for k in keywords %}
			<tr>
				<td>{{k.keyword}}</td>
				<td>{{k.stats.impression_count}}</td>
				<td>{{k.stats.click_count}} ({{k.stats.ctr|percentage}})</td>
				<td>{{k.stats.revenue|currency}}</td>
			</tr>
		{% endfor %}
	</table>
		 
	<table class="wide">
		{% if sites %}
			<thead>
				<th>Placement</th>
				<th width="75px">Impr.</th>
				<th width="75px">Clicks</th>
				<th width="75px">Cost</th>
			</thead>
		{% endif %}
		{% for s in sites %}
			<tr>
				<td><a href="/sites/show?id={{s.key}}">{{s.name}}</a></td>
				<td>{{s.stats.impression_count}}</td>
				<td>{{s.stats.click_count}} ({{s.stats.ctr|percentage}})</td>
				<td>{{s.stats.revenue|currency}}</td>
			</tr>
		{% endfor %}
	</table>
	
	<h3>
		Ad Creatives
		<div class="toolbar">
			<a href="#" onclick="javascript:Toggle.display('add_creative_box');return false;">
				Create Text Ad
			</a>
			|
			<a href="#" onclick="javascript:Toggle.display('add_image_creative_box');return false;">
				Create Image Ad
			</a>			
		</div>
	</h3>
	<form method="post" action="/campaigns/creative/create" enctype="multipart/form-data"
		id="add_creative_box" style="display:none;" class="special_notice">		
		<input type="hidden" name="id" value="{{adgroup.key}}"/>
		<table>
			<tr><th>Headline</th><td><input type='text' name="headline" size="40"/></td></tr>
			<tr><th>Line 1</th><td><input type='text' name="line1" size="30"/></td></tr>
			<tr><th>Line 2</th><td><input type='text' name="line2" size="30"/></td></tr>
			<tr><th>URL</th><td><input type='text' name="url" size="50"/></td></tr>
			<tr><th>Display URL</th><td><input type='text' name="display_url" size="35"/></td></tr>
			<tr><th></th><td><input type='submit' value="Create Ad &raquo;"/></td></tr>
		</table>
	</form>
	<form method="post" action="/campaigns/creative/create" enctype="multipart/form-data"
		id="add_image_creative_box" style="display:none;" class="special_notice">		
		<input type="hidden" name="id" value="{{adgroup.key}}"/>
		<table>
			<tr><th>Image File</th><td><input type='file' name="image" size="40"/></td></tr>
			<tr><th>URL</th><td><input type='text' name="url" size="50"/></td></tr>
			<tr><th></th><td><input type='submit' value="Create Ad &raquo;"/></td></tr>
		</table>
	</form>
	
	<form method="post" action="/campaigns/creative/remove">
	<table class="creatives wide">
	{% if creatives %}
		<thead>
			<th></th>
			<th>Creative</th>
			<th>Status</th>
			<th width="75px">Impr.</th>
			<th width="75px">Clicks</th>
			<th width="75px">Cost</th>
		</thead>
	{% endif %}
	{% for c in creatives %}
		<tr>
			<td><input type="checkbox" name="id" value="{{c.key}}"></input></td>
			<td>
				{% ifequal c.ad_type "text" %}
				<div class="creative">
					<a href="{{c.url}}" class="creative_headline">{{c.headline}}</a><br/>
					{{c.line1}}<br/>
					{{c.line2}}<br/>
					<span class="creative_url"><a href="{{c.url}}">{{c.display_url}}</a></span>
				</div>
				{% endifequal %}
				{% ifequal c.ad_type "image" %}
				<div class="creative">
					<a href="{{c.url}}">
						<img src="/campaigns/creative/image/{{c.key}}" width=250>
					</a>
				</div>
				{% endifequal %}
				<div class="clearall"></div>
			</td>
			<td>
				<b>
					{% if c.deleted %}
						Deleted
					{% endif %}
					{% if c.active and not c.deleted %}
						Active
					{% endif %}
					{% if not c.active and not c.deleted %}
						Paused
					{% endif %}
				</b>
			</td>
			<td class="numeric">{{c.stats.impression_count}}</td>
			<td class="numeric">{{c.stats.click_count}} ({{c.stats.ctr|percentage}})</td>
			<td class="numeric">{{c.stats.revenue|currency}}</td>
		</tr>
	{% endfor %}
	{% if creatives %}
		<tr>
			<td colspan=8>
				<p></p><input type='submit' name='delete' value='Delete Ads'/>
			</td>
		</tr>
	{% else %}
		<tr>
			<td colspan=8>
				<p>No creatives.</p>
			</td>
		</tr>			
	{% endif %}
	</table>
	</form>
	
	
{% endblock %}
