<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
	<link rel="stylesheet" type="text/css" href="/stylesheets/default.css"></link>
	<link rel="stylesheet" type="text/css" href="/stylesheets/highnote.css"></link>
	<title>{{p.headline}}</title>
	
	<meta name="description" content="{% block description %}{% endblock %}" />

	<link rel="image_src" href="/images/favicon.png" />

	<link rel="icon" type="image/png" href="/images/favicon.png"></link>		
	<link rel="shortcut icon" type="image/png" href="/images/favicon.png"></link>
	
	<script type="text/javascript" src="/js/prototype.js"></script>
	<script type="text/javascript">
	function highnote_trackImpression() {
		var ajaxRequest = new Ajax.Request("/pages/imp/{{p.key}}", {
		    method:       'post', 
		    parameters:   {"bid": '{{b.key}}', "creative": '{{c.key}}'}, 
		    asynchronous: true,
		    onComplete:   function() {
				}
		});
		return false;
	}
	</script>	
	
	{% block head %}{% endblock %}
</head>
<body onload="{% if not r %}highnote_trackImpression();{% endif %}">
	<div id="outer">
		<div id="upbg"></div>
		<div id="inner">
			<div  style="background: url({{p.campaign.asset.status.profile_background_image_url}}); text-align: center; height: 800px;">
				<div style="background-color: #fff; opacity: 0.98; width: 550px; margin: 0 auto; padding: 0 10px;">
					<img src="/pages/logo/{{p.key}}" width=500 height=125/>
					
					<h1 style="font-size: 48px; padding: 70px 0 0 0; line-height: 55px;">						
						{{p.headline}}
					</h1>
					<p style="text-align: center; font-size: 24px; padding: 0 0 50px 0;">
						on <img src="http://assets0.twitter.com/images/twitter_logo_header.png" alt="twitter" style="margin-top: -10px;"/>
					</p>
					<p style="font-size: 24px; line-height: 1.3em; text-align: center; padding: 0 0 50px 0;">
						{{p.line1}}<br/>
						{{p.line2}}<br/>
						<!--div  style="width: 350px; margin: 0 auto;">
							Last tweet:
							<cite>								
								&quot;{{p.campaign.asset.status.status.text}}&quot; {{p.campaign.asset.status.status.created_at|time_ago_in_words}} ago
							</cite>
						</div-->
					</p>
					
					{% if not r %}
						<form method="post" action="/pages/clk/{{p.key}}" name="click_form">
							<input type="hidden" name="bid" value="{{b.key}}"/>
							<input type="hidden" name="creative" value="{{c.key}}"/>
							<p style="font-size: 24px; line-height: 1.3em; text-align: center; ">
								Click <b>{{p.campaign.call_to_action|default:"Follow"}}</b> below
								to connect your Twitter<br/> account and follow
								<img src="{{p.campaign.asset.status.profile_image_url}}" height=25 width=25 style="margin-top: -8px;"/>
								<b>@{{p.campaign.asset.screen_name}}</b>
							</p>
							<p style="text-align: center;">
								<input type="checkbox" name="retweet" value="True" checked/> Also send a tweet saying "Just followed {{p.headline}} on Twitter, you can too!"
							</p>
							<div onclick="click_form.submit();" 
								style="margin: 30px auto 0 auto; background: url(/images/button-orangebg.png) no-repeat; vertical-align: middle; padding-top: 15px;
											 color: #fff; height: 100px; width: 200px; font-size: 32px; font-family: verdana; cursor: pointer;">
								{{p.campaign.call_to_action|default:"Follow"}}
							</div>
						</form>				
					{% else %}
						<h1 style="font-size: 36px;">Success!</h1>
						<p style="height: 300px; text-align: center;">Redirecting to {{r}} in 3 seconds...</p>
						<script type="text/javascript">
							window.setTimeout('window.location = "{{r}}";', 3000);
						</script>
					{% endif %}
			</div>
			</div>
			<div id="footer">
				<p style="text-align: center;">
					Powered by <a href="http://www.highnotenetworks.com">Highnote Ads</a>.
					We do not perform any un-authorized operations with your Twitter account.
					&copy; 2008-09 Highnote Networks, Inc.
					<!--a href="http://www.highnotenetworks.com">Advertise</a> |-->
				</p>
	
			</div>
		</div>

	</div>
</body>
</html>
