{% extends "../base.html" %}
{% block content %}
	<h3>
		Add landing page - <a href="/campaigns/show/{{campaign.key}}">{{campaign.name}}</a>
	</h3>

	<form method="post" action="/pages/create" enctype="multipart/form-data">		
		<input type="hidden" name="id" value="{{c.key}}"/>
		<p>
			By uploading media and images to Highnote for promotional purposes, you agree
			to the 
			<a href="http://docs.google.com/Doc?id=dchtg6s8_0hphzctg8">
				Highnote Content Licensing Terms and Conditions
			</a>.
		</p>
		<table>
			<tr><th>Headline</th><td><input type='text' name="headline" size="40"/></td></tr>
			<tr><th>Line 1</th><td><input type='text' name="line1" size="30"/></td></tr>
			<tr><th>Line 2</th><td><input type='text' name="line2" size="30"/></td></tr>
			<tr><th>Call to action</th><td><input type='text' name="call_to_action" size="12"/></td></tr>
			<tr><th>Redirect URL</th><td><input type='text' name="redirect_url" size="45"/></td></tr>
			
			<tr><td colspan=2><h3>Logo</h3></td></tr>
			<tr><th>Logo image (800x200)</th><td><input type='file' name="logo" size="30"/></td></tr>
						
			<tr><td colspan=2><h3>Options</h3></td></tr>
			<tr><td colspan=2>{{f.show_background}} Use Twitter profile background as landing page background</td></tr>
			<tr><td colspan=2>{{f.show_last_tweet}} Show last tweet</td></tr>
			<tr><td colspan=2>{{f.show_followers}} Show number of followers</td></tr>
			<tr><td colspan=2>{{f.show_embed}} Show embedded media from Youtube.  URL: {{f.youtube_id}}</td></tr>
			
			
			<tr><td colspan=2><input type='submit' value="Add Landing Page"/></td></tr>
		</table>
	</form>
{% endblock %}