1/* Campaigns */

.campaignData,
.reportData {
    padding: 10px 5px 6px 5px;
    background: #f7f7f7;
}

.campaignData:nth-child(even),
.campaignData-alt,
.reportData-alt {
    background: #fff;
}

.creativeData {
    padding: 10px 5px 6px 5px;
    background: #f7f7f7;
}

.campaignData-placeholder,
.reportData-placeholder {
    display: table-row;
}

.campaignData th.dataTable-name,
.reportData th.dataTable-name {
    width: 200px;
}

.campaignData-icon,
.reportData-icon {
    padding-right: 0;
    width: 55px;
}

.campaignData-icon input,
.reportData-icon input {
    margin-left: 5px;
}

.campaignData-icon img,
.reportData-icon img {
    margin: 4px 0 0 4px;
}

table.campaignData-main,
table.reportData-table {
    margin: 0 0 15px 0;
    width: 100%;
}

.campaignData-main th,
.campaignData-main td,
.reportData-table th,
.reportData-table td {
    font-size: 13px;
    font-weight: normal;
    &.status {
        width: 120px;
    }
}

.campaignData-rollup {
/*  background: #F5F9FC;*/
    background: #EBF2F7;
    color: #444;
    margin-bottom: 20px;
    padding: 5px;
    border: none;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}


#campaigns-appFilterOptions {
  display:block;
  position:relative;
  right:150px;
  margin-right: 40px;
  padding-right: 40px;
}

#campaigns-control-panel{
  display:block;
  width:100%;
}

#advertisers-addCampaign{
  position:absolute;
  margin-top:5px;
  right:0px;
}

.center-button-bank{
  display:inline-block;
  position:relative;
  left:210px;
  background: #F7F7F7;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  padding:5px 40px;
}

.pace {
  font-size: 12px;
  white-space: nowrap;
}

.pace-success {
  color: #53a600;
}

.pace-warning {
  color: #F1C522;
}

.pace-failure {
  color: #ac6f6f;
}

.loading-img {
    padding-left: 3px;
}

/* New Campaign */

#campaignForm-details{
  padding-top:0px;
}

#target-by-device{
  padding-top: 5px;
  padding-left: 50px;
}

#archive-link{
  float: right;
  position: relative;
  bottom: 20px;
}

/* Campaigns Archive */
.dataTable-budget-delivered, .dataTable-budget-goal{
  width:100px;
}

#date-controls-container {
    width: 300px;
    margin: 0 auto;
    padding-left: 100px
}

/* Marketplace Tab */

ul.adunits {
    list-style-type: none;
    margin: 0;
    padding: 0;

    li {
        margin: 3px 0px;
        padding: 0;
        width: 100%;
    }

}

.app-icon {
    display: block;
    float: left;
}

.app-detail {
    float: left;
    margin: 0px 5px;
}

.ad_network_table {
    th:not(:first-child) {
        text-align: center;
    }
    .shaded {
        background: #f9f9f9;
    }
    .top-row {
        td {
            font-size: 18px;
            text-align: right;
        }
        td:first-child {
            text-align: left;
        }
        td.network-status {
            text-align: left;
        }
        td.network-icon {
            width: 10%;
        }
        span.muted {
            font-size: 13px;
        }
    }
    .sub-rows td:not(:first-child) {
        text-align: right;
    }

    .add-border td {
        border-bottom: 1px dotted #ddd;
    }
}

ul#content_filter_levels {
    list-style-type: none;
    margin-left: 5px;
    padding-left: 1px;
}

