{% extends "networks_base.html" %}
{% load filters %}

{% block pageTitle %}
<div class="breadcrumb">
    <h1>Networks > {{network.pretty_name}}</h1>
</div>
{% endblock pageTitle %}

{% block titleBarRight %}
<span class="titlebar-right">
    <a class="button" id="network-settingsButton" href="{% url edit_network campaign_key=network.campaign_key %}">Edit Network Settings</a>
</span>
{% endblock titleBarRight %}

{% block innerContent %}
<section id="network-status">
<table class="status-table">
    <tr>
        <td>
            <img src="/images/{{network.name}}-transparent.png" alt="{{network.pretty_name}}" width="150" height="50" />
        </td>
        <td class="network-name">
            {{network.pretty_name}}
        </td>
    </tr>

    <tr>
        <td class="status-field">
            Status:
        </td>
        <td>
            {% if network.active %}
            <img src="/images/active.gif" height="9" width="9" /> Running
            {% else %}
            <img src="/images/paused.gif" height="9" width="9" /> Paused
            {% endif %}
        </td>
    </tr>

    <tr>
        <td class="status-field">
            Targeting:
        </td>
        <td>
            {{ network.targeting }}
        </td>
    </tr>
</table>
</section>

<section id="show-network-data">
{% if reporting %}
<div style="float:right">
    <input type="checkbox" name="show-data" id="show-network" /> Show data reported by network in <span style="color:orange;">orange</span>
</div>
{% endif %}

</section>

<section id="aggregate-stats">
<div id='promo-rollups' class="campaignData-rollup">
    <table width=100% style='text-align:center; font-size:18px; font-weight:400;'>
        <thead>
            <tr>
                {% if reporting %}
                <th class="dataTable-data numeric"> Revenue </th>
                {% endif %}
                <th class="dataTable-data numeric"> CPM </th>
                <th class="dataTable-data numeric"> Attempts </th>
                <th class="dataTable-data numeric"> Impressions </th>
                <th class="dataTable-data numeric"> Fill Rate </th>
                <th class="dataTable-data numeric"> Clicks </th>
                <th class="dataTable-data numeric"> CTR </th>
            </tr>
        </thead>
        <tbody>
            <tr id="{{network.campaign_key}}-row">
                {% if reporting %}
                <td class="dataTable-data numeric">
                    <div class="networks-revenue" style="color:orange;">--</div>
                </td>
                {% endif %}
                <td class="dataTable-data numeric">
                    {% if reporting %}
                    <div class="networks-cpm network-data">--</div>
                    {% endif %}
                    <div class="all-cpm mopub-data">--</div>
                </td>
                <td class="dataTable-data numeric">
                    {% if reporting and network.name != MOBFOX %}
                    <div class="networks-attempt_count network-data">--</div>
                    {% endif %}
                    <div class="all-attempt_count mopub-data">--</div>
                </td>
                <td class="dataTable-data numeric">
                    {% if reporting %}
                    <div class="networks-impression_count network-data">--</div>
                    {% endif %}
                    <div class="all-impression_count mopub-data">--</div>
                </td>
                <td class="dataTable-data numeric">
                    {% if reporting %}
                    <div class="networks-fill_rate network-data">--</div>
                    {% endif %}
                    <div class="all-fill_rate mopub-data">--</div>
                </td>
                <td class="dataTable-data numeric">
                    {% if reporting %}
                    <div class="networks-click_count network-data">--</div>
                    {% endif %}
                    <div class="all-click_count mopub-data">--</div>
                </td>
                <td class="dataTable-data numeric">
                    {% if reporting %}
                    <div class="networks-ctr network-data">--</div>
                    {% endif %}
                    <div class="all-ctr mopub-data">--</div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
</section>

<section id="dashboard-apps">
<h2>App Breakdown</h2>
<div class="tab-section networks active">
    <div class="appData-columnHeaders">
        <table class="dataTable" width=100%>
            <thead>
                <th class="networkData-icon" style="width:75px"></th>
                <th class="dataTable-name"></th>
                {% if reporting %}
                <th class="dataTable-data numeric"> Revenue </th>
                {% endif %}
                <th class="dataTable-data numeric"> CPM </th>
                <th class="dataTable-data numeric"> Attempts </th>
                <th class="dataTable-data numeric"> Impressions </th>
                <th class="dataTable-data numeric"> Fill Rate </th>
                <th class="dataTable-data numeric"> Clicks </th>
                <th class="dataTable-data numeric"> CTR </th>
            </thead>
        </table>
    </div>
    {% for app in network.mopub_app_stats %}
    <div class="{% cycle 'appData' 'appData appData-alt' %}">
        <table class="dataTable appData-main">
            <tbody id="{{app.key}}-stats">
                <tr id="{{app.key}}-row">
                    <td class="appData-icon">
                        <a href="/inventory/app/{{app.key_}}">
                            <img src="{% if app.icon_url %}{{app.icon_url}}{% else %}/placeholders/image.gif{% endif %}" alt="Icon" width="45" height="45" />
                        </a>
                    </td>
                    <td class="dataTable-name">
                        <a href="/inventory/app/{{app.key_}}">{{app.name}}</a>
                        <span class="muted unbold">({{app.app_type_text}})</span>
                    </td>
                    {% if reporting %}
                    <td class="dataTable-data numeric">
                        <div class="network-revenue" style="color:orange;"></div>
                    </td>
                    {% endif %}
                    <td class="dataTable-data numeric">
                        {% if reporting %}
                        <div class="network-cpm network-data"></div>
                        {% endif %}
                        <div class="mopub-cpm mopub-data"></div>
                    </td>
                    <td class="dataTable-data numeric">
                        {% if reporting and network.name != MOBFOX %}
                        <div class="network-attempt_count network-data"></div>
                        {% endif %}
                        <div class="mopub-attempt_count mopub-data"></div>
                    </td>
                    <td class="dataTable-data numeric">
                        {% if reporting %}
                        <div class="network-data network-impression_count"></div>
                        {% endif %}
                        <div class="mopub-impression_count mopub-data"></div>
                    </td>
                    <td class="dataTable-data numeric">
                        {% if reporting and network.name != MOBFOX %}
                        <div class="network-data network-fill_rate"></div>
                        {% endif %}
                        <div class="mopub-fill_rate mopub-data"></div>
                    </td>
                    <td class="dataTable-data numeric">
                        {% if reporting %}
                        <div class="network-data network-click_count"></div>
                        {% endif %}
                        <div class="mopub-click_count mopub-data"></div>
                    </td>
                    <td class="dataTable-data numeric">
                        {% if reporting %}
                        <div class="network-data network-ctr"></div>
                        {% endif %}
                        <div class="mopub-ctr mopub-data"></div>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="appData-details" style="margin: -10px 0 0 86px">
            <table class="dataTable">
                <tbody id="{{app.key}}-adunits">
                </tbody>
            </table>
        </div>
    </div>
    {% endfor %}
</div>
</section>

{% endblock innerContent %}

{% block extraScripts %}
{{ block.super }}
<script type="text/html" id="network-app-template">
    {% include "partials/network_app.html" %}
</script>
{% include_script "models/inventory" %}
{% include_script "views/inventory" %}
{% include_script "controllers/networks" %}
<script>
    $(function () {
        var graph_start_date = Date.UTC({{ start_date.year }}, {{ start_date.month|add:"-1" }}, {{ start_date.day }});

        NetworkDetailsController.initialize({
            campaign_data: {{ campaign_data|safe }},
            graph_start_date: graph_start_date,
            ajax_query_string: 's={{ start_date.year }}-{{ start_date.month }}-{{ start_date.day }}&r={{ date_range }}'});
    });
</script>
{% endblock extraScripts %}

