{% extends "networks_base.html" %}
{% load filters %}

{% block pageTitle %}
<div class="breadcrumb">
    <h1>Networks > {{network.pretty_name}}</h1>
</div>
{% endblock pageTitle %}

{% block titleBarRight %}
<span class="titlebar-right">
    <a class="button" href="{% url edit_network network=network.name %}">Edit Network Settings</a>
</span>
{% endblock titleBarRight %}

{% block graph %}
<section class="offset nomargin" id="dashboard-stats">
<h3 class="stats-chart-title">
    Realtime Stats for {{start_date|format_date_compact}} to {{end_date|format_date_compact}}
</h3>
{# Controls and stats breakdown for the top realtime stats #}
<div class="stats">
    {% comment %}
    {% stats_breakdown stats %}
    {% endcomment %}
    <div class="stats">
        <div id="stats-breakdown" class="stats-breakdown">
            <table>
                <tbody>
                    <tr class="active" id="stats-breakdown-impression_count">
                        <td class="stats-breakdown-value today"><span class="inner"></span></td>
                        <td class="stats-breakdown-value yesterday"><span class="inner"></span></td>
                        <td class="stats-breakdown-value all"><span class="inner"></span></td>
                        <th class="stats-breakdown-name"><span class="inner">Impressions</span></th>
                    </tr>
                    <tr id="stats-breakdown-click_count">
                        <td class="stats-breakdown-value today"><span class="inner"></span></td>
                        <td class="stats-breakdown-value yesterday"><span class="inner"></span></td>
                        <td class="stats-breakdown-value all"><span class="inner"></span></td>
                        <th class="stats-breakdown-name"><span class="inner">Clicks</span></th>
                    </tr>
                    <tr id="stats-breakdown-ctr">
                        <td class="stats-breakdown-value today"><span class="inner"></span></td>
                        <td class="stats-breakdown-value yesterday"><span class="inner"></span></td>
                        <td class="stats-breakdown-value all"><span class="inner"></span></td>
                        <th class="stats-breakdown-name"><span class="inner">CTR</span></th>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="chart stats-chart" id="dashboard-stats-chart"></div>
    </div>
</div>
</section>
{% endblock graph %}

{% block innerContent %}
<section id="network-status">
<table class="status-table">
    <tr>
        <td>
            <img src="/images/{{network.name}}-transparent.png" alt="{{network.pretty_name}}" width="150" height="50" />
        </td>
        <td class="network-name">
            {{network.pretty_name}}
        </td>
    </tr>

    <tr>
        <td class="status-field">
            Status:
        </td>
        <td>
            {% if network.active %}
            <img src="/images/active.gif" height="9" width="9" /> Running
            {% else %}
            <img src="/images/paused.gif" height="9" width="9" /> Paused
            {% endif %}
        </td>
    </tr>

    <tr>
        <td class="status-field">
            Targeting:
        </td>
        <td>
            All
        </td>
    </tr>
</table>
</section>

<section id="network-choices">
{% if network.reporting %}
<span class="buttonset">
    <input id="show-both" type="radio" name="show-data" value="both" checked="true"/>
    <label for="show-both" title="Show network stats in green alongside MoPub stats in black.">Show Both</label>
    <input id="show-network" type="radio" name="show-data" value="network"/>
    <label for="show-network" title="Show only network stats.">Show Network Data</label>
    <input id="show-mopub" type="radio" name="show-data" value="mopub"/>
    <label for="show-mopub" title="Show only MoPub stats.">Show MoPub Data</label>
</span>
{% endif %}

</section>

<section id="aggregate-stats">
<div id='promo-rollups' class="campaignData-rollup">
    <table width=100% style='text-align:center; font-size:18px; font-weight:400;'>
        <thead>
            <tr>
                <th class="dataTable-data numeric"> eCPM </th>
                {% if network.reporting %}
                <th class="dataTable-data numeric"> Revenue </th>
                {% endif %}
                <th class="dataTable-data numeric"> Attempts </th>
                <th class="dataTable-data numeric"> Impressions </th>
                <th class="dataTable-data numeric"> Clicks </th>
            </tr>
        </thead>
        <tbody>
            <tr id="{{network.name}}-row">
                <td class="dataTable-data numeric">
                    {% if network.reporting %}
                    <div class="cpm network-data">--</div>
                    {% endif %}
                    <div class="mopub-cpm mopub-data">{{network.mopub_stats.get_cpm|currency}}</div>
                </td>
                {% if network.reporting %}
                <td class="dataTable-data numeric">
                    <div class="revenue network-data">--</div>
                </td>
                {% endif %}
                <td class="dataTable-data numeric">
                    {% if network.reporting and network.name != MOBFOX %}
                    <div class="attempts network-data">--</div>
                    {% endif %}
                    <div class="mopub-attempts mopub-data">{{network.mopub_stats.request_count|withsep}}</div>
                </td>
                <td class="dataTable-data numeric">
                    {% if network.reporting %}
                    <div class="network-data">
                        <span class="impressions">--</span> {% if network.name != MOBFOX %}(<span class="fill-rate">--</span>) {% endif %}
                    </div>
                    {% endif %}
                    <div class="mopub-impressions mopub-data">
                        {{network.mopub_stats.impression_count|withsep}} ({{network.mopub_stats.fill_rate|percentage}})
                    </div>
                </td>
                <td class="dataTable-data numeric">
                    {% if network.reporting %}
                    <div class="network-data">
                        <span class="clicks">--</span> (<span class="ctr">--</span>)
                    </div>
                    {% endif %}
                    <div class="mopub-clicks mopub-data">
                        {{network.mopub_stats.click_count|withsep}} ({{network.mopub_stats.ctr|percentage}})
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
</section>

<section id="dashboard-apps">
<h2>App Breakdown</h2>
<div class="tab-section networks active">
    <div class="appData-columnHeaders">
        <table class="dataTable" width=100%>
            <thead>
                <th class="networkData-icon" style="width:75px"></th>
                <th class="dataTable-name"></th>
                <th class="dataTable-data numeric"> CPM </th>
                {% if network.reporting %}
                <th class="dataTable-data numeric"> Revenue </th>
                {% endif %}
                <th class="dataTable-data numeric"> Attempts </th>
                <th class="dataTable-data numeric"> Impressions </th>
                <th class="dataTable-data numeric"> Clicks </th>
            </thead>
        </table>
    </div>
    <div class="{% cycle 'appData' 'appData appData-alt' %}">
        <div class="appData-details {{network.name}}-row" style="margin: -10px 0 0 86px">
            <div class="appData-details-inner show">
                <table class="dataTable">
                    <tbody id="app-on-{{network.name}}">
                        {% for app in network.mopub_app_stats %}
                        <tr id="{{app.identifier}}-on-{{network.name}}-row">
                            <td class="appData-icon">
                                <a href="/inventory/app/{{app.key_}}">
                                    <img src="{% if app.icon_url %}{{app.icon_url}}{% else %}/placeholders/image.gif{% endif %}" alt="Icon" width="45" height="45" />
                                </a>
                            </td>
                            <td class="dataTable-name">
                                <a href="/inventory/app/{{app.key_}}">{{app.name}}</a>
                                <span class="muted unbold">({{app.app_type_text}})</span>
                            </td>
                            <td class="dataTable-data numeric">
                                <div class="cpm network-data"></div>
                                <div class="mopub-cpm mopub-data">{{app.stats.get_cpm|currency}}</div>
                            </td>
                            {% if network.reporting %}
                            <td class="dataTable-data numeric">
                                <div class="revenue network-data"></div>
                            </td>
                            {% endif %}
                            <td class="dataTable-data numeric">
                                {% if network.name != MOBFOX %}
                                <div class="attempts network-data"></div>
                                {% endif %}
                                <div class="mopub-attempts mopub-data">{{app.stats.request_count|withsep}}</div>
                            </td>
                            <td class="dataTable-data numeric">
                                <div class="network-data">
                                    <span class="impressions"></span> {% if network.reporting and network.name != MOBFOX %}(<span class="fill-rate"></span>){% endif %}
                                </div>
                                <div class="mopub-impressions mopub-data">
                                    {{app.stats.impression_count|withsep}} ({{app.stats.fill_rate|percentage}})
                                </div>
                            </td>
                            <td class="dataTable-data numeric">
                                <div class="network-data">
                                    <span class="clicks"></span> {% if network.reporting %}(<span class="ctr"></span>){% endif %}
                                </div>
                                <div class="mopub-clicks mopub-data">
                                    {{app.stats.click_count|withsep}} ({{app.stats.ctr|percentage}})
                                </div>
                            </td>
                        </tr>
                        {% for adunit in app.adunits %}
                        <tr class="{{app.identifier}}-on-{{network.name}}-adunit-row">
                            <td></td>
                            <td class="dataTable-name">{{adunit.name}}</td>
                            <td class="dataTable-data numeric">
                                {{adunit.stats.get_cpm|currency}}
                            </td>
                            {% if network.reporting %}
                            <td></td>
                            {% endif %}
                            <td class="dataTable-data numeric">
                                {{adunit.stats.request_count|withsep}}
                            </td>
                            <td class="dataTable-data numeric">
                                {{adunit.stats.impression_count|withsep}} ({{adunit.stats.fill_rate|percentage}})
                            </td>
                            <td class="dataTable-data numeric">
                                {{adunit.stats.click_count|withsep}} ({{adunit.stats.ctr|percentage}})
                            </td>
                        </tr>
                        {% endfor %}
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</section>

{% endblock innerContent %}

{% block extraScripts %}
{{ block.super }}
<script type="text/html" id="app-on-network-row-template">
    {% include "partials/app_on_network.html" %}
</script>
<script type="text/javascript" src="/js/models/ad_network_reports.js?v=3"></script>
<script type="text/javascript" src="/js/views/ad_network_reports.js?v=3"></script>

{% include_script "models/inventory" %}
{% include_script "views/inventory" %}
{% include_script "controllers/old_networks" %}
<script>
    $(function () {
        var account_key = '{{ account_key }}';

        var graph_start_date = Date.UTC({{ start_date.year }}, {{ start_date.month|add:"-1" }}, {{ start_date.day }});

        var today = {% if today != None %}{{ today }}{% else %}null{% endif %};

        var yesterday = {% if yesterday != None %}{{ yesterday }}{% else %}null{% endif %};

        NetworkDetailsController.initialize({
            adgroups_data: [
                {% for adgroup in adgroups %}{
                  id: '{{ adgroup.key }}',
                  active: {% if adgroup.active %}true{% else %}false{% endif %},
                  name: '{{ adgroup.name }}',
                  bid_strategy: '{{ adgroup.bid_strategy }}',
                  details_url: '{% url advertiser_adgroup_show adgroup_key=adgroup.key %}',
                  network_type: '{{ adgroup.network_type }}'}{% if not forloop.last %},{% endif %}
                {% endfor %}
                ],
            network_data: [{
                name: '{{ network.name }}',
                models: [{% for app in network.mopub_app_stats %}
                {% if app.pub_id %}{
                    id: '{{ app.pub_id }}',
                    app_identifier: '{{ app.identifier }}',
                    network: '{{ network.name }}'},
                {% endif %}
                {% endfor %}]
            }],
            graph_start_date: graph_start_date,
            today: today,
            yesterday: yesterday,
            ajax_query_string: 's={{ start_date.year }}-{{ start_date.month }}-{{ start_date.day }}&r={{ date_range }}'});

        console.log({{graph_stats|safe}});
        // TODO: remove hack
        var adgroups = new AdGroups({{graph_stats|safe}});

        var graph_view = new CollectionGraphView({
            collection: adgroups,
            start_date: graph_start_date,
            today: today,
            yesterday: yesterday,
            line_graph: true,
            mopub_optimized: false,
        });
        graph_view.render();

        $('#show-both').click(function() {
            $('.mopub-data').show();
            $('.network-data').show();
        });

        $('#show-network').click(function() {
            $('.mopub-data').hide();
            $('.network-data').show();
        });

        $('#show-mopub').click(function() {
            $('.mopub-data').show();
            $('.network-data').hide();
        });
    });
</script>
{% endblock extraScripts %}

