{% extends "ad_network_base.html" %}
{% load filters %}

{% block pageTitle %}
  <div class="breadcrumb">
    <h1>Networks > {{network.pretty_name}}</h1>
  </div>
{% endblock pageTitle %}

{% block titleBarRight %}
  <span class="titlebar-right">
    <a class="button" href="{% url edit_network network=network.name %}">Edit Network Settings</a>
  </span>
{% endblock titleBarRight %}

{% block innerContent %}
  <section id="network-status">
    <table width="200px">
      <tr>
        <td>
          <img src="/images/{{network.name}}-transparent.png" alt="{{network.pretty_name}}" width="75" height="25" />
        </td>
        <td>
          {{network.pretty_name}}
        </td>
      </tr>

      <tr>
        <td>
          Status:
        </td>
        <td>
          {% if network.active %}
            <img src="/images/active.gif" height="9" width="9" />
          {% else %}
            <img src="/images/paused.gif" height="9" width="9" />
          {% endif %}
        </td>
      </tr>

      <tr>
        <td>
         Targeting:
        </td>
        <td>
          All
        </td>
      </tr>
    </table>
  </section>

  <section id="network-choices">
    {% if network.name in REPORTING_NETWORKS %}
      <span class="buttonset">
        <input id="show-both" type="radio" name="show-data" value="both" checked="true"/>
        <label for="show-both" title="Show network stats in green alongside MoPub stats in black.">Show Both</label>
        <input id="show-network" type="radio" name="show-data" value="network"/>
        <label for="show-network" title="Show only network stats.">Show Network Data</label>
        <input id="show-mopub" type="radio" name="show-data" value="mopub"/>
        <label for="show-mopub" title="Show only MoPub stats.">Show MoPub Data</label>
      </span>
    {% endif %}

    <div class="buttonBank buttonBank-right">
        <select name='exportSelect' id='ad-network-exportSelect' class='selectmenu export-selectMenu'>
            <option value="">Export</option>
            <option value="/ad_network_reports/export/xls">XLS</option>
            <option value="/ad_network_reports/export/csv">CSV</option>
        </select>
    </div>
  </section>

  <section id="aggregate-stats">
    <div id='promo-rollups' class="campaignData-rollup">
      <table width=100% style='text-align:center; font-size:18px; font-weight:400;'>
        <thead>
          <tr>
            {% if network.name in REPORTING_NETWORKS %}
              <th class="dataTable-data numeric"> Revenue </th>
            {% endif %}
            <th class="dataTable-data numeric"> Attempts </th>
            <th class="dataTable-data numeric"> Impressions </th>
            <th class="dataTable-data numeric"> CPM </th>
            <th class="dataTable-data numeric"> Fill Rate </th>
            <th class="dataTable-data numeric"> Clicks </th>
            <th class="dataTable-data numeric"> CPC </th>
            <th class="dataTable-data numeric"> CTR </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            {% if network.name in REPORTING_NETWORKS %}
            <td class="dataTable-data numeric">
              <div class="revenue network-data">--</div>
            </td>
            {% endif %}
            {% if network.name != MOBFOX %}
              <td class="dataTable-data numeric">
                <div class="attempts network-data">--</div>
                <div class="mopub-attempts mopub-data">{{network.mopub_stats.request_count|withsep}}</div>
              </td>
            {% else %}
              <td class="dataTable-data numeric"></td>
            {% endif %}
            <td class="dataTable-data numeric">
              <div class="impressions network-data">--</div>
              <div class="mopub-impressions mopub-data">{{network.mopub_stats.impression_count|withsep}}</div>
            </td>
            <td class="dataTable-data numeric">
              <div class="cpm network-data">--</div>
              <div class="mopub-cpm mopub-data">{{network.mopub_stats.get_cpm|currency}}</div>
            </td>
            {% if network.name != MOBFOX %}
              <td class="dataTable-data numeric">
                <div class="fill-rate network-data">--</div>
                <div class="mopub-fill-rate mopub-data">{{network.mopub_stats.fill_rate|percentage}}</div>
              </td>
            {% else %}
              <td class="dataTable-data numeric"></td>
            {% endif %}
            <td class="dataTable-data numeric">
              <div class="clicks network-data">--</div>
              <div class="mopub-clicks mopub-data">{{network.mopub_stats.click_count|withsep}}</div>
            </td>
            <td class="dataTable-data numeric">
              <div class="cpc network-data">--</div>
              <div class="mopub-cpc mopub-data">{{network.mopub_stats.cpc|currency}}</div>
            </td>
            <td class="dataTable-data numeric">
              <div class="ctr network-data">--</div>
              <div class="mopub-ctr mopub-data">{{network.mopub_stats.ctr|percentage}}</div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </section>

  <section id="dashboard-apps">
  <h2>App Breakdown</h2>
  <div class="tab-section networks active">
    <div class="appData-columnHeaders">
      <table class="dataTable" width=100%>
        <thead>
          <th class="networkData-icon" style="width:75px"></th>
          <th class="dataTable-name"></th>
          {% if network.name in REPORTING_NETWORKS %}
            <th class="dataTable-data numeric"> Revenue </th>
          {% endif %}
          <th class="dataTable-data numeric"> Attempts </th>
          <th class="dataTable-data numeric"> Impressions </th>
          <th class="dataTable-data numeric"> CPM </th>
          <th class="dataTable-data numeric"> Fill Rate </th>
          <th class="dataTable-data numeric"> Clicks </th>
          <th class="dataTable-data numeric"> CPC </th>
          <th class="dataTable-data numeric"> CTR </th>
        </thead>
      </table>
    </div>
      <div class="{% cycle 'appData' 'appData appData-alt' %}">
        <div class="appData-details {{network.name}}-row" style="margin: -10px 0 0 86px">
          <div class="appData-details-inner show">
            <table class="dataTable">
              <tbody id="app-on-{{network.name}}">
                {% for app_data in network.mopub_app_stats %}
                <tr id="{{app_data.app.identifier}}-on-{{network.name}}-row">
                  <td class="appData-icon">
                    <a href="/inventory/app/{{app.key_}}">
                      <img src="{% if app.icon_url %}{{app.icon_url}}{% else %}/placeholders/image.gif{% endif %}" alt="Icon" width="45" height="45" />
                    </a>
                    </td>
                    <td class="dataTable-name">
                      <a href="/inventory/app/{{app.key_}}">{{app.name}}</a>
                      <span class="muted unbold">({{app.app_type_text}})</span>
                      <img id="{{app.identifier}}-img" class="loading-img" style="display:none;" src="../images/icons-custom/spinner-12.gif" />
                  </td>
                  {% if network.name in REPORTING_NETWORKS %}
                  <td class="dataTable-data numeric">
                    <div class="revenue network-data"></div>
                  </td>
                  {% endif %}
                  <td class="dataTable-data numeric">
                    <div class="attempts network-data"></div>
                    <div class="mopub-attempts mopub-data">{{app_data.stats.request_count|withsep}}</div>
                  </td>
                  <td class="dataTable-data numeric">
                    <div class="impressions network-data"></div>
                    <div class="mopub-impressions mopub-data">{{app_data.stats.impression_count|withsep}}</div>
                  </td>
                  <td class="dataTable-data numeric">
                    <div class="cpm network-data"></div>
                    <div class="mopub-cpm mopub-data">{{app_data.stats.get_cpm|currency}}</div>
                  </td>
                  <td class="dataTable-data numeric">
                    <div class="fill-rate network-data"></div>
                    <div class="mopub-fill-rate mopub-data">{{app_data.stats.fill_rate|percentage}}</div>
                  </td>
                  <td class="dataTable-data numeric">
                    <div class="clicks network-data"></div>
                    <div class="mopub-clicks mopub-data">{{app_data.stats.click_count|withsep}}</div>
                  </td>
                  <td class="dataTable-data numeric">
                    <div class="cpc network-data"></div>
                    <div class="mopub-cpc mopub-data">{{app_data.stats.cpc|currency}}</div>
                  </td>
                  <td class="dataTable-data numeric">
                    <div class="ctr network-data"></div>
                    <div class="mopub-ctr mopub-data">{{app_data.stats.ctr|percentage}}</div>
                  </td>
                </tr>
                {% for adunit in app_data.adunits %}
                <tr class="{{app_data.app.identifier}}-on-{{network.name}}-adunit-row hidden">
                  <td class="dataTable-name">{{adunit.name}}</td>
                  <td colspan="2"></td>
                  <td class="dataTable-data numeric">
                    {{adunit.stats.request_count|withsep}}
                  </td>
                  <td class="dataTable-data numeric">
                    {{adunit.stats.impression_count|withsep}}
                  </td>
                  <td class="dataTable-data numeric">
                    {{adunit.stats.get_cpm|currency}}
                  </td>
                  <td class="dataTable-data numeric">
                    {{adunit.stats.fill_rate|percentage}}
                  </td>
                  <td class="dataTable-data numeric">
                    {{adunit.stats.click_count|withsep}}
                  </td>
                  <td class="dataTable-data numeric">
                    {{adunit.stats.cpc|currency}}
                  </td>
                  <td class="dataTable-data numeric">
                    {{adunit.stats.ctr|percentage}}
                  </td>
                </tr>
                {% endfor %}
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
  </div>
  </section>

{% endblock innerContent %}

{% block extraScripts %}
  {{ block.super }}
  <script type="text/html" id="app-on-network-row-template">
    {% include "partials/app_on_network.html" %}
  </script>
  <script type="text/javascript" src="/js/models/ad_network_reports.js?v=3"></script>
  <script type="text/javascript" src="/js/views/ad_network_reports.js?v=3"></script>
  <script type="text/javascript" src="/js/controllers/networks.js?v=0"></script>
  <script type="text/javascript" src="/js/controllers/ad_network_reports.js?v=0"></script>
  <script>
    $(function () {
        account_key = '{{ account_key }}';

        AdNetworkReportsController.initializeAdReportsIndex({
        networks_data: [{
           network: '{{ network.name }}',
           models: [{% for app_data in network.mopub_app_stats %}
            {% if app_data.pub_id %}{
              id: '{{ app_data.pub_id }}',
              app_identifier: '{{ app_data.app.identifier }}',
              network: '{{ network.name }}'},
            {% endif %}
            {% endfor %}]
          }],
        apps_data: [],
        ajax_query_string: 's={{ start_date.year }}-{{ start_date.month }}-{{ start_date.day }}&r={{ date_range }}'});

        $('#show-both').click(function() {
            $('.mopub-data').show();
            $('.network-data').show();
        });

        $('#show-network').click(function() {
            $('.mopub-data').hide();
            $('.network-data').show();
        });

        $('#show-mopub').click(function() {
            $('.mopub-data').show();
            $('.network-data').hide();
        });


        $('.show-adunits').click(function() {
            var key = $(this).attr('id');
            var rows = $('.' + key + '-row');
            if (rows.is(':hidden')) {
              rows.show();
              $(this).html("Hide Sites");
            } else {
              rows.hide()
              $(this).html("Show Sites");
            }
        });
    });
  </script>
{% endblock extraScripts %}
