{% extends 'advertiser/base.html' %}

{% load fields %}
{% load filters %}

{% block dateButtons %}
{% endblock dateButtons %}

{% block extraScripts %}
{% include_script "libs/bootstrap" %}
{% include_style "bootstrap" %}
{% comment %}Should be able to do {{ campaign_form.media }}{% endcomment %}
<script type="text/javascript">
    priors = {{ adgroup_form.geo_predicates|field_value|to_json|safe }};
    city_priors = {{ adgroup_form.cities|field_value|to_json|safe }};
</script>
<script type="text/javascript">
    var copy_bid = function (event, this_obj) {
        var key = $(this_obj).attr("id").replace('-adunit-copy-bid', '');
        var keys = key.split("-app-");
        var app_key = keys[0];
        var adunit_key = keys[1];
        $('.' + app_key + '-cpm-field').val($('#id_' + adunit_key + '-bid').val());
    }

    $(function () {
            // TODO: network changes in django
            var network_type = '{{ network.name }}';

            $('.app-pub-id').keyup(function () {
                var value = $(this).val();
                var div = $(this).parents('div.appData');
                $(div).find('input[name$="'+pub_id+'"]').each(function () {
                    if (!$(this).hasClass('initialized')) {
                        $(this).val(value);
                    }
                    });
                });

            _.each([{% for app in apps %}{% for adunit in app.adunits %}['{{ app.key }}', '{{ adunit.key }}'],{% endfor %}{% endfor %}], function(key) {
                var app_key = key[0];
                var adunit_key = key[1];
                // TODO: use _ template
                $('#id_' + adunit_key + '-bid')
                    .popover({html: true,
                        content: function() {
                            return '<a class="button ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" id="' + app_key + '-app-' + adunit_key + '-adunit-copy-bid" onmousedown="copy_bid(event, $(this));" role="button" style="visibility: visible; "><span class="ui-button-text">Copy all</span></a>';
                        },
                        template: '<div class="popover"><div class="arrow"></div><div class="popover-inner copy-bid"><div class="popover-content copy-bid"><p></p></div></div></div>',
                        trigger: 'focus'});
                    });

            $('.all-adunits').click(function() {
                var key = $(this).attr('id').replace('-all-adunits', '');
                if ($(this).is(':checked')) {
                    $('.' + key + '-adunit').attr("checked", "checked");
                } else {
                    $('.' + key + '-adunit').removeAttr("checked");
                }
                });
                

            // set cpms when copy all cpm button is clicked for either 14 day
            // or 7 day
            _.each(['7-day', '14-day'], function(days) {
                $('#copy-' + days).click(function() {
                    $('.' + days + '-cpm').each(function() {
                        var key = $(this).attr('id').replace('-' + days, '');
                        var cpm = parseFloat($(this).text().replace('$', '')).toString();
                        $('.' + key + '-field').val(cpm);
                        });
                    });
                $('.copy-' + days).click(function() {
                    var key = $(this).attr('id').replace('copy-' + days + '-', '');
                    var cpm = parseFloat($(this).parent().text().replace('$', '')).toString();
                    $('.' + key + '-field').val(cpm);
                    });
                });

            // make necessary changes based on wether optimize is checked
            $('#advanced').click(function() {
                    if ($('.advanced').is(':hidden')) {
                        $('.advanced').slideDown();
                    } else {
                        $('.advanced').slideUp();
                    }
                })

            // TODO: merge this with controllers/campaigns.js form
            function setupNetworkForm() {
                // select the appropriate campaign_type from the hash
                if (window.location.hash.substring(1) !== '') {
                    $('select[name="campaign_type"]').val(window.location.hash.substring(1));
                }

                var validator = $('form#campaign_and_adgroup').validate({
                    errorPlacement: function(error, element) {
                        element.closest('div').append(error);
                    },
                    submitHandler: function(form) {
                        $(form).ajaxSubmit({
                            data: {ajax: true, show_login: !$('#networkSettingsForm').is(':hidden')},
                            dataType: 'json',
                            success: function(jsonData, statusText, xhr, $form) {
                                if(jsonData.success) {
                                    window.location = jsonData.redirect;
                                    $('form#campaign_and_adgroup #submit').button({
                                        label: 'Success...',
                                        disabled: true
                                    });
                                } else {
                                    console.log(jsonData.errors);
                                    validator.showErrors(jsonData.errors);
                                    $('form#campaign_and_adgroup #submit').button({
                                        label: 'Try Again',
                                        disabled: false
                                    });
                                }
                            },
                            error: function(jqXHR, textStatus, errorThrown) {
                                $('form#campaign_and_adgroup #submit').button({
                                    label: 'Try Again',
                                    disabled: false
                                });
                            },
                            beforeSubmit: function(arr, $form, options) {
                                $('form#campaign_and_adgroup #submit').button({label: 'Submitting...',
                                                                               disabled: true});
                            }
                        });
                    }
                });
            }

            setupNetworkForm();

            $('form#campaign_and_adgroup #submit')
                .button({ icons : { secondary : 'ui-icon-circle-triangle-e' } })
                .click(function(e) {
                    e.preventDefault();
                    $('form#campaign_and_adgroup').submit();
                });


            $("#networkSettingsForm-submit").click(function() {
                    // Hack to serialize sub-section of forms data.
                    // Add a new form and hide it.
                    $('#campaign_and_adgroup').append('<form id="form-to-submit" style="visibility:hidden;"></form>');
                    // Clone the fieldset into the new form.
                    $('#form-to-submit').html($('.login-credentials-fields').clone());
                    // Serialize the data.
                    var data = $('#form-to-submit').serialize();
                    // Remove the form.
                    $('#form-to-submit').remove();
                    data += ("&account_key={{account_key}}" + "&ad_network_name={{network.name}}");

                    // Check if data submitted in the form is valid login
                    // information for the ad network
                    var message = $('.login-credentials-message');
                    $(message).html("Verifying login credentials...");

                    $.ajax({url: 'https://checklogincredentials.mopub.com',
                        data: data,
                        crossDomain: true,
                        dataType: "jsonp",
                        success: function(valid) {
                            // Upon success notify the user
                            if (valid) {
                                $(message).html("MoPub is currently optimizing {{network.pretty_name}} by pulling data from {{network.pretty_name}} using the following credentials.");
                                var username = $('#id_username_str').val();
                                var password = $('#id_password_str').val();
                                var client_key = $('#id_client_key').val();

                                $('#id_username_str').hide();
                                $('#id_password_str').hide();
                                $('#id_client_key').hide();

                                $('#username').text(username);
                                var hidden_password = "";
                                $.each( password, function(c){
                                    hidden_password += "*";
                                });
                                $('#password').text(hidden_password);
                                $('#client_key').text(client_key);
                                $('.login-credentials-submit').hide();
                                $('.login-credentials-settings').show();
                            } else {
                                $(message).html("Invalid login information.");
                            }
                        }
                    });
            });

            $("#edit-login").click(function() {
                    $('#id_username_str').show();
                    $('#id_password_str').show();
                    $('#id_client_key').show();

                    $('#username').text('');
                    $('#password').text('');
                    $('#client_key').text('');

                    $('.login-credentials-submit').show();
                    $('.login-credentials-settings').hide();
            });

            // make necessary changes based on network type
            var pub_ids = {
                'admob': 'admob_pub_id',
                'adsense': 'adsense_pub_id',
                'brightroll': 'brightroll_pub_id',
                'ejam': 'ejam_pub_id',
                'inmobi': 'inmobi_pub_id',
                'jumptap': 'jumptap_pub_id',
                'millennial_native': 'millennial_pub_id',
                'mobfox': 'mobfox_pub_id'
            };

            var pub_id = pub_ids[network_type];


            $('.network_type_dependant').each(function() {
                    $(this).toggle($(this).hasClass(network_type));
            });

            // device targeting
            $('input[name="device_targeting"]').change(function() {
                if($(this).val() == '0') {
                    $('#device_targeting').slideUp();
                }
                else {
                    $('#device_targeting').slideDown();
                }
            });

            // Show location-dependent fields when location targeting is turned on
            $('#campaign_and_adgroup input[name="region_targeting"]').click(function(e) {
                var loc_targ = $(this).val();
                $('.locationDependent', '#campaign_and_adgroup').hide();
                $('.' + loc_targ + '.locationDependent', '#campaign_and_adgroup').show();
                if ($(this).val() == 'all') {
                    $('li.token-input-city span.token-input-delete-token').each(function() {
                        $(this).click();
                    });
                }
            }).filter(':checked').click();

            $('a.pub_id').click(function() {
                var pub_id = pub_ids[network_type];
                $(this).siblings('input[name$="'+pub_id+'"]').show();
                $(this).prev('span').hide();
                $(this).hide();
            });

            $('.pub_id').hide();

            $('td.pub-id-data').each(function () {
                var input = $(this).children('div').children('input[name$="'+pub_id+'"]');
                var value = input.val();

                if(value) {
                    input.siblings('span.pub_id').html(value).show();
                    input.siblings('a.pub_id').show();
                }
                else {
                    input.show();
                }
                });

            /* GEO TARGETING */
            var geo_s = 'http://api.geonames.org/searchJSON?username=MoPub&';
            var pre = {type: 'country', data: []};
            var city_pre = {type: 'city', data: []};
            //Not being used right now
            //var state_pre = {type: 'state', data: []};
            for (var count = 0; count < countries.length; count++) {
                var dat = countries[count];
                if ($.inArray(dat.code, priors) != -1) {
                    pre.data.push(dat);
                }
                if (pre.length == priors.length)
                    break;
            }
            //city is ll:ste:name:ccode;
            for (var i in city_priors) {
                if (city_priors.hasOwnProperty(i)) {
                    var datas = city_priors[i].split(':');
                    var ll = datas[0].split(',');
                    var ste = datas[1];
                    var name = datas[2];
                    var ccode = datas[3];
                    city_pre.data.push(
                            { lat: ll[0],
                              lng: ll[1],
                              countryCode: ccode,
                              adminCode1: ste,
                              name: name
                              });
                }
            }
            $('#city_ta').tokenInput(geo_s, {
                country: 'US',
                doImmediate: false,
                hintText: 'Type in a city name',
                queryParam: 'name_startsWith',
                featureClass: 'P',
                prePopulate: city_pre,
                contentType: 'json',
                type: 'city',
                minChars: 3,
                method: 'get'
            });
            //Verify that all cities in city_pre are in the SINGLE country that is pre

            //Need to create data object that is array of dictionary [ {name, id} ]
            $('#geo_pred_ta').tokenInput(null, {
                data: countries,
                hintText: 'Type in a country name',
                formatResult: function( row ) {
                    return row.name;
                },
                formatMatch: function( row, i, max ){
                    return [row.name, row.code];
                },
                prePopulate: pre
            });
            /* Not doing states atm
            $('#state_ta').tokenInput(geo_s, {
                country: 'US',
                doImmediate: false,
                queryParam: 'name_startsWith',
                featureCode: 'ADM1',
                contentType: 'json',
                prePopulate: state_pre,
                type: 'state',
                minChars: 5,
                method: 'get'
            }); */

            // Show location-dependent fields when location targeting is turned on
            $('#campaign_and_adgroup input[name="region_targeting"]').click(function(e) {
                var loc_targ = $(this).val();
                $('.locationDependent', '#campaign_and_adgroup').hide();
                $('.' + loc_targ + '.locationDependent', '#campaign_and_adgroup').show();
                if ($(this).val() == 'all') {
                    $('li.token-input-city span.token-input-delete-token').each(function() {
                        $(this).click();
                    });
                }
            }).filter(':checked').click();

            $('#networkSettingsForm-cancel').click(function () {
                $('#networkSettingsForm').slideUp(400, function () {
                    $('#networkSettingsForm-show').show();
                });
            });

            $('#networkSettingsForm-show').click(function () {
                $('#networkSettingsForm-show').hide();
                $('#networkSettingsForm').slideDown();
            });
    });
</script>
{% endblock extraScripts %}


{% block pageTitle %}
<h1>
    <a href="{% url networks %}">Networks</a> / {{network.pretty_name}}
</h1>
{% endblock pageTitle %}

{% block content %}
<form action="{% if campaign_key %}{% url edit_network campaign_key=campaign_key %}{% else %}{% url edit_network network=network.name %}{% endif %}" id="campaign_and_adgroup" method="post">

    <fieldset>
        <legend>
            <h2>Network Details</h2>
        </legend>

        <ul class="form_fields">
            <li class="network-type campaign_type_dependant network">
                {{ adgroup_form.network_type.label_tag }}
                <div>
                    <img src="/images/{{network.name}}-transparent.png" alt="{{network.pretty_name}}" width="75" height="25" />
                    <span class="error network_type_dependant admob_native millennial_native">(requires network SDK) <a href="http://help.mopub.com/customer/portal/articles/83150-native-sdk-integration" target="_blank">Learn more</a></span>
                </div>
            </li>

            {% if custom_campaign %}
            <li>
            {{ campaign_form.name.label_tag }}
            <div>
                {{ campaign_form.name }}
            </div>
            </li>
            {% endif %}

            <li class="campaign_type_dependant network network_type_dependant jumptap">
            {{ account_network_config_form.jumptap_pub_id.label_tag }}
            <div>
                {{ account_network_config_form.jumptap_pub_id }}
            </div>
            </li>
        </ul>

        {% if login_form %}
        <a class="button" id="advanced">Advanced</a>
        {% endif %}
    </fieldset>

    <fieldset class="advanced {% if login_form %}hidden{% endif %}">
        <legend>
            <h2>Advanced Settings</h2>
        </legend>

        <ul class="form_fields">
            <li>
            {{ campaign_form.description.label_tag }}
            <div>
                {{ campaign_form.description }}
            </div>
            </li>

            <li class="campaign_type_dependant network network_type_dependant custom">
            {{ adgroup_form.custom_html.label_tag }}
            <div>
                {{ adgroup_form.custom_html }}
                <a href="#" id="campaignForm-customHtml-helpLink">What's this?</a>
                <div id="campaignForm-customHtml-helpContent" class="hidden">
                    <h3>Custom Network</h3>
                    MoPub supports custom ad networks if the network provides an HTML snippet for displaying ads.  Select Custom Network then paste the HTML snippet in the box below.
                    <br/>
                    <br/>
                    <h4>Example:</h4>
                    A sample HTML snippet from Glam Media is:
                    <br/>
                    <br/>
                    <code>
                        &lt;script type="text/javascript"><br/>
                        window.glam_affiliate_id = 1234567890;<br/>
                        if ( !window.glam_ord ){window.glam_ord = Math.random()*1E16;}<br/>
                        if ( !window.glam_tile ){window.glam_tile = 0;}<br/>
                        var adCallUrl = 'http://www35.glam.com/gad/glamadapt_mobile.act?;banner=yes;sz=320x50;tt=m' +';afid=' + window.glam_affiliate_id +';ord=' + window.glam_ord +';tile=' + (++window.glam_tile) +';_glto=' + (new Date()).getTimezoneOffset() +';_g_cv=3;';<br/>
                        document.write('<scr' + 'ipt type="text/javascript" src="' + adCallUrl + '"><' + '/sc' + 'ript>');<br/>
                        &lt;/script><br/>
                    </code>
                </div>
            </div>
            </li>

            <li class="campaign_type_dependant network network_type_dependant custom_native">
            {{ adgroup_form.custom_method.label_tag }}
            <div>
                {{ adgroup_form.custom_method }}
            </div>
            </li>

            <li>
            {{ adgroup_form.allocation_percentage.label_tag }}
            <div>
                {{ adgroup_form.allocation_percentage }} % of all requests
            </div>
            </li>
            <li>
            {{ adgroup_form.daily_frequency_cap.label_tag }}
            <div>
                <div>
                {{ adgroup_form.daily_frequency_cap }} daily impressions per user
                </div>
                <div>
                {{ adgroup_form.hourly_frequency_cap }} hourly impressions per user
                </div>
            </div>
            </li>
            <li>
            {{ adgroup_form.device_targeting.label_tag }}
            <div>
                {% comment %}
                This field should be rendered using a Django widget, but
                there is no good option in 1.2 for a Boolean RadioSelect.
                {% endcomment %}
                <span class="radios">
                    <ul>
                        <li><label for="id_device_targeting_0"><input type="radio" id="id_device_targeting_0" value="0" name="device_targeting" {% if not adgroup_form.device_targeting|display_value %}checked="checked"{% endif %}> All</label></li>
                        <li><label for="id_device_targeting_1"><input type="radio" id="id_device_targeting_1" value="1" name="device_targeting" {% if adgroup_form.device_targeting|display_value %}checked="checked"{% endif %}> Filter by device and OS</label></li>
                    </ul>
                </span>
                <ul id="device_targeting" class="{% if not adgroup_form.device_targeting|display_value %}hidden{% endif %}">
                    <li>
                    <ul class="device_type">
                        <li><label>{{ adgroup_form.target_iphone }} {{ adgroup_form.target_iphone.label }}</label></li>
                        <li><label>{{ adgroup_form.target_ipod }} {{ adgroup_form.target_ipod.label }}</label></li>
                        <li><label>{{ adgroup_form.target_ipad }} {{ adgroup_form.target_ipad.label }}</label></li>
                    </ul>
                    {{ adgroup_form.ios_version_min.label_tag }}
                    {{ adgroup_form.ios_version_min }}
                    {{ adgroup_form.ios_version_max.label_tag }}
                    {{ adgroup_form.ios_version_max }}
                    </li>
                    <li>
                    <label class="device_type">{{ adgroup_form.target_android }} {{ adgroup_form.target_android.label }}</label>
                    {{ adgroup_form.android_version_min.label_tag }}
                    {{ adgroup_form.android_version_min }}
                    {{ adgroup_form.android_version_max.label_tag }}
                    {{ adgroup_form.android_version_max }}
                    </li>
                    <li>
                    <label class="device_type">{{ adgroup_form.target_other }} {{ adgroup_form.target_other.label }}</label>
                    <span class="muted">(All versions)</span>
                    </li>
                </ul>
            </div>
            </li>
            <li>
            <label>Country Targeting:</label>
            <div>
                <div id="geo_pred_ta" name="geo_predicates"></div>
            </div>
            </li>
            <li class="countryNumDependent 0 1" style="display: none;">
            {{ adgroup_form.region_targeting.label_tag }}
            <div>
                <span class="radios">{{ adgroup_form.region_targeting }}</span>
            </div>
            </li>
            <li class="locationDependent city" style="display: none;">
            <label>City Targeting:</label>
            <div>
                <div class="countryNumDependent 0" style="display: none;" id="city_fake">Please input a country</div>
                <div class="countryNumDependent 1" style="display: none;" id="city_ta"></div>
            </div>
            </li>
            <li>
            {{ adgroup_form.keywords.label_tag }}
            <div>
                {{ adgroup_form.keywords }}
                <a href="#" id="campaignForm-keyword-helpLink">What's this?</a>
                <div id="campaignForm-keyword-helpContent" class="hidden">
                    <h3>Keywords</h3>
                    <p>
                    Keywords may be used to target select requests and user data. Enter one group of keywords per line. Within each line the keywords are ANDed by using the seperator "AND". All lines are otherwised ORed together.
                    <br/><br/>
                    e.g. In order to target 24-year-old males or any 25-year-old you can use special keywords
                    <br/><br/>
                    m_age:24 AND m_gender:M
                    <br/>
                    m_age:25
                    <br/><br/>
                    Note: Keywords should only be used if your app is sending keywords with the ad request.
                    </p>
                </div>
            </div>
            </li>
        </ul>
    </fieldset>

    {% if login_form %}
    <fieldset class="login-credentials-fields network_type_dependant {{reporting_networks}} login-credentials">
        <legend>
            <h2>
                <span style="float: left;">Revenue Reporting</span>
                <span id="networkSettingsForm-show" class="ui-icon ui-icon-triangle-1-s {% if network.show_login %}hidden{% endif %}" style="margin-left: 10px; float: left; cursor:pointer;"></span>
            </h2>
        </legend>

        <div id="networkSettingsForm" class="alt {% if not network.show_login %}hidden{% endif %}" style="clear: both; padding: 10px;">
            <div class="login-credentials-message">
                MoPub can report your revenue and other data directly from the ad networks. MoPub uses your login creedentials to retrieve the revenue data from the ad networks.
            </div>

            <ul class="form_fields">
                <li>
                {{ login_form.username_str.label_tag }}
                {{ login_form.username_str }}
                <span id='username'> </span>
                </li>

                <li>
                {{ login_form.password_str.label_tag }}
                {{ login_form.password_str }}
                <span id='password'> </span>
                </li>

                {% if network.name == "admob" %}
                <li class="network_type_dependant admob admob_native">
                {{ login_form.client_key.label_tag }}
                {{ login_form.client_key }}
                <span id='client_key'> </span>
                </li>
                {% endif %}
            </ul>

            <div class="form-submit login-credentials-submit">
                <a class="button" id="networkSettingsForm-submit">Check and Save Credentials</a>
                <a class="button" id="networkSettingsForm-cancel">No Thanks</a>
            </div>
            <div class="form-submit login-credentials-settings hidden">
                <a id="edit-login" style="cursor:pointer; margin:10px;">Change Username and Password</a>
                <a id="delete-login" style="cursor:pointer; margin:10px;">Turn off Optimization</a>
            </div>
        </div>
    </fieldset>
    {% endif %}

    <fieldset>
        <legend>
            <h2>App Targeting</h2>
        </legend>

        <div>
            <div class="appData-columnHeaders">
                <table class="dataTable" width=100%>
                    <thead>
                        <th class="appData-icon"></th>
                        <th class="dataTable-name"> </th>
                        <th class="dataTable-data"> Enabled </th>
                        {% if ad_network_ids %}
                        <th class="dataTable-data pub-id-data"> Ad Network ID </th>
                        {% endif %}
                        <th class="dataTable-data cpm-data"> Rate (USD) </th>
                        {% if reporting %}
                        <th class="dataTable-data">
                            <div>
                                <a id="copy-7-day" style="cursor:pointer">
                                    <span class="ui-icon ui-icon-arrow-1-w" style="float:left;"></span> Copy All
                                </a>
                            </div>
                            <div> 7-Day CPM </div>
                        </th>
                        <th class="dataTable-data"> 
                            <div>
                                <a id="copy-14-day" style="cursor:pointer">
                                    <span class="ui-icon ui-icon-arrow-1-w" style="float:left;"></span> Copy All
                                </a>
                            </div>
                            <div> 14-Day CPM </div>
                        </th>
                        {% endif %}
                    </thead>
                </table>
            </div>
            {% for app in apps %}
            <div class="{% cycle 'appData' 'appData appData-alt' %}">
                <table class="dataTable appData-main">
                    <tbody>
                        <tr>
                            <td class="appData-icon">
                                <a href="/inventory/app/{{app.key_}}">
                                    <img src="{% if app.icon_url %}{{app.icon_url}}{% else %}/placeholders/image.gif{% endif %}" alt="Icon" width="45" height="45" />
                                </a>
                            </td>
                            <td class="dataTable-name">
                                {{ app.name }} <span class="muted">({{ app.app_type_text }})</span>
                            </td>
                            <td class="dataTable-data">
                                <input id="{{app.key}}-all-adunits" class="all-adunits" type="checkbox" /> (All)
                            </td>
                            {% if ad_network_ids %}
                            <td class="dataTable-data pub-id-data">
                                <div class="campaign_type_dependant network">
                                    {% for field in app.network_config_form %}{{ field }}{% endfor %}
                                    <span class="pub_id muted"></span>
                                    <a class="pub_id" href="javascript:void(0);" type="button">change</a>
                                </div>
                            </td>
                            {% endif %}
                            <td class="dataTable-data cpm-data" style="width:150px">
                            </td>
                            {% if reporting %}
                            <td class="dataTable-data 7-day-cpm network-data" id="{{app.key}}-7-day-cpm">
                                <a id="copy-7-day-{{app.key}}-cpm" class="copy-7-day" style="cursor:pointer">
                                    <span class="ui-icon ui-icon-arrow-1-w" style="float:left;"></span>
                                </a>
                                {{ app.seven_day_stats.cpm|currency }}
                            </td>
                            <td class="dataTable-data 14-day-cpm network-data" id="{{app.key}}-14-day-cpm">
                                <a id="copy-14-day-{{app.key}}-cpm" class="copy-14-day" style="cursor:pointer">
                                    <span class="ui-icon ui-icon-arrow-1-w" style="float:left;"></span>
                                </a>
                                {{ app.fourteen_day_stats.cpm|currency }}
                            </td>
                            {% endif %}
                        </tr>
                    </tbody>
                </table>
                <div class="appData-details" style="margin: -10px 0 0 86px">
                    <table class="dataTable">
                        <tbody>
                            {% for adunit in app.adunits %}
                            <tr>
                                <td class="dataTable-name">
                                    {{ adunit.name }}
                                </td>
                                <td class="dataTable-data">
                                    {{ adunit.adgroup_form.active }}
                                </td>
                                {% if ad_network_ids %}
                                <td class="dataTable-data pub-id-data">
                                    <div class="campaign_type_dependant network">
                                        {% for field in adunit.network_config_form %}{{ field }}{% endfor %}
                                        <span class="pub_id muted"></span>
                                        <a class="pub_id" href="javascript:void(0);" type="button">change</a>
                                    </div>
                                </td>
                                {% endif %}
                                <td class="dataTable-data cpm-data">
                                    {{ adunit.adgroup_form.bid }}
                                    {{ adunit.adgroup_form.bid_strategy }} 
                                </td>
                                {% if reporting %}
                                <td class="dataTable-data">
                                </td>
                                <td class="dataTable-data">
                                </td>
                                {% endif %}
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            {% endfor %}
        </div>
    </fieldset>

    <div class="form-submit">
        <a class="button" id="submit" href="#">Save</a>
        <a class="button" id="cancel" href="{% if campaign_key %}{% url network_details campaign_key=campaign_key %}{% else %}{% url networks %}{% endif %}">Cancel</a>
    </div>
</form>
{% endblock content %}

