{% extends 'advertiser/base.html' %}

{% block navLinks %}
<li><a href="{% url app_index %}">Dashboard</a></li>
<li><a href="{% url advertiser_order_index %}">Orders</a></li>
<li><a href="{% url marketplace_index %}">Marketplace</a></li>
<li class="active"><a href="{% url networks %}">Networks</a></li>
{% endblock navLinks %}

{% load filters %}

{% block dateButtons %}
{% endblock dateButtons %}

{% block pageTitle %}
<h1>
    <a href="{% url networks %}">Networks</a> / {{network.pretty_name}}
</h1>
{% endblock pageTitle %}

{% block titleBarRight %}
{% if login_form %}
<span id="title-bar-button" class="titlebar-right{% if network.show_login %} hidden{% endif %}">
    <a class="btn" id="network-settingsButton" href="#">Edit Revenue Reporting</a>
</span>
{% endif %}
{% endblock titleBarRight %}

{% block content %}
{% if login_form %}
<section id="network-settingsForm" class="hidden">
    <form accept-charset="ascii" id="network-login-form" autocomplete="off">
        {% if not network.show_login %}
        <fieldset class="alt login-fields" style="padding-top:20px">
            <legend>
                <h2 style="padding-top:20px">
                    Revenue Reporting
                    {% if network.name == "admob" or network.name == "inmobi" %}
                    <a target="_blank" href="http://help.mopub.com/customer/portal/articles/{% if network.name == "admob" %}274115-admob-revenue-reporting-setup{% else %}274260-inmobi-revenue-reporting-setup{% endif %}">(Learn more)</a>
                    {% endif %}
                </h2>
            </legend>

            <div style="clear: both;padding-top:10px">
                <div class="login-credentials-message">
                    {% if reporting %}
                    Revenue reporting for {{ network.pretty_name }} is turned on.
                    {% else %}
                    MoPub can report your revenue and other data directly from {{ network.pretty_name }}. {% if network.name != "mobfox" %}MoPub uses your login credentials to retrieve the revenue data from {{ network.pretty_name }}.{% endif %}
                    {% endif %}
                </div>

                {% if network.name != "mobfox" %}
                    <div>
                        <dl class="formFields" style="padding-top: 20px">
                            <dt>
                            {{ login_form.username_str.label_tag }}
                            </dt>
                            <dd>
                            {{ login_form.username_str }}
                            <span id="username"></span>
                            </dd>

                            <dt>
                            {{ login_form.password_str.label_tag }}
                            </dt>
                            <dd>
                            {{ login_form.password_str }}
                            <span id="password"></span>
                            </dd>

                            {% if network.name == "admob" %}
                            <dt>
                            {{ login_form.client_key.label_tag }}
                            </dt>
                            <dd>
                            {{ login_form.client_key }}
                            <span id="client_key"></span>
                            </dd>
                            {% endif %}
                        </dl>
                    </div>
                {% endif %}

                <div class="form-submit login-credentials-submit" style="clear: both">
                    <a class="submit btn">
                        {% if network.name == "mobfox" %}
                        Turn on Reporting
                        {% else %}
                        Check and Save Credentials
                        {% endif %}
                    </a>
                    <a class="cancel btn">No Thanks</a>
                </div>
                <div class="form-submit login-credentials-settings hidden">
                    <a id="edit-login" style="cursor:pointer; margin:10px;">Change Username and Password</a>
                </div>
            </div>
        </fieldset>
        {% endif %}
    </form>
</section>
{% endif %}

<form action="{% if campaign_key %}{% url edit_network campaign_key=campaign_key %}{% else %}{% url edit_network network=network.name %}{% endif %}" id="campaign_and_adgroup" method="post"  autocomplete="off">
    <fieldset>
        <div>
            <img src="/images/{{network.name}}-transparent.png"/>
        </div>
        <div>
            <dl class="formFields">
                {% if custom_campaign %}
                <dt>
                {{ campaign_form.name.label_tag }}
                </dt>
                <dd>
                    {{ campaign_form.name }}
                </dd>
                {% endif %}

                {% if network.name == "admob" or network.name == "millennial" %}
                <dt>
                    <label>Special Instructions:</label>
                </dt>
                <dd>
                    Requires Network SDK <a href="http://help.mopub.com/customer/portal/articles/83150-native-sdk-integration" target="_blank">(Learn more)</a>
                </dd>
                {% endif %}

                {% if network.name == "jumptap" %}
                <dt>
                    <label for="id_{{ network.name }}_pub_id">{{ network.pretty_name }} Publisher Alias:</label>
                </dt>
                <dd>
                    <input type="text" name="{% if campaign_key %}{{ account.network_config.key }}-{% endif %}{{ network.name }}_pub_id" id="id_{{ network.name }}_pub_id" value="{{ network.pub_id|default_if_none:""  }}">
                </dd>
                {% endif %}
            </dl>

            <div style="margin-top:15px">
                <a class="btn" id="advanced">
                    <i class="icon-eye-open"></i>
                    Show Advanced Targeting
                </a>
            </div>
        </div>
    </fieldset>

    <fieldset class="advanced hidden">
        <legend>
            <h2>Advanced Targeting</h2>
        </legend>

        <dl class="formFields">
            <dt>
            {{ campaign_form.description.label_tag }}
            </dt>
            <dd>
            {{ campaign_form.description }}
            </dd>

            <dt>
                {{ adgroup_form.targeted_countries.label_tag }}
            </dt>
            <dd>
                {# TODO: render using widget #}
                <label>
                    Users who are
                    <select name="accept_targeted_locations" id="id_accept_targeted_locations">
                        <option {% if not adgroup_form.accept_targeted_locations|display_value %}selected="selected"{% endif %} value="0">Not Located</option>
                        <option {% if adgroup_form.accept_targeted_locations|display_value %}selected="selected"{% endif %} value="1">Located</option>
                    </select>
                    in
                </label>
                <div style="margin-top: 10px;">
                    {{ adgroup_form.targeted_countries }}
                    <a data-toggle="modal" href="#targeted_countries_help"><img src="/images/what.png" /></a>
                </div>

                <div id="region_targeting_type">
                    <ul>
                        <li>
                            {# TODO: render using widget #}
                            <label for="id_region_targeting_type_0">
                                <input {% if adgroup_form.region_targeting_type|field_value == 'all' %}checked="checked"{% endif %} type="radio" id="id_region_targeting_type_0" value="all" name="region_targeting_type" />
                                All Regions
                            </label>
                        </li>
                        <li>
                            {# TODO: render using widget #}
                            <label for="id_region_targeting_type_1">
                                <input {% if adgroup_form.region_targeting_type|field_value == 'regions_and_cities' %}checked="checked"{% endif %} type="radio" id="id_region_targeting_type_1" value="regions_and_cities" name="region_targeting_type" />
                                Specific Regions within Country
                            </label>
                            <a data-toggle="modal" href="#targeted_regions_and_cities_help"><img src="/images/what.png" /></a>
                            <div style="margin-top: 10px; margin-left: 16px;">
                                <label>States and Metro Areas (DMA) - Wi-Fi Only Required</label><br />
                                {{ adgroup_form.targeted_regions }}
                            </div>
                            <div style="margin-left: 16px;">
                                <label>Cities</label><br />
                                {{ adgroup_form.targeted_cities }}
                            </div>
                        </li>
                        <li>
                            {# TODO: render using widget #}
                            <label for="id_region_targeting_type_2">
                                <input {% if adgroup_form.region_targeting_type|field_value == 'zip_codes' %}checked="checked"{% endif %} type="radio" id="id_region_targeting_type_2" value="zip_codes" name="region_targeting_type" />
                                Specific ZIP Codes (US only) - Wi-Fi Only Required
                            </label>
                            <a data-toggle="modal" href="#targeted_zip_codes_help"><img src="/images/what.png" /></a>
                            <div style="margin-left: 16px;">
                                {{ adgroup_form.targeted_zip_codes }}
                            </div>
                        </li>
                    </ul>
                </div>
            </dd>

            <dt>
                {{ adgroup_form.connectivity_targeting_type.label_tag }}
            </dt>
            <dd>
                <div id="targeted_carriers">
                    <ul>
                        <li>
                            {# TODO: render using widget #}
                            <label for="id_connectivity_targeting_type_0">
                                <input {% if adgroup_form.connectivity_targeting_type|field_value == 'all' %}checked="checked"{% endif %} type="radio" id="id_connectivity_targeting_type_0" value="all" name="connectivity_targeting_type">
                                All Carriers and Wi-Fi
                            </label>
                        </li>
                        <li>
                            {# TODO: render using widget #}
                            <label for="id_connectivity_targeting_type_1">
                                <input {% if adgroup_form.connectivity_targeting_type|field_value == 'wi-fi' %}checked="checked"{% endif %} type="radio" id="id_connectivity_targeting_type_1" value="wi-fi" name="connectivity_targeting_type">
                                Wi-Fi Only
                            </label>
                            <a data-toggle="modal" href="#targeted_wifi_help"><img src="/images/what.png" /></a>
                        </li>
                        <li>
                            {# TODO: render using widget #}
                            <label for="id_connectivity_targeting_type_2">
                                <input {% if adgroup_form.connectivity_targeting_type|field_value == 'carriers' %}checked="checked"{% endif %} type="radio" id="id_connectivity_targeting_type_2" value="carriers" name="connectivity_targeting_type">
                                Selected Carriers
                            </label>
                            <a data-toggle="modal" href="#targeted_carriers_help"><img src="/images/what.png" /></a>
                        </li>
                    </ul>
                </div>
                <div style="margin-left: 16px;">
                    {{ adgroup_form.targeted_carriers }}
                </div>
            </dd>

            <dt>
                {{ adgroup_form.device_targeting.label_tag }}
            </dt>
            <dd>
                <div id="device_targeting">
                    <ul>
                        <li>
                            {# TODO: render using widget #}
                            <label for="id_device_targeting_0">
                                <input type="radio" id="id_device_targeting_0" value="0" name="device_targeting" {% if not adgroup_form.device_targeting|display_value %}checked="checked"{% endif %}>
                                All
                            </label>
                        </li>
                        <li>
                            {# TODO: render using widget #}
                            <label for="id_device_targeting_1">
                                <input type="radio" id="id_device_targeting_1" value="1" name="device_targeting" {% if adgroup_form.device_targeting|display_value %}checked="checked"{% endif %}>
                                Filter by device and OS
                            </label>
                        </li>
                    </ul>
                    <ul id="device_targeting_details">
                        <li>
                            <ul>
                                <li><label>{{ adgroup_form.target_iphone }} {{ adgroup_form.target_iphone.label }}</label></li>
                                <li><label>{{ adgroup_form.target_ipod }} {{ adgroup_form.target_ipod.label }}</label></li>
                                <li><label>{{ adgroup_form.target_ipad }} {{ adgroup_form.target_ipad.label }}</label></li>
                            </ul>
                            {{ adgroup_form.ios_version_min.label_tag }}
                            {{ adgroup_form.ios_version_min }}
                            {{ adgroup_form.ios_version_max.label_tag }}
                            {{ adgroup_form.ios_version_max }}
                        </li>
                        <li>
                            <label>{{ adgroup_form.target_android }} {{ adgroup_form.target_android.label }}</label>
                            {{ adgroup_form.android_version_min.label_tag }}
                            {{ adgroup_form.android_version_min }}
                            {{ adgroup_form.android_version_max.label_tag }}
                            {{ adgroup_form.android_version_max }}
                        </li>
                        <li>
                            <label>{{ adgroup_form.target_other }} {{ adgroup_form.target_other.label }}</label>
                            <span class="muted">(All versions)</span>
                        </li>
                    </ul>
                </div>
            </dd>

            <dt>
            {{ adgroup_form.keywords.label_tag }}
            </dt>
            <dd>
                {{ adgroup_form.keywords }}
                <a href="#" id="campaignForm-keyword-helpLink">What's this?</a>
                <div id="campaignForm-keyword-helpContent" class="hidden">
                    <h3>Keywords</h3>
                    <p>
                    Keywords may be used to target select requests and user data. Enter one group of keywords per line. Within each line the keywords are ANDed by using the seperator "AND". All lines are otherwised ORed together.
                    <br/><br/>
                    e.g. In order to target 24-year-old males or any 25-year-old you can use special keywords
                    <br/><br/>
                    m_age:24 AND m_gender:M
                    <br/>
                    m_age:25
                    <br/><br/>
                    Note: Keywords should only be used if your app is sending keywords with the ad request.
                    </p>
                </div>
            </dd>
        </dl>
    </fieldset>

    {% if login_form and network.show_login %}
    <fieldset class="alt login-fields" style="padding-top:20px">
        <legend>
                <h2 style="padding-top: 20px">
                    Revenue Reporting
                    {% if network.name == "admob" or network.name == "inmobi" %}
                    <a target="_blank" href="http://help.mopub.com/customer/portal/articles/{% if network.name == "admob" %}274115-admob-revenue-reporting-setup{% else %}274260-inmobi-revenue-reporting-setup{% endif %}">(Learn more)</a>
                    {% endif %}
                </h2>
        </legend>

        <div>
            <div class="login-credentials-message">
                {% if reporting %}
                Revenue reporting for {{ network.pretty_name }} is turned on.
                {% else %}
                MoPub can report your revenue and other data directly from {{ network.pretty_name }}. {% if network.name != "mobfox" %}MoPub uses your login credentials to retrieve the revenue data from {{ network.pretty_name }}.{% endif %}
                {% endif %}
            </div>

            {% if network.name != "mobfox" %}
                <div>
                    <dl class="formFields" style="padding-top: 20px">
                        <dt>
                        {{ login_form.username_str.label_tag }}
                        </dt>
                        <dd>
                        {{ login_form.username_str }}
                        <span id="username"></span>
                        </dd>

                        <dt>
                        {{ login_form.password_str.label_tag }}
                        </dt>
                        <dd>
                        {{ login_form.password_str }}
                        <span id="password"></span>
                        </dd>

                        {% if network.name == "admob" %}
                        <dt>
                        {{ login_form.client_key.label_tag }}
                        </dt>
                        <dd>
                        {{ login_form.client_key }}
                        <span id="client_key"></span>
                        </dd>
                        {% endif %}
                    </dl>
                </div>
            {% endif %}

            <div class="form-submit login-credentials-submit" style="clear:both;">
                <a class="submit btn">
                    {% if network.name == "mobfox" %}
                    Turn on Reporting
                    {% else %}
                    Check and Save Credentials
                    {% endif %}
                </a>
                <a class="cancel btn">No Thanks</a>
            </div>
            <div class="form-submit login-credentials-settings hidden">
                <a id="edit-login" style="cursor:pointer; margin:10px;">Change Username and Password</a>
            </div>
        </div>
    </fieldset>
    {% endif %}

    <h2 style="padding-top: 20px">App Targeting</h2>
    <div>
        <table class="inventory_table">
            <thead>
                <tr>
                    <td class="name"></td>
                    <td class="name">
                        Enabled
                    </td>
                    {% if network.name == "custom_native" %}
                    <td>
                        Custom Method
                    </td>
                    {% endif %}
                    {% if network.name == "custom" %}
                    <td class="name">
                        Custom HTML
                        <a href="#" id="campaignForm-customHtml-helpLink">What's this?</a>
                        <div id="campaignForm-customHtml-helpContent" class="hidden">
                            <h3>Custom Network</h3>
                            MoPub supports custom ad networks if the network provides an HTML snippet for displaying ads.  Select Custom Network then paste the HTML snippet in the box below.
                            <br/>
                            <br/>
                            <h4>Example:</h4>
                            A sample HTML snippet from Glam Media is:
                            <br/>
                            <br/>
                            <code>
                                &lt;script type="text/javascript"><br/>
                                window.glam_affiliate_id = 1234567890;<br/>
                                if ( !window.glam_ord ){window.glam_ord = Math.random()*1E16;}<br/>
                                if ( !window.glam_tile ){window.glam_tile = 0;}<br/>
                                var adCallUrl = 'http://www35.glam.com/gad/glamadapt_mobile.act?;banner=yes;sz=320x50;tt=m' +';afid=' + window.glam_affiliate_id +';ord=' + window.glam_ord +';tile=' + (++window.glam_tile) +';_glto=' + (new Date()).getTimezoneOffset() +';_g_cv=3;';<br/>
                                document.write('<scr' + 'ipt type="text/javascript" src="' + adCallUrl + '"><' + '/sc' + 'ript>');<br/>
                                &lt;/script><br/>
                            </code>
                        </div>
                    </td>
                    {% endif %}
                    {% if network.name in NETWORKS_WITH_PUB_IDS %}
                    <td class="name">Ad Network ID</td>
                    {% endif %}
                    <td class="name">CPM</td>
                    {% if reporting %}
                    <th class="name">
                        <div>
                            <a id="copy-7-day" style="cursor:pointer">
                                <span class="ui-icon ui-icon-triangle-1-w" style="float:left;"></span> Copy All
                            </a>
                        </div>
                        <div>7-Day CPM</div>
                    </th>
                    <th class="name">
                        <div>
                            <a id="copy-14-day" style="cursor:pointer">
                                <span class="ui-icon ui-icon-triangle-1-w" style="float:left;"></span> Copy All
                            </a>
                        </div>
                        <div>14-DayCPM</div>
                    </th>
                    {% endif %}
                    <td class="name advanced-options">More Options</td>
                </tr>
            </thead>
            <tbody class="global-settings">
                <tr id="global-row" class="main sub global-row">
                    <td class="title">
                        Global Settings
                    </td>
                    <td class="text">
                        <input class="global-active" type="checkbox" />
                    </td>
                    {% if network.name == "custom_native" %}
                    <td>
                        <div class="global-custom_method-input hidden">
                            <input type="text" placeholder="loadNativeSDK:" class="global-custom_method">
                        </div>
                        <div class="global-custom_method-close editable">
                            Set global custom method
                        </div>
                    </td>
                    {% endif %}
                    {% if network.name == "custom" %}
                    <td>
                        <div class="global-custom_html-input hidden">
                            <textarea class="global-custom_html" rows="3" placeholder="HTML Custom Content" cols="40"></textarea>
                        </div>
                        <div class="global-custom_html-close editable">
                            Set global custom html
                        </div>
                    </td>
                    {% endif %}
                    {% if network.name in NETWORKS_WITH_PUB_IDS %}
                    <td class="text">
                    </td>
                    {% endif %}
                    <td class="text" style="width:100px">
                        <div class="global-cpm-input hidden">
                            <input class="float bid" type="text">
                        </div>
                        <div class="global-cpm-close editable">
                            Set global CPM
                        </div>
                    </td>
                    {% if reporting %}
                    <td>
                    </td>
                    <td>
                    </td>
                    {% endif %}
                    <td class="text advanced-options">
                        <div id="global-options-edit" class="editable">
                            None
                        </div>
                    </td>
                </tr>
            </tbody>
            {% for app in apps %}
            <tbody class="{% cycle 'alt' '' %} app-tbody">
                <tr id="{{ app.key }}-row" class="main app-targeting app-row">
                    <td class="name">
                        {{ app.name }} <span class="muted">({{ app.type }})</span>
                    </td>
                    <td class="text">
                        <input class="app-active" type="checkbox" />
                    </td>
                    {% if network.name == "custom_native" %}
                    <td>
                        <div class="app-custom_method-input hidden">
                            <input type="text" placeholder="loadNativeSDK:" class="app-custom_method">
                        </div>
                        <div class="app-custom_method-close editable">
                            Set app custom method
                        </div>
                    </td>
                    {% endif %}
                    {% if network.name == "custom" %}
                    <td>
                        <div class="app-custom_html-input hidden">
                            <textarea class="app-custom_html" rows="3" placeholder="HTML Custom Content" cols="40" ></textarea>
                        </div>
                        <div class="app-custom_html-close editable">
                            Set app custom html
                        </div>
                    </td>
                    {% endif %}
                    {% if network.name in NETWORKS_WITH_PUB_IDS %}
                    <td class="text">
                        <div>
                            <input name="{% if campaign_key %}{{ app.network_config.key }}{% else %}app_{{ app.key }}{% endif %}-{{ network.name }}_pub_id" placeholder="{{ network.pretty_name }} Publisher ID" value="{{ app.pub_id }}" class="app-pub-id" type="text" id="id_app_{{ app.key }}-{{ network.name }}_pub_id" />
                        </div>
                    </td>
                    {% endif %}
                    <td class="text" style="width:100px">
                        <div class="app-cpm-input hidden">
                            <input class="float bid" type="text">
                        </div>
                        <div class="app-cpm-close editable">
                            Set app CPM
                        </div>
                    </td>
                    {% if reporting %}
                    <td class="stat">
                        <a class="copy-7-day" style="color: orange; cursor:pointer">
                            <span class="ui-icon ui-icon-triangle-1-w" style="float:left;"></span>
                            {{ app.seven_day_stats.cpm|currency }}
                        </a>
                    </td>
                    <td class="stat">
                        <a class="copy-14-day" style="color: orange; cursor:pointer;">
                            <span class="ui-icon ui-icon-triangle-1-w" style="float:left;"></span>
                            {{ app.fourteen_day_stats.cpm|currency }}
                        </a>
                    </td>
                    {% endif %}
                    <td class="text">
                        <div id="{{ app.key }}-options-edit" class="editable">
                            None
                        </div>
                    </td>
                </tr>
                {% for adunit in app.adunits %}
                <tr id="{{ adunit.key }}-row" class="sub adunit-row" style="height:33px">
                    <td class="name">
                        {{ adunit.name }}
                    </td>
                    <td class="text" style="height:20px">
                        {{ adunit.adgroup_form.active }}
                    </td>
                    {% if network.name == "custom_native" %}
                    <td>
                        <div class="custom_method-input">
                            {{ adunit.adgroup_form.custom_method }}
                        </div>
                        <div class="custom_method-edit editable hidden">
                            <span class="custom_method-value">
                                Set adunit custom method
                            </span>
                        </div>
                    </td>
                    {% endif %}
                    {% if network.name == "custom" %}
                    <td>
                        <div class="custom_html-input">
                            {{ adunit.adgroup_form.custom_html }}
                        </div>
                        <div class="custom_html-edit editable hidden">
                            <span class="custom_html-value">
                                Set adunit custom html
                            </span>
                        </div>
                    </td>
                    {% endif %}
                    {% if network.name in NETWORKS_WITH_PUB_IDS %}
                    <td class="text adunit">
                        {% if network.name in NETWORKS_WITH_PUB_IDS %}
                        <div>
                            <div class="pub-id-input hidden">
                                <input id="id_adunit_{{ adunit.key }}-admob_pub_id" type="text" placeholder="{{ network.pretty_name }} Publisher ID" class="adunit-pub-id{% if adunit.pub_id %} initialized{% endif %}" name="{% if campaign_key %}{{ adunit.network_config.key }}{% else %}adunit_{{ adunit.key }}{% endif %}-{{ network.name }}_pub_id" {% if adunit.pub_id %}value="{{ adunit.pub_id }}"{% endif %} />
                                <span class="pub-id-close ui-icon ui-icon-close" style="display:inline-block"></span>
                            </div>
                            <div class="pub-id-edit editable">
                                {{ adunit.pub_id }}
                            </div>
                        </div>
                        {% endif %}
                    </td>
                    {% endif %}
                    <td class="text">
                        <div class="cpm-input">
                            {{ adunit.adgroup_form.bid }}
                        </div>
                        <div class="cpm-edit editable hidden">
                            <span class="cpm-value">
                                Set adunit custom cpm
                            </span>
                        </div>
                    </td>
                    {% if reporting %}
                    <td class="stat">
                    </td>
                    <td class="stat">
                    </td>
                    {% endif %}
                    <td class="text advanced-options">
                        <div id="{{ adunit.key }}-options-edit" class="editable">
                            None
                        </div>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        {% endfor %}
        </table>
    </div>
    <div class="form-submit">
        <div id="loading" class="hidden">
            <img class="loading-img" src="/images/icons-custom/spinner-12.gif"></img>
        </div>
        <a class="btn" id="submit" href="#">Save</a>
        <a class="btn" id="cancel" href="{% if campaign_key %}{% url network_details campaign_key=campaign_key %}{% else %}{% url networks %}{% endif %}">Cancel</a>
    </div>


    {% comment %}
    Hidden Options (Advanced Settings) forms that are put into dialogs
    {% endcomment %}
    <div>
        <div id="global-options" class="modal hidden">
            <div class="modal-header">
                <h2> Global Options </h2>
            </div>
            <div class="modal-body">
                <fieldset class="dialog global-options">
                    <dl class="formFields">
                        <dt>
                            <label for="id_global-allocation_percentage">Allocation:</label>
                        </dt>
                        <dd>
                            <input id="id_global-allocation_percentage" type="text" class="float">
                            % of all requests
                        </dd>
                        <dt>
                            <label for="id_global-daily_frequency_cap">Frequency Caps:</label>
                        </dt>
                        <dd>
                            <div>
                                <input id="id_global-daily_frequency_cap" type="text" class="float">
                                daily impressions per user
                            </div>
                            <div>
                                <input id="id_global-hourly_frequency_cap" type="text" class="float">
                                hourly impressions per user
                            </div>
                        </dd>
                    </dl>
                </fieldset>
            </div>
            <div class="modal-footer">
                <a class="btn save" href="#">Ok</a>
                <a class="btn cancel" href="#">Cancel</a>
            </div>
        </div>
        {% for app in apps %}
        <div>
            <div id="{{ app.key }}-options" class="modal hidden">
                <div class="modal-header">
                    <h2> {{ app.name }} Options </h2>
                </div>
                <div class="modal-body">
                    <fieldset class="dialog app-options">
                        <dl class="formFields">
                            <dt>
                                <label for="id_{{ app.key }}-allocation_percentage">Allocation:</label>
                            </dt>
                            <dd>
                                <input id="id_{{ app.key }}-allocation_percentage" type="text" class="float">
                                % of all requests
                            </dd>
                            <dt>
                                <label for="id_{{ app.key }}-daily_frequency_cap">Frequency Caps:</label>
                            </dt>
                            <dd>
                                <div>
                                    <input id="id_{{ app.key }}-daily_frequency_cap" type="text" class="float">
                                    daily impressions per user
                                </div>
                                <div>
                                    <input id="id_{{ app.key }}-hourly_frequency_cap" type="text" class="float">
                                    hourly impressions per user
                                </div>
                            </dd>
                        </dl>
                    </fieldset>
                </div>
                <div class="modal-footer">
                    <a class="btn save" href="#">Ok</a>
                    <a class="btn cancel" href="#">Cancel</a>
                </div>
            </div>
            {% for adunit in app.adunits %}
            <div id="{{ adunit.key }}-options" class="modal hidden">
                <div class="modal-header">
                    <h2> {{ adunit.name }} Options </h2>
                </div>
                <div class="modal-body">
                    <fieldset class="dialog adunit-options">
                        <dl class="formFields">
                            <dt>
                                {{ adunit.adgroup_form.allocation_percentage.label_tag }}
                            </dt>
                            <dd>
                                {{ adunit.adgroup_form.allocation_percentage }} % of all requests
                            </dd>
                            <dt>
                                {{ adunit.adgroup_form.daily_frequency_cap.label_tag }}
                            </dt>
                            <dd>
                                <div>
                                {{ adunit.adgroup_form.daily_frequency_cap }} daily impressions per user
                                </div>
                                <div>
                                {{ adunit.adgroup_form.hourly_frequency_cap }} hourly impressions per user
                                </div>
                            </dd>
                        </dl>
                    </fieldset>
                </div>
                <div class="modal-footer">
                    <a class="btn save" href="#">Ok</a>
                    <a class="btn cancel" href="#">Cancel</a>
                </div>
            </div>
            {% endfor %}
        </div>
        {% endfor %}
    </div>
</form>
{% endblock content %}

{% block extraScripts %}
<div class="hidden modal" id="targeted_countries_help">
    <div class="modal-header">
        <h3>Country Targeting</h3>
    </div>
    <div class="modal-body">
        <p>Target your line item to a specific set of countries.  By default, when the list is empty, your line item will be targeting all countries.</p>
        <p>
            The type ahead field allows you to quickly add countries that you want to target.  Countries can be removed by selecting the 'X' to the right of the country name.  By selecting certain countries, additional region targeting may become available:
            <ul>
                <li>States / Provinces - available for US and Canada (Wi-Fi Only required)</li>
                <li>Metro Areas / DMAs - available for US-only (Wi-Fi Only required)</li>
                <li>ZIP codes - available for US-only (Wi-Fi Only required)</li>
                <li>Cities - available for most countries</li>
            </ul>
            Note that you can target a geographical selection by expressing what countries and regions you want to exclude (“Users who are Not Located in”).
        </p>
        <p>Questions? Get more info on Targeting by Geography in the MoPub <a href="http://help.mopub.com/customer/portal/articles/82780">Help Center</a>.</p>
    </div>
    <div class="modal-footer">
        <a class="btn btn-primary" data-dismiss="modal" href="#">Close</a>
    </div>
</div>

<div class="hidden modal" id="targeted_regions_and_cities_help">
    <div class="modal-header">
        <h3>Region Targeting</h3>
    </div>
    <div class="modal-body">
        <p>Target your line item to specific regions within the countries you selected in the Country targeting field.</p>
        <p>The type ahead field will surface City, State, and Metro Area / DMA regions for the countries you have selected.  Note that removing a country selected in Country Targeting will remove the regions contained within it.</p>
        <p>
            Additionally note that:
            <ul>
                <li>Targeting by states is available for the US and Canada (Wi-Fi Only required).</li>
                <li>Targeting by metro area / DMA is available for US only (Wi-Fi Only required).</li>
                <li>These options will be unavailable if Carrier targeting is chosen.</li>
            </ul>
        </p>
        <p>Questions? Get more info on Targeting by Geography in the MoPub <a href="http://help.mopub.com/customer/portal/articles/82780">Help Center</a>.</p>
    </div>
    <div class="modal-footer">
        <a class="btn btn-primary" data-dismiss="modal" href="#">Close</a>
    </div>
</div>

<div class="hidden modal" id="targeted_zip_codes_help">
    <div class="modal-header">
        <h3>ZIP Code Targeting</h3>
    </div>
    <div class="modal-body">
        <p>Target your line item to a set of specific ZIP codes if you have selected US in the Country targeting field.</p>
        <p>Provide a list of ZIP codes in the provided field, each ZIP code should be on its own line or separated by a whitespace.  Note that removing the US in the Country targeting field will remove the ZIP codes you provide here.</p>
        <p>
            Additionally note that:
            <ul>
                <li>Targeting by ZIP code is available for US only.</li>
                <li>ZIP code targeting is only available only campaigns targeted to Wi-Fi-only traffic. These option will not be available if selected carriers are chosen.</li>
            </ul>
        </p>
        <p>Questions? Get more info on Targeting by Geography in the MoPub <a href="http://help.mopub.com/customer/portal/articles/82780">Help Center</a>.</p>
    </div>
    <div class="modal-footer">
        <a class="btn btn-primary" data-dismiss="modal" href="#">Close</a>
    </div>
</div>

<div class="hidden modal" id="targeted_wifi_help">
    <div class="modal-header">
        <h3>Wi-Fi Only</h3>
    </div>
    <div class="modal-body">
        <p>Targeting by Wi-Fi will allow your line item to deliver ads only to traffic coming over a Wi-Fi connection.</p>
        <p>Questions? Get more info on Connectivity targeting in the MoPub <a href="http://help.mopub.com/customer/portal/articles/82780">Help Center</a>.</p>
    </div>
    <div class="modal-footer">
        <a class="btn btn-primary" data-dismiss="modal" href="#">Close</a>
    </div>
</div>

<div class="hidden modal" id="targeted_carriers_help">
    <div class="modal-header">
        <h3>Selected Carriers</h3>
    </div>
    <div class="modal-body">
        <p>Target your line item to deliver ads to specific carriers for the countries you selected in the Country targeting field.</p>
        <p>Use the typeahead field to input carrier names.  Note that removing a country selected in Country Targeting will remove the carriers contained within it.</p>
        <p>
            Note that:
            <ul>
                <li>Carrier targeting is available for the US, Canada, and UK.</li>
                <li>Some geo-targeting options such as State, Metro Area / DMA, and ZIP code require Wi-Fi and will not be available if you select carrier targeting.</li>
            </ul>
        </p>
        <p>Questions? Get more info on Carrier targeting in the MoPub <a href="http://help.mopub.com/customer/portal/articles/82780">Help Center</a>.</p>
    </div>
    <div class="modal-footer">
        <a class="btn btn-primary" data-dismiss="modal" href="#">Close</a>
    </div>
</div>

<div class="hidden modal" id="target_carriers_warning">
    <div class="modal-header">
        <h3>Untargeting Wi-Fi Only</h3>
    </div>
    <div class="modal-body">
        <p>Untargeting Wi-Fi Only will remove all of your State, Metro Area / DMA, or ZIP code targeting.</p>
        <p>Are you sure you want to continue?</p>
    </div>
    <div class="modal-footer">
        <a class="btn" data-dismiss="modal" href="#">Cancel</a>
        <a class="btn btn-primary continue" data-dismiss="modal" href="#">Continue</a>
    </div>
</div>

{% include_script "models/inventory" %}
{% include_script "views/inventory" %}
{% include_script "controllers/networks" %}

{% include_script "utilities/webkit_pushstack_fix" %}
<script type="text/javascript">
    $(function () {
            EditNetworkController.initialize({
                network_type: '{{ network.name }}',
                campaign_key: '{{ campaign_key }}',
                pretty_name: '{{ network.pretty_name }}',
                adunits_for_app: {
                {% for app in apps %}
                    '{{ app.key }}': [{% for adunit in app.adunits %}'{{ adunit.key }}', {% endfor %}],
                {% endfor %}},
                app_for_adunit: {
                {% for app in apps %}
                {% for adunit in app.adunits %}
                '{{ adunit.key }}': '{{ app.key }}',
                {% endfor %}
                {% endfor %}},
                account_key: '{{ account.key }}',
                US_STATES: {{ US_STATES|to_json|safe }},
                CA_PROVINCES: {{ CA_PROVINCES|to_json|safe }},
                US_METROS: {{ US_METROS|to_json|safe }},
                US_CARRIERS: {{ US_CARRIERS|to_json|safe }},
                GB_CARRIERS: {{ GB_CARRIERS|to_json|safe }},
                CA_CARRIERS: {{ CA_CARRIERS|to_json|safe }},
                targeted_regions: {{ adgroup_form.targeted_regions|field_value|to_json|safe }},
                targeted_cities: {{ adgroup_form.targeted_cities|field_value|to_json|safe }},
                targeted_carriers: {{ adgroup_form.targeted_carriers|field_value|to_json|safe }},
                login_state: {{ network.login_state }},
                LoginStates: {{ LoginStates|safe }}
            });
    });
</script>
{% endblock extraScripts %}
