{% extends "networks_base.html" %}
{% load filters %}
{% load elements %}

{% block pageTitle %}
<h1>
    Networks
</h1>
{% endblock pageTitle %}

{% block preContent %}
{% if display_message %}
<div class="alert-message block-message warning">
    Welcome to the new Networks tab!  In an effort to make ad network management easier, we have consolidated most network campaigns to a single campaign for each network.  You can now set ad network IDs, CPM, allocation settings and frequency caps at the global, app or ad unit level.  We've also combined revenue reporting into the dashboard so that you can see your ad network revenues from most sources right in MoPub.  If you have any questions or comments, reach out to us at <a href="support@mopub.com">support@mopub.com</a>.
</div>
{% endif %}
<section id="network-settingsForm" class="hidden">
<div>
    <form accept-charset="ascii" id="networkForm" class="settingsForm">
        <fieldset id="networkForm-details" class="alt">
            <div id="settings-form-message" class="hidden alert-message block-message warning"></div>
            <div>
                <dl class="formFields" style="margin:0">
                    <dt> E-mail: </dt>
                    <dd> <input name="email" type="checkbox" {% if settings.email %} checked="true" {% endif %}/> &nbsp;Send me a daily ad network revenue report</dd>
                    <dt> Recipients: </dt>
                    <dd>
                    <textarea name="recipients" rows="3" cols="80">{{settings.recipients}}</textarea>
                    </dd>
                </dl>
            </div>
            <div class="form-submit" style="clear:both;">
                <span class="hidden" id="networkSettingsForm-loading">
                    <img src="/images/loading2.gif"/>
                </span>
                <a href="#" class="btn" id="networkSettingsForm-cancel">Cancel</a>          
                <a href="#" class="btn" id="networkSettingsForm-submit">Save</a>
            </div>
        </fieldset>
    </form>
</div>
</section>
{% endblock preContent %}

{% block innerContent %}
{% if networks %}


{% comment %}
Make a table for ad networks that are active
{% endcomment %}
<section>

<div class="left">
    <h2>Network Breakdown</h2>
</div>

<div class="right">
    {% if reporting %}
    <a class="btn" id="network-settingsButton" href="#">Daily report settings</a>
    {% endif %}

    <select id='network-editSelect'>
        <option value="">Add a Network</option>
        {% for network in additional_networks %}
        <option id="network-editSelect-{{ network.name }}"
        value="{% url edit_network network=network.name %}">
        {{network.pretty_name}}
        </option>
        {% endfor %}
    </select>
</div>

<div style="clear:both; margin-bottom: 30px">
    <div class="appData-columnHeaders">
        <table class="dataTable" width=100%>
            <thead>
                <th class="networkData-icon" style="width:75px"></th>
                <th class="dataTable-name"> </th>
                {% if reporting %}
                <th class="dataTable-data numeric"> Revenue </th>
                {% endif %}
                <th class="dataTable-data numeric"> CPM </th>
                <th class="dataTable-data numeric"> Attempts </th>
                <th class="dataTable-data numeric"> Impressions </th>
                <th class="dataTable-data numeric"> Fill Rate </th>
                <th class="dataTable-data numeric"> Clicks </th>
                <th class="dataTable-data numeric"> CTR </th>
            </thead>
        </table>
    </div>
    {% for network in networks %}
    <div class="{% cycle 'appData' 'appData appData-alt' %}">
        <table class="dataTable appData-main">
            <tbody>
                <tr id="{{ network.key }}-row">
                    <td class="networkData-icon">
                        <a href="{% url network_details campaign_key=network.key %}">
                            <img src="/images/{{network.name}}-transparent.png" alt="{{network.pretty_name}}" width="75" height="25" />
                        </a>
                    </td>
                    <td class="dataTable-name">
                        <div style="float: left;">
                            {% status_icon network %}
                        </div>
                        <div style="margin: 0 5px 0 5px; float: left;">
                            <a href="{% url network_details campaign_key=network.key %}">
                                {{network.pretty_name}}
                            </a>
                        </div>
                        <div id="{{ network.key }}-loading" style="float: left;">
                            {% comment %}
                            <img class="loading-img" src="/images/icons-custom/spinner-12.gif"></img>
                            {% endcomment %}
                        </div>
                        <div class="edit-link hidden" style="float: left;">
                            <a href="{% url edit_network campaign_key=network.key %}">
                                <span class="ui-icon ui-icon-wrench"></span>
                            </a>
                        </div>
                        <div style="clear: both;">
                            <a class="show-apps btn" id="{{network.key}}" style="width:75px;">Show Apps</a>
                        </div>
                    </td>
                    {% if network.reporting %}
                    <td class="dataTable-data numeric rev" style="color:orange;">
                        -
                    </td>
                    {% endif %}
                    <td class="dataTable-data numeric cpm">
                        {% if network.reporting %}
                        <div class="network-data">-</div>
                        {% endif %}
                        <div class="mopub-data">
                            {# django needs elif #}
                            {% if network.min_cpm == network.max_cpm %}
                            {% if network.min_cpm %}
                            {{ network.min_cpm|currency }}
                            {% else %}
                            {% endif %}
                            {% else %}
                            {{ network.min_cpm|currency }}-{{ network.max_cpm|currency }}
                            {% endif %}
                        </div>
                    </td>
                    <td class="dataTable-data numeric att">
                        {% if network.reporting %}
                        <div class="network-data">-</div>
                        {% endif %}
                        <div class="mopub-data">-</div>
                    </td>
                    <td class="dataTable-data numeric imp">
                        {% if network.reporting %}
                        <div class="network-data">-</div>
                        {% endif %}
                        <div class="mopub-data">-</div>
                    </td>
                    <td class="dataTable-data numeric fill_rate">
                        {% if network.reporting %}
                        <div class="network-data">-</div>
                        {% endif %}
                        <div class="mopub-data">-</div>
                    </td>
                    <td class="dataTable-data numeric clk">
                        {% if network.reporting %}
                        <div class="network-data">-</div>
                        {% endif %}
                        <div class="mopub-data">-</div>
                    </td>
                    <td class="dataTable-data numeric ctr">
                        {% if network.reporting %}
                        <div class="network-data">-</div>
                        {% endif %}
                        <div class="mopub-data">-</div>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="appData-details hidden {{ network.key }}-apps-div" style="margin: 0 0 0 86px">
            <table class="dataTable">
                <tbody>
                    {% for app, app_bids in network.apps %}
                    <tr class="app-row" id="app-{{ app.key }}">
                        <td class="dataTable-name">
                            <a href="{% url publisher_app_show app_key=app.key %}">{{ app.name }} ({{ app.type }})</a>
                        </td>
                        <td class="dataTable-data numeric rev" style="color:orange;">
                            {% if network.reporting %} - {% endif %}
                        </td>
                        <td class="dataTable-data numeric cpm">
                            {% if network.reporting %}
                            <div class="network-data">-</div>
                            {% endif %}
                            {# django needs elif #}
                            {% if app_bids.min_cpm == app_bids.max_cpm %}
                            {% if app_bids.min_cpm %}
                            <div>{{ app_bids.min_cpm|currency }}</div>
                            {% else %}
                            {% endif %}
                            {% else %}
                            <div>{{ app_bids.min_cpm|currency }} - {{ app_bids.max_cpm|currency }}</div>
                            {% endif %}
                        </td>
                        <td class="dataTable-data numeric att">
                            {% if network.reporting %}
                            <div class="network-data">-</div>
                            {% endif %}
                            <div class="mopub-data">-</div>
                        </td>
                        <td class="dataTable-data numeric imp">
                            {% if network.reporting %}
                            <div class="network-data">-</div>
                            {% endif %}
                            <div class="mopub-data">-</div>
                        </td>
                        <td class="dataTable-data numeric fill_rate">
                            {% if network.reporting %}
                            <div class="network-data">-</div>
                            {% endif %}
                            <div class="mopub-data">-</div>
                        </td>
                        <td class="dataTable-data numeric clk">
                            {% if network.reporting %}
                            <div class="network-data">-</div>
                            {% endif %}
                            <div class="mopub-data">-</div>
                        </td>
                        <td class="dataTable-data numeric ctr">
                            {% if network.reporting %}
                            <div class="network-data">-</div>
                            {% endif %}
                            <div class="mopub-data">-</div>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    {% endfor %}
</div>

<div class="right">
    <div class="dropdown" id="app-export" style="display: inline;">
        <a class="btn dropdown-toggle" data-toggle="dropdown" href="#export-menu">
            <i class="icon-download-alt"></i>
            Export
            <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            <li>
            <a href="{% url network_exporter %}?type=xls" data-toggle="running"> Excel XLS </a>
            </li>
            <li>
            <a href="{% url network_exporter %}?type=xlsx" data-toggle="running"> Excel XLSX </a>
            </li>
            <li>
            <a href="{% url network_exporter %}?type=ods" data-toggle="running"> OpenOffice Spreadsheet </a>
            </li>
            <li>
            <a href="{% url network_exporter %}?type=csv" data-toggle="running"> CSV </a>
            </li>
            <li>
            <a href="{% url network_exporter %}?type=tsv" data-toggle="running"> TSV </a>
            </li>
            <li>
            <a href="{% url network_exporter %}?type=yaml" data-toggle="running"> YAML </a>
            </li>
            <li>
            <a href="{% url network_exporter %}?type=json" data-toggle="running"> JSON </a>
            </li>
        </ul>
    </div>
</div>
</section>

{% else %}

{% comment %}
Make a table for the main ad networks that are not setup
{% endcomment %}
<section id="dashboard-apps">
<h2>Set Up Ad Networks</h2>
{% for network in networks_to_setup %}
<div class="appData appData-alt">
    <table class="dataTable appData-main">
        <tbody>
            <tr id="{{network.name}}-row">
                <td class="networkData-icon">
                    <img src="/images/{{network.name}}-transparent.png" alt="{{network.pretty_name}}" width="75" height="25" />
                </td>
                <td>
                    <a class="show-status btn btn-small" href="{% url edit_network network=network.name %}">Set up {{network.pretty_name}}</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
{% endfor %}
</section>

<section>
<select id='network-editSelect' class='selectmenu'>
    <option value="">Additional Networks</option>
    {% for network in additional_networks %}
    <option value="{% url edit_network network=network.name %}">{{network.pretty_name}}</option>
    {% endfor %}
</select>
</section>

{% endif %}
{% endblock innerContent %}

{% block extraScripts %}
{{ block.super }}
<script>
    $(function () {
        var graph_start_date = Date.UTC({{ start_date.year }}, {{ start_date.month|add:"-1" }}, {{ start_date.day }});

        NetworksController.initialize({
            campaigns_data: [{% for network in networks %}{
                id: '{{ network.key }}',
                network: '{{ network.name }}',
                reporting: {% if network.reporting %}true{% else %}false{% endif %}},{% endfor %}],
            apps: [{% for app in apps %}{'id': '{{ app.key }}'},{% endfor %}],
            date_range: {{ date_range }},
            graph_start_date: graph_start_date, });
    });
</script>
{% endblock extraScripts %}

