{% extends "networks_base.html" %}
{% load filters %}

{% block pageTitle %}
<div class="breadcrumb">
    <h1>Networks</h1>
</div>
{% endblock pageTitle %}

{% block titleBarRight %}
<span class="titlebar-right">
    <a class="button" id="network-settingsButton" href="#">Edit ad network settings</a>
</span>
{% endblock titleBarRight %}

{% block preContent %}
<section id="network-settingsForm" class="hidden">
<div>
    <form accept-charset="ascii" id="networkForm" class="settingsForm">
        <fieldset id="networkForm-details" class="alt">
            <div id="settings-form-message" class="hidden alert-message block-message warning"></div>
            <div>
                <dl class="formFields" style="margin:0">
                    <dt> E-mail: </dt>
                    <dd> <input name="email" type="checkbox" {% if settings.email %} checked="true" {% endif %}/> &nbsp;Send me a daily ad network revenue report</dd>
                    <dt> Recipients: </dt>
                    <dd>
                    <textarea name="recipients" rows="3" cols="80">{{settings.recipients}}</textarea>
                    </dd>
                </dl>
            </div>
            <div class="form-submit" style="clear:both;">
                <span class="hidden" id="networkSettingsForm-loading"><img src="/images/loading2.gif"/></span>
                <span class="buttonWrap"><a href="#" class="button" id="networkSettingsForm-cancel">Cancel</a></span>
                <span class="buttonWrap"><a href="#" class="button" id="networkSettingsForm-submit">Save</a></span>
            </div>
        </fieldset>
    </form>
</div>
</section>
{% endblock preContent %}

{% block innerContent %}
{% if networks %}
<section id="dashboard-apps">
{% if reporting %}
<div style="float:right">
    <input type="checkbox" name="show-data" id="show-network" /> Show data reported by networks in <span style="color:orange;">orange</span>
</div>
{% endif %}

{% comment %}
Make a table for ad networks that are active
{% endcomment %}
<div>
    <div class="appData-columnHeaders">
        <table class="dataTable" width=100%>
            <thead>
                <th class="networkData-icon" style="width:75px"></th>
                <th class="dataTable-name"> </th>
                <th class="dataTable-data numeric"> Revenue </th>
                <th class="dataTable-data numeric"> CPM </th>
                <th class="dataTable-data numeric"> Attempts </th>
                <th class="dataTable-data numeric"> Impressions </th>
                <th class="dataTable-data numeric"> Fill Rate </th>
                <th class="dataTable-data numeric"> Clicks </th>
                <th class="dataTable-data numeric"> CTR </th>
            </thead>
        </table>
    </div>
    {% for network in networks %}
    <div class="{% cycle 'appData' 'appData appData-alt' %}">
        <table class="dataTable appData-main">
            <tbody>
                <tr id="{{network.campaign_key}}-row">
                    <td class="networkData-icon">
                        <a href="{% url network_details campaign_key=network.campaign_key %}">
                            <img src="/images/{{network.name}}-transparent.png" alt="{{network.pretty_name}}" width="75" height="25" />
                        </a>
                    </td>
                    <td class="dataTable-name">
                        <a href="{% url network_details campaign_key=network.campaign_key %}">
                            {{network.pretty_name}}
                        </a>
                        <div>
                            <a class="show-apps button button-small" id="{{network.campaign_key}}" style="width:75px;">Show Apps</a>
                        </div>
                    </td>
                    {% if network.reporting %}
                    <td class="dataTable-data numeric">
                        <div class="networks-revenue" style="color:orange;">--</div>
                    </td>
                    {% endif %}
                    <td class="dataTable-data numeric">
                        {% if network.reporting %}
                        <div class="networks-cpm network-data">--</div>
                        {% endif %}
                        <div class="all-cpm mopub-data">--</div>
                    </td>
                    <td class="dataTable-data numeric">
                        {% if network.reporting and network.name != MOBFOX %}
                        <div class="networks-attempt_count network-data">--</div>
                        {% endif %}
                        <div class="all-attempt_count mopub-data">--</div>
                    </td>
                    <td class="dataTable-data numeric">
                        {% if network.reporting %}
                        <div class="networks-impression_count network-data">--</div>
                        {% endif %}
                        <div class="all-impression_count mopub-data">--</div>
                    </td>
                    <td class="dataTable-data numeric">
                        {% if network.reporting %}
                        <div class="networks-fill_rate network-data">--</div>
                        {% endif %}
                        <div class="all-fill_rate mopub-data">--</div>
                    </td>
                    <td class="dataTable-data numeric">
                        {% if network.reporting %}
                        <div class="networks-click_count network-data">--</div>
                        {% endif %}
                        <div class="all-click_count mopub-data">--</div>
                    </td>
                    <td class="dataTable-data numeric">
                        {% if network.reporting %}
                        <div class="networks-ctr network-data">--</div>
                        {% endif %}
                        <div class="all-ctr mopub-data">--</div>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="appData-details hidden {{network.campaign_key}}-apps-div" style="margin: -10px 0 0 86px">
            <table class="dataTable">
                <tbody id="{{network.campaign_key}}-apps">
                </tbody>
            </table>
        </div>
    </div>
    {% endfor %}
</div>
</section>
{% endif %}

{% comment %}
Make a table for the main ad networks that are not setup
{% endcomment %}
<section>
<h2 style="padding-top:25px;">Set Up Ad Networks</h2>
{% for network in networks_to_setup %}
<div class="{% cycle 'appData' 'appData appData-alt' %}">
    <table class="dataTable appData-main">
        <tbody>
            <tr id="{{network.name}}-row">
                <td class="networkData-icon">
                    <img src="/images/{{network.name}}-transparent.png" alt="{{network.pretty_name}}" width="75" height="25" />
                </td>
                <td>
                    <a class="show-status button button-small" href="{% url edit_network network=network.name %}">Set up {{network.pretty_name}}</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
{% endfor %}
</section>

<section>
<select id='network-editSelect' class='selectmenu'>
    <option value="">Additional Networks</option>
    {% for network in additional_networks %}
    <option value="{% url edit_network network=network.name %}">{{network.pretty_name}}</option>
    {% endfor %}
</select>
</section>

{% endblock innerContent %}

{% block extraScripts %}
{{ block.super }}
<script type="text/html" id="network-app-template">
    {% include "partials/network_app.html" %}
</script>

{% include_script "models/ad_network_reports" %}
{% include_script "views/ad_network_reports" %}

{% include_script "models/inventory" %}
{% include_script "views/inventory" %}
{% include_script "controllers/networks" %}
<script>
    $(function () {
        var graph_start_date = Date.UTC({{ start_date.year }}, {{ start_date.month|add:"-1" }}, {{ start_date.day }});

        var today = {% if today != None %}{{ today }}{% else %}null{% endif %};

        var yesterday = {% if yesterday != None %}{{ yesterday }}{% else %}null{% endif %};

        NetworksController.initialize({
            campaigns_data: {{ campaigns_data|safe }},
            date_range: {{ date_range }},
            graph_start_date: graph_start_date,
            today: today,
            yesterday: yesterday,
            ajax_query_string: 's={{ start_date.year }}-{{ start_date.month }}-{{ start_date.day }}&r={{ date_range }}'});

        $('#show-network').change(function() {
            if ($(this).is(':checked')) {
                $('.network-data').show();
            } else {
                $('.network-data').hide();
            }
        }).change();

        $('.show-apps').click(function() {
            var key = $(this).attr('id');
            var div = $('.' + key + '-apps-div');
            if (div.is(':hidden')) {
                div.show();
                $(this).text("Hide Apps");
            } else {
                div.hide()
                $(this).text("Show Apps");
            }
        });

        $('#network-editSelect').change(function() {
            if ($(this).val()) {
                window.location = $(this).val();
            }
            $(this).selectmenu('index', 0);
        });

        $('#network-editSelect').find('li').first().hide();

        // taken from mopub-dashboard.js #appEditForm (could be combined)
        $('#networkSettingsForm-submit')
            .button({
                icons: { secondary: "ui-icon-circle-triangle-e" }
            })

            .click(function(e) {
                e.preventDefault();
                $('#networkSettingsForm-loading').show();
                $('#settings-form-message').hide();

                // check if all emails are valid
                var valid = true;
                var list = $('#network-settingsForm textarea').val().split(',');
                for (var i = 0; i < list.length; i++) {
                    if (!isValidEmailAddress(list[i])) {
                        valid = false;
                    }
                }

                if (valid) {
                    $.ajax({
                        type: 'POST',
                        url: '/ad_network_reports/settings/',
                        data : $('#networkForm').serialize(),
                        success : function(resp) {
                            $('#networkSettingsForm-loading').hide();
                            $('#network-settingsForm').slideUp('fast');
                        },
                        error : function(jqXHR, textStatus, errorThrown) {
                            $('#settings-form-message').html("Couldn't update settings.");
                            $('#settings-form-message').show();
                            $('#networkSettingsForm-loading').hide();
                        }
                    });
                    //$('#networkForm').submit();
                } else {
                    $('#settings-form-message')
                        .html("Please enter a valid email address or a list of valid email addresses.");
                    $('#settings-form-message').show();
                    $('#networkSettingsForm-loading').hide();
                }
            });

        $('#networkSettingsForm-cancel')
            .click(function(e) {
                e.preventDefault();
                $('#network-settingsForm').slideUp('fast');
            });

        $('#network-settingsButton')
            .button({ icons: { primary: "ui-icon-wrench" } })
            .click(function(e) {
                e.preventDefault();
                if ($('#network-settingsForm').is(':visible')) {
                    $('#network-settingsForm').slideUp('fast');
                } else {
                    $('#network-settingsForm').slideDown('fast');
                }
            });
    });
</script>
{% endblock extraScripts %}

