{% extends "base.html" %}
{% load filters %}
{% load elements %}

{% block navLinks %}
<li><a href="{% url app_index %}">Dashboard</a></li>
<li><a href="{% url advertiser_campaign %}">Campaigns</a></li>
<li><a href="{% url marketplace_index %}">Marketplace</a></li>
<li class="active"><a href="{% url networks %}">Networks</a></li>
{% endblock navLinks %}

{% block titleBarRight %}
{% endblock titleBarRight %}

{% block dateButtons %}
{% include "partials/datecontrols.html" %}
{% endblock dateButtons %}


{% block content %}

{% block preContent %}
{% endblock preContent %}

{% block graph %}
{% if graph %}
<section class="offset nomargin" id="dashboard-stats">
<h3 class="stats-chart-title">
    Realtime Stats for {{start_date|format_date_compact}} to {{end_date|format_date_compact}}
</h3>
{# Controls and stats breakdown for the top realtime stats #}
<div class="stats">
    {% comment %}
    {% stats_breakdown stats %}
    {% endcomment %}
    <div class="stats">
        <div class="stats-breakdown">
            <table>
                <tbody>
                    {% if reporting %}
                    <tr id="stats-breakdown-rev">
                        <td class="stats-breakdown-value">
                            <span class="inner network-chart-rev" style="color:orange;"></span>
                        </td>
                        <th class="stats-breakdown-name">
                            <span class="inner">Revenue</span>
                        </th>
                    </tr>
                    {% endif %}

                    <tr class="active" id="stats-breakdown-imp">
                        <td class="stats-breakdown-value">
                            {% if reporting %}
                            <span class="inner network-chart-data"></span>
                            {% endif %}
                            <span class="inner mopub-chart-data"></span>
                        </td>
                        <th class="stats-breakdown-name">
                            <span class="inner">Impressions</span>
                        </th>
                    </tr>

                    <tr id="stats-breakdown-clk">
                        <td class="stats-breakdown-value">
                            {% if reporting %}
                            <span class="inner network-chart-data"></span>
                            {% endif %}
                            <span class="inner mopub-chart-data"></span>
                        </td>
                        <th class="stats-breakdown-name">
                            <span class="inner">Clicks</span>
                        </th>
                    </tr>

                    <tr id="stats-breakdown-ctr">
                        <td class="stats-breakdown-value">
                            {% if reporting %}
                            <span class="inner network-chart-data"></span>
                            {% endif %}
                            <span class="inner mopub-chart-data"></span>
                        </td>
                        <th class="stats-breakdown-name">
                            <span class="inner">CTR</span>
                        </th>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="chart stats-chart" id="dashboard-stats-chart">
        </div>
    </div>
</div>
</section>

<section id="show-network-data">
{% if reporting %}
<div style="float:right">
    <input type="checkbox" checked="yes" name="show-data" id="show-network" /> Show data reported by network in <span style="color:orange;">orange</span>
</div>
{% endif %}
</section>

{% else %}
<section>
<div class="alert-message block-message">
    MoPub can serve ads from ad networks to your apps.  Set up the networks below.<br/>
</br>
    <strong>Note: MoPub requires that you have accounts at each ad network you want to use.</strong>
</div>
</section>
{% endif %}
{% endblock graph %}

{% block innerContent %}
{% endblock innerContent %}

{% endblock content %}


{% block extraScripts %}
{% include_script "models/inventory" %}
{% include_script "views/inventory" %}
{% include_script "controllers/dashboard_dates" %}
{% include_script "libs/jquery.cookie" %}
{% include_script "controllers/networks" %}
{% endblock extraScripts %}

