{% extends 'advertiser/base.html' %}
{% load filters %}
{% block navLinks %}
            <li><a href="/inventory">Dashboard</a></li>
            <li class="active"><a href="campaigns.html">Campaigns</a></li>
{% endblock navLinks %}
{% block messageCenter %}{% endblock messageCenter %}

{% block content %}
          <div class="separated">
            <section class="offset nomargin" id="dashboard-stats">
              <div class="stats">
                <table class="stats-breakdown">
                  <tbody>
                    <tr class="active" id="stats-breakdown-revenue">
                      <td class="stats-breakdown-value"><span class="inner">{{totals.revenue|currency}}</span></td>
                      <th class="stats-breakdown-name"><span class="inner">Revenue (est.)</span></th>
                    </tr>
                    <tr id="stats-breakdown-impressions">
                      <td class="stats-breakdown-value"><span class="inner">{{totals.impression_count|withsep}}</span></td>
                      <th class="stats-breakdown-name"><span class="inner">Impressions</span></th>
                    </tr>
                    <tr id="stats-breakdown-clicks">
                      <td class="stats-breakdown-value"><span class="inner">{{totals.click_count|withsep}}</span></td>
                      <th class="stats-breakdown-name"><span class="inner">Clicks</span></th>
                    </tr>
                    <tr id="stats-breakdown-users">
                      <td class="stats-breakdown-value"><span class="inner">{{totals.unique_user_count|withsep}}</span></td>
                      <th class="stats-breakdown-name"><span class="inner">Users</span></th>
                    </tr>
                  </tbody>
                </table>
                <div class="chart chart-loading stats-chart" id="dashboard-stats-chart">
                  <div class="chart-loading-text">Loading ...</div>
                  <div class="chart-error-text">Could not load chart</div>
                  <script type="text/javascript">
                    // chart data
                    mopub.dashboardStatsChartData = {
                      //pointStart: 1294963200000,
                      pointStart: Date.UTC({{start_date.year}},{{start_date.month|add:"-1"}},{{start_date.day}}),
                      pointInterval: 86400000,
                      'revenue': [{% for a in adunits %}
                        { '{{a.name}}': [{% for stat in a.all_stats %}{{stat.revenue}}{% if not forloop.last %},{% endif %} {% endfor %}] }{% if not forloop.last %},{% endif %}{% endfor %}
                      ],
                      'impressions': [{% for a in adunits %}
                        { '{{a.name}}': [{% for stat in a.all_stats %}{{stat.impression_count}}{% if not forloop.last %},{% endif %} {% endfor %}] }{% if not forloop.last %},{% endif %}{% endfor %}
                      ],
                      'clicks': [{% for a in adunits %}
                        { '{{a.name}}': [{% for stat in a.all_stats %}{{stat.click_count}}{% if not forloop.last %},{% endif %} {% endfor %}] }{% if not forloop.last %},{% endif %}{% endfor %}
                      ],
                      'users': [{% for a in adunits %}
                        { '{{a.name}}': [{% for stat in a.all_stats %}{{stat.unique_user_count}}{% if not forloop.last %},{% endif %} {% endfor %}] }{% if not forloop.last %},{% endif %}{% endfor %}
                      ]
                    };
                  </script>
                </div>
              </div>
              <div class="clear"></div>
            </section>
          </div>


					<div class="separated">
	          <section id="dashboard-apps">
		
	            <h2>Settings</h2>
							<table>
								<tr><th>Priority level</th>
									<td class="numeric">
										{% ifequal adgroup.priority_level 1 %}Sponsorship{% endifequal %}
										{% ifequal adgroup.priority_level 2 %}Direct{% endifequal %}
										{% ifequal adgroup.priority_level 3 %}Promotional{% endifequal %}
										{% ifequal adgroup.priority_level 4 %}Network{% endifequal %}
									</td></tr>
									<tr><th>Max Bid</th><td class="numeric">{{adgroup.bid|currency}}</td></tr>
									<tr><th>Bid strategy</th>
										<td class="numeric">{% ifequal adgroup.bid_strategy "cpc" %}By click (CPC){% endifequal %}
											{% ifequal adgroup.bid_strategy "cpm" %}By impression (CPM){% endifequal %}</td></tr>
									<tr><th>Geo predicates</th><td class="numeric">{% for g in adgroup.geo_predicates %}{{g}}<br/>{% endfor %}</td></tr>
									<tr><th>Device predicates</th><td class="numeric">{% for g in adgroup.device_predicates %}{{g}}<br/>{% endfor %}</td></tr>
							</table>
	
           	</section>
	          <section id="dashboard-apps2">
	            <h2>Ad Unit Targeting</h2>
	            <div class="appData-columnHeaders">
	              <table class="dataTable" id="dashboard-apps-columnHeaders">
	                <thead>
	                  <tr>
	                    <th class="appData-icon"></th>
	                    <th class="dataTable-name">Name</th>
	                    <th class="dataTable-data">Impressions</th>
	                    <th class="dataTable-data">Clicks</th>
	                    <th class="dataTable-data">Cost</th>
	                  </tr>
	                </thead>
	              </table>
	            </div>
	            {% for adunit in adunits %}
	            <div class="appData" id="dashboard-app-{{forloop.counter0}}">
	              <table class="dataTable appData-main" id="dashboard-app-{{forloop.counter0}}-main">
	                <tbody>
	                  <tr>
	                    <td class="appData-icon">
												{% if adunit.app.icon %}
												<img src="{{adunit.app.icon|binary_data}}"/>
												{% else %}
												<img src="/images/noicon.png">
												{% endif %}
	                    </td> 
	                    <th class="dataTable-name"> {{adunit.app.name}} > <a href="{% url publisher_adunit_show adunit_key=adunit.key %}">{{adunit.name}}</a>
											</th>
	                    <td class="dataTable-data">{{adunit.stats.impression_count|withsep}}</td>
	                    <td class="dataTable-data">{{adunit.stats.click_count|withsep}}</td>
	                    <td class="dataTable-data">{{adunit.stats.revenue|currency}}</td>
	                  </tr>
	                </tbody>
	              </table>
	            </div>
	          	{% endfor %}
           	</section>
						<section>
							<div class="buttonBank buttonBank-right">
	              <a class="button" id="dashboard-apps-toggleAllButton" href="#">Show/hide all creatives</a>
	              <a class="button" id="dashboard-apps-addAppButton" href="{% url publisher_app_create %}">Add a creative</a>
	            </div>
	            
							<h2>Ad Creatives</h2>
							<div class="appData-columnHeaders">
	              <table class="dataTable" id="dashboard-apps2-columnHeaders">
	                <thead>
	                  <tr>
	                    <th class="appData-icon"></th>	                    
											<th class="dataTable-name">Creative</th>
	                    <th class="dataTable-data">Status</th>
	                    <th class="dataTable-data">Impressions</th>
	                    <th class="dataTable-data">Clicks</th>
	                    <th class="dataTable-data">Cost</th>
	                  </tr>
	                </thead>
	              </table>
	            </div>
							<form>
		            {% for c in creatives %}
		            <div class="appData" id="dashboard-app2-{{forloop.counter0}}">
			            <table class="dataTable" id="dashboard-apps2-columnHeaders">
		                <tbody>
		                  <tr>
												<td class="appData-icon"><input type="checkbox" name="id" value="{{c.key}}"/></td>
		                    <th class="dataTable-name">
													{{c.html_name}}
													<div class="creative">
													  <iframe src="{% url advertiser_creative_html creative_key=c.key %}" frameborder="0" scrolling="no" width="100%" height="50">
								              <p>Your browser does not support iframes.</p>
								            </iframe>
													</div>
													<div class="clearall"></div>
												</th>
		                    <th class="dataTable-data">
													{% if c.deleted %} 
														<img src="/images/deleted.gif" width="9" height="9"/> 
													{% endif %} 
													{% if c.active and not c.deleted %} 
														<img src="/images/active.gif" width="9" height="9"/> 
													{% endif %} 
													{% if not c.active and not c.deleted %} 
														<img src="/images/paused.gif" width="9" height="9"/> 
													{% endif %} 
												</th>
		                    <th class="dataTable-data">{{c.stats.impression_count|withsep}}</th>
		                    <th class="dataTable-data">{{c.stats.click_count|withsep}}</th>
		                    <th class="dataTable-data">{{c.stats.revenue|currency}}</th>
		                  </tr>
		                </tbody>
		              </table>
		            </div>
		          	{% endfor %}
								<a class="button" id="campaignForm-pause">Pause</a>
								<a class="button" id="campaignForm-resume">Resume</a>
								<a class="button" id="campaignForm-delete">Delete</a>
							</form>	
	            
						</section>	
					</div>	
{% endblock content %}
