{% extends 'advertiser/base.html' %}
{% load filters %}

{% block navLinks %}
<li><a href="{% url publisher_index %}">Dashboard</a></li>
<li class="active"><a href="{% url advertiser_campaign %}">Campaigns</a></li>{% endblock navLinks %}
{% block pageTitle %}<h1>{% ifequal account.status 'step4' %}Step 4: Set up an ad campaign{% else %}Campaigns{% endifequal %}</h1>{% endblock pageTitle %}
{% block titleBarRight %}{% ifequal account.status 'step4' %}            <div class="stepProgress"> 
  <span class="stepProgress-step">Step 1: Add app</span> 
  <span class="ui-icon ui-icon-arrow-1-e"></span> 
  <span class="stepProgress-step">Step 2: Integrate</span> 
  <span class="ui-icon ui-icon-arrow-1-e"></span> 
  <span class="stepProgress-step">Step 3: Ad networks</span> 
  <span class="ui-icon ui-icon-arrow-1-e"></span> 
  <span class="stepProgress-step stepProgress-active">Step 4: Ad campaigns</span> 
</div>{% endifequal %}{% endblock titleBarRight %}
{% block messageCenter %}{% endblock messageCenter %}
{% block dateButtons %}{% ifnotequal account.status 'step4' %}
          <div id="titlebar-center">
            <span class="buttonset" id="dashboard-dateOptions">
              <input type="radio" name="dashboard-dateOptions-option" value="7" id="dashboard-dateOptions-option-7" {% ifequal date_range 7 %}checked="checked" {% endifequal %}/>
              <label for="dashboard-dateOptions-option-7">7 days</label>
              <input type="radio" name="dashboard-dateOptions-option" value="14" id="dashboard-dateOptions-option-14" {% ifequal date_range 14 %}checked="checked" {% endifequal %}{% if not date_range %}checked="checked" {% endif %}/>
              <label for="dashboard-dateOptions-option-14">14 days</label>
              <input type="radio" name="dashboard-dateOptions-option" value="30" id="dashboard-dateOptions-option-30" {% ifequal date_range 30 %}checked="checked" {% endifequal %}/>
              <label for="dashboard-dateOptions-option-30">30 days</label>
              <input type="radio" name="dashboard-dateOptions-option" value="custom" id="dashboard-dateOptions-option-custom" />
              <label for="dashboard-dateOptions-option-custom">Custom ...</label>
            </span>
            <div id="dashboard-dateOptions-custom-modal">
              <div id="dashboard-dateOptions-custom-from"><h4>Start date:</h4></div>
              <div id="dashboard-dateOptions-custom-to"><h4>End date:</h4></div>
            </div>
          </div>
{% endifnotequal %}{% endblock dateButtons %}

{% block content %}
{% ifequal account.status "step4" %}
<div class="alertMessage">
  Finally, you will need to set up at least one ad campaign to serve into your inventory.  A <strong>Guaranteed</strong> ad campaign is typically a direct sold ad campaign.  <strong>Promotional</strong> campaigns are for house ads like an upsell.  A <strong>Network</strong> ad is an ad served from a ad network like AdMob.
</div>
{% endifequal %}
<div class="separated">
  <section class="offset nomargin" id="dashboard-stats">
    <div class="stats">
      <table class="stats-breakdown">
        <tbody>
          <tr class="active" id="stats-breakdown-revenue">
            <td class="stats-breakdown-value"><span class="inner">{{totals.revenue|currency}}</span></td>
            <th class="stats-breakdown-name"><span class="inner">Revenue (est.)</span></th>
          </tr>
          <tr id="stats-breakdown-impressions">
            <td class="stats-breakdown-value"><span class="inner">{{totals.impression_count|withsep}}</span></td>
            <th class="stats-breakdown-name"><span class="inner">Impressions</span></th>
          </tr>
          <tr id="stats-breakdown-clicks">
            <td class="stats-breakdown-value"><span class="inner">{{totals.click_count|withsep}}</span></td>
            <th class="stats-breakdown-name"><span class="inner">Clicks</span></th>
          </tr>
          <tr id="stats-breakdown-users">
            <td class="stats-breakdown-value"><span class="inner">{{totals.unique_user_count|withsep}}</span></td>
            <th class="stats-breakdown-name"><span class="inner">Users</span></th>
          </tr>
        </tbody>
      </table>
      <div class="chart chart-loading stats-chart" id="dashboard-stats-chart">
        <div class="chart-loading-text">Loading ...</div>
        <div class="chart-error-text">Could not load chart</div>
        <script type="text/javascript">
          // chart data
          mopub.dashboardStatsChartData = {
            //pointStart: 1294963200000,
            pointStart: Date.UTC({{start_date.year}},{{start_date.month|add:"-1"}},{{start_date.day}}),
            pointInterval: 86400000,
            'revenue': [{% for a in adgroups %}
              { '{{a.name}}': [{% for stat in a.all_stats %}{{stat.revenue}}{% if not forloop.last %},{% endif %} {% endfor %}] }{% if not forloop.last %},{% endif %}{% endfor %}
            ],
            'impressions': [{% for a in adgroups %}
              { '{{a.name}}': [{% for stat in a.all_stats %}{{stat.impression_count}}{% if not forloop.last %},{% endif %} {% endfor %}] }{% if not forloop.last %},{% endif %}{% endfor %}
            ],
            'clicks': [{% for a in adgroups %}
              { '{{a.name}}': [{% for stat in a.all_stats %}{{stat.click_count}}{% if not forloop.last %},{% endif %} {% endfor %}] }{% if not forloop.last %},{% endif %}{% endfor %}
            ],
            'users': [{% for a in adgroups %}
              { '{{a.name}}': [{% for stat in a.all_stats %}{{stat.unique_user_count}}{% if not forloop.last %},{% endif %} {% endfor %}] }{% if not forloop.last %},{% endif %}{% endfor %}
            ]
          };
        </script>
      </div>
    </div>
    <div class="clear"></div>
  </section>
</div>
<section id="dashboard-campaigns">
  <div class="buttonBank buttonBank-right">
    <a class="button" id="advertisers-addCampaign" href="{% url advertiser_campaign_create %}">Add a campaign</a>
  </div>
  <form method="post" action="{% url advertiser_bid_pause %}" id="campaignForm">
    <input type="hidden" name="action" id="action"/>
    <h2>Guaranteed</h2>
    <div class="appData-columnHeaders">
      <table class="dataTable" id="dashboard-campaigns-columnHeaders">
        <thead>
          <tr>
            <th class="appData-icon"></th>
            <th class="dataTable-name">Campaigns</th>
            <th class="dataTable-data">CPM</th>
            <th class="dataTable-data">Status</th>
            <th class="dataTable-data"></th>
            <th class="dataTable-data">Impressions</th>
            <th class="dataTable-data">Clicks</th>
            <th class="dataTable-data">CTR</th>
          </tr>
        </thead>
      </table>
    </div>
    {% for c in gtee %}<div class="appData" id="dashboard-guaranteed-{{forloop.counter0}}">
    <table class="dataTable appData-main" id="dashboard-guaranteed-{{forloop.counter0}}-main">
      <tbody>
        <tr>
          <td class="appData-icon">
            <input type="checkbox" name="id" value="{{c.key}}"/>
          </td> 
          <th class="dataTable-name"><a href="{% url advertiser_adgroup_show adgroup_key=c.key %}">{{c.name}}</a></th>
          <td class="dataTable-data">{{c.bid|currency}}</td>
          <td class="dataTable-data">                     
            {% if c.deleted %}<img src="/images/deleted.gif" width=9 height=9/>{% endif %}
            {% if c.active and not c.deleted %}<img src="/images/active.gif" width=9 height=9/>{% endif %}
            {% if not c.active and not c.deleted %}<img src="/images/paused.gif" width=9 height=9/>{% endif %}
          </td>
          <td class="dataTable-data"></td>
          <td class="dataTable-data">{{c.stats.impression_count|withsep}}</td>
          <td class="dataTable-data">{{c.stats.click_count|withsep}}</td>
          <td class="dataTable-data">{{c.stats.ctr|percentage|withsep}}</td>
        </tr>
      </tbody>
    </table>
    {% empty %}
    <div class="{% cycle 'appData' 'appData appData-alt' %}" id="dashboard-guaranteed-0">
      <table class="dataTable appData-main" id="dashboard-guaranteed-0-main">
        <tbody>
          <tr>
            <td class="appData-icon"></td> 
            <th class="dataTable-name"><span class="muted">None</span></th>
          </tr>
        </tbody>
      </table>
    </div>
    {% endfor %}
    <h2>Promotional</h2>
    <div class="appData-columnHeaders">
      <table class="dataTable" id="dashboard-promo-columnHeaders">
        <thead>
          <tr>
            <th class="appData-icon"></th>
            <th class="dataTable-name">Campaigns</th>
            <th class="dataTable-data">CPM</th>
            <th class="dataTable-data">Status</th>
            <th class="dataTable-data"></th>
            <th class="dataTable-data">Impressions</th>
            <th class="dataTable-data">Clicks</th>
            <th class="dataTable-data">CTR</th>
          </tr>
        </thead>
      </table>
    </div>
    {% for c in promo %}
    <div class="{% cycle 'appData' 'appData appData-alt' %}" id="dashboard-promo-{{forloop.counter0}}">
      <table class="dataTable appData-main" id="dashboard-promo-{{forloop.counter0}}-main">
        <tbody>
          <tr>
            <td class="appData-icon">
              <input type="checkbox" name="id" value="{{c.key}}"/>
            </td> 
            <th class="dataTable-name"><a href="{% url advertiser_adgroup_show adgroup_key=c.key %}">{{c.name}}</a> <span class="muted unbold"></span></th>
            <td class="dataTable-data">{{c.bid|currency}}</td>
            <td class="dataTable-data">                     
              {% if c.deleted %}<img src="/images/deleted.gif" width=9 height=9/>{% endif %}
              {% if c.active and not c.deleted %}<img src="/images/active.gif" width=9 height=9/>{% endif %}
              {% if not c.active and not c.deleted %}<img src="/images/paused.gif" width=9 height=9/>{% endif %}
            </td>
            <td class="dataTable-data"></td>
            <td class="dataTable-data">{{c.stats.impression_count|withsep}}</td>
            <td class="dataTable-data">{{c.stats.click_count|withsep}}</td>
            <td class="dataTable-data">{{c.stats.ctr|percentage|withsep}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    {% empty %}
    <div class="appData" id="dashboard-promo-0">
      <table class="dataTable appData-main" id="dashboard-promo-0-main">
        <tbody>
          <tr>
            <td class="appData-icon"></td> 
            <th class="dataTable-name"><span class="muted">None</span></th>
          </tr>
        </tbody>
      </table>
    </div>
    {% endfor %}
    <h2>Network</h2>
    <div class="appData-columnHeaders">
      <table class="dataTable" id="dashboard-network-columnHeaders">
        <thead>
          <tr>
            <th class="appData-icon"></th>
            <th class="dataTable-name">Campaigns</th>
            <th class="dataTable-data">CPM</th>
            <th class="dataTable-data">Status</th>
            <th class="dataTable-data">Requests</th>
            <th class="dataTable-data">Impressions</th>
            <th class="dataTable-data">Clicks</th>
            <th class="dataTable-data">CTR</th>
          </tr>
        </thead>
      </table>
    </div>
    {% for c in network %}
    <div class="{% cycle 'appData' 'appData appData-alt'%}" id="dashboard-network-{{forloop.counter0}}">
      <table class="dataTable appData-main" id="dashboard-network-{{forloop.counter0}}-main">
        <tbody>
          <tr>
            <td class="appData-icon">
              <input type="checkbox" name="id" value="{{c.key}}"/>
            </td> 
            <th class="dataTable-name"><a href="{% url advertiser_adgroup_show adgroup_key=c.key %}">{{c.name}}</a> <span class="muted unbold"></span></th>
            <td class="dataTable-data">{{c.bid|currency}}</td>
            <td class="dataTable-data">                     
              {% if c.deleted %}<img src="/images/deleted.gif" width=9 height=9/>{% endif %}
              {% if c.active and not c.deleted %}<img src="/images/active.gif" width=9 height=9/>{% endif %}
              {% if not c.active and not c.deleted %}<img src="/images/paused.gif" width=9 height=9/>{% endif %}
            </td>
            <td class="dataTable-data">{{c.stats.request_count|withsep}}</td> 
            <td class="dataTable-data">{{c.stats.impression_count|withsep}}</td>
            <td class="dataTable-data">{{c.stats.click_count|withsep}}</td>
            <td class="dataTable-data">{{c.stats.ctr|percentage|withsep}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    {% empty %}
    <div class="appData" id="dashboard-network-0">
      <table class="dataTable appData-main" id="dashboard-network-0-main">
        <tbody>
          <tr>
            <td class="appData-icon"></td> 
            <th class="dataTable-name"><span class="muted">None</span></th>
          </tr>
        </tbody>
      </table>
    </div>
    {% endfor %}
    <div class="form-submit-left"> 
      <span class="buttonWrap"><a class="button" id="campaignForm-pause">Pause</a>
      <a class="button" id="campaignForm-resume">Resume</a>
      <a class="button" id="campaignForm-delete">Delete</a></span> 
    </div> 
  </form> 
</section>
{% endblock content %}
