{% extends 'base2.html' %} 
{% load filters %}

{% block extraScripts %}<script src="/js/mopub-advertiser.js?v=blah2"></script>{% endblock extraScripts %}

{% block navLinks %}
            <li><a href="{% url publisher_index %}">Dashboard</a></li>
            <li><a href="{% url advertiser_campaign %}">Campaigns</a></li>{% endblock navLinks %}



{% block pageTitle %}<h1>Campaigns</h1>{% endblock pageTitle %}

{% block messageCenter %}{% endblock messageCenter %}
{% block titleBarRight %}{% endblock titleBarRight %}