{% extends 'advertiser/base.html' %}
{% load filters %}
{% block navLinks %}
            <li><a href="/inventory">Dashboard</a></li>
            <li class="active"><a href="campaigns.html">Campaigns</a></li>
{% endblock navLinks %}
{% block messageCenter %}{% endblock messageCenter %}

{% block content %}
          <section id="advertiser-adgroupCreateForm">
            <div class="content-main"> 
              {% if campaign_form.errors or adgroup_form.errors %}
              <div class="alertMessage error">{{campaign_form.errors}}{{adgroup_form.errors}} </div>
              {% endif %}
              <form action="{% url advertiser_campaign_create_ajax %}" method="POST" accept-charset="utf-8" id="campaignAdgroupForm" class="">
                <input type="hidden" name="id" value="{{campaign.key}}"/>
                  <div id="campaignAdgroupForm-fragment">
{{campaign_create_form_fragment}}
                  </div>
                  <div class="clear"></div>
                  <div class="hidden" id="campaignAdgroupForm-success">Success!</div>
                  <div class="form-submit"> 
                    <span class="buttonWrap"><a href="#" class="button" id="campaignAdgroupForm-submit">Continue</a></span> 
                  </div> 
              </form>
            </div>
          </section>
{% endblock content %}
