{% extends "../base.html" %}

{% block content %}
	<div class="longtext">
		<div style="margin: 0 auto 15px auto; width: 705px; text-align:center;">
			<p></p>
			<h1 style="font-size: 48px; line-height: 1.2em;">Optimize<br/>Your Mobile Inventory</h1>
			<p></p>
			<a href="/sites">
				<img src="/images/iphone_arrow.png" width=705 height=253 style="text-align: center;"></img>
			</a>
		</div>
		<h3>WebView-based Inventory Management</h3>
		<p>
			Easily switch between iAd, AdSense and your own custom campaigns with MoPub's simple WebView based mediation approach.
		</p>
		<ul style="padding: 0 35px;">
			<li><strong>Lightweight, open source client code.</strong> No complicated SDK, just a few files hosted on Google Code to add to your project.</li>
			<li><strong>Trackable.</strong> Keep an eye on performance with multiple placements.</li>
			<li><strong>Flexible.</strong> Target house or directly sold campaigns to specific slices of your inventory, and easily switch between iAd and AdSense for backfill.</li>
		</ul>
		<p>
			It's the simplest thing that could possibly work, while still giving you full control over your inventory.
		</p>
		<p class="call_to_action">
			<a href="/sites"><img src="/images/getstarted.png"></img></a>
		</p>
	</div>
{% endblock %}
