<tr class="adunit-row for-app-<%= app_id %>" id="adunit-<%= id %>">
  <td class="icon"></td>
  <td class="name">

    <div class="left"><%= name  %></div>
  </td>
  <td class="rev" style="text-align: right;">
    <%= rev  %>
  </td>
  <td class="cpm" style="text-align: right;">
    <%= cpm %>
  </td>
  <td class="imp" style="text-align: right;">
    <%= imp %>
  </td>
  <td class="price_floor"  style="text-align: right">
    <a href="#" class="save"> Save </a>
    <input id="<%= id %>" class="price_floor_change" type="text" value="<%= price_floor %>"/>
  </td>
  <td class="targeting">
    <% if (active) { %>
      <input name="targeting-<%= app_id %>" class="targeting-box" type="checkbox" checked="checked"></input>
      <label for="targeting-<%= app_id %>" class="targeting-on"> On </label>
    <% } else { %>
      <input name="targeting-<%= app_id %>" class="targeting-box" type="checkbox"></input>
      <label for="targeting-<%= app_id %>" class="targeting-off"> Off </label>
    <% } %>
  </td>
</tr>
