<div class="stats" id="stats">
  <div class="stats-breakdown">
    <table>
      <tbody>
        <% if (rev !== null) { %>
        <tr class="active" id="stats-breakdown-rev">
          <td class="stats-breakdown-value">
            <span class="inner"><%= rev %></span>
          </td>
          <th class="stats-breakdown-name">
            <span class="inner">Revenue</span>
          </th>
        </tr>
        <% } %>
        
        <% if (req !== null) { %>
        <tr id="stats-breakdown-req">
          <td class="stats-breakdown-value">
            <span class="inner"><%= req %></span>
          </td>
          <th class="stats-breakdown-name">
            <span class="inner">Requests</span>
          </th>
        </tr>
        <% } %>
        
        <% if (imp !== null) { %>
        <tr id="stats-breakdown-imp">
          <td class="stats-breakdown-value">
            <span class="inner"><%= imp %></span>
          </td>
          <th class="stats-breakdown-name">
            <span class="inner">Impressions</span>
          </th>
        </tr>
        <% } %>
        
        <% if (clk !== null) { %>
        <tr id="stats-breakdown-clk">
          <td class="stats-breakdown-value">
            <span class="inner">
              <% if (ctr !== null) { %>
              <span class="muted unbold">(<%= ctr %>)</span>
              <% } %>
              <%= clk %>
            </span>
          </td>
          <th class="stats-breakdown-name">
            <span class="inner">Clicks</span>
          </th>
        </tr>
        <% } %>
        
        <% if (cpm !== null) { %>
        <tr id="stats-breakdown-cpm">
          <td class="stats-breakdown-value">
            <span class="inner">
              <%= cpm %>
            </span>
          </td>
          <th class="stats-breakdown-name">
            <span class="inner">eCPM</span>
          </th>
        </tr>
        <% } %>
      </tbody>
    </table>
  </div>

  <div class="chart stats-chart" id="stats-chart"></div>
</div>
