{% load elements %}
{% load filters %}

<tr class="sub" id="{{ creative.key }}">
  <td class="controls">
    <input class="status_change_control" id="{{ creative.key }}" type="checkbox" />
    {% status_icon creative %}
  </td>
  <td class="name">
    {{ creative.name }}
    <button class="btn btn-mini" href="#" id="creative_preview_button">
      <i class="icon-picture"></i>
      Preview
    </button>
    <button class="btn btn-mini edit_creative_button">
      <i class="icon-pencil"></i>
      Edit
    </button>
    <form action="{% url advertiser_creative_form_edit creative.key %}"
          class="edit_creative_form hidden"
          enctype="multipart/form-data"
          method="post">

      {% creative_form creative %}
        <button class="btn right submit">Continue</button>
        <button class="btn right cancel">Cancel</button>
        <div class="clear"></div>
    </form>
    {% creative_preview creative %}
  </td>
  <td class="imp stat">--</td>
  <td class="clk stat">--</td>
  <td class="ctr stat">--</td>
  <td class="{% if line_item.gtee %}rev{% else %}conv{% endif %} stat">--</td>
</tr>
