<div id="date-range-controls">
  <div class="btn-group">
    <a id="datepicker-today"
       class='btn{% if  date_range == 1 and not yesterday %} active{% endif %}'>
      Today
    </a>
    <a id="datepicker-yesterday"
       class='btn{% if yesterday %} active{% endif %}'>
      Yesterday
    </a>
    <a id="datepicker-7"
       class='btn{% ifequal date_range 7 %} active{% endifequal %}'>
      7 Days
    </a>
    <a id="datepicker-14"
       class='btn{% ifequal date_range 14 %} active{% endifequal %}'>
      14 Days
      
    </a>
    <a id="datepicker-custom"
       class='btn{% if date_range != 1 and date_range != 7 and date_range != 14 and date_range != 30 %} active{% endif %}'>
      Custom
      <span class="caret"></span>
    </a>
  </div>
  
  <div id="datepicker-custom-range" class="hidden">

    <div class="clearfix">
    <div class="date-field-container">
      <span class="start-date date-label"> From: </span>
      <input id="datepicker-start-input"
             name="start-date"
             type="text"
             value='{{ start_date|date:'m-d-Y' }}'
             data-date='{{ start_date|date:'m-d-Y' }}'
             data-date-format="mm-dd-yyyy" />
    </div>

    <div class="date-field-container">
      <span class="end-date date-label"> To: </span>
      <input id="datepicker-end-input"
             name="end-date"
             type="text"
             value='{{ end_date|date:'m-d-Y' }}'
             data-date='{{ end_date|date:'m-d-Y' }}'
             data-date-format="mm-dd-yyyy" />
    </div>

    <a id="custom-date-submit" class="right btn btn-primary"> Submit </a>
    </div>

    <div class="left hidden errors">
      <span class="badge-warning"> Error </span>
    </div>
    
  </div>
  
</div>
