<div id="titlebar-center">
  <span class="buttonset" id="dashboard-dateOptions">
    <input type="radio"
           name="dashboard-dateOptions-option"
           value="7"
           id="dashboard-dateOptions-option-7"
           {% ifequal date_range 7 %}checked="checked" {% endifequal %}/>

    <label for="dashboard-dateOptions-option-7">
      7 days
    </label>

    <input type="radio"
           name="dashboard-dateOptions-option"
           value="14"
           id="dashboard-dateOptions-option-14"
           {% ifequal date_range 14 %}checked="checked" {% endifequal %}
           {% if not date_range %}checked="checked" {% endif %}/>
    <label for="dashboard-dateOptions-option-14">
      14 days
    </label>

    <input type="radio"
           name="dashboard-dateOptions-option"
           value="30"
           id="dashboard-dateOptions-option-30"
           {% ifequal date_range 30 %}checked="checked" {% endifequal %}/>
    <label for="dashboard-dateOptions-option-30">
      30 days
    </label>

    <input type="radio"
           name="dashboard-dateOptions-option"
           value="custom"
           id="dashboard-dateOptions-option-custom"
           {% if date_range != 7 and date_range != 14 and date_range != 30 %}checked="checked" {% endif %}/>
    <label for="dashboard-dateOptions-option-custom">
      Custom ...
    </label>
  </span>

  <div id="dashboard-dateOptions-custom-modal">
    <div id="dashboard-dateOptions-custom-from">
      <h4>Start date:</h4>
    </div>
    <div id="dashboard-dateOptions-custom-to">
      <h4>End date:</h4>
    </div>
  </div>
</div>
