<div class="btn-group">
  <a class="btn" href="#" id="filter-button">
    <i class="icon-eye-open"></i>
    Show All 
  </a>
  <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
    <span class="caret"></span>
  </a>
  <ul class="dropdown-menu">
    <li>
      <a class="filter-toggle" href="#" data-toggle="running">
        <i class="icon-chevron-right toggle-check invisible"></i>
        Running
      </a>
    </li>
    <li>
      <a class="filter-toggle" href="#" data-toggle="scheduled">
        <i class="icon-chevron-right toggle-check invisible"></i>
        Scheduled
      </a>
    </li>
    <li>
      <a class="filter-toggle" href="#" data-toggle="completed">
        <i class="icon-chevron-right toggle-check invisible"></i>
        Completed
      </a>
    </li>
    <li>
      <a class="filter-toggle" href="#" data-toggle="paused">
        <i class="icon-chevron-right toggle-check invisible"></i>
        Paused
      </a>
    </li>
    <li>
      <a class="filter-toggle" href="#" data-toggle="archived">
        <i class="icon-chevron-right toggle-check invisible"></i>
        Archived
      </a>
    </li>                
  </ul>
</div>
