{% load filters %}
{% load elements %}

<table class="inventory_table">
  <thead>
    <tr>
      <td class="icon"></td>
      <td class="name" style="width:350px;"></td>
      <td class="adid"></td>
      <td class="stat">Requests</td>
      <td class="stat">Impressions</td>
      <td class="stat">Fill Rate</td>
      <td class="stat">Clicks</td>
      <td class="stat">CTR</td>
      <td class="stat">Conv</td>
    </tr>
  </thead>
  {% for app in inventory %}
    {% if not app.deleted %}
      <tbody class="app {% cycle "alt" "primary" %}">

        {% app_row app singular %}
        
        {% for adunit in app.adunits %}
          {% if not adunit.deleted %}
            
            {% adunit_row adunit %}
            
          {% endif %}
        {% endfor %}
      </tbody>
    {% endif %}
  {% endfor %}
</table>
