{% load filters %}

<table class="inventory_table">
  <thead>
    <tr>
      <td class="icon"></td>
      <td class="name"></td>
      <td class="adid"></td>
      <td class="stat">Requests</td>
      <td class="stat">Impressions</td>
      <td class="stat">Fill Rate</td>
      <td class="stat">Clicks</td>
      <td class="stat">CTR</td>
      <td class="stat">Conv</td>
    </tr>
  </thead>
  {% for app in inventory %}
    <tbody class="app {% cycle "alt" "primary" %}">
      <tr class="main app-row" id="app-{{ app.key }}">
        <td class="icon">
          <div>
            <img src="{{ app.icon_url }}" alt="Icon" width="45" height="45" />
          </div>
        </td>
        <td class="name">
          {% if singular %}
            Totals
          {% else %}
            <a href="{% url publisher_app_show app_key=app.key %}">
              {{ app.name }}
            </a>
            <span class="muted unbold">({{ app.type }})</span>
            {# <span class="appData-id muted unbold hidden"> {{ app.key }} </span> #}
          {% endif %}
          <img id="{{ app.key }}-img" class="loading-img" src="/images/icons-custom/spinner-12.gif"></img>
        </td>
        <td></td>
        {# these stats will be loaded over ajax #}
        <td class="req stat">--</td>
        <td class="imp stat">--</td>
        <td class="fill_rate stat">--</td>
        <td class="clk stat">--</td>
        <td class="ctr stat">--</td>
        <td class="conv stat">--</td>
      </tr>
      {% for adunit in app.adunits %}
        <tr class="sub adunit-row" id="adunit-{{ adunit.key }}">
          <td class="icon"></td>
          <td class="name">
            <a href="{% url publisher_adunit_show adunit_key=adunit.key %}">
              {{ adunit.name }}
            </a>
            <span class="appData-id muted unbold hidden">
              AdUnit ID: {{ adunit.key }}
            </span>
          </td>
          <td>
            <span class="appData-id muted unbold hidden">
              AdUnit ID: {{ adunit.key }}
            </span>
          </td>
          {# these stats will be loaded over ajax #}
          <td class="req stat">--</td>
          <td class="imp stat">--</td>
          <td class="fill_rate stat">--</td>
          <td class="clk stat">--</td>
          <td class="ctr stat">--</td>
          <td class="conv stat">--</td>
        </tr>
      {% endfor %}
    </tbody>
  {% endfor %}
</table>
