{% load filters %}
{% load elements %}

<tr class="sub lineitem-row {{ line_item.status }}" id="{{ line_item.key }}">
  {% if show_status %}
    <td class="controls">
      <input class="status_change_control"
             id="{{line_item.key}}"
             type="checkbox"></input>
      <img id="status-{{ line_item.key }}" src="{{ line_item.status_icon_url }}" height=9 width=9  style="margin-top:4px"/>
    </td>
  {% else %}
    <td></td>
  {% endif %}

  <td class="name">
    {% comment %}
    <a class="order-name"
       href='{% url advertiser_order_detail order_key=line_item.campaign.key %}'
       style="font-size:12px;">
      {{ line_item.campaign.name }}
    </a> >
    <br />
    {% endcomment %}
    <a href='{% url advertiser_line_item_detail line_item_key=line_item.key %}'>
      {{ line_item.name }}
    </a>
    <br />
    <span class="muted">
      {{ line_item.status|capitalize }}
      {% comment %}
      {{ line_item.start_datetime|date:"m/d" }} to {{ line_item.end_datetime|date:"m/d" }}
      {% endcomment %}
    </span>
    <img id="{{ line_item.key }}-img" class="hidden loading-img" src="/images/spin-small.gif" />
  </td>
  {% comment %}
  <td class="advertiser stat">
    {{ line_item.campaign.advertiser }}
  </td>
  {% endcomment %}
  <td class="type stat">
    {{ line_item.adgroup_type_display }}
  </td>
  <td class="goal stat">
    {{ line_item.budget_goal_display }}
  </td>
  <td class="stat">
    {{ line_item.bid|currency }}
    {% if line_item.bid_strategy == 'cpm' %}
      CPM
    {% else %}
      {% if line_item.bid_strategy == 'cpc' %}
        CPC
      {% endif %}
    {% endif %}
  </td>
  <td class="stat">
    {{ line_item.start_datetime|pacific_time:"m/d" }}
  </td>
  <td class="stat">
    {% if line_item.end_datetime %}
      {{ line_item.end_datetime|pacific_time:"m/d" }}
    {% else %}
      None
    {% endif %}
  </td>
  <td class="imp stat">
    --
  </td>
  <td class="clk stat">
    --
  </td>
  <td class="ctr stat">
    --
  </td>
  <td class="stat">
    <div class="conv">
      --
    </div>
    <div class="muted conv_rate">
      --
    </div>
  </td>
  <td class="delivery">
    <div class="hidden progress progress-striped
        {% if line_item.status == 'running' %}active{% endif %}
        {% if line_item.status == 'paused' %}progress-info{% endif %}">
      <div class="bar" style="width: {{ line_item.progress|percentage }}"></div>
      <div id="progress-bar-text"></div>
    </div>

    <div class="hidden pace"></div>
  </td>
  <td class="popdown">
    <i class="moreinfo icon-search" id="popover-{{line_item.key}}"></i>
  </td>
</tr>
