{% load elements %}
{% load filters %}

<tr class="sub lineitem-row {{ line_item.status }} {% if line_item.archived and not show_archived %}hidden{% endif %}" id="{{ line_item.key }}">
  <td class="controls">
    {% if show_controls %}
      <input class="status_change_control" id="{{ line_item.key }}" type="checkbox" />
    {% endif %}
    <img id="status-{{ line_item.key }}" src="{{ line_item.status_icon_url }}" height="9" width="9" style="margin-top: 4px;" />
  </td>
  <td class="name">
    {% if show_order_names %}
      <a class="order-name"
         href='{% url advertiser_order_detail order_key=line_item.campaign.key %}'
         style="font-size:12px;">
        {{ line_item.campaign.name }}
      </a> >
      <br />
    {% endif %}
    <a href="{% url advertiser_line_item_detail line_item_key=line_item.key %}">
      {{ line_item.name }}
    </a>
    <br />
    <span id="text-{{line_item.key}}" class="muted">
      {{ line_item.status|capitalize }}
    </span>
    <img id="{{ line_item.key }}-img" class="loading-img" src="/images/spin-small.gif" />
  </td>
  <td class="type stat">
    {{ line_item.adgroup_type_display }}
  </td>
  <td class="goal stat">
    {{ line_item.budget_goal_display }}
  </td>
  <td class="rate stat">
    {{ line_item.rate_display }}
  </td>
  <td class="start_date stat">
    {{ line_item.start_datetime|pacific_time:"m/d" }}
  </td>
  <td class="end_date stat">
    {% if line_item.end_datetime %}
      {{ line_item.end_datetime|pacific_time:"m/d" }}
    {% else %}
      None
    {% endif %}
  </td>
  <td class="imp stat">
    --
  </td>
  <td class="clk stat">
    --
  </td>
  <td class="ctr stat">
    --
  </td>
  <td class="stat">
    <div class="conv">
      --
    </div>
    <div class="muted conv_rate">
      --
    </div>
  </td>
  <td class="delivery">
    <div class="hidden progress progress-striped
                {% if line_item.status == 'running' %}active{% endif %}
                {% if line_item.status == 'paused' %}progress-info{% endif %}">
      <div class="bar"></div>
      <div id="progress-bar-text"></div>
    </div>

    <div class="hidden pace"></div>
  </td>
  <td class="moreinfo popdown">
    <a class="btn" href="#" id="{{line_item.key}}-popover">
      <i class="icon-search" id="popover-{{ line_item.key }}"></i>
    </a>
  </td>
</tr>

<div class="hidden" id="{{ line_item.key }}-popover-content">
  <h6>Allocation</h6> 
  {{ line_item.allocation_percentage }}%
  <br /><br />
  
  <h6> Frequency Caps </h6> 
  {{ line_item.frequency_cap_display }}
  <br /><br />
  
  <h6> Geo Targeting </h6>
  
  Countries: {{ line_item.targeted_countries|joinby:", "|default:"All countries" }}
  <br />
  Regions:
  {% if line_item.targeted_regions_tuples %}
    {% for region in line_item.targeted_regions_tuples %}
      {{ region.0 }} ({{ region.1 }}){% if not forloop.last %}, {% endif %}
    {% endfor %}
  {% else %}
    All regions
  {% endif %}
  <br />
  
  Cities:
  {% if line_item.targeted_cities_tuples %}
    {% for city in line_item.targeted_cities_tuples %}
      {#<a href="#" class="targeted_city" rel="tooltip" title="{{city.0}}, {{city.1}}">#}
        {{ city.2 }} ({{city.3}}, {{city.4}})
        {#</a>#}{% if not forloop.last %}, {% endif %}
    {% endfor %}
  {% else %}
    All cities
  {% endif %}
  <br />
  
  {% if line_item.targeted_regions or line_item.targeted_cities %}
    Zip Codes: {{ line_item.targeted_zip_codes|joinby:", "|default:"All zip codes within targeted cities/regions" }}
  {% else %}
    Zip Codes: {{ line_item.targeted_zip_codes|joinby:", "|default:"All zip codes" }}
  {% endif %}
  <br /><br />
  
  <h6> Device Targeting </h6>
  {{ line_item.device_targeting_display|joinby:"<br/>"|safe }}
  <br /><br />

  {% comment %}
    Commenting this out for now because it's really expensive with
    GAE's datastore to pull all of the app names. We can do this
    much more easily when we're on SQL. Leaving this commented until then.
    
  <h6> App Targeting </h6>
  {% if line_item.included_apps %}
    {{ line_item.included_apps|joinby:", " }}
  {% endif %}
  {% if line_item.excluded_apps %}
    {{ line_item.excluded_apps|joinby:", " }}
  {% endif %}
  {% if not line_item.excluded_apps and not line_item.included_apps%}
    Targeting users with all apps
  {% endif %}
  <br /><br />
  {% endcomment %}

  <h6> Keyword Targeting </h6>
  {% if line_item.keywords %}
    {{ line_item.keywords|joinby:", " }}
  {% else %}
    No keywords targeted
  {% endif %}
  <br /><br />
  
</div>
