{% load filters %}
{% load elements %}

<table class="inventory_table" id="order_table">
  <thead>
    <tr>
      {% if show_status %}
        <th style="width: 24px;"></th>
      {% endif %}
      <th class="name">Order Name</th>
      <th class="stat" style="width: 150px;">Advertiser</th>
      <th class="stat">Line Items</th>
      <th class="stat">Revenue</th>
      <th class="stat">Impressions</th>
      <th class="stat">Clicks</th>
      <th class="stat">CTR</th>
      <th class="stat">Conv.</th>
    </tr>
  </thead>

  {% for order in orders %}
    <tbody class="{% cycle 'alt' 'primary' %}">
      {% order_row order show_status %}
    </tbody>
  {% endfor %}
</table>
