{% load filters %}
{% load elements %}

<table class="inventory_table" id="orders_table">
  <thead>
    <tr>
      {% if include_status %}
        <th style="width: 24px;"></th>
      {% endif %}
      <th class="name">Order Name</th>
      <th class="stat" style="width: 150px;">Advertiser</th>
      <th class="stat">Line Items</th>
      <th class="stat">Revenue</th>
      <th class="stat">Impressions</th>
      <th class="stat">Clicks</th>
      <th class="stat">CTR</th>
      {% if include_targeting %}
        <th class="stat" style="width: 110px;">Targeting</th>
      {% endif %}
    </tr>
  </thead>

  {% for order in orders %}
    <tbody class="order {% cycle 'alt' 'primary' %}">
      <tr class="main order-row" id="order-{{ order.key }}">
      {% if include_status %}<td></td>{% endif %}
      <td class="name">
        {% if singular %}
          Totals
        {% else %}
          <a href="{% url advertiser_order_detail order_key=order.key %}">
            {{ order.name }}
          </a>
        {% endif %}
        <img id="{{ order.key }}-img" class="loading-img" src="/images/icons-custom/spinner-12.gif" />
      </td>
      {# these stats will be loaded over ajax #}
      <td class="advertiser stat"> {{ order.advertiser }}</td>
      <td class="lineitems stat"> -- </td>
      <td class="revenue stat">--</td>
      <td class="impressions stat">--</td>
      <td class="clicks stat">--</td>
      <td class="ctr stat">--</td>
      {% if include_targeting %}
        <td></td>
      {% endif %}
    </tr>
    
    {% for adgroup in order.adgroups %}

      <tr class="sub lineitem-row"
          id="lineitem-{{ adgroup.key }}"
          {% if not adgroup.active %}opacity=".2" style="opacity: 0.2;"{% endif %}>
        
        {% if include_status %}
          <td>
            <input class="status_change_control" id="{{adgroup.key}}" type="checkbox" />
            {% status_icon adgroup %}
          </td>
        {% endif %}
        <td class="name">
          <a href="{% url advertiser_line_item_detail order_key=order.key line_item_key=adgroup.key %}">
            {{ adgroup.name }}
            <img id="{{ adgroup.key }}-img" class="hidden loading-img" src="/images/icons-custom/spinner-12.gif" />
          </a>
        </td>
        <td class="advertiser stat"></td>
        <td class="lineitems stat"></td>
        <td class="revenue stat">--</td>
        <td class="impressions stat">--</td>
        <td class="clicks stat">--</td>
        <td class="ctr stat">--</td>
        {% if include_targeting %}
          <td class="stat">
          </td>
        {% endif %}
      </tr>
    {% endfor %}
  </tbody>
{% endfor %}
</table>
