{% load filters %}
{% load elements %}

<table class="inventory_table" id="order_table">
  <thead>
    <tr>
      {% if order_status or line_item_status %}
        <th style="width: 24px;"></th>
      {% endif %}
      <th class="name">Order Name</th>
      <th class="stat" style="width: 150px;">Advertiser</th>
      <th class="stat">Line Items</th>
      <th class="stat">Revenue</th>
      <th class="stat">Impressions</th>
      <th class="stat">Clicks</th>
      <th class="stat">CTR</th>
    </tr>
  </thead>

  {% for order in orders %}
    <tbody class="{% cycle 'alt' 'primary' %}">
      {% order_row order order_status line_item_status %}
      {% if show_line_items and order.adgroups %}        
        {% for adgroup in order.adgroups %}
          {% line_item_row adgroup order_status line_item_status %}
        {% endfor %}
      {% endif %}
    </tbody>
  {% endfor %}
</table>
