{% load filters %}

<dl class="formFields">
    {% if form.email and form.password1 and form.password2 %}
    <dt>
        Email:
    </dt>    
    <dd>
        {{form.email|raw_required_with_errors}}
    </dd>    
    <dt>
        Password:
    </dt>    
    <dd>
        {{form.password1|raw_required}}
    </dd>    
    <dt>
        Password (again):
    </dt>    
    <dd>
        {{form.password2|raw_required}}
        {% for error in form.non_field_errors %}
        <div class="form-error-text">{{error}}</div>
        {% endfor %}
    </dd>    
    <dt>
    </dt>
    <dd>
    </dd>        
    {% endif %}
    <dt>
        Name:
    </dt>    
    <dd>
        {{form.first_name|attrs:'{"class":"input-text-half-width","placeholder":"First"}'|widget_only}}
        {{form.last_name|attrs:'{"class":"input-text-half-width","placeholder":"Last"}'|widget_only}}
        <span class={% if form.first_name.errors or form.last_name.errors %}"error"{% else %}"muted"{% endif %}>(Required)</span>
    </dd>    
    <dt>
        Company:
    </dt>    
    <dd>
        {{form.company|attrs:'{"placeholder":"Acme Software"}'|raw_required}}
    </dd>    
    <dt>
        Title:
    </dt>    
    <dd>
        {{form.title|attrs:'{"placeholder":"Developer"}'|raw}}
    </dd>    
    <dt>
        Phone Number: 
    </dt>   
    <dd>
        {{form.phone|attrs:'{"placeholder":"(555) 555-5555"}'|raw}}
    </dd>
    <dt>
        Address 1:
    </dt>
    <dd>
        {{form.address1|raw}}
    </dd>
    <dt>
        Address 2:
    </dt>
    <dd>
        {{form.address2|raw}}
    </dd>
    <dt>
        City:
    </dt>
    <dd>
        {{form.city|raw}}
    </dd>
    <dt>
        State/Province:
    </dt>
    <dd>
        {{form.state|raw}}
    </dd>
    <dt>
        Zip/Postal Code:
    </dt>
    <dd>
        {{form.zipcode|raw}}
    </dd>    
    <dt>
        Country:
    </dt>
    <dd>
        {{form.country|raw}}
    </dd>
    <dt>
        Traffic:
    </dt>
    <dd>
        {{form.traffic|raw}}
    </dd>       
    <dt></dt>
    <dd>
        <script type="text/javascript"
     src="https://www.google.com/recaptcha/api/challenge?k=6LcbPcsSAAAAAFL3Nad5JQoP7e4TBZ7gEfKqzJPS{% if form.captcha_error_msg %}&error={{form.captcha_error_msg}}{% endif %}">
        </script>
        <noscript>
        <iframe src="https://www.google.com/recaptcha/api/noscript?k=6LcbPcsSAAAAAFL3Nad5JQoP7e4TBZ7gEfKqzJPS{% if form.captcha_error_msg %}&error={{form.captcha_error_msg}}{% endif %}"
            height="300" width="500" frameborder="0"></iframe><br>
        <textarea name="recaptcha_challenge_field" rows="3" cols="40"></textarea>
        <input type="hidden" name="recaptcha_response_field" value="manual_challenge">
        </noscript>
    </dd>         
    <dt>
        {{form.mailing_list.as_widget}}
    </dt>    
    <dd>
        {{form.mailing_list.label}}
    </dd>
    <dt>
        {{form.tos.as_widget}}
    </dt>


    <dd>
        I agree to the <a href="http://www.mopub.com/terms/">Terms of Service</a> and the <a href="http://www.mopub.com/privacy/">Privacy Policy</a>
        
        {% for error in form.tos.errors %}
        <div class="form-error-text">{{error}}</div> 
        {% endfor %}
    </dd>        
</dl>
<div class="clear"></div>
