{% load filters %}
<input type="hidden" name="{% if form.prefix %}{{form.prefix}}-{% endif %}{{form.app_key.name}}" value="{{form.app_key.value}}"/>
<dl class="formFields formatDependent" id="adunitFormFields">

  {{ form.name|attrs:'{"id":"appForm-adUnitName"}' }}
  {{ form.description|attrs:'{"id":"appForm-adUnitDescription"}' }}
<dt>
  Device format:
</dt>
<dd>
  <div class="btn-group">
    <a class="btn active" href="#" name="adunit-device_format" id="adunit-device_format_phone" value="phone">Phone</a>
    <a class="btn" href="#" name="adunit-device_format" id="adunit-device_format_tablet" value="tablet">Tablet</a>
  </div>
</dd>
  {{ form.format|raw }}

  <div class="full_only hidden">
    <dt>
      Landscape:
    </dt>
    <dd>
      {{ form.landscape|raw }}
    </dd>
  </div>

  <div class="custom_only hidden">
    <dt>
      Custom size:
    </dt>
    <dd>
      {{ form.custom_width|raw|attrs:'{"placeholder":"Width"}' }}
      &times;
      {{ form.custom_height|raw|attrs:'{"placeholder":"Height"}' }}
    </dd>
  </div>
  <!-- {{ form.animation_type }}  -->
  <dt class="banner_only">
    Refresh interval:
  </dt>
  <dd class="banner_only">
    {{ form.refresh_interval|raw|attrs:'{"style":"width:50px;","suffix":"seconds (default: 0 for no refresh)"}' }}
  </dd>
  {# <dt>Default keywords:</dt>  #}
  {# <dd>  #}
  {#   <textarea name="{{form.keywords.name}}" id="appForm-adUnitKeywords" rows="3" cols="40" placeholder="e.g. coffee, espresso, cafe, iced tea">{{form.keywords.value}}</textarea>  #}
  {# </dd>  #}
</dl>
<div class="clear"></div>
