{% load filters %}
<input type="hidden" name="{{form.app_key.name}}" value="{{form.app_key.value}}"/>
<dl class="formFields"> 

	{{ form.name|attrs:'{"id":"appForm-adUnitName"}' }}
	{{ form.description|attrs:'{"id":"appForm-adUnitDescription"}' }}
	{{ form.device_format }}
	{{ form.format|raw }}
	<!-- {{ form.animation_type }}  -->
	{{ form.refresh_interval|attrs:'{"style":"width:50px;","suffix":"seconds (default: 0 for no refresh)"}' }}

  {# <dt><label for="appForm-adUnitKeywords">Default keywords:</label></dt>  #}
  {# <dd>  #}
  {#   <textarea name="{{form.keywords.name}}" id="appForm-adUnitKeywords" rows="3" cols="40" placeholder="e.g. coffee, espresso, cafe, iced tea">{{form.keywords.value}}</textarea>  #}
  {# </dd>  #}
</dl> 
<div class="clear"></div> 
