{% extends 'common/base.html' %}

{% block pageTitle %}<h1>MoPub Scheduled Downtime</h1>{% endblock %}
{% block dateButtons %}{% endblock %}
{% block titleBarRight %}{% endblock %}

{% block content %}
  <div class="alert-message block-message">
    We are currently performing scheduled maintenance on the MoPub site. We'll be back up as soon as possible.
    <strong> Please note that ad serving is not affected. </strong>
    <br /> <br />
    If you have an urgent problem, please contact us at <a href="mailto:support@mopub.com">support@mopub.com</a>. 
  </div>
{% endblock %}
