<input type="hidden" name="{{form.app_key.name}}" value="{{form.app_key.value}}"/>
<dl class="formFields"> 

  <dt><label for="appForm-adUnitName">Ad unit name:</label></dt> 
  <dd>
    <input type="text" class="input-text {% if form.adunit_name.errors %}form-error{% endif %}" name="{{form.adunit_name.name}}" value="{{form.adunit_name.value}}" id="appForm-adUnitName" />
    {% for error in form.adunit_name.errors %}
    <div class="form-error-text">{{error}}</div> 
    {% endfor %}
  </dd> 

  <dt>
    <label for="appForm-adUnitDescription">Description:</label>
  </dt> 
  <dd> 
    <textarea name="{{form.adunit_description.name}}" id="adunit_description" rows="3" cols="40" class="{% if form.adunit_description.errors %}form-error{% endif %}">{{form.adunit_description.value}}</textarea> 
    {% for error in form.adunit_description.errors %}
    <div class="form-error-text">{{error}}</div> 
    {% endfor %}
  </dd> 

  <dt>Format:</dt> 
  <dd> 
    <div class="adForm-formats clearfix"> 
      <div class="adForm-format"> 
        <div class="adForm-format-name"> 
          <input type="radio" class="input-radio" name="{{form.format.name}}" value="banner" id="appForm-adUnitFormat-banner" checked="checked" /> 
          <label for="appForm-adUnitFormat-banner">Banner</label> 
          <div class="adForm-format-details">320 &times; 50</div> 
        </div> 
        <img class="adForm-format-image" src="/images/setup/ad-format-banner.png" alt="Banner ad" /> 
      </div> 
      <div class="adForm-format"> 
        <div class="adForm-format-name"> 
          <input type="radio" class="input-radio" name="{{form.format.name}}" value="medium" id="appForm-adUnitFormat-medium" /> 
          <label for="appForm-adUnitFormat-medium">Medium</label> 
          <div class="adForm-format-details">300 &times; 250</div> 
        </div> 
        <img class="adForm-format-image" src="/images/setup/ad-format-medium.png" alt="Medium ad" /> 
      </div> 
      <div class="adForm-format"> 
        <div class="adForm-format-name"> 
          <input type="radio" class="input-radio" name="{{form.format.name}}" value="full" id="appForm-adUnitFormat-full" /> 
          <label for="appForm-adUnitFormat-full">Fullscreen</label> 
          <div class="adForm-format-details">320 &times; 480</div> 
        </div> 
        <img class="adForm-format-image" src="/images/setup/ad-format-full.png" alt="Fullscreen ad" /> 
      </div> 
      <div class="adForm-format adForm-format-custom"> 
        <div class="adForm-format-name"> 
          <input type="radio" class="input-radio" name="{{form.format.name}}" value="custom" id="appForm-adUnitFormat-custom" /> 
          <label for="appForm-adUnitFormat-custom">Custom</label> 
          <div class="adForm-format-details"> 
            <input type="text" class="input-text input-text-small {% if form.width.errors %}form-error{% endif %}" name="{{form.width.name}}" value="{{form.width.value}}" id="appForm-adUnitFormatCustomWidth" placeholder="width" /> 
            &times;
            <input type="text" class="input-text input-text-small {% if form.height.errors %}form-error{% endif %}" name="{{form.height.name}}" value="{{form.height.value}}" id="appForm-adUnitFormatCustomHeight" placeholder="height" /> 
            {% for error in form.width.errors %}
            <div class="form-error-text">{{error}}</div> 
            {% endfor %}
            {% for error in form.height.errors %}
            <div class="form-error-text">{{error}}</div> 
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </dd>
  <dt><label for="appForm-adUnitKeywords">Default keywords:</label></dt> 
  <dd> 
    <textarea name="{{form.keywords.name}}" id="appForm-adUnitKeywords" rows="3" cols="40" placeholder="e.g. coffee, espresso, cafe, iced tea">{{form.keywords.value}}</textarea> 
  </dd> 
</dl> 
<div class="clear"></div> 
