{% extends 'advertiser/base.html' %}
{% load filters %}
{% load super_if %}

{% block pageTitle %}
  <h1>Campaigns</h1>
{% endblock pageTitle %}

{% block navLinks %}
  <li><a href="{% url app_index %}">Dashboard</a></li>
  <li class="active"><a href="{% url advertiser_campaign %}">Campaigns</a></li>
  <li><a href="{% url marketplace_index %}">Marketplace</a></li>
  <li><a href="{% url network_index %}">Networks</a></li>
{% endblock navLinks %}


{% block dateButtons %}
<div id="titlebar-center-wide">
    <span class="buttonset-start-disabled" id="campaigns-filterOptions">
      <input type="radio" name="campaigns-filterOptions-option" value="" checked="checked" id="campaigns-filterOptions-option-all"/>
      <label for="campaigns-filterOptions-option-all">
        All
      </label>
      <input type="radio" name="campaigns-filterOptions-option" value="Running" id="campaigns-filterOptions-option-Running"/>
      <label for="campaigns-filterOptions-option-Running">
        Running
      </label>
      <input type="radio" name="campaigns-filterOptions-option" value="Paused" id="campaigns-filterOptions-option-Paused" />
      <label for="campaigns-filterOptions-option-Paused">
        Paused
      </label>
      <input type="radio" name="campaigns-filterOptions-option" value="Scheduled" id="campaigns-filterOptions-option-Scheduled" />
      <label for="campaigns-filterOptions-option-Scheduled">
        Scheduled
      </label>
    </span>
    <select name="campaigns-appFilterOptions" id="campaigns-appFilterOptions">
      <option id="campaigns-appFilterOptions-option-all" value="">All Apps</option>
      {% for app in apps %}
        <option value="{{app.key}}">{{app.name}}</option>
      {% endfor %}
    </select>
</div>
{% endblock dateButtons %}

{% block titleBarRight %}
<span class="titlebar-right">
  <a id="add_campaign_button" class="button add icon" href="{% url advertiser_campaign_create %}#gtee">Add a campaign</a>
</span>
{% endblock titleBarRight %}

{% block content %}

  {# This will pop up when campaign loading over Ajax fails, allowing the user to retry #}
  <div id="ajaxFailure" style="display:none">
    <a href="#" id="ajaxDismiss"><img src="../images/icons/199_16x16.png"></img></a>
    There was a problem retrieving data for some of your campaigns.
    <a href="#" id="ajaxRetry"><img src="../images/icons/92_16x16.png"></img> <strong>Retry</strong></a>
  </div>

  {% if not apps %}
    <div class="alert-message block-message">
      Before you set up your ad campaigns, we recommend that you set up your App inventory.
      Visit the <a href="{% url app_index %}">Dashboard</a> to add your Apps.
    </div>
  {% endif %}

  <section>
    <div id="adserverTest" style="display:none;">
      <iframe height="480" width="350" id="adserverTest-iFrame" scrolling="no"></iframe>
      <div id="adserverTest-iFrame-src" style="display:none;">{% url advertiser_adserver_test %}</div>
    </div>

    <form method="post" action="{% url advertiser_bid_pause %}" id="campaignForm">
      <input type="hidden" name="action" id="action"/>

      <h3 style="float: right;">Showing {{start_date|date:"n/j/y"}} to {{end_date|date:"n/j/y"}}</h3>

      <div id="gtee-adgroups"></div>

      <div id="promo-adgroups"></div>

      <div id="backfill-promo-adgroups"></div>

      <div class="form-submit-left">
        <span class="buttonWrap">
          <a class="button pause icon" id="campaignForm-pause">Pause</a>
          <a class="button play icon" id="campaignForm-resume">Resume</a>
          <a class="button stop icon" id="campaignForm-archive">Archive</a>
        </span>
      </div>
    </form>

    <div id="archive-link" >
      <a class="linkIcon" href="{% url advertiser_archive %}"> View Archived Campaigns <span class="ui-icon ui-icon-arrowthick-1-e"></span></a>
    </div>
  </section>

  {# Help Content #}
  <div id="campaign-ecpm-helpContent" class="hidden">
    <h3>Revenue Optimized Campaign eCPM</h3>
    <p>We calculate the <strong>eCPM</strong> for CPC campaigns by combining the CPC of the campaign with our CTR calculated in real time.</p>
    <p>This number may vary over time. This is perfectly natural and our system will adjust to these fluctuations in real time.</p>
    <p>Campaigns that have not yet begun use the average CTR of the entire app to calculate eCPM.</p>
  </div>


  <div id="campaign-delivery-helpContent" class="hidden">
    <h3>On Schedule Indicator</h3>
    <p> The on-schedule indicator tells you that your campaign is on track to hit its budget goal based on current traffic and settings.</p>
  </div>

  <div id="campaign-pacing-helpContent" class="hidden">
    <h3>Behind Schedule Indicator</h3>
    <p> The behind-schedule indicator tells you that your campaign is delivering at less than 95% and may not meet its delivery goal.</p>
    <p> Some possible causes of this problem are:
      <ul>
        <li>Format mismatch (e.g. your adunits are 320x50 and your creatives are interstitial)</li>
        <li>Overly strict frequency capping (e.g. one per person)</li>
        <li>Insufficient traffic</li>
      </ul>
    </p>
  </div>
{% endblock content %}


{% block extraScripts %}

  <script type="text/html" id="adgroups-rollup-template">
    {% include "partials/adgroups_rollup.html" %}
  </script>
  <script type="text/html" id="adgroups-table-template">
    {% include "partials/adgroups_table.html" %}
  </script>
  {% include_script "models/inventory" %}
  {% include_script "views/inventory" %}
  {% include_script "controllers/campaigns" %}
  <script>
    $(function() {

    CampaignsController.initializeDirectSold({
      gtee_adgroups_data: [{% for adgroup in gtee_adgroups %}{
        id: '{{ adgroup.key }}',
        active: {% if adgroup.active %}true{% else %}false{% endif %},
        level: '{% if adgroup.campaign.campaign_type == 'gtee_high' %}high{% else %}{% if adgroup.campaign.campaign_type == 'gtee' %}normal{% else %}low{% endif %}{% endif %}',
        name: '{{ adgroup.name }}',
          details_url: '{% url advertiser_adgroup_show adgroup_key=adgroup.key %}',
          start_date: {% if adgroup.campaign.start_datetime %}new Date({{ adgroup.campaign.start_datetime.year }}, {{ adgroup.campaign.start_datetime.month|add:"-1" }}, {{ adgroup.campaign.start_datetime.day }}){% else %}null{% endif %},
          end_date: {% if adgroup.campaign.end_datetime %}new Date({{ adgroup.campaign.end_datetime.year }}, {{ adgroup.campaign.end_datetime.month|add:"-1" }}, {{ adgroup.campaign.end_datetime.day }}){% else %}null{% endif %},
          budget_type: '{{ adgroup.campaign.budget_type }}',
          budget: {% if adgroup.campaign.budget_type == "daily" %}{% if adgroup.campaign.budget %}{{ adgroup.campaign.budget }}{% else %}null{% endif %}{% else %}{% if adgroup.campaign.full_budget %}{{ adgroup.campaign.full_budget }}{% else %}null{% endif %}{% endif %},
          goal: {% if adgroup.budget_goal %}{{ adgroup.budget_goal }}{% else %}null{% endif %},
          bid: {{ adgroup.bid|default_if_none:"null" }},
          bid_strategy: '{{ adgroup.bid_strategy }}',
          apps: [{% for app in adgroup.targeted_app_keys %}'{{ app }}'{% if not forloop.last %},{% endif %}{% endfor %}]}{% if not forloop.last %},{% endif %}{% endfor %}],
          promo_adgroups_data: [{% for adgroup in promo_adgroups %}{
          id: '{{ adgroup.key }}',
          active: {% if adgroup.active %}true{% else %}false{% endif %},
          name: '{{ adgroup.name }}',
          details_url: '{% url advertiser_adgroup_show adgroup_key=adgroup.key %}',
          start_date: {% if adgroup.campaign.start_datetime %}new Date({{ adgroup.campaign.start_datetime.year }}, {{ adgroup.campaign.start_datetime.month|add:"-1" }}, {{ adgroup.campaign.start_datetime.day }}){% else %}null{% endif %},
          end_date: {% if adgroup.campaign.end_datetime %}new Date({{ adgroup.campaign.end_datetime.year }}, {{ adgroup.campaign.end_datetime.month|add:"-1" }}, {{ adgroup.campaign.end_datetime.day }}){% else %}null{% endif %},
          budget_type: '{{ adgroup.campaign.budget_type }}',
          budget: {% if adgroup.campaign.budget_type == "daily" %}{% if adgroup.campaign.budget %}'{{ adgroup.campaign.budget }}'{% else %}null{% endif %}{% else %}{% if adgroup.campaign.full_budget %}'{{ adgroup.campaign.full_budget }}'{% else %}null{% endif %}{% endif %},
          goal: {% if adgroup.budget_goal %}{{ adgroup.budget_goal }}{% else %}null{% endif %},
          bid: {{ adgroup.bid }},
          bid_strategy: '{{ adgroup.bid_strategy }}',
          apps: [{% for app in adgroup.targeted_app_keys %}'{{ app }}'{% if not forloop.last %},{% endif %}{% endfor %}]}{% if not forloop.last %},{% endif %}{% endfor %}],
          backfill_promo_adgroups_data: [{% for adgroup in backfill_promo_adgroups %}{
            id: '{{ adgroup.key }}',
            deleted: {% if adgroup.deleted %}true{% else %}false{% endif %},
            active: {% if adgroup.active %}true{% else %}false{% endif %},
            name: '{{ adgroup.name }}',
            details_url: '{% url advertiser_adgroup_show adgroup_key=adgroup.key %}',
            start_date: {% if adgroup.campaign.start_datetime %}new Date({{ adgroup.campaign.start_datetime.year }}, {{ adgroup.campaign.start_datetime.month|add:"-1" }}, {{ adgroup.campaign.start_datetime.day }}){% else %}null{% endif %},
            end_date: {% if adgroup.campaign.end_datetime %}new Date({{ adgroup.campaign.end_datetime.year }}, {{ adgroup.campaign.end_datetime.month|add:"-1" }}, {{ adgroup.campaign.end_datetime.day }}){% else %}null{% endif %},
            budget_type: '{{ adgroup.campaign.budget_type }}',
            budget: {% if adgroup.campaign.budget_type == "daily" %}{% if adgroup.campaign.budget %}'{{ adgroup.campaign.budget }}'{% else %}null{% endif %}{% else %}{% if adgroup.campaign.full_budget %}'{{ adgroup.campaign.full_budget }}'{% else %}null{% endif %}{% endif %},
            goal: {% if adgroup.budget_goal %}{{ adgroup.budget_goal }}{% else %}null{% endif %},
            bid: {{ adgroup.bid }},
            bid_strategy: '{{ adgroup.bid_strategy }}',
            apps: [{% for app in adgroup.targeted_app_keys %}'{{ app }}'{% if not forloop.last %},{% endif %}{% endfor %}]}{% if not forloop.last %},{% endif %}{% endfor %}
            ],
          ajax_query_string: 's={{ start_date.year }}-{{ start_date.month }}-{{ start_date.day }}&r={{ date_range }}{% if offline %}&offline=1{% endif %}'
        });
    });
  </script>
{% endblock extraScripts %}
