{% extends 'advertiser/base.html' %}
{% load filters %}
{% load elements %}


{% block pageTitle %}
  <div class="breadcrumb">

    {# "back to campaigns/network/archive" link used to be here#}
    {# br is a quick hack to retain the spacing #}
    <br />

    <h1>
      {% if campaign.archived %}
        <a href="{% url advertiser_archive %}"> Archived Campaigns</a> /
      {% else %}
        {% if campaign.network %}
          <a href="{% url network_index %}">Networks</a> /
        {% else %}
          <a href="{% url advertiser_campaign %}">Campaigns</a> /
        {% endif %}
      {% endif %}
      {{ adgroup.name }}
    </h1>

  </div>
{% endblock pageTitle %}


{% block dateButtons %}
  {% if campaign.network %}
    {% include "partials/datecontrols.html" %}
  {% endif %}
{% endblock dateButtons %}



{% block titleBarRight %}
  {% if not account.status %}
    <!-- MixPanel Tracking -->
    <script type="text/javascript">
      mpq.push(["track", "Post sign up: Campaign viewed"]);
    </script>
  {% endif %}

  <span class="titlebar-right">
    {% if adgroup.active %}
      <select name="campaign-status-options" id="campaign-status-options" class="selectmenu">
        <option value="play" selected="selected">Running</option>
        <option value="pause">Pause</option>
        {% if not campaign.network %}
          <option value="archive">Archive</option>
        {% endif %}
        <option value="delete">Delete</option>
      </select>
    {% else %}
      {% if adgroup.archived %}
        <select name="campaign-status-options" id="campaign-status-options" class="selectmenu">
          {% if not campaign.network %}
            <option value="archive">Archived</option>
          {% endif %}
          <option value="play">Resume</option>
          <option value="delete">Delete</option>
        </select>
      {% else %}
        <select name="campaign-status-options" id="campaign-status-options" class="selectmenu">
          <option value="pause" selected="selected">Paused</option>
          <option value="play">Resume</option>
          {% if not campaign.network %}
            <option value="archive">Archive</option>
          {% endif %}
          <option value="delete">Delete</option>
        </select>
      {% endif %}
    {% endif %}
    {% if campaign.network %}
      <a class="button"
         id="advertisers-adgroups-editAdGroupButton"
         href="{% url advertiser_campaign_edit adgroup_key=adgroup.key %}">Edit network settings</a>
    {% else %}
      <a class="button"
         id="advertisers-adgroups-editAdGroupButton"
         href="{% url advertiser_campaign_edit adgroup_key=adgroup.key %}">Edit campaign settings</a>
    {% endif %}
  </span>
{% endblock titleBarRight %}

{% block content %}

  {% if not apps %}
    <div class="alert-message block-message">
      This campaign is not targeted at any <strong>Ad Units</strong>.
      In order for this campaign to deliver, you will need to target
      at least one Ad Unit.
    </div>
  {% endif %}
  {% if not creatives %}
    <div class="alert-message block-message">
      This campaign needs to have at least
      one <strong>Creative</strong> in order to serve.  Set up a
      creative below.
    </div>
  {% endif %}
  {% if message  %}
    <div class="alert-message block-message error">
      {{message|safe}}
    </div>
  {% endif %}
  <div class="separated" id="chartWrapper">
    <section class="offset nomargin" id="dashboard-stats">
      <h3 class="stats-chart-title">
        Realtime Stats for {{start_date|format_date_compact}} to {{end_date|format_date_compact}}
      </h3>
      <div class="stats">
        <div class="stats-breakdown">
          <table>
            <tbody>

              {% comment %}
                HACK OF NOTE:
                all of the spans with class="stats-breakdown-value today" should actually
                be class="stats-breakdown-value all" because they're the summed stat values
                for all 90 days. 'all' was changed to 'today' because 'today' is not hidden
                by default, but 'all' is hidden by default.

                obviously this will be nuked when we make new charts so we're using this
                hack for now.
              {% endcomment %}

              {% if campaign.gtee %}
                <tr class="active" id="stats-breakdown-revenue">
                  <td class="stats-breakdown-value today">
                    <span class="inner">
                      {{ totals.revenue|currency }}
                    </span>
                  </td>
                  <th class="stats-breakdown-name"><span class="inner">Revenue</span></th>
                </tr>
              {% endif %}
              <tr {% if not campaign.gtee %} class="active" {% endif %} id="stats-breakdown-impressions">
                <td class="stats-breakdown-value today">
                  <span class="inner">
                    {{ totals.impression_count|withsep }}
                  </span>
                </td>
                <th class="stats-breakdown-name"><span class="inner">Impressions</span></th>
              </tr>
              <tr id="stats-breakdown-clicks">
                <td class="stats-breakdown-value today">
                  <span class="inner">
                    {{ totals.click_count|withsep }}
                  </span>
                </td>
                <th class="stats-breakdown-name"><span class="inner">Clicks</span></th>
              </tr>
              <tr id="stats-breakdown-ctr">
                <td class="stats-breakdown-value today">
                  <span class="inner">
                    {{ totals.ctr|percentage }}
                  </span>
                </td>
                <th class="stats-breakdown-name"><span class="inner">CTR</span></th>
              </tr>
              {% if campaign.promo %}
                <tr id="stats-breakdown-conversions">
                  <td class="stats-breakdown-value today">
                    <span class="inner">
                      {{ totals.conversion_count|withsep }}
                    </span>
                  </td>
                  <th class="stats-breakdown-name"><span class="inner">Conversions</span></th>
                </tr>
              {% endif %}
            </tbody>
          </table>
        </div>
        <div class="chart chart-loading stats-chart" id="dashboard-stats-chart">
          <div class="chart-loading-text">Loading ...</div>
          <div class="chart-error-text">Could not load chart</div>
        </div>
      </div>
      <div class="clear"></div>
    </section>
  </div>

  <section id="dashboard-campaign">
    {% if campaign.network %}
      <h2>Network Details</h2>
    {% else %}
      <h2>Campaign Details</h2>
    {% endif %}

    <div>

      <table class="dataTable campaignData-main">
        <thead>
          <tr>
            <th class="campaignData-icon"></th>
            <th class="dataTable-name">{{ adgroup.name }}</th>
            
            {% if campaign.gtee %}
                <th class="dataTable-data numeric">Revenue</th>
            {% endif %}
                
            {% if campaign.gtee or campaign.promo or campaign.backfill_promo %}
                <th class="dataTable-data status numeric">Status</th>
            {% endif %}
                
            <th class="dataTable-data numeric">
              <a id="campaign-ecpm-helpLink" class="whatsthis" href="#"><div class="whatsthis-icon"></div></a>
              eCPM
            </th>
            
            {% if campaign.network %}
                <th class="dataTable-data numeric">Attempts</th>
             {% endif %}

            {% if campaign.gtee %}
                <th class="dataTable-data numeric">Goal</th>
            {% endif %}

                
            <th class="dataTable-data numeric">Impressions</th>
            
            {% if campaign.network %}
                <th class="dataTable-data numeric">Fill Rate</th>
            {% endif %}
                
            <th class="dataTable-data numeric">Clicks</th>
            

            {% if campaign.network %}
                <th class="dataTable-data numeric">CTR</th>
            {% endif %}
            {% if campaign.gtee or campaign.promo or campaign.backfill_promo %}
                <th class="dataTable-data numeric">Conv</th>
            {% endif %}
          </tr>
        </thead>

        <tbody>
          <tr class="campaignData">

            <td class="campaignData-icon">
              {% status_icon campaign %}
            </td>

            <td class="dataTable-name">
              {{ adgroup.name }}
              <br />
              <span class="muted">
                {# Display the network type if it's a network campaign #}
                {% if campaign.network %}
                  {{ adgroup.network_type }}.

                {# Otherwise display the start and end datetimes, if we have them. #}
                {% else %}
                  {% if campaign.start_datetime and campaign.end_datetime %}
                     {{ campaign.start_datetime }} - {{ campaign.end_datetime }}. 
                  {% else %} {% if campaign.start_datetime %}
                     Starts {{ campaign.start_datetime }}
                  {% else %} {% if campaign.end_datetime %}
                     Ends {{ campaign.end_datetime }}. 
                  {% else %}
                     All dates. 
                {% endif %} {% endif %} {% endif %}  {% endif %}

                {# Display the budget if it's a guaranteed campaign. #}
                {% if campaign.gtee %}
                  {% if campaign.budget_type == "daily" %}
                    {{ campaign.budget|currency }} daily budget.
                  {% else %}
                    {{ campaign.full_budget|currency }} full budget.
                  {% endif %}
                {% endif %}
                </span>
              </td>


              {% if campaign.gtee %}
                <td class="dataTable-data numeric"> {{ adgroup.stats.revenue|currency }}</td>
              {% endif %}
                
              {% if campaign.gtee or campaign.promo or campaign.backfill_promo %}
                <td class="dataTable-data status numeric">
                  {% if campaign.active and campaign.has_started and not campaign.is_finished %}
                    Running
                  {% else %} {% if not campaign.active %}
                    Paused
                  {% else %} {% if campaign.is_finished %}
                    Finished
                  {% else %} {% if not campaign.has_started %}
                    Scheduled
                  {% endif %} {% endif %} {% endif %} {% endif %}                    
                </td>
              {% endif %}
                
              <td class="dataTable-data numeric">
                {{ adgroup.stats.ecpm|currency }}
              </td>
            
              {% if campaign.network %}
                <td class="dataTable-data numeric"> {{ adgroup.stats.attempt_count|withsep }} </td>
              {% endif %}

              {% if campaign.gtee %}
                <td class="dataTable-data numeric">
                  {% if campaign.cpc %}
                    {{ adgroup.budget_goal|currency }} <br />
                    USD
                  {% else %}
                    {{ adgroup.budget_goal|withsep}} <br />
                    Impressions
                  {% endif %}                  
                </td>
              {% endif %}


                
              <td class="dataTable-data numeric"> {{ adgroup.stats.impression_count|withsep }} </td>
            
              {% if campaign.network %}
                <td class="dataTable-data numeric"> {{ adgroup.stats.fill_rate|percentage }}</td>
              {% endif %}
                
              <td class="dataTable-data numeric"> {{ adgroup.stats.click_count|withsep }} </td>
            

              {% if campaign.network %}
                <td class="dataTable-data numeric"> {{ adgroup.stats.ctr|percentage }} </td>
              {% endif %}
                
              {% if campaign.gtee or campaign.promo or campaign.backfill_promo %}
                <td class="dataTable-data numeric"> {{ adgroup.stats.conversion_count|withsep }}</td>
              {% endif %}
            
            </tr>
        </tbody>
        
      </table>

      {% if user.is_admin %}
        <a href="/budget/view/{{adgroup.key}}"> Admin Budget View</a>
      {% endif %}
    </div>
  </section>

  <section id="dashboard-apps">
    <h2>
      Targeting Breakdown
      <span class="muted">({{start_date|format_date_compact}} to {{end_date|format_date_compact}})</span>
    </h2>
    <div class="appData-columnHeaders">
      <table class="dataTable" id="dashboard-apps-columnHeaders" width="100%">
        <thead>
          <tr>
            <th class="appData-icon"></th>
            <th class="dataTable-name"></th>
            {% if campaign.gtee %}
              <th class="dataTable-data numeric">&nbsp;</th>
              <th class="dataTable-data numeric">Impressions</th>
              <th class="dataTable-data numeric">Clicks</th>
              <th class="dataTable-data numeric">CTR</th>
              <th class="dataTable-data numeric">Revenue</th>
            {% endif %}
            {% if campaign.promo %}
              <th class="dataTable-data numeric">&nbsp;</th>
              <th class="dataTable-data numeric">Impressions</th>
              <th class="dataTable-data numeric">Clicks</th>
              <th class="dataTable-data numeric">CTR</th>
              <th class="dataTable-data numeric">Conv</th>
            {% endif %}
            {% if campaign.network %}
              <th class="dataTable-data numeric">Attempts</th>
              <th class="dataTable-data numeric">Impressions</th>
              <th class="dataTable-data numeric">Fillrate</th>
              <th class="dataTable-data numeric">Clicks</th>
              <th class="dataTable-data numeric">CTR</th>
            {% endif %}
          </tr>
        </thead>
      </table>
    </div>
    {% for a in apps %}
      <div class="{% cycle 'appData' 'appData appData-alt' %}"
           id="dashboard-app">
        <table class="dataTable appData-main"
               id="dashboard-app-{{forloop.counter0}}-main">
          <tbody>
            <tr class="app-row" id="app-{{ a.key }}">
              <td class="appData-icon">
                <a href="{% url publisher_app_show app_key=a.key %}">
                  <img src="{% firstof a.icon_url "/placeholders/image.gif" %}" alt="Icon" width="45" height="45" />
                </a>
              </td>
              <th class="dataTable-name">
                <span class="inner">
                  <a href="{% url publisher_app_show app_key=a.key %}">{{a.name}}</a>
                  <span class="muted unbold">({{ a.app_type_text }})</span>
                  <img id="{{ a.key }}" class="loading-img" src="/images/icons-custom/spinner-12.gif" />
                </span>
              </th>

              {% if campaign.gtee %}
                <td class="impressions dataTable-data numeric">--</td>
                <td class="clicks dataTable-data numeric">--</td>
                <td class="ctr dataTable-data numeric">--</td>
                <td class="revenue dataTable-data numeric">--</td>
              {% endif %}
              {% if campaign.promo %}
                <td class="impressions dataTable-data numeric">--</td>
                <td class="clicks dataTable-data numeric">--</td>
                <td class="ctr dataTable-data numeric">--</td>
                <td class="dataTable-data numeric">
                  <span class="conversions">--</span>
                  (<span class="conv_rate">--</span>)
                </td>
              {% endif %}
              {% if campaign.network %}
                <td class="attempts dataTable-data numeric">--</td>
                <td class="impressions dataTable-data numeric">--</td>
                <td class="fill_rate dataTable-data numeric">--</td>
                <td class="clicks dataTable-data numeric">--</td>
                <td class="ctr dataTable-data numeric">--</td>
              {% endif %}

              {% comment %}
              {% if campaign.gtee or campaign.marketplace %}
                <td class="dataTable-data numeric">&nbsp;</td>
                <td class="dataTable-data numeric">{{a.stats.impression_count|withsep}}</td>
                <td class="dataTable-data numeric">{{a.stats.click_count|withsep}}</td>
                <td class="dataTable-data numeric">{{a.stats.ctr|percentage}}</td>
                <td class="dataTable-data numeric">{{a.stats.revenue|currency}}</td>
              {% endif %}
              {% if campaign.promo %}
                <td class="dataTable-data numeric">&nbsp;</td>
                <td class="dataTable-data numeric">{{a.stats.impression_count|withsep}}</td>
                <td class="dataTable-data numeric">{{a.stats.click_count|withsep}}</td>
                <td class="dataTable-data numeric">{{a.stats.ctr|percentage}}</td>
                <td class="dataTable-data numeric">
                  {{a.stats.conversion_count|withsep}} ({{a.stats.conv_rate|percentage}})
                </td>
              {% endif %}
                {% if campaign.network %}
                <td class="dataTable-data numeric">{{a.stats.request_count|withsep}}</td>
                <td class="dataTable-data numeric">{{a.stats.impression_count|withsep}}</td>
                <td class="dataTable-data numeric">{{a.stats.fill_rate|percentage}}</td>
                <td class="dataTable-data numeric">{{a.stats.click_count|withsep}}</td>
                <td class="dataTable-data numeric">{{a.stats.ctr|percentage}}</td>
              {% endif %}
              {% endcomment %}
            </tr>
          </tbody>
        </table>
        <div class="appData-details" id="dashboard-app-{{forloop.counter0}}-details">
          <div class="appData-details-inner show">
            <table class="dataTable">
              <tbody>
                {% for au in a.adunits %}
                  <tr class="adunit-row" id="adunit-{{ au.key }}">

                    <th class="dataTable-name">
                      <span class="inner">
                        <a href="{% url publisher_adunit_show adunit_key=au.key %}">{{au.name}}</a>
                      </span>
                    </th>

                    {% if campaign.gtee %}
                      <td class="impressions dataTable-data numeric">--</td>
                      <td class="clicks dataTable-data numeric">--</td>
                      <td class="ctr dataTable-data numeric">--</td>
                      <td class="revenue dataTable-data numeric">--</td>
                    {% endif %}
                    {% if campaign.promo %}
                      <td class="impressions dataTable-data numeric">--</td>
                      <td class="clicks dataTable-data numeric">--</td>
                      <td class="ctr dataTable-data numeric">--</td>
                      <td class="dataTable-data numeric">
                        <span class="conversions">--</span>
                        (<span class="conv_rate">--</span>)
                      </td>
                    {% endif %}
                    {% if campaign.network %}
                      <td class="attempts dataTable-data numeric">--</td>
                      <td class="impressions dataTable-data numeric">--</td>
                      <td class="fill_rate dataTable-data numeric">--</td>
                      <td class="clicks dataTable-data numeric">--</td>
                      <td class="ctr dataTable-data numeric">--</td>
                    {% endif %}

                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    {% endfor %}
  </section>

  {% ifnotequal campaign.campaign_type "network" %}
      <section id="dashboard-apps">
        <div class="buttonBank buttonBank-right">
          <a class="button" id="advertiser-adgroups-addCreativeButton" href="#">Add a creative</a>
        </div>

        <h2>Creatives</h2>
        <section id="advertiser-creativeAddForm" class="hidden">
          <div>
            <form action="{% url advertiser_creative_create %}"
                  method="POST"
                  accept-charset="utf-8"
                  id="creativeCreateForm"
                  enctype="multipart/form-data">
              <input type="hidden" name="adgroup_key" value="{{adgroup.key}}"/>
              <fieldset id="creativeAddForm-details" class="alt">
                <div id="creativeAddForm-fragment" class="creativeAddForm-fragment">
                  {{ creative_fragment }}
                </div>
                <div class="clear"></div>
                <div class="form-submit">
                  <span id="creativeCreateForm-success" class="hidden">Success!</span>
                  <span class="buttonWrap">
                    <a href="#" class="button" id="creativeCreateForm-submit">Save</a>
                  </span>
                  <span class="buttonWrap">
                    <a href="#" class="button" id="creativeCreateForm-cancel">Cancel</a>
                  </span>
                </div>
              </fieldset>
            </form>
          </div>
        </section>

        {% for c in creatives %}
          <div id="{{c.key}}-edit" class="hidden advertiser-creativeEditForm">
            <form action="{% url advertiser_creative_create %}" method="POST" accept-charset="utf-8" id="creativeEditForm-{{forloop.counter0}}" enctype="multipart/form-data" class="creativeEditForm">
              <input type="hidden" name="adgroup_key" value="{{adgroup.key}}"/>
              <input type="hidden" name="creative_key" value="{{c.key}}"/>
              <fieldset id="creativeAddForm-details-{{forloop.counter0}}" class="alt">
                <div id="creativeEditForm-fragment-{{forloop.counter0}}" class="creativeEditForm-fragment">
                {{c.html_fragment}}
                </div>
                <div class="clear"></div>
                <div class="form-submit">
                  <span id="creativeCreateForm-success" class="hidden creativeEditForm-success">Success!</span>
                  <span class="buttonWrap"><a href="#" class="button creativeEditForm-submit" id="creativeCreateForm-submit">Save</a></span>
                  <span class="buttonWrap"><a href="#" class="button creativeEditForm-cancel" id="creativeCreateForm-cancel">Cancel</a></span>
                </div>
              </fieldset>
            </form>
          </div>
        {% endfor %}
        <section id="advertiser-creativeData">
          <table class="campaignData-main dataTable" id="dashboard-apps2-columnHeaders">
            <thead>
              <tr>
                <th class="campaignData-icon"></th>
                <th class="dataTable-name">Creative</th>
                {% if campaign.gtee %}
                  <th class="dataTable-data numeric">&nbsp;</th>
                  <th class="dataTable-data numeric">Impressions</th>
                  <th class="dataTable-data numeric">Clicks</th>
                  <th class="dataTable-data numeric">CTR</th>
                  <th class="dataTable-data numeric">Revenue</th>
                  {% endif %} {% if campaign.promo %}
                  <th class="dataTable-data numeric">&nbsp;</th>
                  <th class="dataTable-data numeric">Impressions</th>
                  <th class="dataTable-data numeric">Clicks</th>
                  <th class="dataTable-data numeric">CTR</th>
                  <th class="dataTable-data numeric">Conv</th>
                  {% endif %} {% if campaign.network %}
                  <th class="dataTable-data numeric">Attempts</th>
                  <th class="dataTable-data numeric">Impressions</th>
                  <th class="dataTable-data numeric">Fillrate</th>
                  <th class="dataTable-data numeric">Clicks</th>
                  <th class="dataTable-data numeric">CTR</th>
                {% endif %}
              </tr>
            </thead>
            <tbody>
              {% for c in creatives %}
                <tr class="creativeData alternating-color" id="adgroup-creatives-{{forloop.counter0}}">
                  <td class="campaignData-icon">
                    <input type="checkbox" name="creativeManagementForm-key" value="{{c.key}}"/>
                    {% if c.deleted %}
                      <img src="/images/deleted.gif" width="9" height="9"/>
                    {% endif %}
                    {% if c.active and not c.deleted %}
                      <img src="/images/active.gif" width="9" height="9"/>
                    {% endif %}
                    {% if not c.active and not c.deleted %}
                      <img src="/images/paused.gif" width="9" height="9"/>
                    {% endif %}
                  </td>
                  <th class="dataTable-name">
                    {{c.name}}
                    <a class="button button-small advertiser-inLineCreativeToggle" href="#" id="{{c.key}}">Edit</a>
                    <a class="button button-small advertiser-inLineCreativePreview" href="#" id="{{c.key}}">Preview</a>
                    <div class="creative hidden" id="{{c.key}}-preview">
                      <h3>{{c.name}}</h3>
                      <div>
                        <input type="hidden" name="{{c.key}}-preview-src" id="{{c.key}}-preview-src" value="{% url advertiser_creative_html creative_key=c.key %}">
                          <iframe frameborder="0" scrolling="no" {% if c.size.2 %}width="{{c.size.0}}" height="{{c.size.2}}"{% else %} {% if c.landscape %}width="480" height="320"{% else %}width="320" height="480"{% endif %}{% endif %}>
                            <p>Your browser does not support iframes.</p>
                          </iframe>
                        </div>
                      </div>
                      <div class="clear"></div>
                    </th>
                    {% if campaign.gtee or campaign.marketplace%}
                      <td class="dataTable-data numeric">&nbsp;</td>
                      <td class="dataTable-data numeric">{{c.stats.impression_count|withsep}}</td>
                      <td class="dataTable-data numeric">{{c.stats.click_count|withsep}}</td>
                      <td class="dataTable-data numeric">{{c.stats.ctr|percentage}}</td>
                      <td class="dataTable-data numeric">{{c.stats.revenue|currency}}</td>
                      {% endif %} {% if campaign.promo %}
                      <td class="dataTable-data numeric">&nbsp;</td>
                      <td class="dataTable-data numeric">{{c.stats.impression_count|withsep}}</td>
                      <td class="dataTable-data numeric">{{c.stats.click_count|withsep}}</td>
                      <td class="dataTable-data numeric">{{c.stats.ctr|percentage}}</td>
                      <td class="dataTable-data numeric">{{c.stats.conversion_count|withsep}} ({{a.stats.conv_rate|percentage}})</td>
                      {% endif %} {% if campaign.network %}
                      <td class="dataTable-data numeric">{{c.stats.request_count|withsep}}</td>
                      <td class="dataTable-data numeric">{{c.stats.impression_count|withsep}}</td>
                      <td class="dataTable-data numeric">{{c.stats.fill_rate|percentage}}</td>
                      <td class="dataTable-data numeric">{{c.stats.click_count|withsep}}</td>
                      <td class="dataTable-data numeric">{{c.stats.ctr|percentage}}</td>
                    {% endif %}
                  {% endfor %}
                </tbody>
              </table>
              <div>
                <a class="button" id="creativeManagementForm-pause">Pause</a>
                <a class="button" id="creativeManagementForm-resume">Resume</a>
                <a class="button" id="creativeManagementForm-delete">Delete</a>
                <form method="post" action="{% url advertiser_creative_manage %}" id="creativeManagementForm">
                  <input type="hidden" id="creativeManagementForm-action" name="action" value="delete">
                    <input type="hidden" name="adgroup_key" value="{{adgroup.key}}"/>
                    {# TEMPLATE for input #}
                    {# <input type="hidden" name="key" value=""> #}
                  </form>
                </div>
              </section>
            </section>

            {% endifnotequal %} {# endifnotequal campaign.campaign_type "network" #}

            {# Form for in-place updating #}
            <form method="post" action="/campaigns/adgroup/{{adgroup.key}}/" id="fake-campaignForm">
              <input type=hidden name="action" id="action" />
            </form>
            <script type="text/javascript">
              creatives = {% if creatives %}true{% else%}false{% endif %};
            </script>
            <form id='campaignExportForm' style='display:none;' method='POST' accept-charset='utf-8' action='{% url campaign_export %}'>
              <input name='adgroup_key' type='text' value='{{adgroup.key}}' />
              <input name='file_type' id='campaignExportType' type='text' value='' />
              <input name='start' value={{start_date|date:"mdy"}} />
              <input name='end' value={{end_date|date:"mdy"}} />
            </form>
            <section id="dashboard-apps">
              <div class="buttonBank buttonBank-right">
                <select name='exportSelect' id='advertiser-adgroups-exportSelect' class='selectmenu'>
                  <option value='exp'>Export</option>
                  <option value='xls'>XLS</option>
                  <option value='csv'>CSV</option>
                </select>
              </div>

              <h2>Daily Counts</h2>
              <div class="appData-details noneg">
                <table class="dataTable appData-main">
                  {% if campaign.gtee or campaign.marketplace %}
                    <thead>
                      <tr>
                        <th class="dataTable-name big">&nbsp;</th>
                        <th class="dataTable-data numeric special">Impressions</th>
                        <th class="dataTable-data numeric special">Clicks</th>
                        <th class="dataTable-data numeric special">CTR</th>
                        <th class="dataTable-data numeric special">Revenue</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th class="dataTable-name big">Totals</th>
                        <td class="dataTable-data numeric"><b>{{adgroup.stats.impression_count|withsep}}</b></td>
                        <td class="dataTable-data numeric"><b>{{adgroup.stats.click_count|withsep}}</b></td>
                        <td class="dataTable-data numeric"><b>{{adgroup.stats.ctr|percentage}}</b></td>
                        <td class="dataTable-data numeric"><b>{{adgroup.stats.revenue|currency}}</b></td>
                      </tr>
                      {% for s in adgroup.all_stats reversed %}
                        <tr class="appData-details-inner show">
                          <th class="dataTable-name">{{s.date|format_date}}</th>
                          <td class="dataTable-data numeric">{{s.impression_count|withsep}}</td>
                          <td class="dataTable-data numeric">{{s.click_count|withsep}}</td>
                          <td class="dataTable-data numeric">{{s.ctr|percentage}}</td>
                          <td class="dataTable-data numeric">{{s.revenue|currency}}</td>
                        </tr>
                      {% endfor %}
                    </tbody>
                    {% endif %} {% if campaign.promo %}
                    <thead>
                      <tr>
                        <th class="dataTable-name big">&nbsp;</th>
                        <th class="dataTable-data numeric special">Impressions</th>
                        <th class="dataTable-data numeric special">Clicks</th>
                        <th class="dataTable-data numeric special">CTR</th>
                        <th class="dataTable-data numeric special">Conv</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th class="dataTable-name big">Totals</th>
                        <td class="dataTable-data numeric"><b>{{adgroup.stats.impression_count|withsep}}</b></td>
                        <td class="dataTable-data numeric"><b>{{adgroup.stats.click_count|withsep}}</b></td>
                        <td class="dataTable-data numeric"><b>{{adgroup.stats.ctr|percentage}}</b></td>
                        <td class="dataTable-data numeric"><b>{{adgroup.stats.conversion_count|withsep}} ({{adgroup.stats.conv_rate|percentage}})</b></td>
                      </tr>
                      {% for s in adgroup.all_stats reversed %}
                        <tr class="appData-details-inner show">
                          <th class="dataTable-name">{{s.date|format_date}}</th>
                          <td class="dataTable-data numeric">{{s.impression_count|withsep}}</td>
                          <td class="dataTable-data numeric">{{s.click_count|withsep}}</td>
                          <td class="dataTable-data numeric">{{s.ctr|percentage}}</td>
                          <td class="dataTable-data numeric">{{s.conversion_count|withsep}} ({{s.conv_rate|percentage}})</td>
                        </tr>
                      {% endfor %}
                    </tbody>
                    {% endif %} {% if campaign.network %}
                    <thead>
                      <tr>
                        <th class="dataTable-name big">&nbsp;</th>
                        <th class="dataTable-data numeric special">Attempts</th>
                        <th class="dataTable-data numeric special">Impressions</th>
                        <th class="dataTable-data numeric special">Fillrate</th>
                        <th class="dataTable-data numeric special">Clicks</th>
                        <th class="dataTable-data numeric special">CTR</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th class="dataTable-name big">Totals</th>
                        <td class="dataTable-data numeric"><b>{{adgroup.stats.request_count|withsep}}</b></td>
                        <td class="dataTable-data numeric"><b>{{adgroup.stats.impression_count|withsep}}</b></td>
                        <td class="dataTable-data numeric"><b>{{adgroup.stats.fill_rate|percentage}}</b></td>
                        <td class="dataTable-data numeric"><b>{{adgroup.stats.click_count|withsep}}</b></td>
                        <td class="dataTable-data numeric"><b>{{adgroup.stats.ctr|percentage}}</b></td>
                      </tr>
                      {% for s in adgroup.all_stats reversed %}
                        <tr class="appData-details-inner show">
                          <th class="dataTable-name">{{s.date|format_date}}</th>
                          <td class="dataTable-data numeric">{{s.request_count|withsep}}</td>
                          <td class="dataTable-data numeric">{{s.impression_count|withsep}}</td>
                          <td class="dataTable-data numeric">{{s.fill_rate|percentage}}</td>
                          <td class="dataTable-data numeric">{{s.click_count|withsep}}</td>
                          <td class="dataTable-data numeric">{{s.ctr|percentage}}</td>
                        </tr>
                      {% endfor %}
                    </tbody>
                  {% endif %}
                </table>
                <a class="button button-small appData-details-toggleButton" href="#">Hide details</a>
              </div>
            </section>
          {% endblock content %}



          {% block extraScripts %}

            {% include_script "views/inventory" %}
            {% include_script "models/inventory" %}
            {% include_script "controllers/campaigns" %}

            <script type="text/javascript">
              $(function() {
              // chart data
              mopub.dashboardStatsChartData = {
        pointStart: Date.UTC({{start_date.year}}, {{start_date.month|add:"-1"}}, {{start_date.day}}),
        pointInterval: 86400000,
        'impressions': [{% for a in graph_adunits %}
                         { '{{a.name|safe|addslashes}}': [
                           {% for stat in a.all_stats %}
                           {{stat.impression_count}}
                           {% if not forloop.last %},{% endif %}
                           {% endfor %}
                          ]
                         }
                         {% if not forloop.last %},{% endif %}
                         {% empty %}
                         { 'Targeting no adunits': [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0 ] }
                         {% endfor %}
                       ],
        'clicks': [{% for a in graph_adunits %}
                    { '{{a.name|safe|addslashes}}': [
                       {% for stat in a.all_stats %}
                       {y: {{stat.click_count}}, name: '{{stat.ctr|percentage}}'}{% if not forloop.last %},{% endif %} {% endfor %}] }{% if not forloop.last %},{% endif %}
                    {% empty %}
                    { 'Targeting no adunits': [{y: 0, name: '0.00%'}, {y: 0, name: '0.00%'}, {y: 0, name: '0.00%'}, {y: 0, name: '0.00%'}, {y: 0, name: '0.00%'}, {y: 0, name: '0.00%'}, {y: 0, name: '0.00%'}, {y: 0, name: '0.00%'}, {y: 0, name: '0.00%'}, {y: 0, name: '0.00%'}, {y: 0, name: '0.00%'}, {y: 0, name: '0.00%'}, {y: 0, name: '0.00%'}, {y: 0, name: '0.00%'} ] }
                    {% endfor %}
                  ],
        'ctr': [{% for a in graph_adunits %}
                         { '{{a.name|safe|addslashes}}': [
                           {% for stat in a.all_stats %}
                           {{stat.ctr}}
                           {% if not forloop.last %},{% endif %}
                           {% endfor %}
                          ]
                         }
                         {% if not forloop.last %},{% endif %}
                         {% empty %}
                         { 'Targeting no adunits': [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0 ] }
                         {% endfor %}
                  ],
        'users': [{% for a in graph_adunits %}
                   { '{{a.name|safe|addslashes}}': [{% for stat in a.all_stats %}{{stat.user_count}}{% if not forloop.last %},{% endif %} {% endfor %}] }{% if not forloop.last %},{% endif %}
                   {% empty %}
                   { 'Targeting no adunits': [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0 ] }
                   {% endfor %}
                 ],
        {% if campaign.gtee  %}
        'revenue': [{% for a in graph_adunits %}
                     { '{{a.name|safe|addslashes}}': [{% for stat in a.all_stats %}{{stat.revenue}}{% if not forloop.last %},{% endif %} {% endfor %}] }{% if not forloop.last %},{% endif %}
                     {% empty %}
                     { 'Targeting no adunits': [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0 ] }
                     {% endfor %}
                   ]
        {% endif %} {% if campaign.promo %}
        'conversions': [{% for a in graph_adunits %}
                         { '{{a.name|safe|addslashes}}': [{% for stat in a.all_stats %}{{stat.conversion_count}}{% if not forloop.last %},{% endif %} {% endfor %}] }{% if not forloop.last %},{% endif %}
                         {% empty %}
                         { 'Targeting no adunits': [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0 ] }
                         {% endfor %}
                       ]
        {% endif %} {% if campaign.network %}
        'attempts': [{% for a in graph_adunits %}
                      { '{{a.name|safe|addslashes}}': [{% for stat in a.all_stats %}{{stat.request_count}}{% if not forloop.last %},{% endif %} {% endfor %}] }{% if not forloop.last %},{% endif %}
                      {% empty %}
                      { 'Targeting no adunits': [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0 ] }
                      {% endfor %}
                    ]
        {% endif %}
      };

      CampaignsController.initializeAdGroupDetail({
          kind: {% if campaign.network %}'network'{% else %}'direct'{% endif %},
          adgroup_key: '{{ adgroup_key }}',
          start_date: {{ start_date|js_date }},
          date_range: {{ date_range }}
      });
    });
  </script>
{% endblock %}
