{% extends "advertiser/base.html" %}

{% load filters %}

{% block title %}{{campaign.name}}{% endblock %}
{% block content %}
	<h3>
		<a href="{% url advertiser_campaign %}">Campaigns</a> &gt; 
		<a href="{% url advertiser_campaign_show campaign_key=campaign.key %}">{{campaign.name}}</a> &gt;
		{{a.name}}
	</h3>
	<form method="post">
		<input type="hidden" name="id" value="{{campaign.key}}"/>
		<table>
			<tr>
				<th>Name</th><td><input type='text' name="name" size="30" value="{{a.name}}"/></td>
			</tr>
			<tr>
				<th>Priority level</th>
				<td><select name="priority_level">
							<option value="1">Sponsorship</option>
							<option value="2">Direct</option>
							<option value="3">Promotional</option>
							<option value="4">Network</option>
						</select>
				</td>
			</tr>
			<tr><th>Max Bid</th><td><input type='text' name="bid" value="{{a.bid}}" size="8"/> USD</td></tr>
			<tr>
				<th>Bidding Strategy</th>
				<td><select name="bid_strategy">
							<option value="cpm">By impression (CPM)</option>
							<option value="cpc">By click (CPC)</option>
							<!--><option value="cpa">By conversion (CPA)</option>-->
						</select>
				</td>
			</tr>

			<tr><td colspan="2"><h4>Geographic and Device Targeting</h4></td></tr>
			<tr>
				<th>Geo Predicates</th>
				<td>
					<textarea name="geo_predicates" cols="50" rows="3">country_name=*</textarea><br/>
					<tt>country_name=X; region_name=X,country_name=X; city_name=X,region_name=X,country_name=X</tt>
				</td>
			</tr>

			<tr>
				<th>Device Predicates</th>
				<td>
					<textarea name="device_predicates" cols="50" rows="3">platform_name=*</textarea><br/>
					<tt>platform_name=(*,android,iphone)</tt>
				</td>
			</tr>

			<tr><td colspan="2"><h4>Ad Group Targeting</h4> 
				<p>Your bids will be matched with available inventory by matching keywords or 
					matching placements in your existing applications.</p></td></tr>
			<tr><th>Ad Units</th>
				<td><ul style="overflow:auto; height:100px; list-style: none;">
					{% for s in sites %}
							<li style="margin-left: 0;">
								<input type="checkbox" name="site_keys" value="{{s.key}}" {% if s.checked %}checked="checked"{% endif %}> {{s.name}}</input>
							</li>
					{% endfor %}
					</ul>
				</td>
			</tr>
			<tr>
				<th>Device</th>
				<td>
					<select name="devices">
						{% for choice in device_choices %}
						<option value="{{choice.0}}" {% if choice.2%}selected{% endif %}>{{choice.1}}</option>
						{% endfor %}
					</select>
					Minimum OS:
					<select name="min_os">
						{% for choice in min_os_choices %}
						<option value="{{choice.0}}" {% if choice.2%}selected{% endif %}>{{choice.1}}</option>
						{% endfor %}
					</select>
				</td>
			</tr>
			<tr>
				<th>Frequency Caps</th>
				<td>
					<input type="checkbox" disabled="true"> Set per user frequency caps</input>
				</td>
			</tr>
			
			<tr>
				<th>Goal</th>
				<td>
					<input type="text" name="percent_users" value="{{f.instance.percent_users}}" size=5/> % of all <select name="budget_type"><option>Users</option><option>Requests</option></select></td>
			</tr>
			
			{# <tr> #}
			{# 	<th>User</th> #}
			{# 	<td> #}
			{# 		<select name="active_users"> #}
			{# 			{% for u in user_types %} #}
			{# 			<option value="{{u.0}}" {% if u.2%}selected{% endif %}>{{u.1}}</option> #}
			{# 			{% endfor %} #}
			{# 		</select> #}
			{# 		of  #}
			{# 		<select name="active_apps"> #}
			{# 			<option value="any">Any</option> #}
			{# 			{% for s in sites %} #}
			{# 			<option value="{{s.key}}">{{s.name}}</option> #}
			{# 			{% endfor %} #}
			{# 		</select> #}
			{# 	</td> #}
			{# </tr>			 #}
			<tr>
				<th>Keywords</th>
				<td>
					<textarea rows="4" cols="40" name="keywords">{{a.keywords|join:"&#10;"}}</textarea>
				</td>
			</tr>
			<tr><th>Location</th>
				<td>
					<table>
						<tr>
							<td>Country</td><td><input type="text" name="country" value="{{a.country|default_if_none:""}}"/></td>
						</tr>
						<tr>	
							<td><input name="geo" type="radio"/> State/Province</td><td><input type="text" name="state" value="{{a.state|default_if_none:""}}"/></td>
						</tr>
						<tr>
							<td><input name="geo" type="radio" checked="checked"/> City</td><td><input type="text" name="city" value="{{a.city|default_if_none:""}}"/></td>
						</tr>
					</table>
				</td>
			</tr>
			</tr>

			<tr><td><input type='submit' value="Save Changes"/></td><td></td></tr>
		</table>
	</form>
	
	
{% endblock %}
