{% extends 'advertiser/base.html' %}
{% load filters %}
{% load super_if %}

{% block navLinks %}
<li><a href="{% url publisher_index %}">Dashboard</a></li>
<li class="active"><a href="{% url advertiser_campaign %}">Campaigns</a></li>
<li><a href="{% url reports_index %}">Reports</a></li>
{% endblock navLinks %}
{% block pageTitle %}<h1>{% ifequal account.status 'step4' %}Step 4: Set up an ad campaign{% else %}Campaigns{% endifequal %}</h1>{% endblock pageTitle %}
{% block titleBarRight %}
    {% ifequal account.status 'step4' %}
            <div class="stepProgress"> 
              <span class="stepProgress-step">Step 1: Add app</span> 
              <span class="ui-icon ui-icon-arrow-1-e"></span> 
              <span class="stepProgress-step">Step 2: Integrate</span> 
              <span class="ui-icon ui-icon-arrow-1-e"></span> 
              <span class="stepProgress-step">Step 3: Ad networks</span> 
              <span class="ui-icon ui-icon-arrow-1-e"></span> 
              <span class="stepProgress-step stepProgress-active">Step 4: Ad campaigns</span> 
            </div>
    {% else %}        
        <span class="titlebar-right">
            <a class="button" id="advertisers-testAdServer" href="#">Test Campaigns</a>
        </span>
    {% endifequal %}
            
{% endblock titleBarRight %}
    
    
{% block messageCenter %}{% endblock messageCenter %}
{% block dateButtons %}{% ifnotequal account.status 'step4' %}
          <div id="titlebar-center">
            <span class="buttonset" id="dashboard-dateOptions">
              <input type="radio" name="dashboard-dateOptions-option" value="7" id="dashboard-dateOptions-option-7" {% ifequal date_range 7 %}checked="checked" {% endifequal %}/>
              <label for="dashboard-dateOptions-option-7">7 days</label>
              <input type="radio" name="dashboard-dateOptions-option" value="14" id="dashboard-dateOptions-option-14" {% ifequal date_range 14 %}checked="checked" {% endifequal %}{% if not date_range %}checked="checked" {% endif %}/>
              <label for="dashboard-dateOptions-option-14">14 days</label>
              <input type="radio" name="dashboard-dateOptions-option" value="30" id="dashboard-dateOptions-option-30" {% ifequal date_range 30 %}checked="checked" {% endifequal %}/>
              <label for="dashboard-dateOptions-option-30">30 days</label>
              <input type="radio" name="dashboard-dateOptions-option" value="custom" id="dashboard-dateOptions-option-custom" />
              <label for="dashboard-dateOptions-option-custom">Custom ...</label>
            </span>
            <div id="dashboard-dateOptions-custom-modal">
              <div id="dashboard-dateOptions-custom-from"><h4>Start date:</h4></div>
              <div id="dashboard-dateOptions-custom-to"><h4>End date:</h4></div>
            </div>
          </div>
{% endifnotequal %}{% endblock dateButtons %}

{% block content %}{% ifequal account.status "step4" %}
          <div class="alertMessage">
            Finally, you will need to set up at least one ad campaign to serve into your inventory.  A <strong>Guaranteed</strong> ad campaign is typically a direct sold ad campaign.  <strong>Promotional</strong> campaigns are for house ads like an upsell.  A <strong>Network</strong> ad is an ad served from a ad network like AdMob.
          </div>
{% endifequal %}
{% ifequal account.status "step3" %}
          <div class="alertMessage">
            The next step is to set up your ad networks.  Visit your <a href="{% url account_index %}">Account</a> page to enable your ad networks.
          </div>
{% endifequal %}
{% if not apps %}
          <div class="alertMessage">
            Before you set up your ad campaigns, we recommend that you set up your App inventory.  Visit the <a href="{% url publisher_index %}">Dashboard</a> to add your Apps.
          </div>
{% endif %}
          <div class="separated">
            <section class="offset nomargin" id="dashboard-stats">
              <h3 class="stats-chart-title">Realtime Stats for {{start_date|format_date_compact}} to {{end_date|format_date_compact}}</h3>
              <div class="stats">
                <div class="stats-breakdown stats-breakdown-4">
                  <table>
                    <tbody>
                      <tr class="active" id="stats-breakdown-impressions">
                        <td class="stats-breakdown-value today"><span class="inner">{{today.impression_count|withsep}}</span></td>
                        <td class="stats-breakdown-value yesterday"><span class="inner">{{yesterday.impression_count|withsep}}</span></td>
                        <td class="stats-breakdown-value all"><span class="inner">{{totals.impression_count|withsep}}</span></td>
                        <th class="stats-breakdown-name"><span class="inner">Impressions</span></th>
                      </tr>
                      <!-- don't display revenue label and stats if there are no gtee adgroups -->
                      {% if graph_gtee_adgroups|length > 0 %}
                      <tr id="stats-breakdown-revenue">
                        <td class="stats-breakdown-value today"><span class="inner">{{today.revenue|currency}}</span></td>
                        <td class="stats-breakdown-value yesterday"><span class="inner">{{yesterday.revenue|currency}}</span></td>
                        <td class="stats-breakdown-value all"><span class="inner">{{totals.revenue|currency}}</span></td>
                        <th class="stats-breakdown-name"><span class="inner">Revenue</span></th>
                      </tr>
                      {% endif %}
                      <tr id="stats-breakdown-clicks">
                        <td class="stats-breakdown-value today"><span class="inner">{{today.click_count|withsep}}</span></td>
                        <td class="stats-breakdown-value yesterday"><span class="inner">{{yesterday.click_count|withsep}}</span></td>
                        <td class="stats-breakdown-value all"><span class="inner">{{totals.click_count|withsep}}</span></td>
                        <th class="stats-breakdown-name"><span class="inner">Clicks</span></th>
                      </tr>
                      <tr id="stats-breakdown-ctr">
                        <td class="stats-breakdown-value today"><span class="inner">{{today.ctr|percentage}}</span></td>
                        <td class="stats-breakdown-value yesterday"><span class="inner">{{yesterday.ctr|percentage}}</span></td>
                        <td class="stats-breakdown-value all"><span class="inner">{{totals.ctr|percentage}}</span></td>
                        <th class="stats-breakdown-name"><span class="inner">CTR</span></th>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <div class="stats-breakdown-buttons">
                  <span class="buttonset button-small" id="stats-breakdown-dateOptions">
                    <input type="radio" name="stats-breakdown-dateOptions-option" value="today" id="stats-breakdown-dateOptions-option-0" checked="checked"/>
                    <label for="stats-breakdown-dateOptions-option-0">Today</label>
                    <input type="radio" name="stats-breakdown-dateOptions-option" value="yesterday" id="stats-breakdown-dateOptions-option-1"/>
                    <label for="stats-breakdown-dateOptions-option-1">Yesterday</label>
                    <input type="radio" name="stats-breakdown-dateOptions-option" value="all" id="stats-breakdown-dateOptions-option-2"/>
                    <label for="stats-breakdown-dateOptions-option-2">All</label>
                  </span>
                </div>
                <div class="chart chart-loading stats-chart" id="dashboard-stats-chart">
                  <div class="chart-loading-text">Loading ...</div>
                  <div class="chart-error-text">Could not load chart</div>
                  <script type="text/javascript">
                    // if no gtee adgroups to show, don't display revenue data in graph
                    {% if graph_gtee_adgroups|length == 0 %}
                      // chart data
                      mopub.dashboardStatsChartData = {
                        //pointStart: 1294963200000,
                        pointStart: Date.UTC({{start_date.year}},{{start_date.month|add:"-1"}},{{start_date.day}}),
                        pointInterval: 86400000,
                        'impressions': [{% for a in graph_adgroups %}
                          { '{{a.name|safe|addslashes}}': [{% for stat in a.all_stats %}{{stat.impression_count}}{% if not forloop.last %},{% endif %} {% endfor %}] }{% if not forloop.last %},{% endif %}{% endfor %}
                        ],
                        'clicks': [{% for a in graph_adgroups %}
                          { '{{a.name|safe|addslashes}}': [{% for stat in a.all_stats %}{{stat.click_count}}{% if not forloop.last %},{% endif %} {% endfor %}] }{% if not forloop.last %},{% endif %}{% endfor %}
                        ],
                        'ctr':  [
                        {% for a in graph_adgroups %}
                          { '{{a.name|safe|addslashes}}': [{% for stat in a.all_stats %}{{stat.ctr}}{% if not forloop.last %},{% endif %} {% endfor %}] },{% endfor %}
                          { 'Mopub Optimized': [{% for stat in graph_totals %}{{stat.ctr}}{% if not forloop.last %},{% endif %} {% endfor %}] }
                        ],
                      };
                    {% else %}
                      // chart data
                      mopub.dashboardStatsChartData = {
                        //pointStart: 1294963200000,
                        pointStart: Date.UTC({{start_date.year}},{{start_date.month|add:"-1"}},{{start_date.day}}),
                        pointInterval: 86400000,
                        'impressions': [{% for a in graph_adgroups %}
                          { '{{a.name|safe|addslashes}}': [{% for stat in a.all_stats %}{{stat.impression_count}}{% if not forloop.last %},{% endif %} {% endfor %}] }{% if not forloop.last %},{% endif %}{% endfor %}
                        ],
                        'revenue': [{% for a in graph_gtee_adgroups %}
                          { '{{a.name|safe|addslashes}}': [{% for stat in a.all_stats %}{{stat.revenue}}{% if not forloop.last %},{% endif %} {% endfor %}] }{% if not forloop.last %},{% endif %}{% endfor %}
                        ],
                        'clicks': [{% for a in graph_adgroups %}
                          { '{{a.name|safe|addslashes}}': [{% for stat in a.all_stats %}{{stat.click_count}}{% if not forloop.last %},{% endif %} {% endfor %}] }{% if not forloop.last %},{% endif %}{% endfor %}
                        ],
                        'ctr':  [
                        {% for a in graph_adgroups %}
                          { '{{a.name|safe|addslashes}}': [{% for stat in a.all_stats %}{{stat.ctr}}{% if not forloop.last %},{% endif %} {% endfor %}] },{% endfor %}
                          { 'Mopub Optimized': [{% for stat in graph_totals %}{{stat.ctr}}{% if not forloop.last %},{% endif %} {% endfor %}] }
                        ],
                      };
                    {% endif %}                    
                  </script>
                </div>
              </div>
              <div class="clear"></div>
            </section>
          </div>
          <section id="dashboard-campaigns">
            <div id="campaigns-control-panel">
              <div class="center-button-bank">
	
                <span class="buttonset" id="campaigns-filterOptions"> 
                  <input type="radio" name="campaigns-filterOptions-option" value="campaign-status-all" checked="checked" id="campaigns-filterOptions-option-all"/> 
                  <label for="campaigns-filterOptions-option-all">All</label> 
                  <input type="radio" name="campaigns-filterOptions-option" value="campaign-status-Running" id="campaigns-filterOptions-option-Running"/> 
                  <label for="campaigns-filterOptions-option-Running">Running</label> 
                  <input type="radio" name="campaigns-filterOptions-option" value="campaign-status-Paused" id="campaigns-filterOptions-option-Paused" /> 
                  <label for="campaigns-filterOptions-option-Paused">Paused</label> 
                  <input type="radio" name="campaigns-filterOptions-option" value="campaign-status-Scheduled" id="campaigns-filterOptions-option-Scheduled" /> 
                  <label for="campaigns-filterOptions-option-Scheduled">Scheduled</label> 
                </span>
              
              	<select name="campaigns-appFilterOptions" id="campaigns-appFilterOptions"> 
        					<option id="campaigns-appFilterOptions-option-all" value="campaign-status-all">All Apps</option>
  								{% for app in apps %}
  								<option value="campaign-targeting-{{app.key}}">{{app.name}}</option> 
  								{% endfor %}
        				</select>
              </div>
               <a class="button" id="advertisers-addCampaign" href="{% url advertiser_campaign_create %}">Add a campaign</a>
            </div>
            
            <div id="adserverTest" style="display:none;">
                <iframe height="480" width="350" id="adserverTest-iFrame" scrolling="no">
                </iframe>    
                <div id="adserverTest-iFrame-src" style="display:none;">{% url advertiser_adserver_test %}</div>    
            </div>    
            
            <form method="post" action="{% url advertiser_bid_pause %}" id="campaignForm">
              <input type="hidden" name="action" id="action"/>
              <h2>Guaranteed</h2>
              <div id='gtee-rollups' class="campaignData-rollup">
                  <table width=100% style='text-align:center; font-size:18px; font-weight:400;'>
                      <thead>
                          <tr>
                              <th width=25%>Impressions</th>
                              <th width=25%>Clicks</th>
                              <th width=25%>CTR</th>
                              <th width=25%>Revenue</th>
                          </tr>
                      </thead>
                      <tbody>
                          <tr>
                              <td id='gtee-total-imp'></td>
                              <td id='gtee-total-clk'></td>
                              <td id='gtee-total-ctr'></td>
                              <td id='gtee-total-rev'></td>
                          </tr>
                      </tbody>
                  </table>
              </div>

              {% for level in guarantee_levels %}
              {% if level.display %} 
              <table class="dataTable campaignData-main" id="campaignDataTable-direct-{{level.name}}">
                    <thead>
                      <tr>
                        <th class="campaignData-icon"></th>
                        <th class="dataTable-name">{{level.name}} Priority</th>
                        <th class="dataTable-data numeric">eCPM</th>
                        <th class="dataTable-data numeric">Status</th>
                        <th class="dataTable-data numeric">Impressions</th>
                        <th class="dataTable-data numeric">Clicks</th>
                        <th class="dataTable-data numeric">CTR</th>
                        <th class="dataTable-data numeric">Conv</th>
                        <th class="dataTable-data numeric">CPA</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for adgroup in level.adgroups %}

	                  <tr class="campaignData gtee_row campaign-status-all campaign-targeting-all
					  campaign-status-{{adgroup|campaign_status}}
					  {% for app_key in adgroup.targeted_app_keys %} campaign-targeting-{{ app_key }} {% endfor %}"
					  id="campaigns-guaranteed-{{level.name}}-{{forloop.counter0}}">
                        <th class="campaignData-icon">
                            <input type="checkbox" name="id" value="{{adgroup.key}}"/>
                            {% if adgroup.deleted %}<img src="/images/deleted.gif" height=9 width=9 />{% endif %}
                            {% if adgroup.active and not adgroup.deleted %}<img src="/images/active.gif" height=9 width=9 />{% endif %}
                            {% if not adgroup.active and not adgroup.deleted %}<img src="/images/paused.gif" height=9 width=9 />{% endif %}
                        </th> 
                        <th class="dataTable-name">
                            <a href="{% url advertiser_adgroup_show adgroup_key=adgroup.key %}">{{adgroup.name}}</a><br/>
                            <span class="muted">
                                {% if adgroup.campaign.start_date and adgroup.campaign.end_date %}
                                {{adgroup.campaign.start_date|format_date_compact}}-{{adgroup.campaign.end_date|format_date_compact}}.
                                {% endif %} {% if adgroup.campaign.start_date and not adgroup.campaign.end_date %}
                                Starts {{adgroup.campaign.start_date|format_date_compact}}.
                                {% endif %} {% if not adgroup.campaign.start_date and adgroup.campaign.end_date %}
                                Ends {{adgroup.campaign.start_date|format_date_compact}}.
                                {% endif %} {% if not adgroup.campaign.start_date and not adgroup.campaign.end_date %}
                                All dates.
                                {% endif %}
                                {% ifequal adgroup.campaign.budget_type 'daily' %}{% if adgroup.campaign.budget %}{{adgroup.campaign.budget|currency}} daily budget.{% else %} Unlimited budget.{% endif %}{% endifequal %}
                                {% ifequal adgroup.campaign.budget_type 'full_campaign' %}{{adgroup.campaign.full_budget|currency}} campaign budget.{% endifequal %}
                            </span>
                        </th>

                        {% if adgroup.cpc %}
                        <td class="dataTable-data numeric dataTable-ecpm">
                          <div class="dataTable-campaign-ecpm">{{adgroup.summed_stats.e_cpm|currency}}</div>
                        <a href="#" id="campaign-ecpm-helpLink" class="whatsthis"> What's this?
                          </a>
                        </td>
                        {% else %}
                        <td class="dataTable-data numeric dataTable-ecpm">{{adgroup.summed_stats.e_cpm|currency}}</td>
                        {% endif %}
                        
                        <td class="dataTable-data numeric">{{adgroup|campaign_status}}<br>
                         {% if adgroup.campaign.budget and adgroup.running %}
                           {% if adgroup.osi_success %}
                           <span class='osi-success'> on sched </span>
                           {% else %}  
                           <span class='osi-failure'> behind sched </span></td>
                           {% endif %}
                         {% endif %}
                        <td class='gtee-rev' style='display:none;'>{{adgroup.summed_stats.revenue}}</td>
                        <td class="dataTable-data numeric gtee-imp">{{adgroup.summed_stats.impression_count|withsep}}</td>
                        <td class="dataTable-data numeric gtee-clk">{{adgroup.summed_stats.click_count|withsep}}</td>
                        <td class="dataTable-data numeric gtee-ctr">{{adgroup.summed_stats.ctr|percentage|withsep}}</td>
                        <td class="dataTable-data numeric gtee-conv">{{adgroup.summed_stats.conversion_count|withsep}} ({{adgroup.summed_stats.conv_rate|percentage}})</td>
                        <td class="dataTable-data numeric gtee-cpa">{{adgroup.summed_stats.cpa|currency}}</td>
                      </tr>
                      {% endfor %}
                      <tr class="campaignData campaignData-placeholder gtee-placeholder">
                        <th class="campaignData-icon"></th>
                        <th class="dataTable-name"><span class="muted">None</span></th>
                        <td class="dataTable-data numeric"></td>
                        <td class="dataTable-data numeric"></td>
                        <td class="dataTable-data numeric"></td>
                        <td class="dataTable-data numeric"></td>
                        <td class="dataTable-data numeric"></td>
                        <td class="dataTable-data numeric"></td>
                        <td class="dataTable-data numeric"></td>
                      </tr>
                      {% endif %}
                {% endfor %}
                </tbody>
              </table>
              <h2>Promotional</h2>
              <div id='promo-rollups' class="campaignData-rollup">
                  <table width=100% style='text-align:center; font-size:18px; font-weight:400;'>
                      <thead>
                          <tr>
                              <th width=25%>Impressions</th>
                              <th width=25%>Clicks</th>
                              <th width=25%>CTR</th>
                              <th width=25%>Conversions</th>
                          </tr>
                      </thead>
                      <tbody>
                          <tr>
                              <td id='promo-total-imp'></td>
                              <td id='promo-total-clk'></td>
                              <td id='promo-total-ctr'></td>
                              <td id='promo-total-conv'></td>
                              <td></td>
                          </tr>
                      </tbody>
                  </table>
              </div>
              <table class="dataTable campaignData-main">
                <thead>
                  <tr>
                    <th class="campaignData-icon"></th>
                    <th class="dataTable-name">Name</th>
                    <th class="dataTable-data numeric">eCPM</th>
                    <th class="dataTable-data numeric">Status</th>
                    <th class="dataTable-data numeric">Impressions</th>
                    <th class="dataTable-data numeric">Clicks</th>
                    <th class="dataTable-data numeric">CTR</th>
                    <th class="dataTable-data numeric">Conv</th>
                    <th class="dataTable-data numeric">CPA</th>
                  </tr>
                </thead>
                <tbody>
                  {% for adgroup in promo %}
                  <tr class="campaignData campaign-status-all campaign-targeting-all
					campaign-status-{{adgroup|campaign_status}}
					{% for app_key in adgroup.targeted_app_keys %} campaign-targeting-{{ app_key }} {% endfor %}"
					id="campaigns-promo-{{forloop.counter0}}">
                    <th class="campaignData-icon">
                      <input type="checkbox" name="id" value="{{adgroup.key}}"/>
                      {% if adgroup.deleted %}<img src="/images/deleted.gif" height=9 width=9 />{% endif %}
                      {% if adgroup.active and not adgroup.deleted %}<img src="/images/active.gif" height=9 width=9 />{% endif %}
                      {% if not adgroup.active and not adgroup.deleted %}<img src="/images/paused.gif" height=9 width=9 />{% endif %}
                    </th> 
                    <th class="dataTable-name">
                        <a href="{% url advertiser_adgroup_show adgroup_key=adgroup.key %}">{{adgroup.name}}</a><br/>
                        <span class="muted">
                            {% if adgroup.campaign.start_date and adgroup.campaign.end_date %}
                            {{adgroup.campaign.start_date|format_date_compact}}-{{adgroup.campaign.end_date|format_date_compact}}.
                            {% endif %} {% if adgroup.campaign.start_date and not adgroup.campaign.end_date %}
                            Starts {{adgroup.campaign.start_date|format_date_compact}}.
                            {% endif %} {% if not adgroup.campaign.start_date and adgroup.campaign.end_date %}
                            Ends {{adgroup.campaign.start_date|format_date_compact}}.
                            {% endif %} {% if not adgroup.campaign.start_date and not adgroup.campaign.end_date %}
                            All dates.
                            {% endif %}
                            {% if adgroup.campaign.budget %}{{adgroup.campaign.budget|currency}} daily budget.{% else %}Unlimited budget.{% endif %}
                        </span>
                    </th>
                    <td class="dataTable-data numeric dataTable-ecpm">
                        {% if adgroup.bid_strategy == 'cpm' %}
                        {{adgroup.summed_stats.e_cpm|currency}}</td>
                        {% endif %}
                        {% if adgroup.bid_strategy == 'cpc' %}
                          <div class="dataTable-campaign-ecpm">{{adgroup.summed_stats.e_cpm|currency}}</div>
                        <a href="#" id="campaign-ecpm-helpLink" class="whatsthis"> What's this?
                          </a>
                        {% endif %}
                    </td>    
                    <td class="dataTable-data numeric">{{adgroup|campaign_status}}</td>
                    <td class="dataTable-data numeric promo-imp">{{adgroup.summed_stats.impression_count|withsep}}</td>
                    <td class="dataTable-data numeric promo-clk">{{adgroup.summed_stats.click_count|withsep}}</td>
                    <td class="dataTable-data numeric promo-ctr">{{adgroup.summed_stats.ctr|percentage|withsep}}</td>
                    <td class="dataTable-data numeric promo-conv">{{adgroup.summed_stats.conversion_count|withsep}} ({{adgroup.summed_stats.conv_rate|percentage}})</td>
                    <td class="dataTable-data numeric promo-cpa">{{adgroup.summed_stats.cpa|currency}}</td>
                  </tr>
                  {% endfor %}
                  <tr class="campaignData campaignData-placeholder promo-placeholder">
                    <th class="campaignData-icon"></th>
                    <th class="dataTable-name"><span class="muted">None</span></th>
                    <td class="dataTable-data numeric"></td>
                    <td class="dataTable-data numeric"></td>
                    <td class="dataTable-data numeric"></td>
                    <td class="dataTable-data numeric"></td>
                    <td class="dataTable-data numeric"></td>
                    <td class="dataTable-data numeric"></td>
                    <td class="dataTable-data numeric"></td>
                  </tr>
                </tbody>
              </table>
              <h2>Network</h2>
              <div id='network-rollups' class="campaignData-rollup">
                  <table width=100% style='text-align:center; font-size:18px; font-weight:400;'>
                      <thead>
                          <tr>
                              <th width=25%>Impressions</th>
                              <th width=25%>Clicks</th>
                              <th width=25%>CTR</th>
                              <th width=25%>Fill Rate (Attempts)</th>
                          </tr>
                      </thead>
                      <tbody>
                          <tr>
                              <td id='network-total-imp'></td>
                              <td id='network-total-clk'></td>
                              <td id='network-total-ctr'></td>
                              <td id='network-total-fill'></td>
                          </tr>
                      </tbody>
                  </table>
              </div>
              <table class="dataTable campaignData-main">
                <thead>
                  <tr>
                    <th class="campaignData-icon"></th>
                    <th class="dataTable-name">Name</th>
                    <th class="dataTable-data numeric">eCPM</th>
                    <th class="dataTable-data numeric">Attempts</th>
                    <th class="dataTable-data numeric">Impressions</th>
                    <th class="dataTable-data numeric">Fillrate</th>
                    <th class="dataTable-data numeric">Clicks</th>
                    <th class="dataTable-data numeric">CTR</th>
                    <th class="dataTable-data numeric">&nbsp;</th>
                  </tr>
                </thead>
                <tbody>
                  {% for adgroup in network %}
                  <tr class="campaignData campaign-status-all campaign-targeting-all
					campaign-status-{{adgroup|campaign_status}}
					{% for app_key in adgroup.targeted_app_keys %} campaign-targeting-{{ app_key }} {% endfor %}"
					
                   id="campaigns-network-{{forloop.counter0}}">

                    <th class="campaignData-icon">
                      <input type="checkbox" name="id" value="{{adgroup.key}}"/>
                      {% if adgroup.deleted %}<img src="/images/deleted.gif" height=9 width=9 />{% endif %}
                      {% if adgroup.active and not adgroup.deleted %}<img src="/images/active.gif" height=9 width=9 />{% endif %}
                      {% if not adgroup.active and not adgroup.deleted %}<img src="/images/paused.gif" height=9 width=9 />{% endif %}
                    </th> 
                    <th class="dataTable-name">
                      <a href="{% url advertiser_adgroup_show adgroup_key=adgroup.key %}">{{adgroup.name}}</a><br/>

                      <span class="muted">{{adgroup.network_type}}</span>
                    </th>
                    {% if adgroup.cpc %}
                    <td class="dataTable-data numeric dataTable-ecpm">
                      <div class="dataTable-campaign-ecpm">{{adgroup.summed_stats.e_cpm|currency}}</div>
                      <a href="#" id="campaign-ecpm-helpLink" class="whatsthis"> What's this?
                      </a>
                    </td>
                    {% else %}
                    <td class="dataTable-data numeric dataTable-ecpm">{{adgroup.summed_stats.e_cpm|currency}}</td>
                    {% endif %}
                    <td class="dataTable-data numeric network-req">{{adgroup.summed_stats.request_count|withsep}}</td>
                    <td class="dataTable-data numeric network-imp">{{adgroup.summed_stats.impression_count|withsep}}</td>
                    <td class="dataTable-data numeric network-fill">{{adgroup.summed_stats.fill_rate|percentage|withsep}}</td>
                    <td class="dataTable-data numeric network-clk">{{adgroup.summed_stats.click_count|withsep}}</td>
                    <td class="dataTable-data numeric network-ctr">{{adgroup.summed_stats.ctr|percentage|withsep}}</td>
                    <td class="dataTable-data numeric">&nbsp;</td>
                  </tr>
                  {% endfor %}
                  <tr class="campaignData campaignData-placeholder network-placeholder">
                    <th class="campaignData-icon"></th>
                    <th class="dataTable-name"><span class="muted">None</span></th>
                    <td class="dataTable-data numeric"></td>
                    <td class="dataTable-data numeric"></td>
                    <td class="dataTable-data numeric"></td>
                    <td class="dataTable-data numeric"></td>
                    <td class="dataTable-data numeric"></td>
                    <td class="dataTable-data numeric"></td>
                    <td class="dataTable-data numeric"></td>
                  </tr>
                </tbody>
              </table>
              <h2>Backfill Promotional</h2>
              <div id='bfill-rollups' class="campaignData-rollup">
                  <table width=100% style='text-align:center; font-size:18px; font-weight:400;'>
                      <thead>
                          <tr>
                              <th width=25%>Impressions</th>
                              <th width=25%>Clicks</th>
                              <th width=25%>CTR</th>
                              <th width=25%>Conversions</th>
                          </tr>
                      </thead>
                      <tbody>
                          <tr>
                              <td id='bfill-total-imp'></td>
                              <td id='bfill-total-clk'></td>
                              <td id='bfill-total-ctr'></td>
                              <td id='bfill-total-conv'></td>
                          </tr>
                      </tbody>
                  </table>
              </div>
              <table class="dataTable campaignData-main">
                <thead>
                  <tr>
                    <th class="campaignData-icon"></th>
                    <th class="dataTable-name">Name</th>
                    <th class="dataTable-data numeric">eCPM</th>
                    <th class="dataTable-data numeric">Status</th>
                    <th class="dataTable-data numeric">Impressions</th>
                    <th class="dataTable-data numeric">Clicks</th>
                    <th class="dataTable-data numeric">CTR</th>
                    <th class="dataTable-data numeric">Conv</th>
                    <th class="dataTable-data numeric">CPA</th>
                  </tr>
                </thead>
                <tbody>
                  {% for adgroup in backfill_promo %}
                  <tr class="campaignData campaign-status-all campaign-targeting-all
					campaign-status-{{adgroup|campaign_status}}
					{% for app_key in adgroup.targeted_app_keys %} campaign-targeting-{{ app_key }} {% endfor %}" 
					id="campaigns-promo-{{forloop.counter0}}">
                    <th class="campaignData-icon">
                      <input type="checkbox" name="id" value="{{adgroup.key}}"/>
                      {% if adgroup.deleted %}<img src="/images/deleted.gif" height=9 width=9></img>{% endif %}
                      {% if adgroup.active and not adgroup.deleted %}<img src="/images/active.gif" height=9 width=9 />{% endif %}
                      {% if not adgroup.active and not adgroup.deleted %}<img src="/images/paused.gif" height=9 width=9 />{% endif %}
                    </th> 
                    <th class="dataTable-name">
                        <a href="{% url advertiser_adgroup_show adgroup_key=adgroup.key %}">{{adgroup.name}}</a><br/>
                        <span class="muted">
                            {% if adgroup.campaign.start_date and adgroup.campaign.end_date %}
                            {{adgroup.campaign.start_date|format_date_compact}}-{{adgroup.campaign.end_date|format_date_compact}}.
                            {% endif %} {% if adgroup.campaign.start_date and not adgroup.campaign.end_date %}
                            Starts {{adgroup.campaign.start_date|format_date_compact}}.
                            {% endif %} {% if not adgroup.campaign.start_date and adgroup.campaign.end_date %}
                            Ends {{adgroup.campaign.start_date|format_date_compact}}.
                            {% endif %} {% if not adgroup.campaign.start_date and not adgroup.campaign.end_date %}
                            All dates.
                            {% endif %}
                            {% if adgroup.campaign.budget %}{{adgroup.campaign.budget|currency}} daily budget.{% else %}Unlimited budget.{% endif %}
                        </span>
                    </th>
                    {% if adgroup.cpc %}
                    <td class="dataTable-data numeric dataTable-ecpm">
                      <div class="dataTable-campaign-ecpm">{{adgroup.summed_stats.e_cpm|currency}}</div>
                        <a href="#" id="campaign-ecpm-helpLink" class="whatsthis"> What's this?
                          </a>
                    </td>
                    {% else %}
                    <td class="dataTable-data numeric dataTable-ecpm">{{adgroup.summed_stats.e_cpm|currency}}</td>
                    {% endif %}
                        
                    <td class="dataTable-data numeric">{{adgroup|campaign_status}}</td>
                    <td class="dataTable-data numeric bfill-imp">{{adgroup.summed_stats.impression_count|withsep}}</td>
                    <td class="dataTable-data numeric bfill-clk">{{adgroup.summed_stats.click_count|withsep}}</td>
                    <td class="dataTable-data numeric bfill-ctr">{{adgroup.summed_stats.ctr|percentage|withsep}}</td>
                    <td class="dataTable-data numeric bfill-conv">{{adgroup.summed_stats.conversion_count|withsep}} ({{adgroup.summed_stats.conv_rate|percentage}})</td>
                    <td class="dataTable-data numeric bfill-cpa">{{adgroup.summed_stats.cpa|currency}}</td>
                  </tr>
                  {% endfor %}
                  <tr class="campaignData campaignData-placeholder bfill-placeholder">
                    <th class="campaignData-icon"></th>
                    <th class="dataTable-name"><span class="muted">None</span></th>
                    <td class="dataTable-data numeric"></td>
                    <td class="dataTable-data numeric"></td>
                    <td class="dataTable-data numeric"></td>
                    <td class="dataTable-data numeric"></td>
                    <td class="dataTable-data numeric"></td>
                    <td class="dataTable-data numeric"></td>
                    <td class="dataTable-data numeric"></td>
                  </tr>
                </tbody>
              </table>
              
              <div class="form-submit-left"> 
                <span class="buttonWrap"><a class="button" id="campaignForm-pause">Pause</a>
                <a class="button" id="campaignForm-resume">Resume</a>
              </div> 
            </form> 
          </section>
          
          {# Help Content #}
          <div id="campaign-ecpm-helpContent" class="hidden"> 
            <h3>Revenue Optimized Campaign eCPM</h3>
            <p>We calculate the <strong>eCPM</strong> for CPC campaigns by combining the CPC of the campaign with our CTR calculated in real time. </p>
            <p> This number may vary over time. This is perfectly natural and our system will adjust to these fluctuations in real time. </p>
            <p> Campaigns that have not yet begun use the average CTR of the entire app to calculate eCPM. </p>        
          </div>
          
{% endblock content %}
