{% extends 'advertiser/base.html' %}
{% load filters %}
{% load super_if %}

{% block navLinks %}
<li><a href="{% url publisher_index %}">Dashboard</a></li>
<li class="active"><a href="{% url advertiser_campaign %}">Campaigns</a></li>{% endblock navLinks %}
{% block pageTitle %}<h1>{% ifequal account.status 'step4' %}Step 4: Set up an ad campaign{% else %}Campaigns{% endifequal %}</h1>{% endblock pageTitle %}
{% block titleBarRight %}{% ifequal account.status 'step4' %}
            <div class="stepProgress"> 
              <span class="stepProgress-step">Step 1: Add app</span> 
              <span class="ui-icon ui-icon-arrow-1-e"></span> 
              <span class="stepProgress-step">Step 2: Integrate</span> 
              <span class="ui-icon ui-icon-arrow-1-e"></span> 
              <span class="stepProgress-step">Step 3: Ad networks</span> 
              <span class="ui-icon ui-icon-arrow-1-e"></span> 
              <span class="stepProgress-step stepProgress-active">Step 4: Ad campaigns</span> 
            </div>{% endifequal %}{% endblock titleBarRight %}
{% block messageCenter %}{% endblock messageCenter %}
{% block dateButtons %}{% ifnotequal account.status 'step4' %}
          <div id="titlebar-center">
            <span class="buttonset" id="dashboard-dateOptions">
              <input type="radio" name="dashboard-dateOptions-option" value="7" id="dashboard-dateOptions-option-7" {% ifequal date_range 7 %}checked="checked" {% endifequal %}/>
              <label for="dashboard-dateOptions-option-7">7 days</label>
              <input type="radio" name="dashboard-dateOptions-option" value="14" id="dashboard-dateOptions-option-14" {% ifequal date_range 14 %}checked="checked" {% endifequal %}{% if not date_range %}checked="checked" {% endif %}/>
              <label for="dashboard-dateOptions-option-14">14 days</label>
              <input type="radio" name="dashboard-dateOptions-option" value="30" id="dashboard-dateOptions-option-30" {% ifequal date_range 30 %}checked="checked" {% endifequal %}/>
              <label for="dashboard-dateOptions-option-30">30 days</label>
              <input type="radio" name="dashboard-dateOptions-option" value="custom" id="dashboard-dateOptions-option-custom" />
              <label for="dashboard-dateOptions-option-custom">Custom ...</label>
            </span>
            <div id="dashboard-dateOptions-custom-modal">
              <div id="dashboard-dateOptions-custom-from"><h4>Start date:</h4></div>
              <div id="dashboard-dateOptions-custom-to"><h4>End date:</h4></div>
            </div>
          </div>
{% endifnotequal %}{% endblock dateButtons %}

{% block content %}{% ifequal account.status "step4" %}
          <div class="alertMessage">
            Finally, you will need to set up at least one ad campaign to serve into your inventory.  A <strong>Guaranteed</strong> ad campaign is typically a direct sold ad campaign.  <strong>Promotional</strong> campaigns are for house ads like an upsell.  A <strong>Network</strong> ad is an ad served from a ad network like AdMob.
          </div>
{% endifequal %}
{% ifequal account.status "step3" %}
          <div class="alertMessage">
            The next step is to set up your ad networks.  Visit your <a href="{% url account_index %}">Account</a> page to enable your ad networks.
          </div>
{% endifequal %}
{% if not apps %}
          <div class="alertMessage">
            Before you set up your ad campaigns, we recommend that you set up your App inventory.  Visit the <a href="{% url publisher_index %}">Dashboard</a> to add your Apps.
          </div>
{% endif %}
          <div class="separated">
            <section class="offset nomargin" id="dashboard-stats">
              <div class="stats">
                <div class="stats-breakdown">
                  <table>
                    <tbody>
                      <tr class="active" id="stats-breakdown-impressions">
                        <td class="stats-breakdown-value today"><span class="inner">{{today.impression_count|withsep}}</span></td>
                        <td class="stats-breakdown-value yesterday"><span class="inner">{{yesterday.impression_count|withsep}}</span></td>
                        <td class="stats-breakdown-value all"><span class="inner">{{totals.impression_count|withsep}}</span></td>
                        <th class="stats-breakdown-name"><span class="inner">Impressions</span></th>
                      </tr>
                      <tr id="stats-breakdown-clicks">
                        <td class="stats-breakdown-value today"><span class="inner">{{today.revenue|currency}}</span></td>
                        <td class="stats-breakdown-value yesterday"><span class="inner">{{yesterday.revenue|currency}}</span></td>
                        <td class="stats-breakdown-value all"><span class="inner">{{totals.revenue|currency}}</span></td>
                        <th class="stats-breakdown-name"><span class="inner">Revenue</span></th>
                      </tr>
                      <tr id="stats-breakdown-clicks">
                        <td class="stats-breakdown-value today"><span class="inner">{{today.click_count|withsep}}</span></td>
                        <td class="stats-breakdown-value yesterday"><span class="inner">{{yesterday.click_count|withsep}}</span></td>
                        <td class="stats-breakdown-value all"><span class="inner">{{totals.click_count|withsep}}</span></td>
                        <th class="stats-breakdown-name"><span class="inner">Clicks</span></th>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <div class="stats-breakdown-buttons">
                  <span class="buttonset button-small" id="stats-breakdown-dateOptions">
                    <input type="radio" name="stats-breakdown-dateOptions-option" value="today" id="stats-breakdown-dateOptions-option-0" checked="checked"/>
                    <label for="stats-breakdown-dateOptions-option-0">Today</label>
                    <input type="radio" name="stats-breakdown-dateOptions-option" value="yesterday" id="stats-breakdown-dateOptions-option-1"/>
                    <label for="stats-breakdown-dateOptions-option-1">Yesterday</label>
                    <input type="radio" name="stats-breakdown-dateOptions-option" value="all" id="stats-breakdown-dateOptions-option-2"/>
                    <label for="stats-breakdown-dateOptions-option-2">All</label>
                  </span>
                </div>
                <div class="chart chart-loading stats-chart" id="dashboard-stats-chart">
                  <div class="chart-loading-text">Loading ...</div>
                  <div class="chart-error-text">Could not load chart</div>
                  <script type="text/javascript">
                    // chart data
                    mopub.dashboardStatsChartData = {
                      //pointStart: 1294963200000,
                      pointStart: Date.UTC({{start_date.year}},{{start_date.month|add:"-1"}},{{start_date.day}}),
                      pointInterval: 86400000,
                      'impressions': [{% for a in graph_adgroups %}
                        { '{{a.name|safe|addslashes}}': [{% for stat in a.all_stats %}{{stat.impression_count}}{% if not forloop.last %},{% endif %} {% endfor %}] }{% if not forloop.last %},{% endif %}{% endfor %}
                      ],
                      'revenue': [{% for a in graph_adgroups %}
                        { '{{a.name|safe|addslashes}}': [{% for stat in a.all_stats %}{{stat.revenue}}{% if not forloop.last %},{% endif %} {% endfor %}] }{% if not forloop.last %},{% endif %}{% endfor %}
                      ],
                      'clicks': [{% for a in graph_adgroups %}
                        { '{{a.name|safe|addslashes}}': [{% for stat in a.all_stats %}{{stat.click_count}}{% if not forloop.last %},{% endif %} {% endfor %}] }{% if not forloop.last %},{% endif %}{% endfor %}
                      ],
                    };
                  </script>
                </div>
              </div>
              <div class="clear"></div>
            </section>
          </div>
          <section id="dashboard-campaigns">
            <div class="buttonBank buttonBank-right">
              <span class="buttonset" id="campaigns-filterOptions"> 
                <input type="radio" name="campaigns-filterOptions-option" value="all" checked="checked" id="campaigns-filterOptions-option-all"/> 
                <label for="campaigns-filterOptions-option-all">All</label> 
                <input type="radio" name="campaigns-filterOptions-option" value="running" id="campaigns-filterOptions-option-running"/> 
                <label for="campaigns-filterOptions-option-running">Running</label> 
                <input type="radio" name="campaigns-filterOptions-option" value="paused" id="campaigns-filterOptions-option-paused" /> 
                <label for="campaigns-filterOptions-option-paused">Paused</label> 
                <input type="radio" name="campaigns-filterOptions-option" value="scheduled" id="campaigns-filterOptions-option-scheduled" /> 
                <label for="campaigns-filterOptions-option-scheduled">Scheduled</label> 
              </span>
              <a class="button" id="advertisers-addCampaign" href="{% url advertiser_campaign_create %}">Add a campaign</a>
            </div>
            <form method="post" action="{% url advertiser_bid_pause %}" id="campaignForm">
              <input type="hidden" name="action" id="action"/>
              <h2>Guaranteed</h2>
              {% for level in gtee %}
              {% if level.foo %} 
              <table class="dataTable campaignData-main" id="campaignDataTable-direct-{{level.name}}">
                    <thead>
                      <tr>
                        <th class="campaignData-icon"></th>
                        <th class="dataTable-name">{{level.name}} Priority</th>
                        <th class="dataTable-data numeric">CPM</th>
                        <th class="dataTable-data numeric">Status</th>
                        <th class="dataTable-data numeric">Impressions</th>
                        <th class="dataTable-data numeric">Clicks</th>
                        <th class="dataTable-data numeric">CTR</th>
                        <th class="dataTable-data numeric">Conv</th>
                        <th class="dataTable-data numeric">CPA</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for adgroup in level.adgroups %}
                      <tr class="campaignData campaign-status-{{adgroup|campaign_status}}" id="campaigns-guaranteed-{{level.name}}-{{forloop.counter0}}">
                        <th class="campaignData-icon">
                            <input type="checkbox" name="id" value="{{adgroup.key}}"/>
                            {% if adgroup.deleted %}<img src="/images/deleted.gif" height=9 width=9></img>{% endif %}
                            {% if adgroup.active and not adgroup.deleted %}<img src="/images/active.gif" height=9 width=9></img>{% endif %}
                            {% if not adgroup.active and not adgroup.deleted %}<img src="/images/paused.gif" height=9 width=9></img>{% endif %}
                        </th> 
                        <th class="dataTable-name">
                            <a href="{% url advertiser_adgroup_show adgroup_key=adgroup.key %}">{{adgroup.name}}</a><br/>
                            <span class="muted">
                                {% if adgroup.campaign.start_date and adgroup.campaign.end_date %}
                                {{adgroup.campaign.start_date|format_date_compact}}-{{adgroup.campaign.end_date|format_date_compact}}.
                                {% endif %} {% if adgroup.campaign.start_date and not adgroup.campaign.end_date %}
                                Starts {{adgroup.campaign.start_date|format_date_compact}}.
                                {% endif %} {% if not adgroup.campaign.start_date and adgroup.campaign.end_date %}
                                Ends {{adgroup.campaign.start_date|format_date_compact}}.
                                {% endif %} {% if not adgroup.campaign.start_date and not adgroup.campaign.end_date %}
                                All dates.
                                {% endif %}
                                {% if adgroup.campaign.budget %}{{adgroup.campaign.budget|currency}} daily budget.{% else %}Unlimited budget.{% endif %}
                            </span>
                        </th>
                        <td class="dataTable-data numeric">{{adgroup.bid|currency}}</td>
                        <td class="dataTable-data numeric">{{adgroup|campaign_status}}<br>
														   {% if adgroup.percent_delivered %}
														   <span class="muted">({{adgroup.percent_delivered|floatformat:1}}%)</span></td>
														   {%endif %}
                        <td class="dataTable-data numeric">{{adgroup.stats.impression_count|withsep}}</td>
                        <td class="dataTable-data numeric">{{adgroup.stats.click_count|withsep}}</td>
                        <td class="dataTable-data numeric">{{adgroup.stats.ctr|percentage|withsep}}</td>
                        <td class="dataTable-data numeric">{{adgroup.stats.conversion_count|withsep}} ({{adgroup.stats.conv_rate|percentage}})</td>
                        <td class="dataTable-data numeric">{{adgroup.stats.cpa|currency}}</td>
                      </tr>
                      {% endfor %}
                      <tr class="campaignData campaignData-placeholder">
                        <th class="campaignData-icon"></th>
                        <th class="dataTable-name"><span class="muted">None</span></th>
                        <td class="dataTable-data numeric"></td>
                        <td class="dataTable-data numeric"></td>
                        <td class="dataTable-data numeric"></td>
                        <td class="dataTable-data numeric"></td>
                        <td class="dataTable-data numeric"></td>
                        <td class="dataTable-data numeric"></td>
                        <td class="dataTable-data numeric"></td>
                      </tr>
                      {% endif %}
                {% endfor %}
                </tbody>
              </table>
              <h2>Promotional</h2>
              <table class="dataTable campaignData-main">
                <thead>
                  <tr>
                    <th class="campaignData-icon"></th>
                    <th class="dataTable-name">Name</th>
                    <th class="dataTable-data numeric">CPM</th>
                    <th class="dataTable-data numeric">Status</th>
                    <th class="dataTable-data numeric">Impressions</th>
                    <th class="dataTable-data numeric">Clicks</th>
                    <th class="dataTable-data numeric">CTR</th>
                    <th class="dataTable-data numeric">Conv</th>
                    <th class="dataTable-data numeric">CPA</th>
                  </tr>
                </thead>
                <tbody>
                  {% for adgroup in promo %}
                  <tr class="campaignData campaign-status-{{adgroup|campaign_status}}" id="campaigns-promo-{{forloop.counter0}}">
                    <th class="campaignData-icon">
                      <input type="checkbox" name="id" value="{{adgroup.key}}"/>
                      {% if adgroup.deleted %}<img src="/images/deleted.gif" height=9 width=9></img>{% endif %}
                      {% if adgroup.active and not adgroup.deleted %}<img src="/images/active.gif" height=9 width=9></img>{% endif %}
                      {% if not adgroup.active and not adgroup.deleted %}<img src="/images/paused.gif" height=9 width=9></img>{% endif %}
                    </th> 
                    <th class="dataTable-name">
                        <a href="{% url advertiser_adgroup_show adgroup_key=adgroup.key %}">{{adgroup.name}}</a><br/>
                        <span class="muted">
                            {% if adgroup.campaign.start_date and adgroup.campaign.end_date %}
                            {{adgroup.campaign.start_date|format_date_compact}}-{{adgroup.campaign.end_date|format_date_compact}}.
                            {% endif %} {% if adgroup.campaign.start_date and not adgroup.campaign.end_date %}
                            Starts {{adgroup.campaign.start_date|format_date_compact}}.
                            {% endif %} {% if not adgroup.campaign.start_date and adgroup.campaign.end_date %}
                            Ends {{adgroup.campaign.start_date|format_date_compact}}.
                            {% endif %} {% if not adgroup.campaign.start_date and not adgroup.campaign.end_date %}
                            All dates.
                            {% endif %}
                            {% if adgroup.campaign.budget %}{{adgroup.campaign.budget|currency}} daily budget.{% else %}Unlimited budget.{% endif %}
                        </span>
                    </th>
                    <td class="dataTable-data numeric">{{adgroup.bid|currency}}</td>
                    <td class="dataTable-data numeric">{{adgroup|campaign_status}}</td>
                    <td class="dataTable-data numeric">{{adgroup.stats.impression_count|withsep}}</td>
                    <td class="dataTable-data numeric">{{adgroup.stats.click_count|withsep}}</td>
                    <td class="dataTable-data numeric">{{adgroup.stats.ctr|percentage|withsep}}</td>
                    <td class="dataTable-data numeric">{{adgroup.stats.conversion_count|withsep}} ({{adgroup.stats.conv_rate|percentage}})</td>
                    <td class="dataTable-data numeric">{{adgroup.stats.cpa|currency}}</td>
                  </tr>
                  {% endfor %}
                  <tr class="campaignData campaignData-placeholder">
                    <th class="campaignData-icon"></th>
                    <th class="dataTable-name"><span class="muted">None</span></th>
                    <td class="dataTable-data numeric"></td>
                    <td class="dataTable-data numeric"></td>
                    <td class="dataTable-data numeric"></td>
                    <td class="dataTable-data numeric"></td>
                    <td class="dataTable-data numeric"></td>
                    <td class="dataTable-data numeric"></td>
                    <td class="dataTable-data numeric"></td>
                  </tr>
                </tbody>
              </table>
              <h2>Network</h2>
              <table class="dataTable campaignData-main">
                <thead>
                  <tr>
                    <th class="campaignData-icon"></th>
                    <th class="dataTable-name">Name</th>
                    <th class="dataTable-data numeric">eCPM</th>
                    <th class="dataTable-data numeric">Requests</th>
                    <th class="dataTable-data numeric">Impressions</th>
                    <th class="dataTable-data numeric">Fillrate</th>
                    <th class="dataTable-data numeric">Clicks</th>
                    <th class="dataTable-data numeric">CTR</th>
                    <th class="dataTable-data numeric">&nbsp;</th>
                  </tr>
                </thead>
                <tbody>
                  {% for adgroup in network %}
                  <tr class="{% cycle 'campaignData' 'campaignData campaignData-alt' %}" id="campaigns-network-{{forloop.counter0}}">
                    <th class="campaignData-icon">
                      <input type="checkbox" name="id" value="{{adgroup.key}}"/>
                      {% if adgroup.deleted %}<img src="/images/deleted.gif" height=9 width=9></img>{% endif %}
                      {% if adgroup.active and not adgroup.deleted %}<img src="/images/active.gif" height=9 width=9></img>{% endif %}
                      {% if not adgroup.active and not adgroup.deleted %}<img src="/images/paused.gif" height=9 width=9></img>{% endif %}
                    </th> 
                    <th class="dataTable-name">
                      <a href="{% url advertiser_adgroup_show adgroup_key=adgroup.key %}">{{adgroup.name}}</a><br/>
                      <span class="muted">{{adgroup.network_type}}</span>
                    </th>
                    <td class="dataTable-data numeric">{{adgroup.bid|currency}}</td>
                    <td class="dataTable-data numeric">{{adgroup.stats.request_count|withsep}}</td>
                    <td class="dataTable-data numeric">{{adgroup.stats.impression_count|withsep}}</td>
                    <td class="dataTable-data numeric">{{adgroup.stats.fill_rate|percentage|withsep}}</td>
                    <td class="dataTable-data numeric">{{adgroup.stats.click_count|withsep}}</td>
                    <td class="dataTable-data numeric">{{adgroup.stats.ctr|percentage|withsep}}</td>
                    <td class="dataTable-data numeric">&nbsp;</td>
                  </tr>
                  {% endfor %}
                  <tr class="campaignData campaignData-placeholder">
                    <th class="campaignData-icon"></th>
                    <th class="dataTable-name"><span class="muted">None</span></th>
                    <td class="dataTable-data numeric"></td>
                    <td class="dataTable-data numeric"></td>
                    <td class="dataTable-data numeric"></td>
                    <td class="dataTable-data numeric"></td>
                    <td class="dataTable-data numeric"></td>
                    <td class="dataTable-data numeric"></td>
                    <td class="dataTable-data numeric"></td>
                  </tr>
                </tbody>
              </table>
              <h2>Backfill Promotional</h2>
              <table class="dataTable campaignData-main">
                <thead>
                  <tr>
                    <th class="campaignData-icon"></th>
                    <th class="dataTable-name">Name</th>
                    <th class="dataTable-data numeric">CPM</th>
                    <th class="dataTable-data numeric">Status</th>
                    <th class="dataTable-data numeric">Impressions</th>
                    <th class="dataTable-data numeric">Clicks</th>
                    <th class="dataTable-data numeric">CTR</th>
                    <th class="dataTable-data numeric">Conv</th>
                    <th class="dataTable-data numeric">CPA</th>
                  </tr>
                </thead>
                <tbody>
                  {% for adgroup in backfill_promo %}
                  <tr class="campaignData campaign-status-{{adgroup|campaign_status}}" id="campaigns-promo-{{forloop.counter0}}">
                    <th class="campaignData-icon">
                      <input type="checkbox" name="id" value="{{adgroup.key}}"/>
                      {% if adgroup.deleted %}<img src="/images/deleted.gif" height=9 width=9></img>{% endif %}
                      {% if adgroup.active and not adgroup.deleted %}<img src="/images/active.gif" height=9 width=9></img>{% endif %}
                      {% if not adgroup.active and not adgroup.deleted %}<img src="/images/paused.gif" height=9 width=9></img>{% endif %}
                    </th> 
                    <th class="dataTable-name">
                        <a href="{% url advertiser_adgroup_show adgroup_key=adgroup.key %}">{{adgroup.name}}</a><br/>
                        <span class="muted">
                            {% if adgroup.campaign.start_date and adgroup.campaign.end_date %}
                            {{adgroup.campaign.start_date|format_date_compact}}-{{adgroup.campaign.end_date|format_date_compact}}.
                            {% endif %} {% if adgroup.campaign.start_date and not adgroup.campaign.end_date %}
                            Starts {{adgroup.campaign.start_date|format_date_compact}}.
                            {% endif %} {% if not adgroup.campaign.start_date and adgroup.campaign.end_date %}
                            Ends {{adgroup.campaign.start_date|format_date_compact}}.
                            {% endif %} {% if not adgroup.campaign.start_date and not adgroup.campaign.end_date %}
                            All dates.
                            {% endif %}
                            {% if adgroup.campaign.budget %}{{adgroup.campaign.budget|currency}} daily budget.{% else %}Unlimited budget.{% endif %}
                        </span>
                    </th>
                    <td class="dataTable-data numeric">{{adgroup.bid|currency}}</td>
                    <td class="dataTable-data numeric">{{adgroup|campaign_status}}</td>
                    <td class="dataTable-data numeric">{{adgroup.stats.impression_count|withsep}}</td>
                    <td class="dataTable-data numeric">{{adgroup.stats.click_count|withsep}}</td>
                    <td class="dataTable-data numeric">{{adgroup.stats.ctr|percentage|withsep}}</td>
                    <td class="dataTable-data numeric">{{adgroup.stats.conversion_count|withsep}} ({{adgroup.stats.conv_rate|percentage}})</td>
                    <td class="dataTable-data numeric">{{adgroup.stats.cpa|currency}}</td>
                  </tr>
                  {% endfor %}
                  <tr class="campaignData campaignData-placeholder">
                    <th class="campaignData-icon"></th>
                    <th class="dataTable-name"><span class="muted">None</span></th>
                    <td class="dataTable-data numeric"></td>
                    <td class="dataTable-data numeric"></td>
                    <td class="dataTable-data numeric"></td>
                    <td class="dataTable-data numeric"></td>
                    <td class="dataTable-data numeric"></td>
                    <td class="dataTable-data numeric"></td>
                    <td class="dataTable-data numeric"></td>
                  </tr>
                </tbody>
              </table>
              
              <div class="form-submit-left"> 
                <span class="buttonWrap"><a class="button" id="campaignForm-pause">Pause</a>
                <a class="button" id="campaignForm-resume">Resume</a>
                <a class="button" id="campaignForm-delete">Delete</a></span> 
              </div> 
            </form> 
          </section>
{% endblock content %}
