{% extends 'advertiser/base.html' %}
{% load filters %}
{% load super_if %}

{% block navLinks %}
<li><a href="{% url publisher_index %}">Dashboard</a></li>
<li class="active"><a href="{% url advertiser_campaign %}">Campaigns</a></li>
<li><a href="{% url reports_index %}">Reports</a></li>
{% endblock navLinks %}
{% block pageTitle %}<h1>{% ifequal account.status 'step4' %}Step 3: Set up an ad campaign{% else %}Campaigns{% endifequal %}</h1>{% endblock pageTitle %}
{% block titleBarRight %}
    {% ifequal account.status 'step4' %}
            <!-- MixPanel Tracking -->
            <script type="text/javascript">
            mpq.push(["track", "Sign up: Campaign dashboard"]);
            </script>
            <div class="stepProgress"> 
              <span class="stepProgress-step">Step 1: Add app</span> 
              <span class="ui-icon ui-icon-arrow-1-e"></span> 
              <span class="stepProgress-step">Step 2: Integrate</span> 
              <span class="ui-icon ui-icon-arrow-1-e"></span> 
              <span class="stepProgress-step stepProgress-active">Step 3: Add campaigns</span> 
            </div>
    {% else %}        
        <span class="titlebar-right">
            <a class="button" id="advertisers-testAdServer" href="#">Test Campaigns</a>
        </span>
    {% endifequal %}
            
{% endblock titleBarRight %}
    
    
{% block messageCenter %}{% endblock messageCenter %}
{% block dateButtons %}{% ifnotequal account.status 'step4' %}
          <div id="titlebar-center">
            <span class="buttonset" id="dashboard-dateOptions">
              <input type="radio" name="dashboard-dateOptions-option" value="7" id="dashboard-dateOptions-option-7" {% ifequal date_range 7 %}checked="checked" {% endifequal %}/>
              <label for="dashboard-dateOptions-option-7">7 days</label>
              <input type="radio" name="dashboard-dateOptions-option" value="14" id="dashboard-dateOptions-option-14" {% ifequal date_range 14 %}checked="checked" {% endifequal %}{% if not date_range %}checked="checked" {% endif %}/>
              <label for="dashboard-dateOptions-option-14">14 days</label>
              <input type="radio" name="dashboard-dateOptions-option" value="30" id="dashboard-dateOptions-option-30" {% ifequal date_range 30 %}checked="checked" {% endifequal %}/>
              <label for="dashboard-dateOptions-option-30">30 days</label>
              <input type="radio" name="dashboard-dateOptions-option" value="custom" id="dashboard-dateOptions-option-custom" />
              <label for="dashboard-dateOptions-option-custom">Custom ...</label>
            </span>
            <div id="dashboard-dateOptions-custom-modal">
              <div id="dashboard-dateOptions-custom-from"><h4>Start date:</h4></div>
              <div id="dashboard-dateOptions-custom-to"><h4>End date:</h4></div>
            </div>
          </div>
{% endifnotequal %}{% endblock dateButtons %}

{% block content %}
<div id="ajaxFailure" style="display:none">
    <a href="#" id="ajaxDismiss"><img src="../images/icons/199_16x16.png"></img></a>
    There was a problem retrieving data for some of your campaigns. 
    <a href="#" id="ajaxRetry"><img src="../images/icons/92_16x16.png"></img> <strong>Retry</strong></a>
</div>
{% ifequal account.status "step4" %}
          <div class="alertMessage">
            Finally, you will need to set up at least one ad campaign to serve into your inventory.  A <strong>Guaranteed</strong> ad campaign is typically a direct sold ad campaign.  <strong>Promotional</strong> campaigns are for house ads like an upsell.  A <strong>Network</strong> ad is an ad served from a ad network like AdMob.
          </div>
{% endifequal %}
{% ifequal account.status "step3" %}
          <div class="alertMessage">
            The next step is to set up your ad networks.  Visit your <a href="{% url account_index %}">Account</a> page to enable your ad networks.
          </div>
{% endifequal %}
{% if not apps %}
          <div class="alertMessage">
            Before you set up your ad campaigns, we recommend that you set up your App inventory.  Visit the <a href="{% url publisher_index %}">Dashboard</a> to add your Apps.
          </div>
{% endif %}
          <div class="separated">
            <section class="offset nomargin" id="dashboard-stats">
              <h3 class="stats-chart-title">Realtime Stats for {{start_date|format_date_compact}} to {{end_date|format_date_compact}}</h3>
              <div class="stats">
                <div class="stats-breakdown">
                  <table>
                    <tbody>
                      <tr class="active" id="stats-breakdown-impressions">
                        <td class="stats-breakdown-value today"><span class="inner"></span></td>
                        <td class="stats-breakdown-value yesterday"><span class="inner"></span></td>
                        <td class="stats-breakdown-value all"><span class="inner"></span></td>
                        <th class="stats-breakdown-name"><span class="inner">Impressions</span></th>
                      </tr>
                      <tr id="stats-breakdown-revenue">
                        <td class="stats-breakdown-value today"><span class="inner"></span></td>
                        <td class="stats-breakdown-value yesterday"><span class="inner"></span></td>
                        <td class="stats-breakdown-value all"><span class="inner"></span></td>
                        <th class="stats-breakdown-name"><span class="inner">Revenue</span></th>
                      </tr>
                      <tr id="stats-breakdown-clicks">
                        <td class="stats-breakdown-value today"><span class="inner"></span></td>
                        <td class="stats-breakdown-value yesterday"><span class="inner"></span></td>
                        <td class="stats-breakdown-value all"><span class="inner"></span></td>
                        <th class="stats-breakdown-name"><span class="inner">Clicks</span></th>
                      </tr>
                      <tr id="stats-breakdown-ctr">
                        <td class="stats-breakdown-value today"><span class="inner"></span></td>
                        <td class="stats-breakdown-value yesterday"><span class="inner"></span></td>
                        <td class="stats-breakdown-value all"><span class="inner"></span></td>
                        <th class="stats-breakdown-name"><span class="inner">CTR</span></th>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <div class="stats-breakdown-buttons">
                  <span class="buttonset button-small" id="stats-breakdown-dateOptions">
                    <input type="radio" name="stats-breakdown-dateOptions-option" value="today" id="stats-breakdown-dateOptions-option-0" checked="checked"/>
                    <label for="stats-breakdown-dateOptions-option-0">Today</label>
                    <input type="radio" name="stats-breakdown-dateOptions-option" value="yesterday" id="stats-breakdown-dateOptions-option-1"/>
                    <label for="stats-breakdown-dateOptions-option-1">Yesterday</label>
                    <input type="radio" name="stats-breakdown-dateOptions-option" value="all" id="stats-breakdown-dateOptions-option-2"/>
                    <label for="stats-breakdown-dateOptions-option-2">All</label>
                  </span>
                </div>
                <div class="chart stats-chart" id="dashboard-stats-chart">
                </div>
              </div>
              <div class="clear"></div>
            </section>
          </div>
          <section id="dashboard-campaigns">
            <div id="campaigns-control-panel">
              <div class="center-button-bank">
    
                <span class="buttonset-start-disabled" id="campaigns-filterOptions"> 
                  <input type="radio" name="campaigns-filterOptions-option" value="campaign-status-all" checked="checked" id="campaigns-filterOptions-option-all"/> 
                  <label for="campaigns-filterOptions-option-all">All</label> 
                  <input type="radio" name="campaigns-filterOptions-option" value="campaign-status-Running" id="campaigns-filterOptions-option-Running"/> 
                  <label for="campaigns-filterOptions-option-Running">Running</label> 
                  <input type="radio" name="campaigns-filterOptions-option" value="campaign-status-Paused" id="campaigns-filterOptions-option-Paused" /> 
                  <label for="campaigns-filterOptions-option-Paused">Paused</label> 
                  <input type="radio" name="campaigns-filterOptions-option" value="campaign-status-Scheduled" id="campaigns-filterOptions-option-Scheduled" /> 
                  <label for="campaigns-filterOptions-option-Scheduled">Scheduled</label> 
                </span>
              
                <select name="campaigns-appFilterOptions" id="campaigns-appFilterOptions"> 
                            <option id="campaigns-appFilterOptions-option-all" value="campaign-status-all">All Apps</option>
                                {% for app in apps %}
                                <option value="campaign-targeting-{{app.key}}">{{app.name}}</option> 
                                {% endfor %}
                        </select>
              </div>
               <a class="button" id="advertisers-addCampaign" href="{% url advertiser_campaign_create %}">Add a campaign</a>
            </div>
            
            <div id="adserverTest" style="display:none;">
                <iframe height="480" width="350" id="adserverTest-iFrame" scrolling="no">
                </iframe>    
                <div id="adserverTest-iFrame-src" style="display:none;">{% url advertiser_adserver_test %}</div>    
            </div>    
            
            <form method="post" action="{% url advertiser_bid_pause %}" id="campaignForm">
              <input type="hidden" name="action" id="action"/>
              <h2>Guaranteed {% if not guarantee_num %}<span class="muted">(None)</span>{% endif %}
                  <img id="gtee-loading-img" class="loading-img" style="display:none" src="../images/icons-custom/spinner-16.gif"></img>
              </h2>
              {% if guarantee_num %}<div id='gtee-rollups' class="campaignData-rollup">
                  <table width=100% style='text-align:center; font-size:18px; font-weight:400;'>
                      <thead>
                          <tr>
                              <th width=25%>Impressions</th>
                              <th width=25%>Clicks</th>
                              <th width=25%>CTR</th>
                              <th width=25%>Revenue</th>
                          </tr>
                      </thead>
                      <tbody>
                          <tr>
                              <td id='gtee-total-imp'>--</td>
                              <td id='gtee-total-clk'>--</td>
                              <td id='gtee-total-ctr'>--</td>
                              <td id='gtee-total-rev'>--</td>
                          </tr>
                      </tbody>
                  </table>
              </div>

              {% for level in guarantee_levels %}
              {% if level.display %} 
              <table class="dataTable campaignData-main" id="campaignDataTable-direct-{{level.name}}">
                    <thead>
                      <tr>
                        <th class="campaignData-icon"></th>
                        <th class="dataTable-name">{{level.name}} Priority</th>
                        <th class="dataTable-data numeric">eCPM <a href="#" id="campaign-ecpm-helpLink" class="whatsthis"><div class="whatsthis-icon"></div></th>
                        <th class="dataTable-data numeric">Status</th>
                        <th class="dataTable-data numeric">Impressions</th>
                        <th class="dataTable-data numeric">Clicks</th>
                        <th class="dataTable-data numeric">CTR</th>
                        <th class="dataTable-data numeric">Conv</th>
                        <th class="dataTable-data numeric">CPA</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for adgroup in level.adgroups %}

                      <tr class="campaignData gtee_row campaign-status-all campaign-targeting-all incomplete 
                      {% for app_key in adgroup.targeted_app_keys %} campaign-targeting-{{ app_key }} {% endfor %}"
                      id="{{adgroup.key}}">
                        <th class="campaignData-icon">
                            <input type="checkbox" name="id" value="{{adgroup.key}}"/>
                            {% if adgroup.deleted %}<img src="/images/deleted.gif" height=9 width=9 />{% endif %}
                            {% if adgroup.active and not adgroup.deleted %}<img src="/images/active.gif" height=9 width=9 />{% endif %}
                            {% if not adgroup.active and not adgroup.deleted %}<img src="/images/paused.gif" height=9 width=9 />{% endif %}
                        </th> 
                        <th class="dataTable-name">
                            <a href="{% url advertiser_adgroup_show adgroup_key=adgroup.key %}">{{adgroup.name}}</a><br/>
                            <span class="muted">
                                {% if adgroup.campaign.start_date and adgroup.campaign.end_date %}
                                {{adgroup.campaign.start_date|format_date_compact}}-{{adgroup.campaign.end_date|format_date_compact}}.
                                {% endif %} {% if adgroup.campaign.start_date and not adgroup.campaign.end_date %}
                                Starts {{adgroup.campaign.start_date|format_date_compact}}.
                                {% endif %} {% if not adgroup.campaign.start_date and adgroup.campaign.end_date %}
                                Ends {{adgroup.campaign.start_date|format_date_compact}}.
                                {% endif %} {% if not adgroup.campaign.start_date and not adgroup.campaign.end_date %}
                                All dates.
                                {% endif %}
                                {% ifequal adgroup.campaign.budget_type 'daily' %}{% if adgroup.campaign.budget %}{{adgroup.campaign.budget|currency}} daily budget.{% else %} Unlimited budget.{% endif %}{% endifequal %}
                                {% ifequal adgroup.campaign.budget_type 'full_campaign' %}{{adgroup.campaign.full_budget|currency}} campaign budget.{% endifequal %}
                            </span>
                        </th>

                        {% if adgroup.cpc %}
                        <td class="dataTable-data numeric dataTable-ecpm">
                          <div class="dataTable-campaign-ecpm ecpm">--</div>
                        </td>
                        {% else %}
                        <td class="dataTable-data numeric dataTable-ecpm ecpm">--</td>
                        {% endif %}
                        
                        <td class="dataTable-data numeric">
                            <div class="status">--</div>
                            <div class="on_schedule muted"></div>
                        </td>
                        <td class='gtee-rev rev' style='display:none;'></td>
                        <td class="dataTable-data numeric gtee-imp imp">--</td>
                        <td class="dataTable-data numeric gtee-clk clk">--</td>
                        <td class="dataTable-data numeric gtee-ctr ctr">--</td>
                        <td class="dataTable-data numeric gtee-conv conv">--</td>
                        <td class="dataTable-data numeric gtee-cpa cpa">--</td>
                      </tr>
                      {% endfor %}
                      {% endif %}
                {% endfor %}
                </tbody>
              </table>{% endif %}
              <h2>Promotional {% if not promo %}<span class="muted">(None)</span>{% endif %}
                  <img id="promo-loading-img" class="loading-img" style="display:none" src="../images/icons-custom/spinner-16.gif"></img>
              </h2>
              {% if promo %}<div id='promo-rollups' class="campaignData-rollup">
                  <table width=100% style='text-align:center; font-size:18px; font-weight:400;'>
                      <thead>
                          <tr>
                              <th width=25%>Impressions</th>
                              <th width=25%>Clicks</th>
                              <th width=25%>CTR</th>
                              <th width=25%>Conversions</th>
                          </tr>
                      </thead>
                      <tbody>
                          <tr>
                              <td id='promo-total-imp'>--</td>
                              <td id='promo-total-clk'>--</td>
                              <td id='promo-total-ctr'>--</td>
                              <td id='promo-total-conv'>--</td>
                              <td></td>
                          </tr>
                      </tbody>
                  </table>
              </div>
              <table class="dataTable campaignData-main">
                <thead>
                  <tr>
                    <th class="campaignData-icon"></th>
                    <th class="dataTable-name">Name</th>
                    <th class="dataTable-data numeric">eCPM <a href="#" id="campaign-ecpm-helpLink" class="whatsthis"><div class="whatsthis-icon"></div></th>
                    <th class="dataTable-data numeric">Status</th>
                    <th class="dataTable-data numeric">Impressions</th>
                    <th class="dataTable-data numeric">Clicks</th>
                    <th class="dataTable-data numeric">CTR</th>
                    <th class="dataTable-data numeric">Conv</th>
                    <th class="dataTable-data numeric">CPA</th>
                  </tr>
                </thead>
                <tbody>
                  {% for adgroup in promo %}
                  <tr class="campaignData promo_row campaign-status-all campaign-targeting-all incomplete 
                    {% for app_key in adgroup.targeted_app_keys %} campaign-targeting-{{ app_key }} {% endfor %}"
                    id="{{adgroup.key}}">
                    <th class="campaignData-icon">
                      <input type="checkbox" name="id" value="{{adgroup.key}}"/>
                      {% if adgroup.deleted %}<img src="/images/deleted.gif" height=9 width=9 />{% endif %}
                      {% if adgroup.active and not adgroup.deleted %}<img src="/images/active.gif" height=9 width=9 />{% endif %}
                      {% if not adgroup.active and not adgroup.deleted %}<img src="/images/paused.gif" height=9 width=9 />{% endif %}
                    </th> 
                    <th class="dataTable-name">
                        <a href="{% url advertiser_adgroup_show adgroup_key=adgroup.key %}">{{adgroup.name}}</a><br/>
                        <span class="muted">
                            {% if adgroup.campaign.start_date and adgroup.campaign.end_date %}
                            {{adgroup.campaign.start_date|format_date_compact}}-{{adgroup.campaign.end_date|format_date_compact}}.
                            {% endif %} {% if adgroup.campaign.start_date and not adgroup.campaign.end_date %}
                            Starts {{adgroup.campaign.start_date|format_date_compact}}.
                            {% endif %} {% if not adgroup.campaign.start_date and adgroup.campaign.end_date %}
                            Ends {{adgroup.campaign.start_date|format_date_compact}}.
                            {% endif %} {% if not adgroup.campaign.start_date and not adgroup.campaign.end_date %}
                            All dates.
                            {% endif %}
                            {% if adgroup.campaign.budget %}{{adgroup.campaign.budget|currency}} daily budget.{% else %}Unlimited budget.{% endif %}
                        </span>
                    </th>
                    <td class="dataTable-data numeric dataTable-ecpm ecpm">
                        {% if adgroup.bid_strategy == 'cpm' %}
                        --
                        {% endif %}
                        {% if adgroup.bid_strategy == 'cpc' %}
                        <div class="dataTable-campaign-ecpm ecpm">--</div>
                        {% endif %}
                    </td>    
                    <td class="dataTable-data numeric status">--</td>
                    <td class="dataTable-data numeric promo-imp imp">--</td>
                    <td class="dataTable-data numeric promo-clk clk">--</td>
                    <td class="dataTable-data numeric promo-ctr ctr">--</td>
                    <td class="dataTable-data numeric promo-conv conv">--</td>
                    <td class="dataTable-data numeric promo-cpa cpa">--</td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>{% endif %}
              <h2>Network  {% if not network %}<span class="muted">(None)</span>{% endif %}
                  <img id="network-loading-img" class="loading-img" style="display:none" src="../images/icons-custom/spinner-16.gif"></img>
              </h2>
              {% if network %}<div id='network-rollups' class="campaignData-rollup">
                  <table width=100% style='text-align:center; font-size:18px; font-weight:400;'>
                      <thead>
                          <tr>
                              <th width=25%>Impressions</th>
                              <th width=25%>Clicks</th>
                              <th width=25%>CTR</th>
                              <th width=25%>Fill Rate (Attempts)</th>
                          </tr>
                      </thead>
                      <tbody>
                          <tr>
                              <td id='network-total-imp'>--</td>
                              <td id='network-total-clk'>--</td>
                              <td id='network-total-ctr'>--</td>
                              <td id='network-total-fill'>--</td>
                          </tr>
                      </tbody>
                  </table>
              </div>
              <table class="dataTable campaignData-main">
                <thead>
                  <tr>
                    <th class="campaignData-icon"></th>
                    <th class="dataTable-name">Name</th>
                    <th class="dataTable-data numeric">eCPM <a href="#" id="campaign-ecpm-helpLink" class="whatsthis"><div class="whatsthis-icon"></div></th>
                    <th class="dataTable-data numeric">Attempts</th>
                    <th class="dataTable-data numeric">Impressions</th>
                    <th class="dataTable-data numeric">Fillrate</th>
                    <th class="dataTable-data numeric">Clicks</th>
                    <th class="dataTable-data numeric">CTR</th>
                    <th class="dataTable-data numeric">&nbsp;</th>
                  </tr>
                </thead>
                <tbody>
                  {% for adgroup in network %}
                  <tr class="campaignData network_row campaign-status-all campaign-targeting-all incomplete 
                    {% for app_key in adgroup.targeted_app_keys %} campaign-targeting-{{ app_key }} {% endfor %}"
                    
                   id="{{adgroup.key}}">

                    <th class="campaignData-icon">
                      <input type="checkbox" name="id" value="{{adgroup.key}}"/>
                      {% if adgroup.deleted %}<img src="/images/deleted.gif" height=9 width=9 />{% endif %}
                      {% if adgroup.active and not adgroup.deleted %}<img src="/images/active.gif" height=9 width=9 />{% endif %}
                      {% if not adgroup.active and not adgroup.deleted %}<img src="/images/paused.gif" height=9 width=9 />{% endif %}
                    </th> 
                    <th class="dataTable-name">
                      <a href="{% url advertiser_adgroup_show adgroup_key=adgroup.key %}">{{adgroup.name}}</a><br/>

                      <span class="muted">{{adgroup.network_type}}</span>
                    </th>
                    {% if adgroup.cpc %}
                    <td class="dataTable-data numeric dataTable-ecpm">
                        <div class="dataTable-campaign-ecpm ecpm">--</div>
                    </td>
                    {% else %}
                    <td class="dataTable-data numeric dataTable-ecpm ecpm">--</td>
                    {% endif %}
                    <td class="dataTable-data numeric network-req req">--</td>
                    <td class="dataTable-data numeric network-imp imp">--</td>
                    <td class="dataTable-data numeric network-fill fill">--</td>
                    <td class="dataTable-data numeric network-clk clk">--</td>
                    <td class="dataTable-data numeric network-ctr ctr">--</td>
                    <td class="dataTable-data numeric">&nbsp;</td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>{% endif %}
              <h2>Backfill Promotional {% if not backfill_promo %}<span class="muted">(None)</span>{% endif %}
                  <img id="bfill-loading-img" class="loading-img" style="display:none" src="../images/icons-custom/spinner-16.gif"></img>
              </h2>
              {% if backfill_promo %}<div id='bfill-rollups' class="campaignData-rollup">
                  <table width=100% style='text-align:center; font-size:18px; font-weight:400;'>
                      <thead>
                          <tr>
                              <th width=25%>Impressions</th>
                              <th width=25%>Clicks</th>
                              <th width=25%>CTR</th>
                              <th width=25%>Conversions</th>
                          </tr>
                      </thead>
                      <tbody>
                          <tr>
                              <td id='bfill-total-imp'>--</td>
                              <td id='bfill-total-clk'>--</td>
                              <td id='bfill-total-ctr'>--</td>
                              <td id='bfill-total-conv'>--</td>
                          </tr>
                      </tbody>
                  </table>
              </div>
              <table class="dataTable campaignData-main">
                <thead>
                  <tr>
                    <th class="campaignData-icon"></th>
                    <th class="dataTable-name">Name</th>
                    <th class="dataTable-data numeric">eCPM <a href="#" id="campaign-ecpm-helpLink" class="whatsthis"><div class="whatsthis-icon"></div></th>
                    <th class="dataTable-data numeric">Status</th>
                    <th class="dataTable-data numeric">Impressions</th>
                    <th class="dataTable-data numeric">Clicks</th>
                    <th class="dataTable-data numeric">CTR</th>
                    <th class="dataTable-data numeric">Conv</th>
                    <th class="dataTable-data numeric">CPA</th>
                  </tr>
                </thead>
                <tbody>
                  {% for adgroup in backfill_promo %}
                  <tr class="campaignData bfill_row campaign-status-all campaign-targeting-all incomplete 
                    {% for app_key in adgroup.targeted_app_keys %} campaign-targeting-{{ app_key }} {% endfor %}" 
                    id="{{adgroup.key}}">
                    <th class="campaignData-icon">
                      <input type="checkbox" name="id" value="{{adgroup.key}}"/>
                      {% if adgroup.deleted %}<img src="/images/deleted.gif" height=9 width=9></img>{% endif %}
                      {% if adgroup.active and not adgroup.deleted %}<img src="/images/active.gif" height=9 width=9 />{% endif %}
                      {% if not adgroup.active and not adgroup.deleted %}<img src="/images/paused.gif" height=9 width=9 />{% endif %}
                    </th> 
                    <th class="dataTable-name">
                        <a href="{% url advertiser_adgroup_show adgroup_key=adgroup.key %}">{{adgroup.name}}</a><br/>
                        <span class="muted">
                            {% if adgroup.campaign.start_date and adgroup.campaign.end_date %}
                            {{adgroup.campaign.start_date|format_date_compact}}-{{adgroup.campaign.end_date|format_date_compact}}.
                            {% endif %} {% if adgroup.campaign.start_date and not adgroup.campaign.end_date %}
                            Starts {{adgroup.campaign.start_date|format_date_compact}}.
                            {% endif %} {% if not adgroup.campaign.start_date and adgroup.campaign.end_date %}
                            Ends {{adgroup.campaign.start_date|format_date_compact}}.
                            {% endif %} {% if not adgroup.campaign.start_date and not adgroup.campaign.end_date %}
                            All dates.
                            {% endif %}
                            {% if adgroup.campaign.budget %}{{adgroup.campaign.budget|currency}} daily budget.{% else %}Unlimited budget.{% endif %}
                        </span>
                    </th>
                    {% if adgroup.cpc %}
                    <td class="dataTable-data numeric dataTable-ecpm">
                        <div class="dataTable-campaign-ecpm ecpm">--</div>
                    </td>
                    {% else %}
                    <td class="dataTable-data numeric dataTable-ecpm ecpm">--</td>
                    {% endif %}
                        
                    <td class="dataTable-data numeric status">--</td>
                    <td class="dataTable-data numeric bfill-imp imp">--</td>
                    <td class="dataTable-data numeric bfill-clk clk">--</td>
                    <td class="dataTable-data numeric bfill-ctr ctr">--</td>
                    <td class="dataTable-data numeric bfill-conv conv">--</td>
                    <td class="dataTable-data numeric bfill-cpa cpa">--</td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>{% endif %}
              
              <div class="form-submit-left"> 
                <span class="buttonWrap"><a class="button" id="campaignForm-pause">Pause</a>
                <a class="button" id="campaignForm-resume">Resume</a>
              </div> 
            </form> 
          </section>
          
          {# Help Content #}
          <div id="campaign-ecpm-helpContent" class="hidden"> 
            <h3>Revenue Optimized Campaign eCPM</h3>
            <p>We calculate the <strong>eCPM</strong> for CPC campaigns by combining the CPC of the campaign with our CTR calculated in real time. </p>
            <p> This number may vary over time. This is perfectly natural and our system will adjust to these fluctuations in real time. </p>
            <p> Campaigns that have not yet begun use the average CTR of the entire app to calculate eCPM. </p>        
          </div>
          
          <div id="campaign-osi-success-helpContent" class="hidden"> 
            <h3>On Schedule Indicator</h3>
            <p> The on-schedule indicator tells you that your campaign is on track to hit its budget goal based on current traffic and settings. </p>
          </div>
          
          <div id="campaign-osi-failure-helpContent" class="hidden"> 
            <h3>Behind Schedule Indicator</h3>
            <p> The behind-schedule indicator tells you that your campaign is delivering at less than 95% and may not meet its delivery goal. </p>
            <p> Some possible causes of this problem are:
              <ul>
                <li> Format mismatch (e.g. your adunits are 320x50 and your creatives are interstitial) </li>
                <li> Overly strict frequency capping (e.g. one per person) </li>
                <li> Insufficient traffic </li>
              </ul>
            
          </div>
          
{% endblock content %}

{% block extraScripts %}
<script>
    var mopub = mopub || {};
    $(function() {
        mopub.isCampaignsPage = true;
        mopub.graphStartDate = Date.UTC({{start_date.year}}, 
            {{start_date.month|add:"-1"}}, 
            {{start_date.day}});
        mopub.accountStats = {{account_stats|safe}};
    });
</script>
<script src="/js/mopub-advertiser.js?v=60"></script>
<script src='/js/tokenize_in.js'></script>
<script src='/js/countries.js'></script>
{% endblock extraScripts %}
