{% extends 'advertiser/base.html' %}
{% load filters %}

{% block dateButtons %}{% endblock dateButtons %}

{% block pageTitle %}
<div class="breadcrumb">
  <a class="linkIcon breadcrumb-back" href="{% url advertiser_campaign %}"><span class="ui-icon ui-icon-arrowthick-1-w"></span> Back to Campaigns</a>
  <h1> Campaign Archive </h1>
</div>
{% endblock pageTitle %}

{% block content %}

<form method="post" action="{% url advertiser_bid_pause %}" id="campaignForm">

  {% if not archived_adgroups %}
    <h2 id="no-archived-campaigns">There are currently no archived campaigns.</h2>

  {% else %}

  <input type="hidden" name="action" id="action"/>
  <table class="dataTable campaignData-main" id="campaignDataTable-direct-{{level.name}}">
    <thead>
      <tr>
        <th class="campaignData-icon"></th>
        <th class="dataTable-name">Name</th>
        <th class="dataTable-created-date">Created</th>
        <th class="dataTable-start-date">Start Date</th>
        <th class="dataTable-end-date">End Date</th>
        <th class="dataTable-budget-goal">Budget Goal</th>
        <th class="dataTable-budget-delivered">Budget Delivered</th>
        <th class="dataTable-rate">Rate</th>
      </tr>
    </thead>
    <tbody>
      {% for adgroup in archived_adgroups %}

      <tr class="alternating-color" id="{{adgroup.key}}">
        <td class="campaignData-icon">
            <input type="checkbox" name="id" value="{{adgroup.key}}"/>
        </td>
        <td class="dataTable-name">
            <a href="{% url advertiser_adgroup_show adgroup_key=adgroup.key %}">{{adgroup.name}}</a><br/>
        </td>
        {# <td class="dataTable-data"> #}
        {#   {{ adgroup.advertiser }} #}
        {# </td> #}

        <td class="dataTable-date-short">
          {{ adgroup.created_date }}
        </td>
        <td class="dataTable-date-short">
          {% if adgroup.campaign.start_date %}
          {{ adgroup.campaign.start_date }}
          {% endif %}
        </td>
        <td class="dataTable-date-short">
          {% if adgroup.campaign.end_date %}
          {{ adgroup.campaign.end_date }}
          {% endif %}
        </td>
        <td class="dataTable-data">

          {% if adgroup.campaign.budget_type == "full_campaign" %}
            {{ adgroup.campaign.full_budget|currency }}
          {% else %}
            {% if adgroup.campaign.budget_type == "daily" %}
                {{ adgroup.campaign.budget|currency }} daily
              {% else %}
                Unlimit ed
            {% endif %}
          {% endif %}

        </td>
        <td class="dataTable-data">
           {{ adgroup.budget.total_spent|currency }}
        </td>
        <td class="dataTable-data">
           {{ adgroup.bid|currency }} {{ adgroup.bid_strategy|upper }}
        </td>

      </tr>
      {% endfor %}
    </tbody>
  </table>

  <div class="form-submit-left">
    <span class="buttonWrap">
    <a class="button" id="campaignForm-activate">Activate</a>
    <a class="button" id="campaignForm-delete">Delete</a>
    </span>
  </div>
</form>
<div id="archive-link" >
  <a class="linkIcon" href="{% url advertiser_campaign %}"><span class="ui-icon ui-icon-arrowthick-1-w"></span> View Active Campaigns </a>
</div>

{% endif %}
{% endblock content %}
