{% extends 'common/base.html' %}
{% load filters %}

{% block extraCSS %}<link rel="stylesheet" href="/css/token-input-mopub.css" />{% endblock %}

{% block pageTitle %}
  <h1> Orders </h1>
{% endblock pageTitle %}
{% block titleBarRight %}{% endblock titleBarRight %}

{% block navLinks %}
  <li><a href="{% url app_index %}">Dashboard</a></li>
  <li class="active"><a href="{% url advertiser_order_index %}">Orders</a></li>
  <li><a href="{% url marketplace_index %}">Marketplace</a></li>
  <li><a href="{% url network_index %}">Networks</a></li>
 {% endblock navLinks %}
