<div class="modal hidden preview" id="preview-{{ creative.key }}">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">×</button>
    <h3>{{ creative.name }}</h3>
  </div>

  <div class="modal-body" style="max-height: 500px;">
    <input name="src" type="hidden" value="{% url advertiser_creative_html creative.key %}" />
    <iframe frameborder="0"
            scrolling="no"
            {% if creative.width %}
              width="{{ creative.width }}"
              height="{{ creative.height }}"
            {% else %}
              {% if creative.landscape %}
                width="480" height="320"
              {% else %}
                width="320" height="480"
              {% endif %}
            {% endif %}
            style="background: url(/images/report-preloader.gif) center no-repeat;">
      <p>Your browser does not support iframes.</p>
    </iframe>
  </div>

  <div class="modal-footer">
    <a href="#" class="btn" data-dismiss="modal">Close</a>
  </div>
</div>
