{% extends "advertiser/base.html" %}

{% load filters %}


{% block content %}
	<h3>
		Campaigns
		<div class="toolbar">
			<select><option>All Apps</option></select>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			<button type="button" class="btn"><a href="{% url advertiser_campaign_create %}"><span><span>Add Campaign</span></span></a></button>
		</div>
	</h3>
	<p>
		<b>Campaigns</b> are used to set budgets and start and end date for mobile ads.<br/>
		<b>Ad Groups</b> match targeting criteria with ads that are targeted to those users.
	</p>
	
	<h3>Today's Stats</h3>
	<table class="rollups">
		<tr>
			<td class="rollup"><b>Impressions</b><br/>15,000</td>
			<td class="rollup"><b>Clicks</b><br/>150 (1.0%)</td>
			<td class="rollup"><b>Revenue</b><br/>$75.00</td>
		</tr>
	</table>
	
	<h4>
		Guaranteed
	</h4>
	<table class="wide">
		<thead>
			<th width="25%">Campaign</th>
			<th>Status</th>
			<th width="75px">Impr.</th>
			<th width="75px">Clicks</th>
			<th width="75px">Revenue</th>
			<th width="75px">Delivery%</th>
		</thead>
		{% for c in gtee %}
			<tr>
				<td><a href="{% url advertiser_campaign_show campaign_key=c.key%}">{{c.name}}</a></td>
				<td>
					<b>
						{% if campaign.deleted %}
							Deleted
						{% endif %}
						{% if campaign.active and not campaign.deleted %}
							Active
						{% endif %}
						{% if not campaign.active and not campaign.deleted %}
							Paused
						{% endif %}
					</b>
				</td>
				<td class="numeric">{{c.stats.impression_count}}</td>
				<td class="numeric">{{c.stats.click_count}} ({{c.stats.ctr|percentage}})
				<td class="numeric">{{c.stats.revenue|currency}}</td>
				<td class="numeric">{{c.delivery|percentage}}</td>
			</tr>
		{% empty %}
			<tr><td>Nothing</td></tr>
		{% endfor %}
	</table>
	
	<h4>
		Promotional
	</h4>
	<table class="wide">
		<thead>
			<th width="25%">Campaign</th>
			<th>Status</th>
			<th width="75px">Impr.</th>
			<th width="75px">Clicks</th>
			<th width="75px">Revenue</th>
			<th width="75px">Delivery%</th>
		</thead>
		{% for c in promo %}
			<tr>
				<td><a href="{% url advertiser_campaign_show campaign_key=c.key%}">{{c.name}}</a></td>
				<td>{{c.budget|currency}}</td>
				<td>
					<b>
						{% if campaign.deleted %}
							Deleted
						{% endif %}
						{% if campaign.active and not campaign.deleted %}
							Active
						{% endif %}
						{% if not campaign.active and not campaign.deleted %}
							Paused
						{% endif %}
					</b>
				</td>
				<td class="numeric">{{c.stats.impression_count}}</td>
				<td class="numeric">{{c.stats.click_count}} ({{c.stats.ctr|percentage}})
				<td class="numeric">{{c.stats.revenue|currency}}</td>
			</tr>
		{% endfor %}
	</table>
	
	<h4>
		Network
	</h4>
	<table class="wide">
		<thead>
			<th width="25%">Campaign</th>
			<th>Status</th>
			<th width="75px">Impr.</th>
			<th width="75px">Clicks</th>
			<th width="75px">Revenue</th>
			<th width="75px">Delivery%</th>
		</thead>
		{% for c in network %}
			<tr>
				<td><a href="{% url advertiser_campaign_show campaign_key=c.key%}">{{c.name}}</a></td>
				<td>
					<b>
						{% if campaign.deleted %}
							Deleted
						{% endif %}
						{% if campaign.active and not campaign.deleted %}
							Active
						{% endif %}
						{% if not campaign.active and not campaign.deleted %}
							Paused
						{% endif %}
					</b>
				</td>
				<td class="numeric">{{c.stats.impression_count}}</td>
				<td class="numeric">{{c.stats.click_count}} ({{c.stats.ctr|percentage}})
				<td class="numeric">{{c.stats.revenue|currency}}</td>
				<td class="numeric">{{c.delivery|percentage}}</td>
			</tr>
		{% empty %}
			<tr><td>Nothing</td></tr>
		{% endfor %}
	</table>
{% endblock %}
