{% extends "advertiser/base.html" %}

{% load filters %}


{% block content %}
	<h3>
		Campaigns
		<div class="toolbar">
			<button type="button" class="btn"><a href="{% url advertiser_campaign_create %}"><span><span>Add Campaign</span></span></a></button>
		</div>
	</h3>
	<table class="rollups">
		<tr>
			<td class="rollup"><b>Impressions</b><br/>{{today.impression_count|withsep}}</td>
			<td class="rollup"><b>Clicks</b><br/>{{today.click_count|withsep}} ({{today.ctr|percentage}})</td>
			<td class="rollup"><b>Revenue</b><br/>{{today.revenue|currency}}</td>
		</tr>
	</table>
	
	<img src="{{chart_url}}" width=780 height=200 style="padding: 5px 0 10px 0;"/>
	
	<h4>
		Guaranteed
	</h4>
	<table class="wide">
		<thead>
			<th width="25%">Campaign</th>
			<th>Status</th>
			<th width="75px">Impr.</th>
			<th width="75px">Clicks</th>
			<th width="75px">Revenue</th>
			<th width="75px">Delivery%</th>
		</thead>
		{% for c in gtee %}
			<tr>
				<td><a href="{% url advertiser_campaign_show campaign_key=c.key%}">{{c.name}}</a></td>
				<td>
					{% if c.deleted %}
						<img src="/images/deleted.gif" width=9 height=9/>
					{% endif %}
					{% if c.active and not c.deleted %}
						<img src="/images/active.gif" width=9 height=9/>
					{% endif %}
					{% if not c.active and not c.deleted %}
						<img src="/images/paused.gif" width=9 height=9/>
					{% endif %}
				</td>
				<td class="numeric">{{c.stats.impression_count|withsep}}</td>
				<td class="numeric">{{c.stats.click_count|withsep}} ({{c.stats.ctr|percentage}})
				<td class="numeric">{{c.stats.revenue|currency}}</td>
				<td class="numeric">{{c.delivery|percentage}}</td>
			</tr>
		{% empty %}
			<tr><td>No campaigns.</td></tr>
		{% endfor %}
	</table>

	<h4>
		Promotional
	</h4>
	<table class="wide">
		<thead>
			<th width="25%">Campaign</th>
			<th>Status</th>
			<th width="75px">Impr.</th>
			<th width="75px">Clicks</th>
			<th width="75px">Revenue</th>
			<th width="75px">Delivery%</th>
		</thead>
		{% for c in promo %}
			<tr>
				<td><a href="{% url advertiser_campaign_show campaign_key=c.key%}">{{c.name}}</a></td>
				<td>{{c.budget|currency}}</td>
				<td>
					{% if c.deleted %}
						<img src="/images/deleted.gif" width=9 height=9/>
					{% endif %}
					{% if c.active and not c.deleted %}
						<img src="/images/active.gif" width=9 height=9/>
					{% endif %}
					{% if not c.active and not c.deleted %}
						<img src="/images/paused.gif" width=9 height=9/>
					{% endif %}
				</td>
				<td class="numeric">{{c.stats.impression_count|withsep}}</td>
				<td class="numeric">{{c.stats.click_count|withsep}} ({{c.stats.ctr|percentage}})
				<td class="numeric">{{c.stats.revenue|currency}}</td>
			</tr>
		{% empty %}
			<tr><td>No campaigns.</td></tr>
		{% endfor %}
	</table>

	<h4>
		Network
	</h4>
	<table class="wide">
		<thead>
			<th width="25%">Campaign</th>
			<th>Status</th>
			<th width="75px">Req.</th>
			<th width="75px">Impr.</th>
			<th width="75px">Clicks</th>
			<th width="75px">Revenue</th>
		</thead>
		{% for c in network %}
			<tr>
				<td><a href="{% url advertiser_campaign_show campaign_key=c.key%}">{{c.name}}</a></td>
				<td>
				{% if c.deleted %}
					<img src="/images/deleted.gif" width=9 height=9/>
				{% endif %}
				{% if c.active and not c.deleted %}
					<img src="/images/active.gif" width=9 height=9/>
				{% endif %}
				{% if not c.active and not c.deleted %}
					<img src="/images/paused.gif" width=9 height=9/>
				{% endif %}
				</td>
				<td class="numeric">{{c.stats.request_count|withsep}}</td>
				<td class="numeric">{{c.stats.impression_count|withsep}}</td>
				<td class="numeric">{{c.stats.click_count|withsep}} ({{c.stats.ctr|percentage}})
				<td class="numeric">{{c.stats.revenue|currency}}</td>
			</tr>
		{% empty %}
			<tr><td>No campaigns.</td></tr>
		{% endfor %}
	</table>
{% endblock %}
