{% extends 'advertiser/base.html' %}

{% load fields %}
{% load filters %}

{% block pageTitleTag %}{% if line_item_form.instance %}Edit {{ line_item_form.instance }}{% else %}New Line Item{% endif %}{% endblock %}

{% block pageTitle %}
<h1>{% if line_item_form.instance %}Edit {{ line_item_form.instance }}{% else %}New Line Item{% endif %}</h1>
{% endblock pageTitle %}

{% block dateButtons %}
{% endblock dateButtons %}

{% block content %}
<script type="text/javascript">
    $(function() {
        var validator = $('form#line_item').validate({
            errorPlacement: function(error, element) {
                element.closest('div').append(error);
            },
            submitHandler: function(form) {
                $(form).ajaxSubmit({
                    data: {ajax: true},
                    dataType: 'json',
                    success: function(jsonData, statusText, xhr, $form) {
                        if(jsonData.success) {
                            window.location = jsonData.redirect;
                            $('form#line_item #submit').button({
                                label: 'Success...',
                                disabled: true
                            });
                        } else {
                            validator.showErrors(jsonData.errors);
                            $('form#line_item #submit').button({
                                label: 'Try Again',
                                disabled: false
                            });
                        }
                    },
                    error: function(jqXHR, textStatus, errorThrown) {
                        $('form#line_item #submit').button({
                            label: 'Try Again',
                            disabled: false
                        });
                    },
                    beforeSubmit: function(arr, $form, options) {
                        $('form#line_item #submit').button({
                            label: 'Submitting...',
                            disabled: true
                        });
                    }
                });
            }
        });

        $('form#line_item #submit')
            .button({ icons : { secondary : 'ui-icon-circle-triangle-e' } })
            .click(function(e) {
                e.preventDefault();
                $('form#line_item').submit();
            });
    });

    // help links
    // TODO: make sure all of these are necessary, rename?
    $('a[id$="-helpLink"]').click(function(e) {
        console.log('triggered');
        e.preventDefault();
        $('#' + $(this).attr('id').replace('-helpLink', '-helpContent')).dialog({
            buttons: { "Close": function() { $(this).dialog("close"); } }
        });
    });

    // date controls
    $('input[type="text"].date').datepicker({minDate: 0});

    function makeValidTime(timeStr, defHour, defMin, defAmPm) {
        // Checks to see if a timeStr is valid, returns valid form
        // AM/PM (and variants) are optional.

        var timePat = /^(\d{1,2}):(\d{2})(\s?(AM|am|PM|pm|aM|pM|Pm|Am))?$/;

        if (defMin < 10) {
            defMin = '0' + defMin;
        }
        var matchArray = timeStr.match(timePat);
        if (matchArray == null) {
            return defHour + ':' + defMin + ' ' + defAmPm;
        }

        hour = matchArray[1];
        minute = matchArray[2];
        ampm = matchArray[4];

        // Handle military time stuff
        if (hour >= 12 && hour <= 23) {
            hour = hour - 12;
            // 12:00 AM to 12:00 PM
            // 12:00    to 12:00 PM
            //
            // 15:00 AM to 3:00 PM
            // 15:00 PM to 3:00 PM
            // 15:00    to 3:00 PM
            if (hour == 0) {
                hour = 12;
                if (ampm === undefined) {
                    ampm = 'PM';
                }
            }
            else {
                ampm = 'PM';
            }
        }

        if (hour == 0) {
            ampm = 'AM';
            hour = 12;
        }
        // Set invalid times to 0 minutes and 12 hours and default to AM
        if (minute < 0 || minute > 59) {
            minute = defMin;
        }
        if (hour < 0 || hour > 23) {
            hour = defHour;
        }
        if (ampm === undefined) {
            ampm = defAmPm;
        }

        else {
            ampm = ampm.toUpperCase();
        }
        return hour + ':' + minute + ' ' + ampm ;
    }

    $('input[name="start_datetime_0"]').change(function(e) {
        e.preventDefault();
        var val = $(this).val();
        if (val != '') {
            $('input[name="start_datetime_1"]').change();
        }
    });

    $('input[name="end_datetime_0"]').change(function(e) {
        e.preventDefault();
        var val = $(this).val();
        if (val != '') {
            $('input[name="end_datetime_1"]').change();
        }
    });

    $('input[name$="_datetime_1"]').change(function(e){
        e.preventDefault();
        var name = $(this).attr('name');
        var val = $(this).val();
        if (name == 'start_datetime_1') {
            if($('input[name="start_datetime_0"]').val() == '') {
                val = '';
            } else {
                val = makeValidTime(val, 12, 0, 'AM');
            }
        }
        else if (name == 'end_datetime_1') {
            if($('input[name="end_datetime_0"]').val() == '') {
                val = '';
            } else {
                val = makeValidTime(val, 11, 59, 'PM');
            }
        }
        $(this).val(val);
    });

    $('input[name="end_datetime_0"], input[name="end_datetime_1"], select[name="budget_type"], select[name="budget_strategy"]').change(function(){
        if(!$('input[name="end_datetime_0"]').val() &&
           !$('input[name="end_datetime_1"]').val() &&
           $('select[name="budget_type"]').val() == 'full_campaign') {
            $('input#id_budget_strategy_1').prop('checked', 'checked');
            $('input#id_budget_strategy_0').removeProp('checked');
            $('input#id_budget_strategy_0').attr('disabled', 'disabled');
        }
        else {
            $('input#id_budget_strategy_0').removeAttr('disabled');
        }
    }).change();


    $('#all-adunits').change(function() {
        // select or deselect all adunits
        $('input[name="site_keys"]').prop('checked', $(this).prop('checked'));
    });

    // device targeting
    $('input[name="device_targeting"]').change(function() {
        if($(this).val() == '0') {
            $('#device_targeting').slideUp();
        }
        else {
            $('#device_targeting').slideDown();
        }
    });
    // update on document ready
    if($('input[name="device_targeting"]').val() == '0') {
        $('#device_targeting').hide();
    }

    // change form based on bid_strategy
    $('select[name="bid_strategy"]').change(function() {
        bid_strategy = $(this).val();
            budget_type_options = $('select[name="budget_type"] option');
        if(bid_strategy == 'cpm') {
            budget_type_options[0].innerHTML = 'impressions/day';
            budget_type_options[1].innerHTML = 'total impressions';
        }
        else {
            budget_type_options[0].innerHTML = 'USD/day';
            budget_type_options[1].innerHTML = 'total USD';
        }
    }).change(); // update on document ready

    priors = {{ line_item_form.geo_predicates|field_value|to_json|safe }};
    city_priors = {{ line_item_form.cities|field_value|to_json|safe }};
</script>

<div>
    <h2>Order</h2>
    {{ order }}
</div>

<form id="line_item" method="post">
    <fieldset>
        <legend>
            <h2>Line Item</h2>
            <p>Line items are individual ad spots.</p>
        </legend>

        <ul>
            <li>
                {{ line_item_form.adgroup_type.label_tag }}
                <div>
                    {{ line_item_form.adgroup_type }}
                    <a href="#" id="adgroup_type-helpLink">What's this?</a>
                    <div class="hidden" id="adgroup_type-helpContent">
                        <h3>Campaign Type</h3>
                        <h4>Guaranteed</h4>
                        <p>A <strong>Guaranteed</strong> ad campaign is typically a direct sold campaign with a set CPM for a certain number of impressions and a start and end date.</p>
                        <h4>Promotional</h4>
                        <p>A <strong>Promotional</strong> campaign is for house ads like advertising another of your applications, ads for the paid version of your app or other functions like a "rate this app" campaign.</p>
                    </div>
                </div>
            </li>

            <li class="campaign_type_dependant gtee">
                {{ line_item_form.gtee_priority.label_tag }}
                <div>
                    {{ line_item_form.gtee_priority }}
                    <a href="#" id="campaignForm-priority-helpLink">What's this?</a>
                    <div id="campaignForm-priority-helpContent" class="hidden">
                        <h3>Priority</h3>
                        <p>Within a given priority campaigns are run in order of CPM.  By assigning a campaign priority you set it to run before those at a lower priority level.</p>
                    </div>
                </div>
            </li>

            <li class="campaign_type_dependant promo">
                {{ line_item_form.promo_priority.label_tag }}
                <div>
                    {{ line_item_form.promo_priority }}
                    <a href="#" id="campaignForm-promo-priority-helpLink">What's this?</a>
                    <div id="campaignForm-promo-priority-helpContent" class="hidden">
                        <h3>Priority</h3>
                        <p>For a promotional campaign, you may pick whether it is prioritized above (<strong>Normal</strong>) or below ad networks (<strong>Backfill</strong>).</p>
                    </div>
                </div>
            </li>

            <li>
                {{ line_item_form.name.label_tag }}
                <div>
                    {{ line_item_form.name }}
                </div>
            </li>

            <li>
                {{ line_item_form.start_datetime.label_tag }}
                <div>
                    {{ line_item_form.start_datetime }} PST
                </div>
            </li>

            <li>
                {{ line_item_form.end_datetime.label_tag }}
                <div>
                    {{ line_item_form.end_datetime}} PST
                </div>
            </li>

            <li>
                {{ line_item_form.bid_strategy.label_tag }}
                <div>
                    {{ line_item_form.bid_strategy }} @ {{ line_item_form.bid }} USD
                    <a class="campaign_type_dependant promo whatsthis" id="bid-promo-helpLink" href="#">What's this?</a>
                    <div id="bid-promo-helpContent" class="hidden">
                        <h3>Promotional CPM</h3>
                        <p>MoPub uses CPM to prioritize which promotional campaign will be displayed.  To raise the priority of a campaign, increase the CPM.</p>
                    </div>
                </div>
            </li>

            <li class="campaign_type_dependant gtee">
                {{ line_item_form.budget.label_tag }}
                <div>
                    {{ line_item_form.budget }}
                    {{ line_item_form.budget_type }}
                </div>
            </li>

            <li class="campaign_type_dependant gtee">
                {{ line_item_form.budget_strategy.label_tag }}
                <div>
                    <span class="radios">
                        {% comment %}
                        The latest version of Django makes it easy to modify the
                        RadioSelect widget.  Since it is not simple here, this
                        wrapper is used to style it.
                        {% endcomment %}
                        {{ line_item_form.budget_strategy }}
                    </span>
                </div>
            </li>
        </ul>
    </fieldset>

    <fieldset>
        <legend>
            <h2>Targeting</h2>
            <p>Choose which ad units this campaign will target.</p>
        </legend>

        <span id="apps_label">
            Ad Units:<br />
            <label>( <input id="all-adunits" type="checkbox" /> All )</label>
        </span>

        <ul id="apps">
            {% for app in apps %}
            <li>
                <img src="{{ app.icon_url }}" />
                <div>
                    <label>
                        {{ app.name }} <span class="muted">({% ifequal app.app_type "iphone" %}iOS{% endifequal %}{% ifequal app.app_type "android" %}Android{% endifequal %}{% ifequal app.app_type "mweb" %}Mobile Web{% endifequal %})</span>
                    </label>
                    <ul class="adunits">
                        {% for adunit in app.adunits %}
                          {% if not adunit.deleted %}
                            <li>
                              <label>
                                <input {% if adunit.key in line_item_form.site_keys|display_value %}checked="checked"{% endif %} name="site_keys" type="checkbox" value="{{ adunit.key }}" />
                                {{ adunit.name }}
                              </label>
                            </li>
                          {% endif %}
                        {% endfor %}
                    </ul>
                </div>
            </li>
            {% endfor %}
        </ul>
    </fieldset>

    <fieldset class="hidden" id="advanced">
        <ul class="form_fields">
            <li>
                {{ line_item_form.allocation_percentage.label_tag }}
                <div>
                    {{ line_item_form.allocation_percentage }} % of all requests
                </div>
            </li>
            <li>
                {{ line_item_form.daily_frequency_cap.label_tag }}
                <div>
                    {{ line_item_form.daily_frequency_cap }} daily impressions per user<br />
                    {{ line_item_form.hourly_frequency_cap }} hourly impressions per user
                </div>
            </li>
            <li>
                {{ line_item_form.device_targeting.label_tag }}
                <div>
                    {% comment %}
                    This field should be rendered using a Django widget, but
                    there is no good option in 1.2 for a Boolean RadioSelect.
                    {% endcomment %}
                    <span class="radios">
                        <ul>
                            <li><label for="id_device_targeting_0"><input type="radio" id="id_device_targeting_0" value="0" name="device_targeting" {% if not line_item_form.device_targeting|display_value %}checked="checked"{% endif %}> All</label></li>
                            <li><label for="id_device_targeting_1"><input type="radio" id="id_device_targeting_1" value="1" name="device_targeting" {% if line_item_form.device_targeting|display_value %}checked="checked"{% endif %}> Filter by device and OS</label></li>
                        </ul>
                    </span>
                    <ul id="device_targeting">
                        <li>
                            <ul class="device_type">
                                <li><label>{{ line_item_form.target_iphone }} {{ line_item_form.target_iphone.label }}</label></li>
                                <li><label>{{ line_item_form.target_ipod }} {{ line_item_form.target_ipod.label }}</label></li>
                                <li><label>{{ line_item_form.target_ipad }} {{ line_item_form.target_ipad.label }}</label></li>
                            </ul>
                            {{ line_item_form.ios_version_min.label_tag }}
                            {{ line_item_form.ios_version_min }}
                            {{ line_item_form.ios_version_max.label_tag }}
                            {{ line_item_form.ios_version_max }}
                        </li>
                        <li>
                            <label class="device_type">{{ line_item_form.target_android }} {{ line_item_form.target_android.label }}</label>
                            {{ line_item_form.android_version_min.label_tag }}
                            {{ line_item_form.android_version_min }}
                            {{ line_item_form.android_version_max.label_tag }}
                            {{ line_item_form.android_version_max }}
                        </li>
                        <li>
                            <label class="device_type">{{ line_item_form.target_other }} {{ line_item_form.target_other.label }}</label>
                            <span class="muted">(All versions)</span>
                        </li>
                    </ul>
                </div>
            </li>
            <li>
                <label>Country Targeting:</label>
                <div>
                    <div id="geo_pred_ta" name="geo_predicates"></div>
                </div>
            </li>
            <li class="countryNumDependent 0 1" style="display: none;">
                {{ line_item_form.region_targeting.label_tag }}
                <div>
                    <span class="radios">{{ line_item_form.region_targeting }}</span>
                </div>
            </li>
            <li class="locationDependent city" style="display: none;">
                <label>City Targeting:</label>
                <div>
                    <div class="countryNumDependent 0" style="display: none;" id="city_fake">Please input a country</div>
                    <div class="countryNumDependent 1" style="display: none;"><div id="city_ta"></div></div>
                </div>
            </li>
            <li>
                {{ line_item_form.keywords.label_tag }}
                <div>
                    {{ line_item_form.keywords }}
                    <a href="#" id="campaignForm-keyword-helpLink">What's this?</a>
                    <div id="campaignForm-keyword-helpContent" class="hidden">
                        <h3>Keywords</h3>
                        <p>
                            Keywords may be used to target select requests and user data. Enter one group of keywords per line. Within each line the keywords are ANDed by using the seperator "AND". All lines are otherwised ORed together.
                            <br/><br/>
                            e.g. In order to target 24-year-old males or any 25-year-old you can use special keywords
                            <br/><br/>
                            m_age:24 AND m_gender:M
                            <br/>
                            m_age:25
                            <br/><br/>
                            Note: Keywords should only be used if your app is sending keywords with the ad request.
                        </p>
                    </div>
                </div>
            </li>
        </ul>
    </fieldset>

    <a class="button button-small" id="toggle_advanced" href="#">Show Advanced Targeting</a>

    <div class="form-submit"><a class="button" id="submit" href="#">Continue</a></div>
</form>
{% endblock %}
