{% extends 'advertiser/base.html' %}

{% load filters %}
{% load elements %}

{% block pageTitleTag %}
{% comment %}TODO: title{% endcomment %}
{% endblock %}

{% block pageTitle %}
<h1>
    <a href='{% url advertiser_order_index %}'> Orders </a> /
    <a href='{% url advertiser_order_detail order_key=order.key %}'> {{ order.name }} </a> /
    {{ line_item.name }}
</h1>
{% endblock pageTitle %}

{% block dateButtons %}
{% endblock dateButtons %}

{% block content %}
  {% if not targeted_apps %}
    <div class="alert-message block-message">
      This line item is not targeted at any <strong>Ad Units</strong>.
      In order for this line item to deliver, you will need to target
      at least one Ad Unit.
    </div>
  {% endif %}
  {% if not line_item.creatives.count %}
    <div class="alert-message block-message">
      This line item needs to have at least
      one <strong>Creative</strong> in order to serve.  Set up a
      creative below.
    </div>
  {% endif %}

{# The stats breakdown and graph #}

  {% chart_placeholder start_date end_date %}
  
<br />

<section>
    <h3 class="left">
    Status for {{ line_item.name }}
    (part of <a href='{% url advertiser_order_detail order_key=order.key %}'> {{ order.name }} </a>)
    </h3>

    <a class="btn right" href="{% url advertiser_line_item_form_edit line_item.key %}">
        <i class="icon-pencil"> </i>
        Edit Line Item
    </a>

    {% line_item_table line_item %}
    
    <br />
    
    <div class="btn-group">
      <button class="btn status_change" data-toggle="pause">
        {% button_icon "pause" %}
        Pause
      </button>
      <button class="btn status_change" data-toggle="play">
        {% button_icon "play" %}
        Resume
      </button>
      <button class="btn status_change" data-toggle="archive">
        {% button_icon "stop" %}
        Archive
      </button>
    </div>

    {% if user.is_admin %}
    <a class="btn right" href="/budget/view/{{line_item.key}}">
      {% button_icon "wrench" %}
      Admin Budget View
    </a>
    {% endif %}

</section>


{# Table that shows all of the adunits being targeted #}
<section>
    <h3 class="left"> Inventory targeted by {{ line_item.name }} </h3>

    {% comment %}
    <a class="btn right" href="#">
      <i class="icon-random"></i>
      Change targeting
    </a>
    {% endcomment %}

    {% inventory_table targeted_apps %}
</section>

<section>

    <button class="btn right {% if not line_item.creatives.count %}hidden{% endif %}" id="new_creative_button">
        <i class="icon-plus"></i>
        Add a creative
    </button>

    <h2>Creatives</h2>

    <form action="{% url advertiser_creative_form_new line_item.key %}"
      {% if line_item.creatives.count %}class="hidden"{% endif %}
      enctype="multipart/form-data"
      id="new_creative_form"
      method="post">
      
        {% creative_form %}
          
        <button class="btn right submit">Continue</button>
        <button class="btn right cancel">Cancel</button>
        <div class="clear"></div>
    </form>

    {% creative_table line_item.creatives %}

    <br />

    <div class="btn-group">
      <button class="btn status_change" data-toggle="pause">
        {% button_icon "pause" %}
        Pause
      </button>
      <button class="btn status_change" data-toggle="play">
        {% button_icon "play" %}
        Resume
      </button>
      <button class="btn status_change" data-toggle="delete">
        {% button_icon "trash" %}
        Delete
      </button>
    </div>
</section>


{% endblock content %}

{% block extraScripts %}

  {% include_template "chart" %}
  {% include_template "popover" %}
  
  {% include_script "models/inventory" %}
  {% include_script "views/inventory" %}
  {% include_script "controllers/orders" %}
  
  <script type="text/javascript">
    $(function() {
        var OrdersController = mopub.Controllers.OrdersController;
        OrdersController.initializeLineItemDetail({
            order_key: "{{ order.key }}",
            line_item_key: "{{ line_item.key }}",
            start_date:  {{ start_date|js_date }},
            targeted_apps: [ {% for t_app in targeted_apps %} "{{ t_app.key }}", {% endfor %}],
            targeted_adunits: [ {% for t_adunit in targeted_adunits %} "{{ t_adunit.key }}", {% endfor %}],
        });
    });
</script>
{% endblock extraScripts %}
