{% extends "advertiser/base.html" %}
{% load filters %}
{% load elements %}

{% block dateButtons %}{% endblock dateButtons %}

{% block pageTitle %}
<h1> Line Items </h1>
{% endblock pageTitle %}

{% block content %}

  <div class="rollup">
    <table width=100% style='text-align:center; font-size:18px; font-weight:400;'>
      <thead>
        <tr style="border:none;">
          <th width=25%>Impressions</th>
          <th width=25%>Clicks</th>
          <th width=25%>CTR</th>
          <th width=25%>Conversions</th>
        </tr>
      </thead>
      <tbody>
        <tr style="border:none;">
          {% if totals %}
            <td> {{ totals.impressions|withsep|default_if_none:"0"|withsep }} </td>
            <td> {{ totals.clicks|withsep|default_if_none:"0" }} </td>
            <td> {{ totals.ctr|percentage|default_if_none:"0.0%" }} </td>
            <td> {{ totals.conversions|withsep|default_if_none:"0" }} </td>
          {% else %}
            <td> 0 </td>
            <td> 0 </td>
            <td> 0.0% </td>
            <td> 0 </td>
          {% endif %}
        </tr>
      </tbody>
    </table>
  </div>



  {# Order activity controls #}
  <div class="left btn-group">
    <button class="btn status_change" data-toggle="pause">
      <i class="icon-pause"></i> Pause
    </button>
    <button class="btn status_change" data-toggle="play">
      <i class="icon-play"></i> Resume
    </button>
    <button class="btn status_change" data-toggle="archive">
      <i class="icon-inbox"></i> Archive
    </button>
  </div>
  
  <div class="right">
    <div class="btn-group">
      <a class="btn" href="{% url advertiser_order_index %}">
        <i class="icon-eye-open"></i>
        Go to Orders
      </a>
    </div>
    <div class="btn-group">
      <a class="btn" href="#" id="filter-button">
        Show All 
      </a>
      <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
        <span class="caret"></span>
      </a>
      <ul class="dropdown-menu">
        <li>
          <a class="filter-toggle" href="#" data-toggle="running">
            <i class="icon-ok toggle-check invisible"></i>
            Running
          </a>
        </li>
        <li>
          <a class="filter-toggle" href="#" data-toggle="scheduled">
            <i class="icon-ok toggle-check invisible"></i>
            Scheduled
          </a>
        </li>
        <li>
          <a class="filter-toggle" href="#" data-toggle="completed">
            <i class="icon-ok toggle-check invisible"></i>
            Completed
          </a>
        </li>
        <li>
          <a class="filter-toggle" href="#" data-toggle="paused">
            <i class="icon-ok toggle-check invisible"></i>
            Paused
          </a>
        </li>
        <li>
          <a class="filter-toggle" href="#" data-toggle="archived">
            <i class="icon-ok toggle-check invisible"></i>
            Archived
          </a>
        </li>                
      </ul>
    </div>
  </div>

  
  {% line_item_table line_items %}

  <br />

  <div class="right">
    <div class="btn-group">
      <a class="btn" href="#"><i class="icon-download-alt"></i> Export</a>
      <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
        <span class="caret"></span>
      </a>
      <ul class="dropdown-menu">
        <li> <a href="#" data-toggle="running"> XLS </a> </li>
        <li> <a href="#" data-toggle="running"> CSV </a> </li>
      </ul>
    </div>
  </div>
    
{% endblock content %}

{% block extraScripts %}
  {% include_script "models/inventory" %}
  {% include_script "views/inventory" %}
  {% include_script "controllers/orders" %}
  <script type="text/javascript">
    $(function() {
        var OrdersController = mopub.Controllers.OrdersController;
        OrdersController.initializeLineItemIndex({});
    });
  </script>
{% endblock extraScripts %}
