{% extends 'advertiser/base.html' %}

{% load filters %}
{% load elements %}

{% block pageTitleTag %}
{% comment %}TODO: title{% endcomment %}
{% endblock %}

{% block pageTitle %}
  <h1>
    <a href='{% url advertiser_order_index %}'> Orders </a> /
    <a href='{% url advertiser_order_detail order_key=order.key %}'> {{ order.name }} </a> /
    {{ line_item.name }}
  </h1>
{% endblock pageTitle %}

{% block dateButtons %}
{% endblock dateButtons %}

{% block content %}

  {# The stats breakdown and graph #}
  <section class="offset" id="dashboard-stats">
    <h3 class="stats-chart-title">
      Realtime Stats for {{start_date|format_date_compact}} to
      {{end_date|format_date_compact}}
    </h3>

    <div class="stats">
      {% stats_breakdown stats %}
      <div class="chart stats-chart" id="dashboard-stats-chart">
        <img class="preload" src="/images/report-preloader.gif" />
      </div>
    </div>
  </section>

  <section>
    <h3 class="left">
      Status for {{ line_item.name }}
      (part of <a href='{% url advertiser_order_detail order_key=order.key %}'> {{ order.name }} </a>)
    </h3>

    <a class="btn right" href="{% url advertiser_line_item_form_edit line_item.key %}">
      <i class="icon-pencil"> </i>
      Edit Line Item
    </a>

    
    {% line_item_table line_item %}
        
    {% if user.is_admin %}
      <a class='btn' href="/budget/view/{{line_item.key}}"> Admin Budget View </a>
    {% endif %}
  </section>
  

  {# Table that shows all of the adunits being targeted #}
  <section>
    <h3 class="left"> Inventory targeted by {{ line_item.name }} </h3>
    <a class="btn right" href="#"> Change targeting </a>

    {% inventory_table targeted_apps %}

  </section>

<section id="dashboard-apps">
    <a class="button" id="advertiser-adgroups-addCreativeButton" href="#">Add a creative</a>

    <h2>Creatives</h2>

    <form action="{% url advertiser_creative_create %}" enctype="multipart/form-data" method="post">
        <fieldset id="creativeAddForm-details" class="alt">
            {% include 'advertiser/forms/creative_form.html' %}
            </div>
            <div class="clear"></div>
            <div class="form-submit">
            <span id="creativeCreateForm-success" class="hidden">Success!</span>
            <span class="buttonWrap">
            <a href="#" class="button" id="creativeCreateForm-submit">Save</a>
            </span>
            <span class="buttonWrap">
            <a href="#" class="button" id="creativeCreateForm-cancel">Cancel</a>
            </span>
        </fieldset>
    </form>

    {% for c in creatives %}
    <div id="{{c.key}}-edit" class="hidden advertiser-creativeEditForm">
    <form action="{% url advertiser_creative_create %}" method="POST" accept-charset="utf-8" id="creativeEditForm-{{forloop.counter0}}" enctype="multipart/form-data" class="creativeEditForm">
    <input type="hidden" name="adgroup_key" value="{{adgroup.key}}"/>
    <input type="hidden" name="creative_key" value="{{c.key}}"/>
    <fieldset id="creativeAddForm-details-{{forloop.counter0}}" class="alt">
    <div id="creativeEditForm-fragment-{{forloop.counter0}}" class="creativeEditForm-fragment">
    {{c.html_fragment}}
    </div>
    <div class="clear"></div>
    <div class="form-submit">
    <span id="creativeCreateForm-success" class="hidden creativeEditForm-success">Success!</span>
    <span class="buttonWrap"><a href="#" class="button creativeEditForm-submit" id="creativeCreateForm-submit">Save</a></span>
    <span class="buttonWrap"><a href="#" class="button creativeEditForm-cancel" id="creativeCreateForm-cancel">Cancel</a></span>
    </div>
    </fieldset>
    </form>
    </div>
    {% endfor %}
</section>
{% endblock content %}

{% block extraScripts %}
{% include_script "models/inventory" %}
{% include_script "views/inventory" %}
{% include_script "controllers/orders" %}
<script type="text/javascript">
    $(function() {
        var OrdersController = mopub.Controllers.OrdersController;
        OrdersController.initializeLineItemDetail({
            order_key: "{{ order.key }}",
            line_item_key: "{{ line_item.key }}",
            daily_stats: {
                requests: {{ stats.requests.series }},
                impressions: {{ stats.impressions.series }},
                clicks: {{ stats.clicks.series }},
                users: {{ stats.users.series }},
            },
            start_date:  Date.UTC({{ start_date.year }},
                                  {{ start_date.month|add:"-1" }},
                                  {{ start_date.day }}),
            targeted_apps: [ {% for t_app in targeted_apps %} "{{ t_app.key }}", {% endfor %}],
            targeted_adunits: [ {% for t_adunit in targeted_adunits %} "{{ t_adunit.key }}", {% endfor %}],
        });
    });
</script>
{% endblock extraScripts %}
