{% extends 'advertiser/base.html' %}

{% load fields %}
{% load filters %}

{% block pageTitleTag %}
{% comment %}TODO: title{% endcomment %}
{% endblock %}

{% block pageTitle %}
<h1>{% comment %}TODO: title{% endcomment %}</h1>
{% endblock pageTitle %}

{% block dateButtons %}
{% endblock dateButtons %}

{% block content %}
<div>{{ line_item }}</div>

<a href="{% url advertiser_line_item_form_edit line_item.campaign.key line_item.key %}">edit</a>
{% endblock %}

{% block extraScripts %}
{% include_script "models/inventory" %}
{% include_script "views/inventory" %}
{% include_script "controllers/orders" %}
<script type="text/javascript">
    $(function() {
        var OrdersController = mopub.Controllers.OrdersController;
        OrdersController.initializeLineItemDetail({});
    });
</script>
{% endblock extraScripts %}
