{% extends 'advertiser/base.html' %}

{% load filters %}
{% load elements %}

{% block pageTitleTag %}
{% comment %}TODO: title{% endcomment %}
{% endblock %}

{% block pageTitle %}
<h1>
    <a href='{% url advertiser_order_index %}'> Orders </a> /
    <a href='{% url advertiser_order_detail order_key=order.key %}'> {{ order.name }} </a> /
    {{ line_item.name }}
</h1>
{% endblock pageTitle %}

{% block dateButtons %}
{% endblock dateButtons %}

{% block content %}
{# The stats breakdown and graph #}
<section class="offset" id="dashboard-stats">
    <h3 class="stats-chart-title">
        Realtime Stats for {{start_date|format_date_compact}} to
        {{end_date|format_date_compact}}
    </h3>

    <div class="stats">
      {#{% stats_breakdown stats %}#}
      <div class="chart stats-chart" id="dashboard-stats-chart">
        <img class="preload" src="/images/report-preloader.gif" />
      </div>
    </div>
</section>

<section>
    <h3 class="left">
    Status for {{ line_item.name }}
    (part of <a href='{% url advertiser_order_detail order_key=order.key %}'> {{ order.name }} </a>)
    </h3>

    <a class="btn right" href="{% url advertiser_line_item_form_edit line_item.key %}">
        <i class="icon-pencil"> </i>
        Edit Line Item
    </a>

    {% line_item_table line_item %}

    {% if user.is_admin %}
    <a class='btn' href="/budget/view/{{line_item.key}}"> Admin Budget View </a>
    {% endif %}
</section>


{# Table that shows all of the adunits being targeted #}
<section>
    <h3 class="left"> Inventory targeted by {{ line_item.name }} </h3>

    {% comment %}
    <a class="btn right" href="#">
      <i class="icon-random"></i>
      Change targeting
    </a>
    {% endcomment %}

    {% inventory_table targeted_apps %}
</section>

<section>

    <button class="btn right {% if not line_item.creatives.count %}hidden{% endif %}" id="new_creative_button">
        <i class="icon-plus"></i>
        Add a creative
    </button>

    <h2>Creatives</h2>

    <form action="{% url advertiser_creative_form_new line_item.key %}" {% if line_item.creatives.count %}class="hidden"{% endif %} enctype="multipart/form-data" id="new_creative_form" method="post">
        {% creative_form %}
        <button class="btn right submit">Continue</button>
        <button class="btn right cancel">Cancel</button>
        <div class="clear"></div>
    </form>

    {% creative_table line_item.creatives %}

    <br />

    <div class="btn-group">
        <button class="btn status_change" data-toggle="pause">
            <i class="icon-pause"></i> Pause
        </button>
        <button class="btn status_change" data-toggle="play">
            <i class="icon-play"></i> Resume
        </button>
        <button class="btn status_change" data-toggle="delete">
            <i class="icon-delete"></i> Delete
        </button>
    </div>
</section>


{% endblock content %}

{% block extraScripts %}

  <script type="text/html" id="chart-template">
    {% include "common/partials/chart.html" %}
  </script>
  
{% include_script "models/inventory" %}
{% include_script "views/inventory" %}
{% include_script "controllers/orders" %}
<script type="text/javascript">
    $(function() {
        var OrdersController = mopub.Controllers.OrdersController;
        OrdersController.initializeLineItemDetail({
            order_key: "{{ order.key }}",
            line_item_key: "{{ line_item.key }}",
            start_date:  Date.UTC({{ start_date.year }},
                                  {{ start_date.month|add:"-1" }},
                                  {{ start_date.day }}),
            targeted_apps: [ {% for t_app in targeted_apps %} "{{ t_app.key }}", {% endfor %}],
            targeted_adunits: [ {% for t_adunit in targeted_adunits %} "{{ t_adunit.key }}", {% endfor %}],
        });
    });
</script>
{% endblock extraScripts %}
