{% extends "base.html" %}
{% load filters %}
{% block pageTitle %}<h1>Marketplace</h1>{% endblock pageTitle %}
{% block navLinks %}
<li><a href="{% url publisher_index %}">Dashboard</a></li>
<li><a href="{% url advertiser_campaign %}">Campaigns</a></li>
<li class="active"><a href="{% url marketplace_index %}">Marketplace</a></li>
<li><a href="{% url reports_index %}">Reports</a></li>
{% endblock navLinks %}


{% block messageCenter %} {% endblock messageCenter %}
{% block dateButtons %} {% endblock dateButtons %}