{% extends "base.html" %}
{% load filters %}

{% block pageTitle %}
  <h1>Marketplace</h1>
{% endblock pageTitle %}

{% block navLinks %}
  <li><a href="{% url publisher_index %}">Dashboard</a></li>
  <li><a href="{% url advertiser_campaign %}">Campaigns</a></li>
  <li class="active"><a href="{% url marketplace_index %}">Marketplace</a></li>
  <li><a href="{% url reports_index %}">Reports</a></li>
{% endblock navLinks %}

{% block messageCenter %} {% endblock messageCenter %}
{% block dateButtons %}

  <div id="titlebar-center">
    <span class="buttonset" id="dashboard-dateOptions">
      <input type="radio" name="dashboard-dateOptions-option" value="7" id="dashboard-dateOptions-option-7" {% ifequal date_range 7 %}checked="checked" {% endifequal %}/>
      <label for="dashboard-dateOptions-option-7">7 days</label>
      <input type="radio" name="dashboard-dateOptions-option" value="14" id="dashboard-dateOptions-option-14" {% ifequal date_range 14 %}checked="checked" {% endifequal %}{% if not date_range %}checked="checked" {% endif %}/>
      <label for="dashboard-dateOptions-option-14">14 days</label>
      <input type="radio" name="dashboard-dateOptions-option" value="30" id="dashboard-dateOptions-option-30" {% ifequal date_range 30 %}checked="checked" {% endifequal %}/>
        <label for="dashboard-dateOptions-option-30">30 days</label>
        <input type="radio" name="dashboard-dateOptions-option" value="custom" id="dashboard-dateOptions-option-custom" {% if date_range != 7 and date_range != 14 and date_range != 30 %}checked="checked" {% endif %}/>
        <label for="dashboard-dateOptions-option-custom">Custom ...</label>
      </span>
      <div id="dashboard-dateOptions-custom-modal">
        <div id="dashboard-dateOptions-custom-from"><h4>Start date:</h4></div>
        <div id="dashboard-dateOptions-custom-to"><h4>End date:</h4></div>
      </div>
    </div>
{% endblock dateButtons %}

{% block content %}

  {% if not marketplace_campaign.active %}
  <div class="alert-message block-message clearfix">
    <a href="#" class="close"> x </a>
    We've just launched MoPub Marketplace, our state of the art real-time bidding exchange.
    Flip the On/Off switch to get started,
    or take a look at our <a href="{% url mpx_info %}">information page</a> if you want to know more about how it works.
    <br />
    <div class="lightswitch right">
      <div class="switch on"></div>
    </div>
  </div>
  {% endif %}

  <ul class="tabs">
    <li class="active"> <a href="#performance"> App Performance </a> </li>
    <li> <a href="#controls"> Creative Performance </a> </li>
    <li> <a href="#settings"> Settings </a> </li>
  </ul>


  <div class="active tab-section" id="performance">

    <div class="rollup fig3">
      <div class="data-figure">
        <div class="figure">
          {{ top_level_mpx_stats.impressions|withsep }}
        </div>
        <div class="label">
          Impressions
        </div>
      </div>
      <div class="data-figure">
        <div class="figure">
          {{ top_level_mpx_stats.clicks|withsep }}
        </div>
        <div class="label">
          Clicks
        </div>
      </div>
      <div class="data-figure">
        <div class="figure">
          {{ top_level_mpx_stats.revenue|withsep }}
        </div>
        <div class="label">
          Revenue
        </div>
      </div>
    </div>


    <table class="zebra-striped simpletable" id="marketplace_stats">

      <thead>
        <th>App</th>
        <th width="70">Revenue</th>
        <th width="70">eCPM</th>
        {# <th>Attempts</th> #}
        <th width="100">Impressions</th>
        {# <th>Fill Rate</th> #}
        <th width="70">Clicks</th>
        <th width="70">CTR</th>
        <th width="120">Price Floor</th>
      </thead>

      <tbody> </tbody>

    </table>

  </div>


  <div class="tab-section" id="controls">

    <div class="rollup fig3">
      <div class="data-figure">
        <div class="figure">
          {{ creative_totals.imp|withsep }}
        </div>
        <div class="label">
          Impressions
        </div>
      </div>
      <div class="data-figure">
        <div class="figure">
          {{ creative_totals.clk|withsep }}
        </div>
        <div class="label">
          Clicks
        </div>
      </div>
      <div class="data-figure">
        <div class="figure">
          {{ creative_totals.pub_rev|currency|withsep }}
        </div>
        <div class="label">
          Revenue
        </div>
      </div>
    </div>


    <table class="zebra-striped sortable simpletable">
      <thead>
        <th> Creative </th>
        <th> Advertiser </th>
        <th> Revenue </th>
        <th> eCPM </th>
        <th> Impressions </th>
        <th> Clicks </th>
        <th> CTR </th>
      </thead>
      <tbody>
        {% for dsp in dsps %}
          {% for creative in dsp.creatives %}
            <tr>
              <td> <iframe src="{{ creative.creative.url }}" width="320px" height="50px"></iframe> </td>
              <td>
                {{ creative.creative.advertiser }}
                {% if creative.creative.advertiser_blocked %}
                  (Blocked)
                {% else %}
                  <a href="#" id={{ creative.creative.advertiser }} class="block"> Block </a>
                {% endif %}
              </td>
              <td style="text-align:right;"> {{ creative.stats.pub_rev|currency }} </td>
              <td style="text-align:right;"> {{ creative.stats.ecpm|currency }} </td>
              <td style="text-align:right;"> {{ creative.stats.imp }} </td>
              <td style="text-align:right;"> {{ creative.stats.clk }} </td>
              <td style="text-align:right;"> {{ creative.stats.ctr|percentage }} </td>
            </tr>
          {% endfor %}
        {% endfor %}
      </tbody>
      <tfoot>
        <td> Totals </td>
        <td></td>
        <td> {{ creative_totals.pub_rev|currency }} </td>
        <td> {{ creative_totals.ecpm|currency }} </td>
        <td> {{ creative_totals.imp }} </td>
        <td> {{ creative_totals.clk }} </td>
        <td> {{ creative_totals.ctr|percentage }} </td>
      </tfoot>
    </table>

  </div>


  <div class="clearfix tab-section" id="settings">

    <h2> Marketplace Settings </h2>
    <div class="well">
      <label for="blind"> Make my marketplace requests blind </label>
      <input name="blind" type="checkbox" disabled="disabled" />
      <br />
      <label for="default_price_floor"> Set the default price floor for targeted adunits </label>
      <input name="default_price_floor" type="checkbox" disabled="disabled" />
    </div>

    <h2>Blocklist</h2>
    <div class="well">
      <div class="clearfix" style="width: 560px;">
        <div id="current_blocklist" class="right">
          <h3> Currently Blocked </h3>
          {% for url in blocklist %}
            {{url}}
            <a href="{% url remove_blocklist_handler url %}">Remove</a>
            <br />
          {% empty %}
            There are no blocked advertisers
          {% endfor %}
        </div>


        <form action="{% url add_blocklist_handler %}" method="POST" id="addblocklist" class="validate left">
          <h3> Add blocked advertiser domains </h3>
          <textarea rows="10" cols="20" placeholder="Add blocked blocked advertiser domains here. You can add as many as you want at a time." name="blocklist"></textarea>
          <br />
          <a href="#" class="btn" id="blocklist-submit"> Add </a>
        </form>

      </div>


    </div>

    <div class="right button-group">
      <div class="big disabled btn"> Discard Changes </div>
      <div id="settings-submit" class="big primary btn"> Save All Settings </div>
    </div>
  </div>

{% endblock content %}


{% block extraScripts %}
  <script type="text/html" id="app-template">
    {% include "partials/app.html" %}
  </script>
  <script type="text/html" id="adunit-template">
    {% include "partials/adunit.html" %}
  </script>
  <script type="text/html">
    {% include "partials/inventory.html" %}
  </script>
  <script src="/js/mopub-advertiser.js?v=80"></script>
  <script type="text/javascript" src="/js/underscore.min.js"></script>
  <script type="text/javascript" src="/js/json2.js"></script>
  <script type="text/javascript" src="/js/backbone.min.js"></script>
  <script type="text/javascript" src="/js/jquery.tipsy.js"></script>
  <script type="text/javascript" src="/js/mopub-marketplace.js"></script>
  <script type="text/javascript">
    $(document).ready(function() {
        var app_keys = {{ app_keys|safe }};
        Marketplace.fetchAllApps(app_keys);

        $(".lightswitch").lightswitch();
    });
  </script>
{% endblock extraScripts %}
