{% extends "advertiser/base.html" %}
{% load filters %}
{% load elements %}


{% block pageTitle %}
  <h1>Networks</h1>
{% endblock pageTitle %}


{% block navLinks %}
  <li><a href="{% url app_index %}">Dashboard</a></li>
  <li><a href="{% url advertiser_campaign %}">Campaigns</a></li>
  <li><a href="{% url marketplace_index %}">Marketplace</a></li>
  <li class="active"><a href="{% url network_index %}">Networks</a></li>
{% endblock navLinks %}


{% block content %}
  <div class="clearfix">
    <section class="offset nomargin" id="dashboard-stats">

      <h3 class="stats-chart-title">
        Realtime Stats for {{start_date|format_date_compact}} to {{end_date|format_date_compact}}
      </h3>

      {# Controls and stats breakdown for the top realtime stats #}
      <div class="stats">
        {% stats_breakdown stats %}
        <div class="chart stats-chart" id="dashboard-stats-chart"></div>
      </div>

    </section>
  </div>

  <br />
  <a id="add_campaign_button" class="right button add icon"  href="{% url advertiser_campaign_create %}#network">Add a network</a>

  <form method="post" action="{% url advertiser_bid_pause %}" id="campaignForm">
    <input type="hidden" name="action" id="action"/>
    <div id="adgroups">
    </div>
    <div class="form-submit-left">
        <span class="buttonWrap">
            <a class="button pause icon" id="campaignForm-pause">Pause</a>
            <a class="button play icon" id="campaignForm-resume">Resume</a>
            <a class="button stop icon" id="campaignForm-delete">Delete</a>
        </span>
    </div>
  </form>

  {# Help Content #}
  <div id="campaign-ecpm-helpContent" class="hidden">
    <h3>Revenue Optimized Campaign eCPM</h3>
    <p>We calculate the <strong>eCPM</strong> for CPC campaigns by combining the CPC of the campaign with our CTR calculated in real time.</p>
    <p>This number may vary over time. This is perfectly natural and our system will adjust to these fluctuations in real time.</p>
    <p>Campaigns that have not yet begun use the average CTR of the entire app to calculate eCPM.</p>
  </div>
{% endblock content %}


{% block extraScripts %}
  <script type="text/html" id="adgroups-rollup-template">
    {% include "partials/adgroups_rollup.html" %}
  </script>
  <script type="text/html" id="adgroups-table-template">
    {% include "partials/adgroups_table.html" %}
  </script>
  <script type="text/javascript" src="/js/models.js?v=0"></script>
  <script type="text/javascript" src="/js/views.js?v=0"></script>
  <script type="text/javascript" src="/js/controllers/networks.js?v=0"></script>
  <script>
    $(function() {
      NetworksController(
        [{% for adgroup in network_adgroups %}{
          id: '{{ adgroup.key }}',
          active: {% if adgroup.active %}true{% else %}false{% endif %},
          name: '{{ adgroup.name }}',
          details_url: '{% url advertiser_adgroup_show adgroup_key=adgroup.key %}',
          network_type: '{{ adgroup.network_type }}'}{% if not forloop.last %},{% endif %}{% endfor %}],
        Date.UTC({{ start_date.year }}, {{ start_date.month|add:"-1" }}, {{ start_date.day }}),
        {% if today != None %}{{ today }}{% else %}null{% endif %},
        {% if yesterday != None %}{{ yesterday }}{% else %}null{% endif %},
        's={{ start_date.year }}-{{ start_date.month }}-{{ start_date.day }}&r={{ date_range }}'
      );
    });
  </script>
{% endblock extraScripts %}
