{% extends "advertiser/base.html" %}
{% load filters %}
{% load elements %}


{% block pageTitle %}
  <h1>Networks</h1>
{% endblock pageTitle %}


{% block navLinks %}
  <li><a href="{% url app_index %}">Dashboard</a></li>
  <li><a href="{% url advertiser_order_index %}">Orders</a></li>
  <li><a href="{% url marketplace_index %}">Marketplace</a></li>
  <li class="active"><a href="{% url network_index %}">Networks</a></li>
{% endblock navLinks %}

{% block titleBarRight %}
  <span class="titlebar-link">
    <a class="linkIcon" href="/ad_network_reports/">Ad Network Revenue Report <span class="ui-icon ui-icon-triangle-1-e"></span></a>
  </span>
{% endblock titleBarRight %}

{% block content %}
  <div class="clearfix">
    {% if network_adgroups %}
      <section class="offset nomargin" id="dashboard-stats">
        <h3 class="stats-chart-title">
          Realtime Stats for {{start_date|format_date_compact}} to {{end_date|format_date_compact}}
        </h3>
        {# Controls and stats breakdown for the top realtime stats #}
        <div class="stats">
          {% comment %}
            {% stats_breakdown stats %}
          {% endcomment %}
          <div class="stats">
            <div id="stats-breakdown" class="stats-breakdown">
              <table>
                <tbody>
                  <tr class="active" id="stats-breakdown-impression_count">
                    <td class="stats-breakdown-value today"><span class="inner">-</span></td>
                    <td class="stats-breakdown-value yesterday"><span class="inner">-</span></td>
                    <td class="stats-breakdown-value all"><span class="inner">-</span></td>
                    <th class="stats-breakdown-name"><span class="inner">Impressions</span></th>
                  </tr>
                  <tr id="stats-breakdown-click_count">
                    <td class="stats-breakdown-value today"><span class="inner">-</span></td>
                    <td class="stats-breakdown-value yesterday"><span class="inner">-</span></td>
                    <td class="stats-breakdown-value all"><span class="inner">-</span></td>
                    <th class="stats-breakdown-name"><span class="inner">Clicks</span></th>
                  </tr>
                  <tr id="stats-breakdown-ctr">
                    <td class="stats-breakdown-value today"><span class="inner">-</span></td>
                    <td class="stats-breakdown-value yesterday"><span class="inner">-</span></td>
                    <td class="stats-breakdown-value all"><span class="inner">-</span></td>
                    <th class="stats-breakdown-name"><span class="inner">CTR</span></th>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="stats-breakdown-buttons">
              <span class="buttonset button-small" id="stats-breakdown-dateOptions">
                <input type="radio" name="stats-breakdown-dateOptions-option" value="today" id="stats-breakdown-dateOptions-option-0" checked="checked"/>
                <label for="stats-breakdown-dateOptions-option-0">Today</label>
                <input type="radio" name="stats-breakdown-dateOptions-option" value="yesterday" id="stats-breakdown-dateOptions-option-1"/>
                <label for="stats-breakdown-dateOptions-option-1">Yesterday</label>
                <input type="radio" name="stats-breakdown-dateOptions-option" value="all" id="stats-breakdown-dateOptions-option-2"/>
                <label for="stats-breakdown-dateOptions-option-2">All</label>
              </span>
            </div>
            <div class="chart stats-chart" id="dashboard-stats-chart"></div>
          </div>
        </div>
      </section>
    {% endif %}
  </div>

  <br />
  <a id="add_campaign_button" class="right button add icon"  href="#">Add a network</a>

  <form method="post" action="{% url advertiser_bid_pause %}" id="campaignForm">
    <input type="hidden" name="action" id="action"/>
    <div id="adgroups">
    </div>
    <div class="form-submit-left">
      <span class="buttonWrap">
        <a class="button pause icon" id="campaignForm-pause">Pause</a>
        <a class="button play icon" id="campaignForm-resume">Resume</a>
        <a class="button stop icon" id="campaignForm-delete">Delete</a>
      </span>
    </div>
  </form>

  {# Help Content #}
  <div id="campaign-ecpm-helpContent" class="hidden">
    <h3>Revenue Optimized Campaign eCPM</h3>
    <p>We calculate the <strong>eCPM</strong> for CPC campaigns by combining the CPC of the campaign with our CTR calculated in real time.</p>
    <p>This number may vary over time. This is perfectly natural and our system will adjust to these fluctuations in real time.</p>
    <p>Campaigns that have not yet begun use the average CTR of the entire app to calculate eCPM.</p>
  </div>
{% endblock content %}


{% block extraScripts %}
  <script type="text/html" id="adgroups-rollup-template">
    {% include "common/partials/adgroups_rollup.html" %}
  </script>
  <script type="text/html" id="adgroups-table-template">
    {% include "common/partials/adgroups_table.html" %}
  </script>

  {% include_script "models/inventory" %}
  {% include_script "views/inventory" %}
  {% include_script "controllers/networks" %}

  <script>
    $(function() {

      NetworksController.initialize({
        adgroups_data: [{% for adgroup in network_adgroups %}
            {{ adgroup|adgroup_to_json|safe }}{% if not forloop.last %},{% endif %}
        {% endfor %}],

        graph_start_date: Date.UTC({{ start_date.year }},
                                   {{ start_date.month|add:"-1" }},
                                   {{ start_date.day }}),

        today: {% if today != None %}{{ today }}{% else %}null{% endif %},

        yesterday: {% if yesterday != None %}{{ yesterday }}{% else %}null{% endif %},

        ajax_query_string: 's={{ start_date.year }}-{{ start_date.month }}-{{ start_date.day }}&r={{ date_range }}{% if offline %}&offline=1{% endif %}'
        });
    });
  </script>
{% endblock extraScripts %}
