{% extends "advertiser/base.html" %}
{% load filters %}

{% block pageTitle %}
  <h1> Networks </h1>
{% endblock pageTitle %}

{% block navLinks %}
  <li><a href="{% url publisher_index %}">Dashboard</a></li>
  <li><a href="{% url advertiser_campaign %}">Campaigns</a></li>
  <li><a href="{% url marketplace_index %}">Marketplace</a></li>
  <li class="active"><a href="{% url network_index %}">Networks</a></li>
{% endblock navLinks %}


{% block content %}

  {% comment %}

  <h2> Ad Network Stats</h2>

  <div class="alert-message block-message info">
    MoPub is now collecting ad network performance data directly from ad networks you use. Below is the data we've collected from the ad networks for which you've given us login credentials. For more information, like network-specific performance, visit our new <a href="{% url ad_network_reports_index %}"> ad network reports dashboard</a>.
  </div>

  <div class="rollup fig3">

    <div class="data-figure">
      <div class="figure">
      </div>
      <div class="label">
        Revenue
      </div>
    </div>

    <div class="data-figure">
      <div class="figure">
      </div>
      <div class="label">
        Impressions
      </div>
    </div>

    <div class="data-figure">
      <div class="figure">
      </div>
      <div class="label">
        Clicks
      </div>
    </div>

    <div class="right"> <a href="{% url ad_network_reports_index %}"> Ad Network Reports </a> </div>
  </div>

  <br />

  {% if network_campaigns %}
    <h2>
      Network Performance
      <img id="network-loading-img" class="loading-img" style="display:none" src="../../images/icons-custom/spinner-16.gif"></img>
    </h2>
  {% else %}
    <h2> No network campaigns </h2>
  {% endif %}

  {% endcomment %}

  <div class="clearfix">
    <section class="offset nomargin" id="dashboard-stats">
      <h3 class="stats-chart-title">
        Realtime Stats for {{start_date|format_date_compact}} to {{end_date|format_date_compact}}
      </h3>

      {# Controls and stats breakdown for the top realtime stats #}
      <div class="stats">
        <div class="stats-breakdown">
          <table>
            <tbody>
              <tr id="stats-breakdown-revenue">
                <td class="stats-breakdown-value today"><span class="inner"></span></td>
                <td class="stats-breakdown-value yesterday"><span class="inner"></span></td>
                <td class="stats-breakdown-value all"><span class="inner"></span></td>
                <th class="stats-breakdown-name"><span class="inner">Revenue</span></th>
              </tr>
              <tr class="active" id="stats-breakdown-impressions">
                <td class="stats-breakdown-value today"><span class="inner"></span></td>
                <td class="stats-breakdown-value yesterday"><span class="inner"></span></td>
                <td class="stats-breakdown-value all"><span class="inner"></span></td>
                <th class="stats-breakdown-name"><span class="inner">Impressions</span></th>
              </tr>
              <tr id="stats-breakdown-clicks">
                <td class="stats-breakdown-value today"><span class="inner"></span></td>
                <td class="stats-breakdown-value yesterday"><span class="inner"></span></td>
                <td class="stats-breakdown-value all"><span class="inner"></span></td>
                <th class="stats-breakdown-name"><span class="inner">Clicks</span></th>
              </tr>
              <tr id="stats-breakdown-ctr">
                <td class="stats-breakdown-value today"><span class="inner"></span></td>
                <td class="stats-breakdown-value yesterday"><span class="inner"></span></td>
                <td class="stats-breakdown-value all"><span class="inner"></span></td>
                <th class="stats-breakdown-name"><span class="inner">CTR</span></th>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="stats-breakdown-buttons">
          <span class="buttonset button-small" id="stats-breakdown-dateOptions">
            <input type="radio" name="stats-breakdown-dateOptions-option" value="today" id="stats-breakdown-dateOptions-option-0" checked="checked"/>
            <label for="stats-breakdown-dateOptions-option-0">Today</label>
            <input type="radio" name="stats-breakdown-dateOptions-option" value="yesterday" id="stats-breakdown-dateOptions-option-1"/>
            <label for="stats-breakdown-dateOptions-option-1">Yesterday</label>
            <input type="radio" name="stats-breakdown-dateOptions-option" value="all" id="stats-breakdown-dateOptions-option-2"/>
            <label for="stats-breakdown-dateOptions-option-2">All</label>
          </span>
        </div>
        <div class="chart stats-chart hidden" id="revenue-chart"></div>
        <div class="chart stats-chart" id="dashboard-stats-chart"></div>
      </div>

    </section>
  </div>


  <br />
  <a id="add_campaign_button" class="right button add icon"  href="{% url advertiser_campaign_create %}#network">Add a network</a>
  <br />

  <br />
  {% if network_campaigns %}

  <h2>Ad Networks</h2>

    <form method="post" action="{% url advertiser_bid_pause %}" id="campaignForm">
      <input type="hidden" name="action" id="action"/>
      <div id='network-rollups' class="campaignData-rollup">
        <table width=100% style='text-align:center; font-size:18px; font-weight:400;'>
          <thead>
            <tr>
              <th width=25%>Impressions</th>
              <th width=25%>Clicks</th>
              <th width=25%>CTR</th>
              <th width=25%>Fill Rate (Attempts)</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td id='network-total-imp'>--</td>
              <td id='network-total-clk'>--</td>
              <td id='network-total-ctr'>--</td>
              <td id='network-total-fill'>--</td>
            </tr>
          </tbody>
        </table>
      </div>

      <table class="{#zebra-striped sortable simpletable#}dataTable campaignData-main">
        <thead>
          <tr>
            <th class="campaignData-icon"></th>
            <th>Name</th>
            <th style="text-align: right">eCPM <a href="#" id="campaign-ecpm-helpLink" class="whatsthis"><div class="whatsthis-icon"></div></th>
            <th style="text-align: right">Attempts</th>
            <th style="text-align: right" width="100">Impressions</th>
            <th style="text-align: right">Fillrate</th>
            <th style="text-align: right">Clicks</th>
            <th style="text-align: right">CTR</th>
          </tr>
        </thead>
        <tbody>
          {% for network in network_campaigns %}
            {% for adgroup in network.adgroups %}
              <tr class="campaignData
                         network_row
                         campaign-status-all
                         campaign-targeting-all
                         incomplete
                         {% for app_key in adgroup.targeted_app_keys %}
                           campaign-targeting-{{ app_key }}
                         {% endfor %}"
                  id="{{adgroup.key}}">

              <td class="campaignData-icon">
                <input type="checkbox" name="id" value="{{adgroup.key}}"/>
                {% if adgroup.deleted %}
                  <img src="/images/deleted.gif" height=9 width=9 />
                {% endif %}
                {% if adgroup.active and not adgroup.deleted %}
                  <img src="/images/active.gif" height=9 width=9 />
                {% endif %}
                {% if not adgroup.active and not adgroup.deleted %}
                  <img src="/images/paused.gif" height=9 width=9 />
                {% endif %}
              </td>
              <td class="dataTable-name">
                <a href="{% url advertiser_adgroup_show adgroup_key=adgroup.key %}">{{adgroup.name}}</a><br/>
                <span class="muted">{{adgroup.network_type}}</span>
              </td>
              {% if adgroup.cpc %}
                <td {# style="text-align:right;" #} class="dataTable-data numeric dataTable-ecpm">
                  <div class="dataTable-campaign-ecpm ecpm">--</div>
                </td>
              {% else %}
                <td {# style="text-align:right;" #} class="dataTable-data numeric dataTable-ecpm ecpm">--</td>
              {% endif %}
              <td {# style="text-align:right;" #} class="dataTable-data numeric network-req req">--</td>
              <td {# style="text-align:right;" #} class="dataTable-data numeric network-imp imp">--</td>
              <td {# style="text-align:right;" #} class="dataTable-data numeric network-fill fill">--</td>
              <td {# style="text-align:right;" #} class="dataTable-data numeric network-clk clk">--</td>
              <td {# style="text-align:right;" #} class="dataTable-data numeric network-ctr ctr">--</td>
            </tr>
          {% endfor %}
                    {% endfor %}
        </tbody>
      </table>

      <div class="clearfix">
        <div class="form-submit-left">
          <span class="buttonWrap">
            <a class="button pause icon" id="campaignForm-pause">Pause</a>
            <a class="button play icon" id="campaignForm-resume">Resume</a>
            <a class="button stop icon" id="campaignForm-delete">Delete</a>
          </span>
        </div>
      </div>
    </form>



  {% endif %}


{% endblock content %}


{% block extraScripts %}
  <script>
    var mopub = mopub || {};
    $(function() {
        mopub.isNetworksPage = true;
        mopub.graphStartDate = Date.UTC({{start_date.year}}, {{start_date.month|add:"-1"}}, {{start_date.day}});
    });
</script>
<script src="/js/mopub-advertiser.js?v=1"></script>

{% endblock extraScripts %}
