{% extends 'advertiser/base.html' %}
{% load filters %}

{% block extraScripts %}<script src="/js/controllers/campaign_adgroup_form.js?v=0"></script>{% endblock extraScripts %}

{% block dateButtons %}{% endblock %}

{% block pageTitle %}
  {% if adgroup %}
    <h1>Edit Campaign: {{ adgroup.campaign.name }} </h1>
  {% else %}
    <h1>New Campaign</h1>
    {% ifequal account.status 'step4' %}
      <!-- MixPanel Tracking -->
      <script type="text/javascript">
        mpq.push(["track", "Sign up: Create campaign"]);
      </script>
    {% endifequal %}
  {% endif %}
{% endblock pageTitle %}

{% block content %}
  <section id="advertiser-adgroupCreateForm">
    <div class="content-main">
      {% if campaign_form.errors or adgroup_form.errors %}
        <div class="alert-message block-message error">{{campaign_form.errors}}{{adgroup_form.errors}} </div>
      {% endif %}
      <a name="adgroupEditForm" class="hidden">anchor</a>
      <form action="{% url advertiser_campaign_create_ajax %}" method="POST" accept-charset="utf-8" id="campaignAdgroupForm" class="validate">
        {% if adgroup_key %}<input type="hidden" name="adgroup_key" value="{{adgroup_key}}"/>{% endif %}
        <div id="campaignAdgroupForm-fragment">
          {{campaign_create_form_fragment}}
        </div>
        <div class="clear"></div>

        <div class="form-submit">
          <span class="buttonWrap"><a href="#" class="button" id="campaignAdgroupForm-submit">Continue</a></span>
        </div>
      </form>
    </div>
  </section>
{% endblock content %}
