{% extends "advertiser/base.html" %}

{% load filters %}

{% block content %}
	<h3><a href="{% url advertiser_campaign %}">Campaigns</a> &gt; Create a Campaign</h3>
	<p>
		Campaigns allow you setup ads that will run on your mobile app placements
		and on other apps in the network.
	</p>
	
	<form method="post" action="">
		<table>
			<tr>
				<th>Name</th><td><input type='text' name="name" size="30" placeholder="My Campaign"/></td>
			</tr>
			<tr>
				<th>Description</th><td><textarea name="description" cols="50" rows="3" placeholder="Campaign for My New App"></textarea></td>
			</tr>
		
			<tr><td colspan="2"><h4>Campaign Properties</h4></td></tr>
			<tr>
				<th>Budget</th><td><input type='text' name="budget" size="5" placeholder="10"/> USD / day</td>
			</tr>
		</table>
		
		<p>
			<input type="submit" value="Create Campaign &raquo;"/>
		</p>
	</form>
{% endblock %}
