{% extends "advertiser/base.html" %}

{% load filters %}

{% block content %}
	<h3><a href="{% url advertiser_campaign %}">Campaigns</a> &gt; <a href="{% url advertiser_campaign_show campaign_key=c.key %}">{{c.name}}</a> &gt; Create an Ad Group</h3>
	<p>
		Ad groups allow you to target specific users with the right ad.
	</p>
	
	<form method="post" action="" id="add_keyword_box" >
		<input type="hidden" name="id" value="{{campaign.key}}"/>
		<table>
			<tr>
				<th>Name</th><td>{{f.name}}</td>
			</tr>
			
			{% ifequal c.campaign_type "gtee" %}
				<h4>Bids</h4>
				<tr>
					<th>Priority level</th>
					<td><select name="priority_level">
								<option value="1">Sponsorship</option>
								<option value="2">Direct</option>
							</select>
					</td>
				</tr>
				<tr><th>Max Bid</th><td>{{f.bid}} USD</td></tr>
				<tr>
					<th>Bidding Strategy</th>
					<td><select name="bid_strategy">
								<option value="cpm">By impression (CPM)</option>
								<option value="cpc">By click (CPC)</option>
								<!--><option value="cpa">By conversion (CPA)</option>-->
							</select>
					</td>
				</tr>
			{% endifequal %}
			{% ifequal c.campaign_type "promo" %}
				<input type="hidden" name="priority_level" value="3"/>
				<tr><th>Max Bid</th><td>{{f.bid}} USD</td></tr>
				<tr>
					<th>Bidding Strategy</th>
					<td><select name="bid_strategy">
								<option value="cpm">By impression (CPM)</option>
								<option value="cpc">By click (CPC)</option>
								<!--><option value="cpa">By conversion (CPA)</option>-->
							</select>
					</td>
				</tr>
			{% endifequal %}
			{% ifequal c.campaign_type "network" %}
				<tr><td colspan="2"><h4>Network Settings</h4></td></tr>			
				<input type="hidden" name="priority_level" value="4"/>
					<tr>
						<th>Network Type</th><td><select name="network_type">
							<option value="adsense">Google AdSense</option>
							<option value="iAd">Apple iAd</option>
							<option value="admob">AdMob</option>
							<option value="custom">Custom</option>
						</td>
					</tr>
					<tr><th>Network Est. eCPM</th><td>{{f.bid}} USD</td></tr>
					<input type="hidden" name="bid_strategy" value="cpm"/>
			{% endifequal %}
			
			<tr><td colspan="2"><h4>Targeted Inventory</h4></td></tr>			
			<tr><th>Ad Units</th>
				<td><ul style="overflow:auto; height:100px; list-style: none;">
					{% for s in sites %}
							<li style="margin-left: 0;"><input type="checkbox" name="sites" value="{{s.key}}"> {{s.name}}</input></li>
					{% endfor %}
					</ul></td></tr>
			
			<tr><td colspan="2"><h4>Settings</h4></td></tr>
			<tr><th>Goal</th>
					<td><input type="text" name="percent_users" value="{{f.instance.percent_users}}" size=5/> % of all <select name="budget_type"><option>Users</option><option>Requests</option></select></td>
					</tr>

			<tr><th>Frequency Caps</th>
				<td>
					<input type="checkbox" disabled="true"> Set per user frequency caps</input>
					</td></tr>

			<tr><td colspan="2"><h4>Keyword Targeting</h4></td></tr>
			<tr><th>Keywords</th>
				<td><textarea cols="50" rows="3" name="keywords" placeholder="Keywords, one per line, e.g. coffee"></textarea></td></tr>
			<tr><th>Advanced</th>
				<td>
					<a href="#" onclick="Toggle.display('advanced');">Show advanced targeting</a>
				</td></tr>

		</table>
			
		<div id="advanced" style="display:none;">
			<table>

					<tr><td colspan="2"><h4>Geographic and Device Targeting</h4></td></tr>
					<tr>
						<th>Geo Predicates</th>
						<td>
							<textarea name="geo_predicates" cols="50" rows="3">country_name=*</textarea><br/>
							<tt>country_name=X; region_name=X,country_name=X; city_name=X,region_name=X,country_name=X</tt>
						</td>
					</tr>

					<tr>
						<th>Device Predicates</th>
						<td>
							<textarea name="device_predicates" cols="50" rows="3">platform_name=*</textarea><br/>
							<tt>platform_name=(*,android,iphone)</tt>
						</td>
					</tr>
			</table>
		</div>

		<p>
			<button type="button" class="btn" onclick="form.submit();"><span><span>Create Ad Group</span></span></button>
		</p>
	</form>
{% endblock %}
