{% extends 'advertiser/base.html' %}

{% block pageTitleTag %}{% if order_form.instance %}Edit {{ order_form.instance }}{% else %}New Order{% endif %}{% endblock %}

{% block pageTitle %}
<h1>{% if order_form.instance %}Edit {{ order_form.instance }}{% else %}New Order{% endif %}</h1>
{% endblock pageTitle %}

{% block dateButtons %}
{% endblock dateButtons %}

{% block content %}
<script type="text/javascript">
    $(function() {
        var validator = $('form#order').validate({
            errorPlacement: function(error, element) {
                element.closest('div').append(error);
            },
            submitHandler: function(form) {
                $(form).ajaxSubmit({
                    data: {ajax: true},
                    dataType: 'json',
                    success: function(jsonData, statusText, xhr, $form) {
                        if(jsonData.success) {
                            window.location = jsonData.redirect;
                            $('form#order #submit').button({
                                label: 'Success...',
                                disabled: true
                            });
                        } else {
                            validator.showErrors(jsonData.errors);
                            $('form#order #submit').button({
                                label: 'Try Again',
                                disabled: false
                            });
                        }
                    },
                    error: function(jqXHR, textStatus, errorThrown) {
                        $('form#order #submit').button({
                            label: 'Try Again',
                            disabled: false
                        });
                    },
                    beforeSubmit: function(arr, $form, options) {
                        $('form#order #submit').button({
                            label: 'Submitting...',
                            disabled: true
                        });
                    }
                });
            }
        });

        $('form#order #submit')
            .button({ icons : { secondary : 'ui-icon-circle-triangle-e' } })
            .click(function(e) {
                e.preventDefault();
                $('form#order').submit();
            });
    });
</script>

<form id="order" method="post">
    <fieldset>
        <legend>
            <h2>Order</h2>
            <p>An order allows you to group line items.</p>
        </legend>

        <ul>
            <li>
                {{ order_form.name.label_tag }}
                <div>
                    {{ order_form.name }}
                </div>
            </li>
            <li>
                {{ order_form.advertiser.label_tag }}
                <div>
                    {{ order_form.advertiser }}
                </div>
            </li>
            <li>
                {{ order_form.description.label_tag }}
                <div>
                    {{ order_form.description }}
                </div>
            </li>
        </ul>
    </fieldset>

    <div class="form-submit"><a class="button" href="#" id="submit">Continue</a></div>
</form>
{% endblock content %}
