{% extends "advertiser/base.html" %}
{% load filters %}
{% load elements %}

{% block dateButtons %}{% endblock dateButtons %}

{% block content %}

  <div class="rollup">
    <table width=100% style='text-align:center; font-size:18px; font-weight:400;'>
      <thead>
        <tr style="border:none;">
          <th width=25%>Impressions</th>
          <th width=25%>Clicks</th>
          <th width=25%>CTR</th>
          <th width=25%>Conversions</th>
        </tr>
      </thead>
      <tbody>
        <tr style="border:none;">
          {% if totals %}
            <td> {{ totals.impressions|withsep|default_if_none:"0"|withsep }} </td>
            <td> {{ totals.clicks|withsep|default_if_none:"0" }} </td>
            <td> {{ totals.ctr|percentage|default_if_none:"0.0%" }} </td>
            <td> {{ totals.conversions|withsep|default_if_none:"0" }} </td>
          {% else %}
            <td> 0 </td>
            <td> 0 </td>
            <td> 0.0% </td>
            <td> 0 </td>
          {% endif %}
        </tr>
      </tbody>
    </table>
  </div>

  {% order_table orders 1 %}

  <br />
  
  <div class="btn-group">
    <button class="btn status_change" data-toggle="pause">
      <i class="icon-pause"></i> Pause
    </button>
    <button class="btn status_change" data-toggle="play">
      <i class="icon-play"></i> Resume
    </button>
    <button class="btn status_change" data-toggle="archive">
      <i class="icon-stop"></i> Archive
    </button>
  </div>
{% endblock content %}

{% block extraScripts %}
  {% include_script "models/inventory" %}
  {% include_script "views/inventory" %}
  {% include_script "controllers/orders" %}
  <script type="text/javascript">
    $(function() {
        var OrdersController = mopub.Controllers.OrdersController;
        OrdersController.initializeIndex({});
    });
  </script>
{% endblock extraScripts %}
