{% extends "advertiser/base.html" %}
{% load filters %}


{% block content %}

  <div class="rollup">
    <table width=100% style='text-align:center; font-size:18px; font-weight:400;'>
      <thead>
        <tr style="border:none;">
          <th width=25%>Impressions</th>
          <th width=25%>Clicks</th>
          <th width=25%>CTR</th>
          <th width=25%>Conversions</th>
        </tr>
      </thead>
      <tbody>
        <tr style="border:none;">
          {% if totals %}
            <td> {{ totals.impressions|withsep|default_if_none:"0"|withsep }} </td>
            <td> {{ totals.clicks|withsep|default_if_none:"0" }} </td>
            <td> {{ totals.ctr|percentage|default_if_none:"0.0%" }} </td>
            <td> {{ totals.conversions|withsep|default_if_none:"0" }} </td>
          {% else %}
            <td> 0 </td>
            <td> 0 </td>
            <td> 0.0% </td>
            <td> 0 </td>
          {% endif %}
        </tr>
      </tbody>
    </table>
  </div>


<table class="inventory_table" id="orders_table">
  <thead>
    <tr>
      <td class="name">Order Name</td>
      <td class="stat">Advertiser</td>
      <td class="stat">Line Items</td>
      <td class="stat">Revenue</td>
      <td class="stat">Impressions</td>
      <td class="stat">Clicks</td>
      <td class="stat">CTR</td>
    </tr>
  </thead>
  {% for order in orders %}
    <tr class="order-row {% cycle "alt" "primary" %}" id="order-{{ order.key }}">
      <td class="name">
        <a href="{% url advertiser_order_detail order_key=order.key %}">
          {{ order.name }}
        </a>
        <img id="{{ order.key }}-img" class="loading-img" src="/images/icons-custom/spinner-12.gif"></img>
      </td>
      {# these stats will be loaded over ajax #}
      <td class="advertiser stat"> {{ order.advertiser }}</td>
      <td class="lineitems stat"> -- </td>
      <td class="revenue stat">--</td>
      <td class="impressions stat">--</td>
      <td class="clicks stat">--</td>
      <td class="ctr stat">--</td>
    </tr>
  {% endfor %}
</table>


{% endblock content %}

{% block extraScripts %}
  {% include_script "models/inventory" %}
  {% include_script "views/inventory" %}
  {% include_script "controllers/orders" %}
  <script type="text/javascript">
    $(function() {
        var OrdersController = mopub.Controllers.OrdersController;
        OrdersController.initializeIndex({});
    });
  </script>
{% endblock extraScripts %}
