{% extends "advertiser/base.html" %}

{% load filters %}

{% block title %}{{campaign.name}}{% endblock %}
{% block content %}
	<h3>
		<a href="{% url advertiser_campaign %}">Campaigns</a> &gt; {{campaign.name}}
		<div class="toolbar">
			<a href="{% url advertiser_campaign_edit %}?id={{campaign.key}}" onclick="javascript:Toggle.display('edit_box');return false;">
				Edit Campaign
			</a>
		</div>
	</h3>
	<table>
		<tr><th>Status</th>
			<td class="numeric"><b>
				{% if campaign.deleted %}
					Deleted
				{% endif %}
				{% if campaign.active and not campaign.deleted %}
					Active
				{% endif %}
				{% if not campaign.active and not campaign.deleted %}
					Paused
				{% endif %}
			</b></td>
			<td>
				<form method="post" action="{% url advertiser_campaign_pause %}?id={{campaign.key}}" style="display: inline;"><input type="submit" value="{% if campaign.active %}Pause{% else %}Resume{% endif %}"></form>
				<form method="post" action="{% url advertiser_campaign_pause %}?id={{campaign.key}}" style="display: inline;"><input type="submit" value="Delete"></form>
			</tr>
		<tr><th>Daily budget</th><td class="numeric">{{campaign.budget|currency}}</td></tr>
		<tr><th>Campaign Type</th><td class="numeric">{{campaign.campaign_type}}</td></tr>
		{% ifequal campaign.campaign_type "network" %}
			<tr><th>Network Type</th><td class="numeric">{{campaign.network_type}}</td></tr>
		{% endifequal %}
	</table>
	
	<h3>
		Ad Groups
		<div class="toolbar">
			<a href="{% url campaign_adgroup_new campaign_key=campaign.key%}">
				Create Ad Group
			</a>
		</div>
	</h3>
	
	<table class="wide">
		<form method="post" action="{% url advertiser_bid_delete %}">
			{% if bids %}
				<thead>
					<th></th>
					<th>Name</th>
					<th>Status</th>
					<th>Type</th>
					<th>Bid</th>
					<th width="75px">Impr.</th>
					<th width="75px">Clicks</th>
					<th width="75px">Cost</th>
				</thead>
			{% else %}
				<tr><td colspan=10>No ad groups.</td></tr>
			{% endif %}
			{% for b in bids %}
				<tr>
					<td><input type="checkbox" name="id" value="{{b.key}}"/></td>
					<td><a href="{% url advertiser_adgroup_show adgroup_key=b.key %}">{{b.name}}</a></td>
					<td><b>{% if b.deleted %}
						Deleted
					{% endif %}
					{% if b.active and not b.deleted %}
						Active
					{% endif %}
					{% if not b.active and not b.deleted %}
						Paused
					{% endif %}</b></td>
					<td>
						{% ifequal b.priority_level 0 %}Super-user {% endifequal %}
						{% ifequal b.priority_level 1 %}Sponsorship {% endifequal %}
						{% ifequal b.priority_level 2 %}Direct {% endifequal %}
						{% ifequal b.priority_level 3 %}Promotional {% endifequal %}
						{% ifequal b.priority_level 4 %}Network {% endifequal %}
					</td>
					<td class="numeric">{{b.bid|currency}} {{b.bid_strategy}}</td>
					<td class="numeric">{{b.stats.impression_count}}</td>
					<td class="numeric">{{b.stats.click_count}} ({{b.stats.ctr|percentage}})</td>
					<td class="numeric">{{b.stats.revenue|currency}}</td>
				</tr>
			{% endfor %}
			{% if campaign.stats %}			
				<tr>
					<td></td>
					<th><b>Totals</b></th>
					<td></td>
					<td></td>
					<td class="numeric">{{campaign.stats.impression_count}}</td>
					<td class="numeric">{{campaign.stats.click_count}} ({{campaign.stats.ctr|percentage}})</td>
					<td class="numeric">{{campaign.stats.revenue|currency}}</td>
					<td></td>
				</tr>
			{% endif %}
				<tr>
					<td colspan=8>
						<p></p><input type='submit' name='delete' value='Delete Ad Groups'/>
					</td>
				</tr>
		</form>
	</table>
	
	
{% endblock %}
