{% extends "advertiser/base.html" %}

{% load filters %}

{% block title %}{{campaign.name}}{% endblock %}
{% block content %}
	<h3>
		<a href="{% url advertiser_campaign %}">Campaigns</a> &gt; {{campaign.name}}
		<div class="toolbar">
			<a href="{% url advertiser_campaign_edit %}?id={{campaign.key}}" onclick="javascript:Toggle.display('edit_box');return false;">
				Edit Campaign
			</a>
		</div>
	</h3>

	<table class="rollups">
		<tr>
			<td class="rollup rollup_selected" onClick="show_graph_imp(this);"><b>Impressions</b><br/>{{today.impression_count|withsep}}</td>
			<td class="rollup" onClick="show_graph_clk(this);"><b>Clicks</b><br/>{{today.click_count|withsep}} ({{today.ctr|percentage}})</td>
			<td class="rollup" onClick="show_graph_rev(this);"><b>Revenue</b><br/>{{today.revenue|currency}}</td>
		</tr>
	</table>
	
	<img id="chart_img" src="{{chart_url_imp}}" width=780 height=200 style="padding: 5px 0 10px 0;"/>
	
	<h3>Settings</h3>
	
	<table>
		<tr><th>Priority level</th>
			<td class="numeric">
				{% ifequal campaign.campaign_type "gtee" %}Guaranteed{% endifequal %}
				{% ifequal campaign.campaign_type "promo" %}Promotional{% endifequal %}
				{% ifequal campaign.campaign_type "network" %}Network{% endifequal %}
			</td></tr>
			<tr><th>Budget</th><td class="numeric">{{campaign.budget|currency}}</td></tr>
	</table>
	
	<h3>
		Ad Groups
		<div class="toolbar">
			<button type="button" class="btn"><a href="{% url campaign_adgroup_new campaign_key=campaign.key%}"><span><span>Create Ad Group</span></span></a></button>
		</div>
	</h3>
	
	<form method="post" action="{% url advertiser_bid_pause %}">
		<input type="hidden" name="action"/>
		<table class="wide">
			{% if bids %}
				<thead>
					<th></th>
					<th>Name</th>
					<th>Status</th>
					<th>Type</th>
					<th class="numeric">Bid</th>
					<th class="numeric">Impr.</th>
					<th class="numeric">Clicks</th>
					<th class="numeric">Revenue</th>
				</thead>
			{% else %}
				<tr><td colspan=10>No ad groups.</td></tr>
			{% endif %}
			{% for b in bids %}
				<tr>
					<td><input type="checkbox" name="id" value="{{b.key}}"/></td>
					<td><a href="{% url advertiser_adgroup_show adgroup_key=b.key %}">{{b.name}}</a></td>
					<td>
						{% if b.deleted %}
							<img src="/images/deleted.gif" width=9 height=9/>
						{% endif %}
						{% if b.active and not b.deleted %}
							<img src="/images/active.gif" width=9 height=9/>
						{% endif %}
						{% if not b.active and not b.deleted %}
							<img src="/images/paused.gif" width=9 height=9/>
						{% endif %}
					</td>
					<td>
						{% ifequal b.priority_level 0 %}Super-user {% endifequal %}
						{% ifequal b.priority_level 1 %}Sponsorship {% endifequal %}
						{% ifequal b.priority_level 2 %}Direct {% endifequal %}
						{% ifequal b.priority_level 3 %}Promotional {% endifequal %}
						{% ifequal b.priority_level 4 %}Network ({{ b.network_type }}) {% endifequal %}
					</td>
					<td class="numeric">{{b.bid|currency}} {{b.bid_strategy}}</td>
					<td class="numeric">{{b.stats.impression_count}}</td>
					<td class="numeric">{{b.stats.click_count}} ({{b.stats.ctr|percentage}})</td>
					<td class="numeric">{{b.stats.revenue|currency}}</td>
				</tr>
			{% endfor %}
			{% if campaign.stats %}			
				<tr>
					<td></td>
					<th><b>Totals</b></th>
					<td></td>
					<td></td>
					<td class="numeric">{{campaign.stats.impression_count}}</td>
					<td class="numeric">{{campaign.stats.click_count}} ({{campaign.stats.ctr|percentage}})</td>
					<td class="numeric">{{campaign.stats.revenue|currency}}</td>
					<td></td>
				</tr>
			{% endif %}
		</table>
		<p>
			<button type="button" class="btn" onclick="form.action.value='pause'; form.submit();"><span><span>Pause</span></span></button>&nbsp;&nbsp;
			<button type="button" class="btn" onclick="form.action.value='resume'; form.submit();"><span><span>Resume</span></span></button>&nbsp;&nbsp;
			<button type="button" class="btn" onclick="form.action.value='delete'; form.submit();"><span><span>Delete</span></span></button>
		</p>		
	</form>
	
{% endblock %}
