{% extends "advertiser/base.html" %}

{% load filters %}

{% block title %}{{campaign.name}}{% endblock %}
{% block content %}
	<h3>
		<a href="{% url advertiser_campaign %}">Campaigns</a> &gt; {{campaign.name}}
		<div class="toolbar">
			<a href="{% url advertiser_campaign_edit %}?id={{campaign.key}}" onclick="javascript:Toggle.display('edit_box');return false;">
				Edit Campaign
			</a>
		</div>
	</h3>
	<table>
		<tr><th>Status</th>
			<td class="numeric"><b>
				{% if campaign.deleted %}
					Deleted
				{% endif %}
				{% if campaign.active and not campaign.deleted %}
					Active
				{% endif %}
				{% if not campaign.active and not campaign.deleted %}
					Paused
				{% endif %}
			</b></td>
			<td>
				<form method="post" action="{% url advertiser_campaign_pause %}?id={{campaign.key}}" style="display: inline;"><input type="submit" value="Pause"></form>
				<form method="post" action="{% url advertiser_campaign_pause %}?id={{campaign.key}}" style="display: inline;"><input type="submit" value="Delete"></form>
			</tr>
		<tr><th>Daily budget</th><td class="numeric">{{campaign.budget|currency}}</td></tr>
	</table>
	
	<h3>
		Ad Groups
		<div class="toolbar">
			<a href="#" onclick="javascript:Toggle.display('add_keyword_box');return false;">
				Create Ad Group
			</a>
		</div>
	</h3>
	<form method="post" action="{% url advertiser_bid_create %}" id="add_keyword_box" style="display:none;" class="special_notice">
		<input type="hidden" name="id" value="{{campaign.key}}"/>
		<table>
			<tr>
				<th>Name</th><td><input type='text' name="name" size="30" placeholder="My Ad Group"/></td>
			</tr>
			<tr>
				<th>Priority level</th>
				<td><select name="priority_level">
							<option value="1">Sponsorship</option>
							<option value="2">Direct</option>
							<option value="3">Promotional</option>
							<option value="4">Network</option>
						</select>
				</td>
			</tr>
			<tr><th>Max Bid</th><td><input type='text' name="bid" placeholder="0.50" size="8"/> USD</td></tr>
			<tr>
				<th>Bidding Strategy</th>
				<td><select name="bid_strategy">
							<option value="cpm">By impression (CPM)</option>
							<option value="cpc">By click (CPC)</option>
							<!--><option value="cpa">By conversion (CPA)</option>-->
						</select>
				</td>
			</tr>

			<tr><td colspan="2"><h4>Geographic and Device Targeting</h4></td></tr>
			<tr>
				<th>Geo Predicates</th>
				<td>
					<textarea name="geo_predicates" cols="50" rows="3">country_name=*</textarea><br/>
					<tt>country_name=X; region_name=X,country_name=X; city_name=X,region_name=X,country_name=X</tt>
				</td>
			</tr>

			<tr>
				<th>Device Predicates</th>
				<td>
					<textarea name="device_predicates" cols="50" rows="3">platform_name=*</textarea><br/>
					<tt>platform_name=(*,android,iphone)</tt>
				</td>
			</tr>
			
			<tr><td colspan="2"><h4>Ad Group Targeting</h4> <p>Your bids will be matched with available inventory by matching keywords or 
					matching placements in your existing applications.</p></td></tr>
			<tr><th>Keywords</th>
				<td><textarea rows="4" cols="40" name="keywords" placeholder="Keywords, one per line, e.g. coffee"></textarea></td></tr>
			<tr><th>Placements</th>
				<td><ul style="overflow:auto; height:100px; list-style: none;">
					{% for s in sites %}
							<li style="margin-left: 0;"><input type="checkbox" name="sites" value="{{s.key}}"> {{s.name}}</input></li>
					{% endfor %}
					</ul></td></tr>
			<tr><td></td><td><input type='submit' value="Create Ad Group &raquo;"/></td></tr>
		</table>
	</form>
	
	<table class="wide">
		<form method="post" action="{% url advertiser_bid_delete %}">
			{% if bids %}
				<thead>
					<th></th>
					<th>Name</th>
					<th>Status</th>
					<th>Type</th>
					<th>Bid</th>
					<th width="75px">Impr.</th>
					<th width="75px">Clicks</th>
					<th width="75px">Cost</th>
				</thead>
			{% else %}
				<tr><td colspan=10>No ad groups.</td></tr>
			{% endif %}
			{% for b in bids %}
				<tr>
					<td><input type="checkbox" name="id" value="{{b.key}}"/></td>
					<td><a href="{% url advertiser_adgroup_show adgroup_key=b.key %}">{{b.name}}</a></td>
					<td><b>{% if b.deleted %}
						Deleted
					{% endif %}
					{% if b.active and not b.deleted %}
						Active
					{% endif %}
					{% if not b.active and not b.deleted %}
						Paused
					{% endif %}</b></td>
					<td>
						{% ifequal b.priority_level 0 %}Super-user {% endifequal %}
						{% ifequal b.priority_level 1 %}Sponsorship {% endifequal %}
						{% ifequal b.priority_level 2 %}Direct {% endifequal %}
						{% ifequal b.priority_level 3 %}Promotional {% endifequal %}
						{% ifequal b.priority_level 4 %}Network {% endifequal %}
					</td>
					<td class="numeric">{{b.bid|currency}} {{b.bid_strategy}}</td>
					<td class="numeric">{{b.stats.impression_count}}</td>
					<td class="numeric">{{b.stats.click_count}} ({{b.stats.ctr|percentage}})</td>
					<td class="numeric">{{b.stats.revenue|currency}}</td>
				</tr>
			{% endfor %}
			{% if campaign.stats %}			
				<tr>
					<td></td>
					<th><b>Totals</b></th>
					<td></td>
					<td></td>
					<td class="numeric">{{campaign.stats.impression_count}}</td>
					<td class="numeric">{{campaign.stats.click_count}} ({{campaign.stats.ctr|percentage}})</td>
					<td class="numeric">{{campaign.stats.revenue|currency}}</td>
					<td></td>
				</tr>
			{% endif %}
				<tr>
					<td colspan=8>
						<p></p><input type='submit' name='delete' value='Delete Ad Groups'/>
					</td>
				</tr>
		</form>
	</table>
	
	
{% endblock %}
