{% extends "admin/base.html" %}
{% load filters %}
{% block pageTitle %}<h1>MoPub Metrics Dashboard</h1>{% endblock pageTitle %}
{% block titleBarRight %}
<span class="titlebar-link">
    {% if loading %}
      <img src="/images/loading2.gif"/> Updating...    
    {% else %}
      <a class="linkIcon" href="?refresh=1">Force update stats</a>
    {% endif %}
</span>    
{% endblock titleBarRight %}

{% block content %}	
{{page.html|safe}}
<script type="text/javascript">
    var reloadTime;
    {% if oading %}
    reloadTime = 60000;
    {% else %}
    reloadTime = 1200000;
    {% endif %}
    
	setTimeout("location.reload(true);", reloadTime);
</script>
{% endblock %}
