{% extends "base.html" %}
{% block content %}	
	<table style="font-size: 36px; line-height: 1.3em;">
		<tr>
			<td>{{unique_accounts|length}} accounts</td>
			<td>{{request_count}} requests</td>
			<td>{{click_count}} clicks</td>
		</tr>
	</table>

	<img src="{{chart_url}}" width=800 height=200 style="padding: 5px 0 10px 0;"/>
	
	<table width="100%">
		<thead>
			<tr>
			<th>Date</th>
			<th width="75px">Requests</th>
			<th width="75px">Clicks</th>
			</tr>
		</thead>
		{% for s in stats %}
		<tr>
			<td>{{s.date}}</td>
			<td class="numeric">{{s.request_count}}</td>
			<td class="numeric">{{s.click_count}}</td>
		</tr>
		{% endfor %}
		<tr>
			<td><strong>Total</strong></td>
			<td class="numeric">{{request_count}}</td>
			<td class="numeric">{{click_count}}</td>
		</tr>
		
	</table>
	
	<h3>Ad Units</h3>
	<table class="wide">
		<thead>
			<th>Name</th>
			<th>Account</th>
			<th width="75px">Requests</th>
			<th width="75px">Clicks</th>
			<th width="75px">CTR</th>
		</thead>
		{% for p in placements %}
		<tr>
			<td>{{p.name}}</td>
			<td><a href="mailto:{{p.account.user.email}}">{{p.account.user.email}}</a></td>
			<td class="numeric">{{p.stats.request_count}}</td>
			<td class="numeric">{{p.stats.click_count}}</td>
			<td class="numeric">{{p.stats.ctr}}</td>
		</tr>
		{% endfor %}
	</table>
	
{% endblock %}
