{% load filters %}
<section class="offset separated" id="dashboard-stats"> 
    <div class="stats"> 
    <div class="stats-breakdown">
        <table>
          <tbody>
            <tr class="active" id="stats-breakdown-requests">
              <td class="stats-breakdown-value today"><span class="inner">{{today.request_count|withsep}}</span></td>
              <td class="stats-breakdown-value yesterday"><span class="inner">{{yesterday.request_count|withsep}}</span></td>
              <td class="stats-breakdown-value all"><span class="inner">{{all.request_count|withsep}}</span></td>
              <th class="stats-breakdown-name"><span class="inner">Requests</span></th>
            </tr>
            <tr id="stats-breakdown-impressions">
              <td class="stats-breakdown-value today"><span class="inner">{{today.impression_count|withsep}}</span></td>
              <td class="stats-breakdown-value yesterday"><span class="inner">{{yesterday.impression_count|withsep}}</span></td>
              <td class="stats-breakdown-value all"><span class="inner">{{all.impression_count|withsep}}</span></td>
              <th class="stats-breakdown-name"><span class="inner">Impressions</span></th>
            </tr>
            <tr id="stats-breakdown-clicks">             
              <td class="stats-breakdown-value today"><span class="inner">{{today.click_count|withsep}}</span></td>
              <td class="stats-breakdown-value yesterday"><span class="inner">{{yesterday.click_count|withsep}}</span></td>
              <td class="stats-breakdown-value all"><span class="inner">{{all.click_count|withsep}}</span></td>
              <th class="stats-breakdown-name"><span class="inner">Clicks</span></th>
            </tr>
            <tr id="stats-breakdown-users">            
              <td class="stats-breakdown-value today"><span class="inner">{{today.user_count|withsep}}</span></td>
              <td class="stats-breakdown-value yesterday"><span class="inner">{{yesterday.user_count|withsep}}</span></td>
              <td class="stats-breakdown-value all"><span class="inner">{{all.user_count|withsep}}</span></td>
              <th class="stats-breakdown-name"><span class="inner">Pubs</span></th>
            </tr>
          </tbody>
        </table>
        </div>
        <div class="stats-breakdown-buttons">
        <span class="buttonset button-small" id="stats-breakdown-dateOptions">
          <input type="radio" name="stats-breakdown-dateOptions-option" value="today" id="stats-breakdown-dateOptions-option-0" checked="checked"/>
          <label for="stats-breakdown-dateOptions-option-0">Today</label>
          <input type="radio" name="stats-breakdown-dateOptions-option" value="yesterday" id="stats-breakdown-dateOptions-option-1"/>
          <label for="stats-breakdown-dateOptions-option-1">Yesterday</label>
          <input type="radio" name="stats-breakdown-dateOptions-option" value="all" id="stats-breakdown-dateOptions-option-2"/>
          <label for="stats-breakdown-dateOptions-option-2">All</label>
        </span>
    </div>
    <div class="chart chart-loading stats-chart" id="dashboard-stats-chart"> 
      <div class="chart-loading-text">Loading ...</div> 
      <div class="chart-error-text">Could not load chart</div> 
      <script type="text/javascript"> 
          $(function() {
          mopub.dashboardStatsChartData = {
            pointStart: Date.UTC({{start_date.year}},{{start_date.month|add:"-1"}},{{start_date.day}}),
            pointInterval: 86400000,
            'requests': [
                { 'MoPub': [{% for t in stats %}{{t.request_count}}{% if not forloop.last %},{% endif %} {% endfor %}] }
            ],
            'impressions': [
                { 'MoPub': [{% for t in stats %}{{t.impression_count}}{% if not forloop.last %},{% endif %} {% endfor %}] }
            ],
            'clicks': [
                { 'MoPub': [{% for t in stats %}{{t.click_count}}{% if not forloop.last %},{% endif %} {% endfor %}] }
            ],
            'users': [
                { 'MoPub': [{% for t in stats %}{{t.user_count}}{% if not forloop.last %},{% endif %} {% endfor %}] }
            ] 
          };
          mopub.Chart.setupDashboardStatsChart('area');
        }); 
      </script> 
    </div> 
  </div> 
  <div class="clear"></div> 
</section>

<section class="separated">
	<h3>Top MoPubs</h3>
	<table class ="sortable" width="100%" style="padding:0 2px; font-size: 9px;">
		<thead>
		  <th></th>
			<th style="text-align: left; width: 100px;">App</th>
			<th style="text-align: left; width: 100px;">Account</th>
<!-- 			<th style="text-align: left;">Type</th>
			<th style="text-align: left;">Category</th>
			<th width="">Reqs</th>
			<th width="">Impr</th>
			<th width="">Delta</th>
			<th width="">Fill%</th>
			<th width="">Clicks</th>
			<th width="">CTR</th>
			<th width="">Users</th>
			<th width="">MPX$</th>
			<th width="">MPX%</th>
			<th width="">MPX CPM</th>			
 -->		</thead>
		{% for a in apps %}
		<tr class="alternating-color">
			<td>{{forloop.counter}}&nbsp;</td>
			<td><a href="{% url admin_switch_user %}?user_email={{a.account.mpuser.email}}&amp;next={% url publisher_app_show app_key=a.key %}">{{a.name|truncate:30}}</a></td>
			<td><a href="mailto:{{a.account.mpuser.email}}" class="account_email">{{a.account.mpuser.email|truncate:30}}</a></td>
<!-- <td>{{a.publisher.app_type}}</td> -->
<!-- 			<td>{{a.publisher.primary_category}}</td>
			<td class="numeric">{{a.request_count|withsep}}</td>
			<td class="numeric">{{a.impression_count|withsep}}</td>
			<td class="numeric">{{a.requests_delta1day|percentage}}</td>
			<td class="numeric">{{a.fill_rate|percentage_rounded}}</td>
			<td class="numeric">{{a.click_count|withsep}}</td>
			<td class="numeric">{{a.ctr|percentage}}</td>
			<td class="numeric">{{a.user_count|withsep}}</td>
			<td class="numeric">{{a.mpx_revenue|currency}}</td>
			<td class="numeric">{{a.mpx_clear_rate|percentage_rounded}}</td>
			<td class="numeric">{{a.mpx_cpm|currency}}</td>
 -->		</tr>
		{% endfor %}
	</table>
</section>

<section class="separated">
    <h3>New users since {{start_date}}</h3>
    <table class="sortable" width="100%">
        <thead>
    		<tr>
    		    <th style="text-align: left;">Email</th>
    		    <th style="text-align: left;">Date</th>
    		    <th width="100px">Mailing List</th>
    		</tr>
    	</thead>
    	<tbody>
    	{% for a in new_users %}
        	<tr>
        		<td><a href="mailto:{{a.mpuser.email}}">{{a.mpuser.email}}</a></td>
        		<td>{{a.date_added}}</td>
        		<td>{{a.mpuser.mailing_list}}</td>
        	</tr>
    	{% endfor %}
    	</tbody>	
    </table>
    
    <h3>Paste these people into MailChimp</h3>        
    <form><textarea>{% for a in mailing_list %}{{a.mpuser.email}} {% endfor %}</textarea></form>
</section>
